.label.openpay-label {

    position: relative;

}



.label.openpay-label span.learn-more {

    position: absolute;

    right: -84px;

    line-height: 24px;

}



.op-checkout-widget * {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	-ms-box-sizing: border-box;

	-o-box-sizing: border-box;

	box-sizing: border-box;

}



.op-checkout-widget {
	width: 340px;
    position: relative;
    background: #F5F6F7;
    border: solid 1px #f6f6f6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10 px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #333332;
    padding: 32px 0px;
    margin: 0 0 20px 0;

}

.op-checkout-widget .widget-inner {
	
}

.op-checkout-widget .widget-inner .opplantier {
    font: 16px/24px Openpay Headline;
    color: #333332;
}

.op-checkout-widget .widget-inner .opfortnightly {
    color: #333332;
    padding: 7px 0;
    font: normal 14px/21px canada-type-gibson;
}

.op-checkout-widget .widget-inner .opinstruction {
    color: #333332;
    font: 300 12px/18px canada-type-gibson;
    padding: 5px 58px 0px 58px;
}

opy-learn-more-button {
  font-size: 12px;
}

#openpayinfobelt {
        
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .openpaysticky {position: fixed;}
    .openpaybottom{height:40px;}


@media only screen and (max-width: 400px) {
.label.openpay-label span.learn-more {
    left: 3px;
    top: 12px;
}

}