<?php
const PARAM_NAME_BASE64_URL = 'r64';
const PARAM_NAME_URL_ENCODED = 'uenc';
use Magento\Framework\App\Action\Action;
$_productCollection = $block->getProductCollection();
?>
<!-- <div class="page messages" id="custom_message">
	<div class="message-success success message" >
		<?php //$name = $_REQUEST['name']; ?>
		<strong><?php //echo $name; ?></strong> has been added to your <a href="<? // echo $this->baseUrl().'checkout/cart/'; ?>">shopping cart</a>.
	</div>
</div> -->
<div class="assessories-main">
	Here are the required accessories for your flooring installation.
<h2>Hard Flooring Underlay</h2>
<div class="products wrapper grid products-grid">
	<ol class="products list items product-items">
		<?php foreach ($_productCollection as $_product): ?>
		<li class="item product product-item">
			<div class="product-item-info">
				<?php $postParams = $block->getAddToCartPostParams($_product); ?>
				<?php $imgUrl = $this->getItemImage($_product->getId());?>

				<div class="product photo product-item-photo">
					<span class="product-image-container">
                        <a href="javascript:void(0);" id="Model_open_link<?= $_product->getId();?>" >
                            <span class="product-image-wrapper">
                                <img class="product-image-photo" src="<?= $imgUrl; ?>" alt="product-image" title="<?= $_product->getToolTipContent(); ?>" />
                            </span>
                        </a>
					</span>
				</div>
				<div class="product details product-item-details">
					<a href="#" id="Product_Name_Model_open_link<?= $_product->getId();?>">
					<strong class="product name product-item-name">
					<?php echo $_product->getName(); ?>
					</strong>
					</a>
					<?php
					$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
					<span class="price-wrapper"><?php echo $abstractProductBlock->getProductPrice($_product); ?><span class="unit_name"><?= '/meter'; ?></span></span>
					<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
						<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
						<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
						<?php echo $block->getBlockHtml('formkey')?>
						<div class="box-tocart">
							<div class="fieldset">
								<div class="field qty">
									<label>Recommended Qty: </label>
									<div class="control">
										<button class="qty-btn qty-btn-plus"></button>
										<input type="number"
										name="qty"
										id="qty"
                                        min="0"
										maxlength="12"
										value="<?= $block->getRecommendedQty(); ?>"
										title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
										data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
										/>
										<button class="qty-btn qty-btn-minus"></button>
									</div>
									<?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>
									<div class="actions">
										<button type="submit"
										title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
										class="action tocart primary">
										<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</li>
		<div id="content-details-popup-<?= $_product->getId(); ?>" style="display:none;">
			<?= $_product->getAccessoriesPopupDescription(); ?>
		</div>
		<script type="text/javascript">
		require(
		[
		    'jquery',
		    'Magento_Ui/js/modal/modal'
		],
		function(
		    $,
		    modal
		) {
		    var options = {
		        type: 'popup',
		        responsive: true,
		        innerScroll: true,
		        title: '<?= $_product->getName(); ?>',
		        buttons: [{
		            class: '',
		            click: function () {
		                this.closeModal();
		            }
		        }],
		        opened: function($Event) {
		            $(".modal-footer").hide();
		        }
		    };

		    var popup = modal(options, $('#content-details-popup-<?= $_product->getId(); ?>'));
		    $("#Model_open_link<?= $_product->getId(); ?>").on('click',function(){ 
		        $("#content-details-popup-<?= $_product->getId(); ?>").modal("openModal");
		    });
		    $("#Product_Name_Model_open_link<?= $_product->getId(); ?>").on('click',function(){ 
		        $("#content-details-popup-<?= $_product->getId(); ?>").modal("openModal");
		    });

		}
		);
		</script>
		<?php endforeach;?>
	</ol>
</div>
<!-- 19 - March - 2020: Removed Scotia and Trim products from Hard Flooring Accessories -->
<div class="accessory-wrapper">
	<div class="accessory-nav">
		<h4>Optional accessories</h4>
		<ul>
			<li id="cleaning_repair_kits">Cleaning & Repair kits</li>
			<!-- <li id="trims">Trims</li>
			<li id="scotia">Scotia</li> -->
		</ul>
	</div>
	<div class="accessory-content">
		<div class="Content_cleaning_repair_kits" id="Content_cleaning_repair_kits">
			<h2>Cleaning & Repair kits</h2>
			<?php $_productCollection = $block->getProductCollectionofcleaningkits();?>
			<div class="products wrapper grid products-grid">
				<ol class="products list items product-items">
					<?php foreach ($_productCollection as $_product): ?>
					<li class="item product product-item">
						<div class="product-item-info">
							<?php $postParams = $block->getAddToCartPostParams($_product); ?>
							<?php $imgUrl = $this->getItemImage($_product->getId());?>
							<div class="product photo product-item-photo">
								<span class="product-image-container">
                                    <a href="#" id="Model_open_link<?= $_product->getId();?>" >
                                        <span class="product-image-wrapper">
                                            <img class="product-image-photo" src="<?= $imgUrl; ?>" alt="product-image"/>
                                        </span>
                                    </a>
								</span>
							</div>
							<div class="product details product-item-details">
								<a href="#" id="Product_Name_Model_open_link<?= $_product->getId();?>" >
								<strong class="product name product-item-name">
								<?php echo $_product->getName(); ?>
								</strong>
								</a>
								<?php
								$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
								<span class="price-wrapper">
									<?php echo $abstractProductBlock->getProductPrice($_product); ?>
								</span>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
									<?php echo $block->getBlockHtml('formkey')?>
									<div class="box-tocart">
										<div class="fieldset">
											<div class="field qty">
												<div class="control">
													<button class="qty-btn qty-btn-plus"></button>
													<input type="number"
													name="qty"
													id="qty"
                                                    min="0"
													maxlength="12"
													value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
													title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
													data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
													/>
													<button class="qty-btn qty-btn-minus"></button>
												</div>
												<?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>

												<div class="actions">
													<button type="submit"
													title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
													class="action tocart primary">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
													</button>
												</div>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
					</li>
					<div id="content-details-popup-<?= $_product->getId(); ?>" style="display:none;">
						<?= $_product->getAccessoriesPopupDescription(); ?>
					</div>
					<script type="text/javascript">
					require(
					[
					    'jquery',
					    'Magento_Ui/js/modal/modal'
					],
					function(
					    $,
					    modal
					) {
					    var options = {
					        type: 'popup',
					        responsive: true,
					        innerScroll: true,
					        title: '<?= $_product->getName(); ?>',
					        buttons: [{
					            class: '',
					            click: function () {
					                this.closeModal();
					            }
					        }],
					        opened: function($Event) {
					            $(".modal-footer").hide();
					        }
					    };

					    var popup = modal(options, $('#content-details-popup-<?= $_product->getId(); ?>'));
					    $("#Model_open_link<?= $_product->getId(); ?>").on('click',function(){ 
					        $("#content-details-popup-<?= $_product->getId(); ?>").modal("openModal");
					    });
					    $("#Product_Name_Model_open_link<?= $_product->getId(); ?>").on('click',function(){ 
					        $("#content-details-popup-<?= $_product->getId(); ?>").modal("openModal");
					    });
					}
					);
					</script>
					<?php endforeach;?>
				</ol>
			</div>
		</div>
		<div class="Content_trims" id="Content_trims">
			<h2>Trims</h2>
			<?php $_productCollection = $block->getProductCollectionofTrims();?>
			<div class="products wrapper grid products-grid">
				<ol class="products list items product-items">
					<?php foreach ($_productCollection as $_product): ?>
					<li class="item product product-item">
						<div class="product-item-info">
							<?php $postParams = $block->getAddToCartPostParams($_product); ?>
							<?php $imgUrl = $this->getItemImage($_product->getId());?>
							<div class="product photo product-item-photo">
								<span class="product-image-container">
                                    <a href="<?= $_product->getProductUrl(); ?>">
                                        <span class="product-image-wrapper">
                                            <img src="<?= $imgUrl; ?>" alt="product-image" class="product-image-photo"/>
                                        </span>
                                    </a>
								</span>
							</div>
							<div class="product details product-item-details">
								<strong class="product name product-item-name">
								<?php echo $_product->getName(); ?>
								</strong>
								<?php
								$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
								<span class="price-wrapper">
									<?php echo $abstractProductBlock->getProductPrice($_product); ?>
								</span>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
									<?php echo $block->getBlockHtml('formkey')?>
									<div class="box-tocart">
										<div class="fieldset">
											<div class="field qty">
												<div class="control">
													<button class="qty-btn qty-btn-plus"></button>
													<input type="number"
													name="qty"
													id="qty"
                                                    min="0"
													maxlength="12"
													value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
													title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
													data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
													/>
													<button class="qty-btn qty-btn-minus"></button>
												</div>
												<?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>

												<div class="actions">
													<button type="submit"
													title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
													class="action tocart primary">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</li>
					<?php endforeach;?>
				</ol>
			</div>
		</div>
		<div class="Content_scotia" id="Content_scotia">
			<h2>Scotia</h2>
			<?php $_productCollection = $block->getProductCollectionofScotia();?>
			<div class="products wrapper grid products-grid">
				<ol class="products list items product-items">
					<?php foreach ($_productCollection as $_product): ?>
					<li class="item product product-item">
						<div class="product-item-info">
							<?php $postParams = $block->getAddToCartPostParams($_product); ?>
							<?php $imgUrl = $this->getItemImage($_product->getId());?>
							<div class="product photo product-item-photo">
								<span class="product-image-container">
                                    <a href="<?= $_product->getProductUrl(); ?>">
                                        <span class="product-image-wrapper">
                                            <img src="<?= $imgUrl; ?>" alt="product-image" class="product-image-photo"/>
                                        </span>
                                    </a>
								</span>
							</div>
							<div class="product details product-item-details">
								<strong class="product name product-item-name">
								<?php echo $_product->getName(); ?>
								</strong>
								<?php
								$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
								<span class="price-wrapper">
									<?php echo $abstractProductBlock->getProductPrice($_product); ?>
								</span>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">

									<?php echo $block->getBlockHtml('formkey')?>
									<div class="box-tocart">
										<div class="fieldset">
											<div class="field qty">
												<div class="control">
													<button class="qty-btn qty-btn-plus"></button>
													<input type="number"
													name="qty"
													id="qty"
                                                    min="0"
													maxlength="12"
													value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
													title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
													data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
													/>
													<button class="qty-btn qty-btn-minus"></button>
												</div>
												<?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>

												<div class="actions">
													<button type="submit"
													title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
													class="action tocart primary">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</li>
					<?php endforeach;?>
				</ol>
			</div>
		</div>
	</div>
</div>
</div>


<script type="text/javascript">
	require(['jquery', 'jquery/ui'], function($){
	$('ul li').on('click', function () {
	$('div#Content_' + $(this).attr('id')).show().siblings().hide();
		});
		$(function() {
		$('.Content_cleaning_repair_kits').show();
		});
	});

</script>

