<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
?>

	<?= $block->escapeHtml(
    __(
        'You added product %1 to the <a href="%2">comparison list</a>.',
        $block->getData('product_name'),
        $block->getData('compare_list_url')
    ),
    ['a']
);
?>
<?php
$blockobj = $block->getLayout()->createBlock('Carpetcall\Customfooter\Block\Customfooter');
?>
<div class="message-buttons">
	<a href="<?php echo $blockobj->getBaseUrl().'catalog/product_compare/index/'; ?>" class="btn primary-btn"><?php echo __('View Comparison') ?></a>
	<a href="#" class="btn secondary-btn">Continue Shopping</a>
</div>
