<?php
$_product = $block->getProduct();
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);

$categoryIds = $product->getCategoryIds();

$categories = $blockobj->getCategoryCollection()
->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
$cate_arr[] = $category->getName();
}

// echo "<pre>";
// print_r($cate_arr);
?>
<div class="product-category category-<?= strtolower($cate_arr[0]); ?>"></div>