<?php 
$_product = $block->getProduct();
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);

$categoryIds = $product->getCategoryIds();
$baseURL = $this->getBaseUrl();

$categories = $blockobj->getCategoryCollection()
->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
$cate_arr[] = $category->getName();
}

?>
<div id="popup-modal" class="enquire-form-container">
    <div class="contact-form-popup form contact" style="display: none;">
        <form class="form contact"
        action="#"
        novalidate
        method="post"
          id="contact-form"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'>

        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('YOUR DETAILS')) ?></span></legend><br />
            <div class="row">
                <div class="field name">
                    <label class="label" for="name"><span><?= $block->escapeHtml(__('First Name')) ?></span></label>
                    <div class="control">
                        <input required="true" name="name" id="name" title="<?= $block->escapeHtmlAttr(__('First Name')) ?>" value="" class="input-text required" type="text" data-validate="{required:true}" placeholder="E.G. John"/>
                    </div>
                </div>
                <div class="field lastname">
                    <label class="label" for="lastname"><span><?= $block->escapeHtml(__('Last Name')) ?></span></label>
                    <div class="control">
                        <input name="lastname" id="lastname" title="<?= $block->escapeHtmlAttr(__('Last Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('lastname') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="E.G. Smith"/>
                    </div>
                </div>
            </div>
            <div class="field email">
                <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="E.G. john.smith@email.com"/>
                </div>
            </div>
            <div class="field telephone">
                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone')) ?></span></label>
                <div class="control">
                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" placeholder="E.G. 0212345678" data-validate="{required:true, 'validate-number':true}" />
                </div>
            </div>
            <div class="field store-wrapper row">
                <label for="store" class="label">
                    <span>Select a store</span>
                </label>   
                <p>Choose a store that is close to you so we can best respond to your query.</p> 
                <div class="row">
                    <div class="field state">
                        <label class="label" for="state"><span><?= $block->escapeHtml(__('State')) ?></span></label>
                        <div class="control">
                            <?php 

                            $blockobj = $block->getLayout()->createBlock('Carpetcall\Freehomemeasure\Block\Freehomemeasure');

                            $statelist = $blockobj->getStatelist();
                            //echo '<pre>';print_r($statelist); die();
                            ?>
                            <select name="state" id="state">
                            <option value="">STATE</option>
                            <?php foreach ($statelist as $value) { ?>
                                <option value="<?php print_r( $value['name']); ?>"><?php print_r( $value['name']); ?></option>
                            <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="field store">
                        <label class="label" for="store"><span><?= $block->escapeHtml(__('Select a store')) ?></span></label>
                        <div class="control">
                                <?php 

                                $blockobj = $block->getLayout()->createBlock('Carpetcall\Freehomemeasure\Block\Freehomemeasure');

                                $statelist = $blockobj->getStatelist();
                                //echo '<pre>';print_r($statelist); die();
                                ?>
                                <!-- <select name="state" id="store">
                                    <option value="">SELECT A STORE</option>
                                <?php foreach ($statelist as $value) { ?>
                                    <option value="<?php print_r( $value['name']); ?>"><?php print_r( $value['name']); ?></option>
                                <?php } ?>
                                </select> -->
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="cc-product-page-info-dis">
                <h3 class="cc-sen-head">Product Information</h3>
                <ul>
                    <li><span class="cc-sen-title">Product </span>: <span class="cc-sen-val"><?= $_product->getName(); ?></span></li>
                    <li><span class="cc-sen-title"><?= $cate_arr[0]; ?> Code </span>: <span class="cc-sen-val-code" id="cc-sen-val-code">
                    </span></li>
                    <li><span class="cc-sen-title">Size </span>: <span class="cc-sen-val-size" id="cc-sen-val-size"></span></li>
                </ul>
            </div>
            <div class="field comment">
                <h5><?= $block->escapeHtml(__('Message')) ?></h5>
                <div class="control">
                    <textarea placeholder="Enter your message here" name="comment" id="comment" data-validate="{required:true}" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                </div>
            </div>
            <?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $objDate = $objectManager->create('Magento\Framework\Stdlib\DateTime\DateTime');
            $date = $objDate->gmtDate();
            $Date = date("d/m/Y", strtotime($date));
            $time = date("h:i a", strtotime($date));
            ?>
            
            <input name="date" id="date" value="<?= $Date; ?>" type="hidden" />
            <input name="time" id="time" value="<?= $time; ?>" type="hidden" />

            <?= $block->getChildHtml('form.additional.info') ?>
        </fieldset>
        <?php
        $blockobj_rec = $block->getLayout()->createBlock('Carpetcall\Enquire\Block\Index\Index');
        ?>
        <div class="form-group">
        <div class="g-recaptcha required" id="recaptcha"
             data-sitekey="<?= $blockobj_rec->getSiteKey() ?>">
        </div>
             <div style="display:none" id="error-msg">
                  <span><?php echo __('This is a required field.') ?></span>
             </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary" id="submit">
                    <span><?= $block->escapeHtml(__('SUBMIT')) ?></span>
                </button>
            </div>
        </div>
    </form>
    </div>
</div>