<?php $baseurl = $this->getBaseUrl(); ?>
<?php
// echo $this->getLayout()
// ->createBlock('Magento\Cms\Block\Block')
// ->setBlockId('mobile_sticky_menu')
// ->toHtml();
?>

<div id="sticky-nav">
<div id="mySidenav" class="sidenav">
 <label>Menu <a href="javascript:void(0)" class="closebtn">&times;</a></label>
 <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Search::form.mini-mobile.phtml")->toHtml();?>
  <div class="sidenav-inner">
	<div class="mobile-nav">
		<ul class="navigation-mobile">
			<li class="level-top ">
				<a href="javascript:void(0);">Products</a>
				<?php
					$categories = $this->getStoreCategories(true,false,true);
					$categoryHelper = $this->getCategoryHelper();
					?>
					<ul class="submenu">
						<?php
						foreach($categories as $category):
						     if (!$category->getIsActive()) {
						        continue;
						     }
						     if(($category->getName() == 'Underlay') || ($category->getName() == 'Cleaning & Repair kits') || ($category->getName() == 'Trims') || ($category->getName() == 'Scotia'))
						     {
						     	continue;
						     }
						?>
						<li class="lvel1 ">
							<a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a>
							<?php  
							if($childrenCategories = $this->getChildCategories($category)):
							?>
							<ul class="submenu">
							<?php
							foreach($childrenCategories as $childrenCategory):
							     if (!$childrenCategory->getIsActive()) {
							        continue;
							     }
							?>
							<li>
								<a href="<?php echo $categoryHelper->getCategoryUrl($childrenCategory) ?>"><?php echo $childrenCategory->getName() ?></a>
							</li>
							<?php
							endforeach;
							?>
							</ul>
						</li>
						<?php
						endif;
						endforeach;
						?>
					</ul>
			</li>
			<li class="level-top ">
				<a href="<?= $baseurl.'ideas-advice'; ?>">Ideas & Advice</a>
				<ul class="submenu">
					<li><a href="<?= $baseurl.'buying-guide'; ?>">Buying Guides</a></li>
					<li><a href="<?= $baseurl.'product-care'; ?>/">Care & Maintenance</a></li>
					<li><a href="<?= $baseurl.'faq'; ?>">FAQs</a></li>
				</ul>
			</li>
			<li class="level-top ">
				<a href="javascript:void(0);">Stores</a>
				<ul class="submenu">
					<li><a href="<?= $baseurl.'find-a-store/sa'; ?>">SA</a></li>
					<li><a href="<?= $baseurl.'find-a-store/nsw'; ?>">NSW</a></li>
					<li><a href="<?= $baseurl.'find-a-store/tas'; ?>">TAS</a></li>
					<li><a href="<?= $baseurl.'find-a-store/vic'; ?>">VIC</a></li>
					<li><a href="<?= $baseurl.'find-a-store/qld'; ?>">QLD</a></li>
					<li><a href="<?= $baseurl.'find-a-store/wa'; ?>">WA</a></li>
					<li><a href="<?= $baseurl.'find-a-store/adelaide'; ?>">Adelaide</a></li>
					<li><a href="<?= $baseurl.'find-a-store/sydney'; ?>">Sydney</a></li>
					<li><a href="<?= $baseurl.'find-a-store/hobart'; ?>">Hobart</a></li>
					<li><a href="<?= $baseurl.'find-a-store/melbourne'; ?>">Melbourne</a></li>
					<li><a href="<?= $baseurl.'find-a-store/brisbane'; ?>">Brisbane</a></li>
					<li><a href="<?= $baseurl.'find-a-store/perth'; ?>">Perth</a></li>
				</ul>
			</li>
			<li class="level-top ">
				<a href="<?= $baseurl.'about-us'; ?>">About Carpet Call</a>
				<ul class="submenu">
					<li><a href="#">Careers</a></li>
					<li><a href="#">Franchise</a></li>
					<li><a href="#">Terms &amp; Conditions</a></li>
					<li><a href="<?= $baseurl.'delivery-policy'; ?>">Delivery Policy</a></li>
					<li><a href="#">Returns policy</a></li>
					<li><a href="#">Warranty</a></li>
				</ul>
			</li>
			<li class="level-top ">
				<a href="<?= $baseurl.'contact/'; ?>">Contact Us</a>
			</li>
			<li class="item link compare" data-bind="scope: 'compareProducts'" data-role="compare-products-link">
			    <a class="action compare no-display" title="<?= $block->escapeHtmlAttr(__('Compare Products')) ?>"
			       data-bind="attr: {'href': compareProducts().listUrl}, css: {'no-display': !compareProducts().count}"
			    >
			    	<?= $block->escapeHtml(__('Compare Products')) ?>
			        <span class="counter qty" data-bind="text: compareProducts().count"></span>
			    </a>
			</li>
		</ul>
	</div>
  </div>		
</div>
 <!-- product menu -->
<div id="productNav" class="sidenav">
 <label>Products <a href="javascript:void(0)" class="closebtn">&times;</a></label>
  <div class="sidenav-inner">
	<div class="mobile-nav">
		<ul class="navigation-mobile">
			<?php
				$categories = $this->getStoreCategories(true,false,true);
				$categoryHelper = $this->getCategoryHelper();
				?>
					<?php
					foreach($categories as $category):
							if (!$category->getIsActive()) {
							continue;
							}
							if(($category->getName() == 'Underlay') || ($category->getName() == 'Cleaning & Repair kits') || ($category->getName() == 'Trims') || ($category->getName() == 'Scotia'))
							{
							continue;
							}
					?>
					<li class="lvel1 ">
						<a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a>
						<?php  
						if($childrenCategories = $this->getChildCategories($category)):
						?>
						<ul class="submenu">
						<?php
						foreach($childrenCategories as $childrenCategory):
								if (!$childrenCategory->getIsActive()) {
								continue;
								}
						?>
						<li>
							<a href="<?php echo $categoryHelper->getCategoryUrl($childrenCategory) ?>"><?php echo $childrenCategory->getName() ?></a>
						</li>
						<?php
						endforeach;
						?>
						</ul>
					</li>
					<?php
					endif;
					endforeach;
					?>
		</ul>
	</div>
  </div>		
</div>


<div class="primary-nav">
	<ul>
		<li class="menu-item">
			<a href="javascript:void(0)" id="navAnchor">Menu</a>
		</li>
		<li class="product-item">
			<a href="javascript:void(0)" id="productAnchor">Products</a>
		</li>
		<li class="stores-item">
			<!-- <a href="">Stores</a> -->
			<a href="<?= $baseurl.'find-a-store/'; ?>">Stores</a>
		</li>
		<li class="measure-item">
			<a href="<?= $baseurl.'free-home-measure'; ?>">Book free measure</a>
		</li>
	</ul>
</div>
</div>
<div id="navOverlay"></div>


<script type="text/javascript">
require([
    'jquery',
], function ($) {
    'use strict';
    $(document).ready(function() {
    	$(".navigation-mobile li").each(function() {
    		if($(this).find(".submenu").length){
    			$(this).children('a').after( "<span class='arrowlink'></span>" );
    		}
    	});

    	$("#navAnchor").click(function(event) {
    		var primaryNavHeight = $("#sticky-nav .primary-nav").outerHeight();
    		$("#mySidenav").css("bottom",primaryNavHeight+"px");
    		$("body").css('overflow-y','hidden');
		    $("#navOverlay").show();
    	});

		$("#productAnchor").click(function(event) {
    		var primaryNavHeight = $("#sticky-nav .primary-nav").outerHeight();
    		$("#productNav").css("bottom",primaryNavHeight+"px");
    		$("body").css('overflow-y','hidden');
		    $("#navOverlay").show();
    	});

    	$(".closebtn").click(function(event) {
	      	$("#mySidenav").css("bottom","-9999px");
			$("#productNav").css("bottom","-9999px");
	      	$("body").css('overflow-y','');
		    $("#navOverlay").hide();
    	});

	   

    	$(document).mouseup(function(e){
		    var container = $("#mySidenav");
			var container2 = $("#productNav");
		    // if the target of the click isn't the container nor a descendant of the container
		    if ((!container.is(e.target) && container.has(e.target).length === 0) && (!container2.is(e.target) && container2.has(e.target).length === 0)) 
		    {
		        $("#mySidenav").css("bottom","-9999px");
				$("#productNav").css("bottom","-9999px");
		        $("body").css('overflow-y','');
			    $("#navOverlay").hide();
		    }
		});

		$('.measure_btn, .book-measure-link a, .book-measure-btn').on('click', function() {
			// jQuery('.breadcrumbs').find('.item:first').text().trim()
			let tempInterestedIn = {};
			if ($('body').hasClass('catalog-product-view')) {
				tempInterestedIn['prod_type'] = jQuery('.breadcrumbs').find('.item:first').text().trim();
				tempInterestedIn['prod_name'] = trustpilot_trustbox_settings.trustboxes[0].name;
				tempInterestedIn['prod_code'] = trustpilot_trustbox_settings.trustboxes[0].sku.split(',')[0];
				tempInterestedIn['prod_qty'] = (jQuery('#qty').val() > 0) ? jQuery('#qty').val() : 0;
				tempInterestedIn['prod_coverage'] = jQuery('#coverage_value').text();
				tempInterestedIn['prod_size'] = (jQuery('.super-attribute-select').val() != "") ? jQuery('.super-attribute-select option:selected').text() : '';
				sessionStorage.setItem('interestedIn', JSON.stringify(tempInterestedIn));
				return true;
			}
		});

		$("ul.navigation-mobile li:has(ul li)").addClass("parent");

         $('.parent').on('click', function(e) {
		  if (e.target !== this && e.target.className != "arrowlink" && (e.target.getAttribute('href') != "" && e.target.getAttribute('href').indexOf('javascript') != 0)){
		  		var targetAnchorHref = e.target.getAttribute('href');
		    	window.location.href = targetAnchorHref;
		    }
		    else{
	    		var $submneu = $(this).children('.submenu');	
		    	var parent = $(this);
		    	$submneu.slideToggle(300);
		    	parent.toggleClass('active');
				e.stopPropagation();
		    }
		});
		

    });
});
</script>


