<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php

/** @var \Magento\Catalog\Pricing\Render\FinalPriceBox $block */

/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
?>
<?php
$_product = $block->getPriceType('final_price')->getProduct();
$productId = $_product->getId();
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$product = $blockobj->getProductById($productId);
 
$categoryIds = $product->getCategoryIds();
 
$categories = $blockobj->getCategoryCollection()
                    ->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
    $cate_arr[] = $category->getName();
}

?>
<?php if ($block->hasSpecialPrice()) :?>  
    <span class="old-price">
        <?= /* @noEscape */ $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Regular Price'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
    </span>
    <?php if (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
        <span class="unit_name"><?= '/sqm'; ?></span>
    <?php endif; ?>
    <span class="special-price">
        <?= /* @noEscape */ $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('Online Price'),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </span>
    <?php if (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
        <span class="unit_name"><?= '/sqm'; ?></span>
    <?php endif; ?>
<?php else :?>
    <?= /* @noEscape */ $block->renderAmount($finalPriceModel->getAmount(), [
        'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
        'price_type'        => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]); ?>
    <?php if (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
        <span class="unit_name"><?= '/sqm'; ?></span>
    <?php endif; ?>
<?php endif; ?>

<?php if ($block->showMinimalPrice()) :?>
    <?php if ($block->getUseLinkForAsLowAs()) :?>
        <a href="<?= $block->escapeUrl($block->getSaleableItem()->getProductUrl()) ?>" class="minimal-price-link">
            <?= /* @noEscape */ $block->renderAmountMinimal() ?>
        </a>
    <?php else :?>
        <span class="minimal-price-link">
            <?= /* @noEscape */ $block->renderAmountMinimal() ?>
        </span>
    <?php endif?>
<?php endif; ?>
