<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Catalog\Model\Product\Option;

/**
 * @var $block \Magento\Catalog\Block\Product\View\Options\Type\Select\Checkable
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
$option = $block->getOption();
/** @var $helper \Carpetcall\ProductConfigurator\Helper\Option */
$helper = $this->helper('Carpetcall\ProductConfigurator\Helper\Option');
$image = $helper->getCustomImage($block->getProduct());
$optionIdentifier = strtolower($option->getIdentifier());

if ($option): ?>
    <?php
    $configValue = $block->getPreconfiguredValue($option);
    $optionType = $option->getType();
    $arraySign = $optionType === Option::OPTION_TYPE_CHECKBOX ? '[]' : '';
    $count = 1;
    ?>

<?php if (((strpos($optionIdentifier, 'back') !== false) || (strpos($optionIdentifier, 'front') !== false)) && (($optionIdentifier !== 'fabric-type-front') && ($optionIdentifier !== 'fabric-type-back'))) :?>
    <div class="toggle-btn">
        <a href="#" id="js-toggle-btn-<?= $option->getId()?>-back" class="inactive" data-target="<?= trim(str_replace('front','back',$optionIdentifier));; ?>" data-option-identifier="<?= $optionIdentifier; ?>">Back Blind</a>
        <a href="#" id="js-toggle-btn-<?= $option->getId()?>-front" class="inactive" data-target="<?= trim(str_replace('back','front',$optionIdentifier));; ?>" data-option-identifier="<?= $optionIdentifier; ?>">Front Blind</a>

    <?php if ($optionIdentifier === 'colour-back' || $optionIdentifier === 'colour-front'):?>
        <div class="fabric-filter-wrapper">
            <select name="fabric-filter" id="dropdown-<?= $option->getId()?>" data-select-identifier="<?= $optionIdentifier ?>">
                <option value="blockout">All 'Blockout' Fabric range</option>
                <option value="light-filtering">All 'Light Filtering' Fabric range</option>
                <option value="sunscreen">All 'Sunscreen' Fabric range</option>
            </select>
        </div>
    <?php endif; ?>
    </div>
<?php elseif ($optionIdentifier === 'stained-painted') : ?>
    <div class="toggle-btn">
        <a href="#" id="stained-btn" class="inactive hide">Stained</a>
        <a href="#" id="painted-btn" class="inactive">Painted</a>
    </div>
<?php endif; ?>

<div class="options-list nested" id="options-<?= $block->escapeHtmlAttr($option->getId()) ?>-list">
    <?php foreach ($option->getValues() as $value): ?>
        <?php
        $optionTypeCssClass = $value->getOptionType();
        $optionTitle = strtolower(str_replace(' ', '-', trim($value->getTitle())));
        $checked = '';
        $count++;
        if ($arraySign) {
            $checked = is_array($configValue) && in_array($value->getOptionTypeId(), $configValue) ? 'checked' : '';
        } else {
            $checked = $configValue == $value->getOptionTypeId() ? 'checked' : '';
        }
        $dataSelector = 'options[' . $option->getId() . ']';
        if ($arraySign) {
            $dataSelector .= '[' . $value->getOptionTypeId() . ']';
        }
        ?>

        <div class="field choice admin__field admin__field-option <?= $optionTypeCssClass . ' ' . $value->getShutterMaterial() ?> <?= $helper->getOptionToHideOnLoad($value->getOptionType(), $optionIdentifier) ?>">
            <input type="<?= $block->escapeHtmlAttr($optionType) ?>"
                   class="<?= $optionType === Option::OPTION_TYPE_RADIO
                       ? 'radio admin__control-radio'
                       : 'checkbox admin__control-checkbox' ?> <?= $option->getIsRequire()
                       ? 'required': '' ?>
                       product-custom-option
                        <?= $block->getSkipJsReloadPrice() ? '' : 'opConfig.reloadPrice()' ?>"
                   name="options[<?= $block->escapeHtmlAttr($option->getId()) ?>]<?= /* @noEscape */ $arraySign ?>"
                   id="options_<?= $block->escapeHtmlAttr($option->getId() . '_' . $count) ?>"
                   value="<?= $block->escapeHtmlAttr($value->getOptionTypeId()) ?>"
                <?= $block->escapeHtml($checked) ?>
                   data-selector="<?= $block->escapeHtmlAttr($dataSelector) ?>"
                   price="<?= $block->escapeHtmlAttr($block->getCurrencyByStore($value)) ?>"
                   data-option-identifier="<?= $optionIdentifier; ?>"
                   data-option-title="<?= $optionTitle;?>"
                   data-option-title-raw="<?= $value->getTitle();?>"
                   data-option-id="<?= 'js-' . $option->getOptionId();?>"
                   data-is-feature-option="<?= $option->getIsFeatureOption();?>"
                   data-option-type="<?= $value->getOptionType();?>"
            />
            <?php $hideImage = ['blind-type', 'remote', 'charger-cable', 'wifi-bridge', 'motor-side', 'spring-assist', 'chain-length']; ?>
            <?php $twoColumns = ['mount', 'mid-rail', 'frame-options', 'frame-type', 'panel-configuration', 'hinge-sides',  'operation-type', 'roll-direction']; ?>
            <?php $threeColumns = ['shutter-material', 'fabric-type', 'fabric-type-back', 'fabric-type-front', 'hinge-colour']; ?>
            <?php $fourColumns = ['baserail-type', 'baserail-type-back', 'baserail-type-front', 'component-colour', 'control-chain']; ?>
            <?php $fiveColumns = ['colour', 'colour-back', 'colour-front']; ?>
            <?php $columnClass = ''; ?>
            <?php $resize = ''; ?>
            <?php if (in_array($optionIdentifier, $twoColumns)): ?>
                    <?php $columnClass = 'two-column' ?>
                    <?php $resize = 'resize' ?>
            <?php elseif (in_array($optionIdentifier, $threeColumns)): ?>
                    <?php $columnClass = 'three-column' ?>
                    <?php $resize = 'resize' ?>
            <?php elseif (in_array($optionIdentifier, $fourColumns)): ?>
                    <?php $columnClass = 'four-column' ?>
                    <?php $resize = 'resize' ?>
            <?php elseif (in_array($optionIdentifier, $fiveColumns)): ?>
                    <?php $columnClass = 'five-column' ?>
            <?php endif; ?>
            <?php $defaultLabelClass = $helper->getDefaultClass($block->getProduct(), $optionTitle) ?>
            <?php if (!in_array($optionIdentifier, $hideImage)): ?>
                <div class="option-image-wrapper inactive <?= $columnClass ?>">
            <?php endif; ?>
                    <label class="label admin__field-label <?= $defaultLabelClass ?>"
                           for="options_<?= $block->escapeHtmlAttr($option->getId() . '_' . $count) ?>">
                        <?php if (!in_array($optionIdentifier, $hideImage)): ?>
                            <div class="inner-wrapper">
                                <img class="option-image <?= $resize ?>" src="<?= isset($image['thumbnail'][$value->getOptionTypeId()]) ? $image['thumbnail'][$value->getOptionTypeId()] : 'https://carpetcall-m2.conversiondev.com.au/media/catalog/product/p/l/placeholder120.png'?>">
                            </div>
                        <?php endif; ?>
                        <span><?= $value->getTitle(); ?></span>
                    </label>
            <?php if (!in_array($optionIdentifier, $hideImage)): ?>
                </div>
            <?php endif; ?>

            <script type="text/x-magento-init">
                {
                    "*": {
                        "Carpetcall_ProductConfigurator/js/product_configurator": {
                            "radiOoptionId": "<?php /* @escapeNotVerified */ echo 'options_' . $option->getId() . '_' . $count; ?>",
                            "toggleBtnId": "<?php /* @escapeNotVerified */ echo 'js-toggle-btn-' . $option->getId(); ?>",
                            "dropdownOptionId": "<?php /* @escapeNotVerified */ echo 'dropdown-' . $option->getId(); ?>"
                        }
                    }
                }
            </script>
        </div>
    <?php endforeach; ?>
    </div>
<?php endif; ?>
