<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View*/
$product = $block->getProduct();

/** @var $helper \Carpetcall\ProductConfigurator\Helper\Option */
$helper = $this->helper('Carpetcall\ProductConfigurator\Helper\Option');
?>

<div class="table-wrapper">
    <div class="feature-option">
        <img alt="Shutter Material" src="https://via.placeholder.com/150">
        <span class="feature-text js-<?= $helper->getOptionIdByIdentifier($product, 'shutter-material'); ?>"></span>
    </div>
    <table id="table-summary">
        <tr class="t-row">
            <td>Measurements</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'width'); ?>">Width:</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'drop'); ?>">Drop:</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td >Colour</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'colour'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td >Stained / Painted</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'stained-painted'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Mount</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'mount'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-header mid-rail-item-row mid-rail-item">
            <td colspan="3">Mid Rail</td>
        </tr>
        <tr class="t-row mid-rail-item-row mid-rail-item">
            <td colspan="3" class="js-<?= $helper->getOptionIdByIdentifier($product, 'mid-rail'); ?>" data-option-identifier="mid-rail"></td>
        </tr>
        <tr class="t-row mid-rail-item-row-1 mid-rail-item">
            <td>Mid Rail 1</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'mid-rail-size-1'); ?>" data-option-identifier="mid-rail-size-1"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row mid-rail-item-row-2 mid-rail-item">
            <td>Mid Rail 2</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'mid-rail-size-2'); ?>" data-option-identifier="mid-rail-size-2"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Blade Size</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'blade-size'); ?>">89mm</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Tilt Rod</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'tilt-rod'); ?>">Clearview</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-header">
            <td colspan="3">Frame Options</td>
        </tr>
        <tr class="t-row">
            <td colspan="3" class="js-<?= $helper->getOptionIdByIdentifier($product, 'frame-options'); ?>"></td>
        </tr>
        <tr class="t-row">
            <td>Frame Type</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'frame-type'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-header">
            <td colspan="3">Panel Configurations</td>
        </tr>
        <tr class="t-row">
            <td colspan="3" class="js-<?= $helper->getOptionIdByIdentifier($product, 'panel-configuration'); ?>"></td>
        </tr>
        <tr class="t-row">
            <td>Hinge Sides</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'hinge-sides'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row">
            <td>Hinge Colour</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'hinge-colour'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div class="warranty">
        <?php 
        $blockObj = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
        $baseUrl = $blockObj->getBaseUrl();
        ?>
        <a href="<?= $baseUrl .'warranty'; ?>" target="_blank">Warranty Information</a>
    </div>
</div>
