<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View*/
$product = $block->getProduct();

/** @var $helper \Carpetcall\ProductConfigurator\Helper\Option */
$helper = $this->helper('Carpetcall\ProductConfigurator\Helper\Option');
?>

<div class="table-wrapper">
    <div class="feature-option">
        <img alt="Fabric Type" src="https://via.placeholder.com/150">
        <span class="feature-text js-<?= $helper->getOptionIdByIdentifier($product, 'fabric-type'); ?>"></span>
    </div>
    <table id="table-summary">
        <tr class="t-header">
            <td colspan="3">Measuring Type</td>
        </tr>
        <tr class="t-row">
            <td>Room name</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'room-name'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row">
            <td>Roller Blind</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'width'); ?>">Width: </td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'drop'); ?>">Drop: </td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Colour</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'colour'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Mount</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'mount'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Baserail Type</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'baserail-type'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Component Colour</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'component-colour'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row bracket-covers-row">
            <td>Bracket Covers</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'bracket-covers'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-header">
            <td colspan="3">Operation Type</td>
        </tr>
        <tr class="t-row">
            <td colspan="3" class="js-<?= $helper->getOptionIdByIdentifier($product, 'operation-type'); ?>"></td>
        </tr>
        <tr class="t-row motorised-option-row">
            <td>Motor Type</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'motor-type'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row motorised-option-row">
            <td>Remote</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'remote'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row motorised-option-row">
            <td>Charge Cable</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'charger-cable'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row motorised-option-row">
            <td>Wifi Bridge</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'wifi-bridge'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row motorised-option-row">
            <td>Motor Side</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'motor-side'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row spring-assist-row chain-driven-option-row">
            <td>Spring Assist</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'spring-assist'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row chain-driven-option-row">
            <td>Control Chain</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'control-chain'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row chain-driven-option-row">
            <td>Control Side</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'control-side'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row">
            <td>Chain Length</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'chain-length'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row chain-size-row chain-driven-option-row">
            <td>Chain Size</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'chain-size'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="t-row chain-size-stainless-row chain-driven-option-row">
            <td>Chain Size</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'chain-size-stainless'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
        <tr class="space-between"><th></th></tr>
        <tr class="t-row">
            <td>Roll Direction</td>
            <td class="js-<?= $helper->getOptionIdByIdentifier($product, 'roll-direction'); ?>"></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div class="warranty">
        <?php
        $blockObj = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
        $baseUrl = $blockObj->getBaseUrl();
        ?>
        <a href="<?= $baseUrl .'warranty'; ?>" target="_blank">Warranty Information</a>
    </div>
</div>
