<!--@subject Book Free Measure User Enquiry Details @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
a{color: #1b365d;text-decoration: underline; }
@-->
{{template config_path="design/email/header_template"}}

<table class="message-details">
<tr>
    <td style="font-family: Arial,Helvetica,sans-serif; margin: 0 0 10px; text-transform: none; font-size: 16px; line-height: 21px; color: #565659;"> Hi <strong style="font-weight: bold;">Team Carpet Call</strong>,</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #565659;line-height: 1.47;">The following free home measure booking was received from the website on {{var currentdate}}, at {{var currenttime}}.</td>
    </tr>
    <tr>
        <td  style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;">Their details are below:</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "First name:"}}</strong> {{var name}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Last name:"}}</strong> {{var lastname}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Email:"}}</strong> {{var email}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Phone"}}</strong> {{var telephone}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Address"}}</strong> {{var address}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "State:"}}</strong> {{var state}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Store selected:"}}</strong> {{var storecheckbox}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Messsage:"}}</strong> {{var comment}}</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}