<?php
$tree = $this->getbuyingguidecategories();
$baseurl = $this->getBaseUrl();
if ($tree) :
    ?>
    <?php 
    foreach ($tree as $value) { ?>
    	<a href="<?= $baseurl.'blog/category/'.$value['url']; ?>"><?= $value['text']; ?></a>
    <?php }
    //echo '<pre>'; print_r($tree);die();
    ?>
<?php endif; ?>
