<?php
$block = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
$faqGroupCollection = $block->getFaqGroupCollection();
$baseUrl = $block->getBaseUrl();

if ($block->isEnable()): ?>
<?php if ($faqGroupCollection->getSize()): ?>
    <h5>FAQ Categories</h5>
<?php foreach ($faqGroupCollection as $group): ?>
<?php $url = $baseUrl.'faq/'.str_replace(' ', '-', strtolower($group->getGroupName()) ); ?>
<a href="<?= /* @noEscape */  $url; ?>"
   class="group-link"
   groupId="<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
    <?= /* @noEscape */  $group->getGroupName(); ?>
</a>
<?php endforeach; ?>
<?php else: ?>
    <div>
        <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
    </div>
<?php endif; ?>
<?php endif; ?>
