<?php $_product = $block->getProduct(); ?>
<?php
/*$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
// $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());

$repository = $objectManager->create('Magento\Catalog\Model\ProductRepository');
$data = $_product->getTypeInstance()->getConfigurableOptions($_product);

$options = array();
if(!empty($data)){
foreach($data as $attr){
  foreach($attr as $p){
    $options[$p['sku']][$p['attribute_code']] = $p['option_title'];
  }
}


foreach($options as $sku =>$d){
  $pr = $repository->get($sku);
  foreach($d as $k => $v)
    echo $k.' - '.$v.' ';
  echo ' : '.$pr->getPrice()."\n";
}
}*/
//echo '<pre>';print_r($_product->getData());
//echo 'testtets'; 
// $required = '';
// if ($block->hasRequiredOptions()) {
//     $required = ' data-hasrequired="' . $block->escapeHtmlAttr(__('* Required Fields')) . '"';
// }
?>
<!-- <div class="product-options-wrapper22" id="product-options-wrapper"<?php /* @noEscape */ //echo $required ?>>
    <div class="fieldset" tabindex="0">
        <?php //echo $block->getChildHtml('', true) ?>
    </div>
</div> -->
<?php if($_product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE){

 $swatchBlock = $this->getLayout()->createBlock("Magento\Swatches\Block\Product\Renderer\Listing\Configurable")->setTemplate("Magento_Swatches::product/listing/renderer.phtml");
   echo $swatchBlock->setProduct($_product)->toHtml();                           
} ?>