<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="copyright">
	<div class="copyright-container">
		<div class="copyright-left">
		    <span><?= $block->escapeHtml($block->getCopyright()) ?></span>
		    <?php
				echo $this->getLayout()
				->createBlock('Magento\Cms\Block\Block')
				->setBlockId('footer_bottom_sitemap')
				->toHtml();
			?>
		</div>
		<div class="footer-social">
			 <?php
				echo $this->getLayout()
				->createBlock('Magento\Cms\Block\Block')
				->setBlockId('footer_social_media_links')
				->toHtml();
			?>
		</div>		
	</div>
</div>
