<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
$titleHtml = '';
if (trim($block->getPageHeading())) {
    $titleHtml = '<span class="base" data-ui-id="page-title-wrapper" '
        . $block->getAddBaseAttribute()
        . '>'
        . $block->escapeHtml($block->getPageHeading())
        . '</span>';
}
?>
<?php if ($titleHtml) : ?>
<div class="page-title-wrapper<?= $block->escapeHtmlAttr($cssClass) ?>">
    <h1 class="page-title"
        <?php if ($block->getId()) : ?> id="<?= $block->escapeHtmlAttr($block->getId()) ?>" <?php endif; ?>
        <?php if ($block->getAddBaseAttributeAria()) : ?>
            aria-labelledby="<?= $block->escapeHtmlAttr($block->getAddBaseAttributeAria()) ?>"
        <?php endif; ?>>
        <?= /* @noEscape */ $titleHtml ?>
    </h1>
    <?= $block->getChildHtml() ?>
</div>
<?php endif; ?>

<script type="text/javascript">
  require([
    "jquery",
    "owlCarousel"
    ], function ($) {
        // Home page mobile banner slider
        var mobileBannerSlider = function(){
            if ($('.hero-section').length) {
                if($(window).width()<=480){
                    $('.hero-section').addClass('owl-carousel');
                    $('.hero-section').owlCarousel({
                        loop:false,
                        margin:0,
                        nav:false,
                        dots: true,
                        items:1,
                        autoHeight:true
                    });
                }
                else{
                    $('.hero-section').trigger('destroy.owl.carousel').removeClass('owl-carousel');
                }
            }
        }
        $(document).ready(function(){
            mobileBannerSlider();
        });
        $(window).resize(function(){
            mobileBannerSlider();
        });
    });  
</script>
