<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menuHtml = $block->getHtml('level-top', 'submenu', $columnsLimit)
?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?= /* @noEscape */ $_menuHtml?>
        <?= $block->getChildHtml() ?>
        <!-- Custom code start -->
    <!-- <li class="level0 submenu ui-menu-item">
		    <a href="<?php //echo $this->getBaseUrl()."yourlink"; ?>" class="level-top ui-corner-all"  role="menuitem">
		        <span><?php //echo __("Your Custom Menu123")?></span>
		    </a>
		</li> -->
		<!-- Custom code ends -->
    </ul>
</nav>

<style type="text/css">
 .inactiveLink a {
   pointer-events: none;
   cursor: default;
}
</style>

<!-- if($('input[name="termsandconditions"]').is(':checked')) {
                var status = 1;
            }
            else {
                var status = 0;
            } -->


 <script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
     $(document).ready(function($) {
       //alert("test");

       setTimeout(function(){ alert('here'); },6000);

    }); 
});</script>