.minicart-wrapper {
	.minicart-widgets{
		margin: 0;
	}
    .block-minicart {
        border-color: @darkgrey_d5;
        z-index: 99;
        @media screen and (max-width: @mobile) {
            left: auto;
            right: 0;
            width: ~"calc(100vw - 30px)";
            padding: 35px 10px 20px;
        }
        .items-total{
            @media screen and (max-width: @mobile_sm) {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                padding-left: 10px;
            }
             .count {
                .futura-Medium();
            }
        }
        .subtotal {
            @media screen and (max-width: @mobile_sm) {
                text-align: left;
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                padding-left: 10px;
            }
        }
        .amount{
            display: inline-block;
            .price-wrapper:first-child .price {
                line-height: 21px;
            }
        }
        .minicart-items-wrapper {
            overflow: auto;
            max-height: ~"calc(100vh - 410px)";
            border-color: @darkgrey_d5;
            @media screen and (max-width: @mobile) {
                max-height: 300px;
                margin: 0 -10px;
            }
            @media screen and (max-width: @mobile_sm) {
                max-height: ~"calc(100vh - 412px)";
            }
        }
         .block-content{
            &> .actions{
                &> .primary{
                    .action.primary{
                        .bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
                        .futura-Medium();
                        font-size: 16px;
                        line-height: 21px;
                        text-align: center;
                        padding: 20px 42px 19px;
                        text-transform: uppercase;
                        border: none;
                        @media screen and (max-width: @mobile) {
                            padding:12px 20px 11px;
                            font-size: 12px;
                            line-height: normal;
                        }
                    }
                }
                &>  .secondary{
                    margin: 0 10px;
                    .action.viewcart{
                        .bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
                        padding:12px 20px 11px;
                        border:1px solid @blue_link_secondary;
                        font-size: 12px;
                        line-height: normal;
                        .futura-Medium();
                        display: block;
                        @media screen and (max-width: @mobile) {
                            padding:12px 20px 11px;
                            font-size: 12px;
                            line-height: normal;
                        }
                        &:hover{
                            border-color:@blue_link_color;
                        }
                    }
                }
            }
         }
    }
    .action {
        &.close {
            height: 27px;
            width: 27px;
            background:url(../svg/icon-close.svg) no-repeat;
            background-size:27px 27px;
            top: 2px;
            right: 4px;
            text-align: center;
            margin: 0;
            &:before{
                display: none;
            }
            &:hover{
                background:url(../svg/icon-close.svg) no-repeat; 
            }
        }
    }
    .minicart-items{
        .product-item{
            cursor: default;
            @media screen and (max-width: @mobile) {
                position: relative;
            }
            .product.options {
                font-size: 14px;
            }
            &:not(:first-child) {
                border-top-color: 1px solid @darkgrey_d5;
            }
            .product-item-details{
                padding-left: 110px;
                @media screen and (max-width: @mobile) {
                    padding-left: 110px;
                }
                .details-qty{
                	cursor: default;
                }
                .product-item-name {
                    .futura-Medium();
                    font-size: 16px;
                    line-height: 27px;
                    margin: 0;
                }
                .price {
                    font-size: inherit;
                    line-height: 19px;
                    .futura-Medium();
                }
                .price-including-tax, .price-excluding-tax{
                    font-size:16px;
                }
                .product-item-pricing{
                    @media screen and (max-width: @mobile) {
                        float: left;
                    }
                    .label {
                        display: none;
                    }
                }
                .item-qty {
                    text-align: left;
                    width: 68px;
                    min-height: auto;
                }
                .update-cart-item {
                    -webkit-appearance: none;
                    appearance: none;
                    border: none;
                    background: none;
                    padding: 0;
                    color: @text_color_grey;
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 19px;
                    margin: 0 0 0 10px;
                    text-decoration: underline;
                    position: relative;
                    top: 7px;
                }
            }
        }
    }
    .product{
        .actions {
            margin: -38px 0 0;
            @media screen and (max-width: @mobile) {
                margin: 0;
                position: absolute;
                bottom: 27px;
                right: 0;
            }
            &> .primary:not(:last-child) {
                margin: 0;
            }
            &> .secondary {
                display: inline-block;
            }
            .action.edit {
                display: none;
            }
            .action.delete {
                position: static;
                color: @text_color_grey;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 19px;
                text-decoration: underline;
                &> span {
                    width: auto;
                    height: auto;
                    clip: auto;
                    margin: 0;
                    overflow: visible;
                    position: static;
                }
                &:before {
                    display: none;
                }
            }
        }
    }
}


