<?php
    $_order = $block->getOrder();
    $delivery_info = $block->getDeliveryInfo($_order);
?>
<?php if ($delivery_info): ?>
<section class="admin__page-section order-view-billing-shipping">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Customer Delivery Notes') ?></span>
    </div>
    <div class="admin__page-section-content">
    <div class="delivery-date">
    <strong><?php echo __('Delivery Date') ?> : </strong><?=$delivery_info['date'] ?></div>
    <div id="delivery-comment">
    <strong><?php echo __('Delivery Notes') ?> : </strong>
    <br/>
    <span class="comments"><?=$delivery_info['note'] ?></span>
    </div>
    </div>
</section>
<?php endif; ?>