<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */
?>
<?php                     
    $fetchCurrentPageUrl = $block->getLayout()->createBlock('Carpetcall\Storefinder\Block\Index\Contact');
    $fetchSelectedStoreData = $fetchCurrentPageUrl->getSelectedStoreData();
    
    // echo '<pre>';
    // echo $fetchSelectedStoreData['state'];die();
?>
<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('contactus_banner')
->toHtml();
?>
<div class="form_container">
    <form class="form contact"
          action="<?= $block->escapeUrl($block->getFormAction()) ?>"
          id="contact-form"
          method="post"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Enquiry type')) ?></span></legend><br />
            <div class="field enquiry">
                <label class="label" for="enquiry_type"><span><?= $block->escapeHtml(__('What does your query relate to?')) ?></span></label>
                <div class="control">
                    <select name="enquiry_type" id="enquiry_type">
                        <option name="sales" value="Sales enquiry">Sales Enquiry</option>
                        <option name="service" value="Service enquiry">Service Enquiry</option>
                    </select>
                </div>
            </div>
            <legend class="legend"><span><?= $block->escapeHtml(__('Your details')) ?></span></legend><br />
            <div class="field note no-label"><?= $block->escapeHtml(__('All fields are mandatory')) ?></div>
            <div class="row">
                <div class="field name">
                    <label class="label" for="name"><span><?= $block->escapeHtml(__('First Name')) ?></span></label>
                    <div class="control">
                        <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('First Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="E.G. John"/>
                    </div>
                </div>
                <div class="field lastname">
                    <label class="label" for="lastname"><span><?= $block->escapeHtml(__('Last Name')) ?></span></label>
                    <div class="control">
                        <input name="lastname" id="lastname" title="<?= $block->escapeHtmlAttr(__('Last Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('lastname') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="E.G. Smith"/>
                    </div>
                </div>
            </div>
            <div class="field email">
                <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="E.G. john.smith@email.com"/>
                </div>
            </div>
            <div class="field telephone">
                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone')) ?></span></label>
                <div class="control">
                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" placeholder="E.G. 0212345678" data-validate="{required:true, 'validate-number':true}" />
                </div>
            </div>
            <!-- <div class="field state">
                <label class="label" for="state"><span><?= $block->escapeHtml(__('State')) ?></span></label>
                    <div class="control">
                        <?php 

                        //$blockobj = $block->getLayout()->createBlock('Carpetcall\Freehomemeasure\Block\Freehomemeasure');
                        //$statelist = $blockobj->getStatelist();
                        ?>
                        <select name="state">
                        <?php //foreach ($statelist as $value) { ?>
                            <option value="<?php //print_r( $value['name']); ?>"><?php //print_r( $value['name']); ?></option>
                        <?php //} ?>
                        </select>
                </div>
            </div> -->
            <!-- <div class="field store">
                <label class="label" for="store"><span><?= $block->escapeHtml(__('Select a store')) ?></span></label>
                <p>Enter your postcode below to find your closest store so we can best respond to your query.</p>
                <h5>Postcode</h5>
                <div class="control">
                    <input type="hidden" id="from_store_finder_detail" name="from_store_finder_detail" value="<?= (!empty($fetchCurrentPageUrlData))? $fetchCurrentPageUrlData : '';?>" />
                    <input name="store" id="store" title="<?= $block->escapeHtmlAttr(__('Postcode')) ?>" value="<?= (!empty($fetchCurrentPageUrlData))? $fetchCurrentPageUrlData : '';?>" class="input-text" type="text" placeholder="E.G. 3000" required />
                </div>
                <div id="displaystores">
                </div>
            </div> -->

            <!-- Start - For passing selected store & selected state values -->
            <input type="hidden" id="select_state" name="from_store_finder_detail" value="<?= (!empty($fetchSelectedStoreData))? ucwords(strtolower($fetchSelectedStoreData['state'])) : '';?>" />
            <input type="hidden" id="select_store" name="select_store" value="<?= (!empty($fetchSelectedStoreData))? ucwords(strtolower($fetchSelectedStoreData['store_name'])) : '';?>" />
            <!-- End -  For passing selected store & selected state values -->
            <div class="field store">
                <label for="store" class="label" id="select_a_store_label">
                    <span>Select a store</span>
                </label>
                <p id="select_a_store_description">Choose a store that is close to you so we can best respond to your query.</p>
                <div class="row">
                    <div class="field state">
                        <label class="label" for="state"><span><?= $block->escapeHtml(__('State')) ?></span></label>
                        <div class="control">
                            <?php

                            $blockobj = $block->getLayout()->createBlock('Carpetcall\Freehomemeasure\Block\Freehomemeasure');

                            $statelist = $blockobj->getStatelist();
                            //echo '<pre>';print_r($statelist); die();
                            ?>
                            <select name="state" id="state" class="required-entry">
                            <option value="">STATE</option>
                            <?php foreach ($statelist as $value) { ?>
                                <?php 

                                // When landed from store locator details page at that time stores & states need to be pre selected

                                if ((!empty($fetchSelectedStoreData)) && (strtoupper($fetchSelectedStoreData['state']) == strtoupper($value['name']))) 
                                { ?>
                                <option value="<?php print_r( $value['name']); ?>" selected><?php echo strtoupper($value['name']); ?></option>
                                <?php 
                                }else{ ?>
                                    <option value="<?php print_r( $value['name']); ?>"><?php echo strtoupper($value['name']); ?></option>
                                <?php } ?>
                                
                            <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="field store store_popup">
                        <label class="label" for="store"><span><?= $block->escapeHtml(__('Select a store')) ?></span></label>
                        <div class="control">
                                <select name="store" id="store_popup" class="required-entry">
                                <?php 
                                // When landed from store locator details page at that time stores & states need to be pre selected
                                ?>
                                    <option value="">SELECT A STORE</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field comment">
                <label class="label" for="comment"><span>How can we help you</span></label>
                <h5><?= $block->escapeHtml(__('Message')) ?></h5>
                <div class="control">
                    <textarea placeholder="Enter your message here" name="comment" id="comment" data-validate="{required:true}" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                </div>
            </div>

            <?php
            $date = $fetchCurrentPageUrl->gmtDate();

            $Date = $date->format('d/m/Y');
            $time = $date->format('H:i a');
            ?>
            <input type="hidden" name="datetime" value="<?= $date->format('Y-m-d H:i:s'); ?>" />
            <input name="date" id="date" value="<?= $Date; ?>" type="hidden" />
            <input name="time" id="time" value="<?= $time; ?>" type="hidden" />

            <?= $block->getChildHtml('form.additional.info') ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                    <span><?= $block->escapeHtml(__('SUBMIT')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>


<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('free_flooring_measure')
->toHtml();
?>

<script type="text/javascript">
require([ 'jquery', 'jquery/ui','mage/mage'], function($){ 
    $(document).ready(function($) {
        $( "#enquiry_type" ).change(function() {

            var val = $(this).val();
            console.log(val);
            if (val === 'Service enquiry') {
                $('#store_popup').hide();
                $('.store_popup').hide();
                $('#store').removeClass("required-entry mage-error");
                $('#select_a_store_label').hide();
                $('#select_a_store_description').hide();
            }
            if (val === 'Sales enquiry') {
                console.log('reached');
                 //$('#store').prop('required','true');
                 $('#store_popup').show();
                 $('.store_popup').show();
                 $('#select_a_store_label').show();
                 $('#select_a_store_description').show();
                 
            }
        });
    }); 
});
   
</script>
<?php $contactblock = $block->getLayout()->createBlock('Carpetcall\Enquire\Block\Index\Index'); ?>
<script type="text/javascript">
require(
[
    'jquery',
    'Magento_Ui/js/modal/modal'
],
function (
    $,
    modal
) {

// onload when came from store locator details page
$(document).ready(function($) {
    var select_state = $('#select_state').val();
    var select_store = $('#select_store').val();
    console.log($('#select_state').val());
    if (select_state != ''){
        jQuery.ajax({
         showLoader: true,
         url: '<?php echo $contactblock->getframeAction(); ?>',
         data: {"select_state": select_state,"select_store":select_store},
         type: "GET",
         dataType: 'json'
    }).done(function (data) {
         jQuery('#store_popup').empty();
         jQuery('#store_popup').append(data.value);
    });
}
});

jQuery(document).on('change','#state',function(e) {
         // var param = 'frame='+jQuery('#frame_name').val();
    console.log(jQuery('#state').val());
    e.preventDefault();
    jQuery.ajax({
                 showLoader: true,
                 url: '<?php echo $contactblock->getframeAction(); ?>',
                 data: {"select_state": jQuery('#state').val(),},
                 type: "GET",
                 dataType: 'json'
    }).done(function (data) {
                 jQuery('#store_popup').empty();
                 jQuery('#store_popup').append(data.value);
    });
});
});
</script>
<script type="text/javascript">
//1 - Disable button and prevent double submitting :
require(
[
    'jquery',
    'Magento_Ui/js/modal/modal'
],
function (
    $,
    modal
) {
$('form').submit(function () {
    $(this).find(':submit').attr('disabled', 'disabled');
});
//2 - Enable submit button if validation error occurred :

$("form").bind("invalid-form.validate", function () {
    $(this).find(':submit').prop('disabled', false);
});
});
</script>