<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php /* @var $block \Magento\Catalog\Block\Product\View\Options\Type\Select */ ?>
<?php
$_option = $block->getOption();
$class = ($_option->getIsRequire()) ? ' required' : '';
$optionIdentifier = strtolower($_option->getIdentifier());

$hasBackground = ['frame-type', 'hinge-sides', 'hinge-colour'];
$greyBg = '';
if (in_array($optionIdentifier, $hasBackground)) {
    $greyBg = 'grey-bg';
}
?>
<div class="field<?= /* @noEscape */ $class  . ' ' . $optionIdentifier?>">
    <div class="field-wrapper <?= $greyBg?>">
        <label class="label main-label" for="select_<?= $block->escapeHtmlAttr($_option->getId()) ?>">
            <span><?= $block->escapeHtml($_option->getTitle()) ?></span>
            <?php if ($_option->getTooltip()):?>
                <span class="tooltip-wrapper">
                    <a href="#" class="tooltip-toggle">&#63;</a>
                    <span class="tooltip-content"><?= $_option->getTooltip() ?></span>
                </span>
            <?php endif;?>
        </label>
        <?php if ($block->getProduct()->getName() == 'Roller Blinds' && $optionIdentifier === 'colour'):?>
        <span class="toggle-btn">
            <span class="fabric-filter-wrapper">
                <select name="fabric-filter" id="dropdown-<?= $_option->getId()?>" data-select-identifier="<?= $optionIdentifier ?>">
                    <option value="blockout">All 'Blockout' Fabric range</option>
                    <option value="light-filtering">All 'Light Filtering' Fabric range</option>
                    <option value="sunscreen">All 'Sunscreen' Fabric range</option>
                </select>
            </span>
        </span>
        <?php endif; ?>
        <?php if ($optionIdentifier === 'chain-length'):?>
            <div class="chain-length-msg">Recommended length for <span class="js-selected-drop">2300</span>mm drop - <span class="js-recommended-chain-size">1750</span>mm</div>
        <?php endif; ?>
        <div class="control">
            <?= $block->getValuesHtml() ?>
            <?php if ($_option->getIsRequire()) :?>
                <?php if ($_option->getType() == \Magento\Catalog\Api\Data\ProductCustomOptionInterface::OPTION_TYPE_RADIO || $_option->getType() == \Magento\Catalog\Api\Data\ProductCustomOptionInterface::OPTION_TYPE_CHECKBOX) :?>
                    <span id="options-<?= $block->escapeHtmlAttr($_option->getId()) ?>-container"></span>
                <?php endif; ?>
            <?php endif;?>
        </div>
    </div>

</div>

<?php if ($optionIdentifier === 'motor-side'):?>
    <div class="custom-option-notice">
        <img alt="Warning Banner" src="<?= /* @noEscape */ $this->getViewFileUrl('Carpetcall_ProductConfigurator::media/images/notice_banner.jpg') ?>" class="custom-option-notice__banner">
        <div>
            <img alt="Warning" src="<?= /* @noEscape */ $this->getViewFileUrl('Carpetcall_ProductConfigurator::media/images/notice.png') ?>" class="custom-option-notice__img">
            <span>Loose blind and curtain cords/chains, particularly those with loops, can be dangerous to young children. A free cord safety clip is included with every roller blind purchased.</span>
        </div>
    </div>
<?php endif; ?>


