<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\Options\Type\Text */ ?>
<?php
$_option = $block->getOption();
$class = ($_option->getIsRequire()) ? ' required' : '';
/** @var $helper Carpetcall\ProductConfigurator\Helper\Option */
$helper = $this->helper('Carpetcall\ProductConfigurator\Helper\Option');
$optionIdentifier = strtolower($_option->getIdentifier());
?>

<?php if ($header = $helper->includeFalseHeader($block->getProduct(), $optionIdentifier)) :?>
<div class="field">
    <div class="field-wrapper">
        <label class="label main-label">
            <span><?= $header; ?></span>
            <?php if ($_option->getTooltip()):?>
                <span class="tooltip-wrapper">
                    <a href="#" class="tooltip-toggle">?</a>
                    <span class="tooltip-content"><?= $_option->getTooltip() ?></span>
                </span>
            <?php endif;?>
        </label>
    </div>
</div>
<?php endif; ?>

<div class="row field<?php if ($_option->getType() == \Magento\Catalog\Api\Data\ProductCustomOptionInterface::OPTION_TYPE_AREA) {
    echo ' textarea';
} ?><?= /* @noEscape */ $class . ' ' . $optionIdentifier ?>">

    <?php if ($helper->includeSubLabel($block->getProduct())) :?>
        <div class="subtitle">
            <span><?= $helper->getSubtitle($optionIdentifier); ?></span>
            <?php if ($_option->getTooltip()):?>
                <span class="tooltip-wrapper">
                    <a href="#" class="tooltip-toggle">&#63;</a>
                    <span class="tooltip-content"><?= $_option->getTooltip() ?></span>
                </span>
            <?php endif;?>
        </div>
    <?php endif; ?>

    <?php $subheaderClass = ''; ?>
    <?php if ((strpos($optionIdentifier, 'width') !== false) || (strpos($optionIdentifier, 'drop') !== false)
        || (strpos($optionIdentifier, 'mid-rail-size') !== false) || (strpos($optionIdentifier, 'room') !== false)
        || (strpos($optionIdentifier, 'chain-size') !== false)) :?>
        <?php $subheaderClass = 'subheader'; ?>
    <?php endif; ?>

    <label class="label main-label <?= $subheaderClass; ?>" for="options_<?= $block->escapeHtmlAttr($_option->getId()) ?>_text">
        <span><?= $block->escapeHtml($_option->getTitle()) ?></span>
        <?= /* @noEscape */ $block->getFormattedPrice() ?>
    </label>

    <div class="control">
        <?php if ($_option->getType() == \Magento\Catalog\Api\Data\ProductCustomOptionInterface::OPTION_TYPE_FIELD) :?>
            <?php $_textValidate = null;
            if ($_option->getIsRequire()) {
                $_textValidate['required'] = true;
            }
            if ($_option->getMaxCharacters()) {
                $_textValidate['maxlength'] = $_option->getMaxCharacters();
            }
            $_textValidate['validate-no-utf8mb4-characters'] = true;
            ?>
            <input type="text"
                   id="options_<?= $block->escapeHtmlAttr($_option->getId()) ?>_text"
                   class="input-text product-custom-option"
                <?php if (!empty($_textValidate)) {?>
                    data-validate="<?= $block->escapeHtml(json_encode($_textValidate)) ?>"
                <?php } ?>
                   name="options[<?= $block->escapeHtmlAttr($_option->getId()) ?>]"
                   data-selector="options[<?= $block->escapeHtmlAttr($_option->getId()) ?>]"
                   data-option-id="<?= 'js-' . $_option->getOptionId();?>"
                   data-option-identifier="<?= $optionIdentifier ?>"
                   value="<?= $block->escapeHtml($block->getDefaultValue()) ?>"/>
            <?= $helper->additionalTextHtml($optionIdentifier); ?>
            <script type="text/x-magento-init">
                {
                    "*": {
                        "Carpetcall_ProductConfigurator/js/product_configurator": {
                            "textOptionId": "<?php /* @escapeNotVerified */ echo 'options_' . $block->escapeHtmlAttr($_option->getId()) . '_text'; ?>"
                        }
                    }
                }
            </script>
        <?php elseif ($_option->getType() == \Magento\Catalog\Api\Data\ProductCustomOptionInterface::OPTION_TYPE_AREA) :?>
            <?php $_textAreaValidate = null;
            if ($_option->getIsRequire()) {
                $_textAreaValidate['required'] = true;
            }
            if ($_option->getMaxCharacters()) {
                $_textAreaValidate['maxlength'] = $_option->getMaxCharacters();
            }
            $_textAreaValidate['validate-no-utf8mb4-characters'] = true;
            ?>
            <textarea id="options_<?= $block->escapeHtmlAttr($_option->getId()) ?>_text"
                      class="product-custom-option"
                    <?php if (!empty($_textAreaValidate)) {?>
                        data-validate="<?= $block->escapeHtml(json_encode($_textAreaValidate)) ?>"
                    <?php } ?>
                      name="options[<?= $block->escapeHtmlAttr($_option->getId()) ?>]"
                      data-selector="options[<?= $block->escapeHtmlAttr($_option->getId()) ?>]"
                      rows="5"
                      cols="25"><?= $block->escapeHtml($block->getDefaultValue()) ?></textarea>
        <?php endif; ?>
        <?php if ($_option->getMaxCharacters()) :?>
            <p class="note note_<?= $block->escapeHtmlAttr($_option->getId()) ?>">
                <?= $block->escapeHtml(__('Maximum %1 characters', $_option->getMaxCharacters())) ?>
                <span class="character-counter no-display"></span>
            </p>
        <?php endif; ?>
    </div>
    <?php if ($_option->getMaxCharacters()) :?>
        <script type="text/x-magento-init">
        {
            "[data-selector='options[<?= $block->escapeJs($_option->getId()) ?>]']": {
                "Magento_Catalog/js/product/remaining-characters": {
                    "maxLength":  "<?= (int)$_option->getMaxCharacters() ?>",
                    "noteSelector": ".note_<?= $block->escapeJs($_option->getId()) ?>",
                    "counterSelector": ".note_<?= $block->escapeJs($_option->getId()) ?> .character-counter"
                }
            }
        }
    </script>
    <?php endif; ?>
</div>
