<link href="https://fonts.googleapis.com/css?family=Saira:400,500,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div id="wrapper">
    <div class="inner_container">
        <div class="fme_job_manager">
            <div class="listing full_page">
                <div class="block">
                    <div class="head">
                        <div class="title">
                            <h2>Unit Test</h2>
                            <div class="date">
                                <span>Dec 2, -1 12:00:00 AM</span>
                            </div>
                            <div class="company">
                                <span>Dept of Good Code, Unit Testing</span>
                            </div>
                        </div>
                    </div>
                    <div class="callout_btns clearfix">
                        <div class="apply_btn">
                            <a href="#slide" id="click-me">Apply</a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Jobs Description</h3>
                        <p>Unit Testing provides a great way to clean the code you are working with</p>
                    </div>
                    <script>
                        require(
                            [
                                'jquery',
                                'Magento_Ui/js/modal/modal'
                            ],
                            function (
                                $,
                                modal
                            ) {
                                var options = {
                                    type: 'popup',
                                    responsive: true,
                                    innerScroll: true,
                                    buttons: []
                                };

                                var popup = modal(options, $('#events_popup'));
                                $("#click-me").on('click', function () {
                                    $("#events_popup").modal("openModal");
                                });

                            }
                        );
                    </script>
                    <div id="events_popup" style="display: none;"
                         class="events_popup">
                        <div id="wrapper">
                            <div class="inner_container">
                                <div class="fme_job_manager">
                                    <div class="popup_form">
                                        <div class="title">Unit Test</div>
                                        <form action="http://unit-test.com/job/index/application" method="post"
                                              enctype="multipart/form-data"
                                              data-hasrequired="* Required Fields"
                                              data-mage-init='{"validation":{}}'>
                                            <fieldset class="fieldset">
                                                <input name="jobs_id" id="jobs_id" class="input_field" type="hidden"
                                                       value="123"/>
                                                <input name="jobs_title" id="jobs_title" class="input_field"
                                                       type="hidden"
                                                       value="Unit Test"/>
                                                <input name="jobs_job_type" id="jobs_job_type" class="input_field"
                                                       type="hidden"
                                                       value="Testing"/>
                                                <input name="jobs_select_departments" id="jobs_select_departments"
                                                       class="input_field" type="hidden"
                                                       value="Dept of Good Code"/>
                                                <input name="jobs_location" id="jobs_location" class="input_field"
                                                       type="hidden"
                                                       value="Unit Testing"/>
                                                <input name="nationality" id="nationality" type="hidden"
                                                       value="not_applicable"/>
                                                <input name="dob" id="dob" type="hidden" value="not_applicable"/>
                                                <input name="address" id="address" type="hidden"
                                                       value="not_applicable"/>
                                                <div class="field name required">
                                                    <label>Full Name*</label>
                                                    <div class="control">
                                                        <input name="fullname" id="fullname" class="input_field"
                                                               data-validate="{required:true}"/>
                                                    </div>
                                                </div>
                                                <div class="field name required">
                                                    <label>Email*</label>
                                                    <input name="email" id="email" class="input_field"
                                                           data-validate="{required:true, 'validate-email':true}"/>
                                                </div>
                                                <div class="field name required">
                                                    <label>Telephone*</label>
                                                    <div class="control">
                                                        <input name="telephone" id="telephone" class="input_field"
                                                               data-validate="{required:true}"/>
                                                    </div>
                                                </div>
                                                <div class="field name required">
                                                    <label>Zipcode*</label>
                                                    <div class="control">
                                                        <input name="zipcode" id="zipcode" class="input_field"
                                                               data-validate="{required:true}">
                                                    </div>
                                                </div>
                                                <div class="field name required">
                                                    <label>Location*</label><br/>
                                                    <span
                                                        class="message">Please select which location you are applying for</span>
                                                    <div class="control">
                                                        <select name="location" id="location" class="select"
                                                                data-validate="{required:true}">
                                                            <option
                                                                value="unit-test">First Place
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="field name required">
                                                    <label>CV File*</label>
                                                    <div class="control">
                                                        <input type="file" name="cvfile" id="cvfile" class="input_field"
                                                               data-validate="{required:true}">
                                                        <span class="message">Supported Filetypes: PDF</span>
                                                    </div>
                                                </div>
                                                <button>Submit</button>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer_bar clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
