<!--@subject Customer Sales enquiry received @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table class="message-details">
<tr>
    <td>Hi <strong>Team Carpet Call</strong>,</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>The following sales enquiry was received from the website on {{var date}}, at {{var time}}.</td>
    </tr>
    <tr>
        <td>Their details are below:</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td><strong>{{trans "First name:"}}</strong> {{var name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Last name:"}}</strong> {{var lastname}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email:"}}</strong> {{var email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Phone"}}</strong> {{var telephone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "State:"}}</strong> {{var state}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Store selected:"}}</strong> {{var selectedstore}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Product details:"}}</strong></td>
        <tr>
            <td><strong>{{trans "Product name:"}}</strong> {{var productname}}</td>
        </tr>
        <tr>
        <td><strong>{{trans "Product code:"}}</strong> {{var productcode}}</td>
        </tr>
        {{if productsize}}
        <tr>
        <td><strong>{{trans "Product size:"}}</strong> {{var productsize}}</td>
        </tr>
        {{else}}
        {{/if}}
    </tr>
    <tr>
        <td><strong>{{trans "Message:"}}</strong> {{var comment}}</td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}