<!--@subject Thank you for your enquiry @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
        <table class="message-details">
    <tr>
        <td>Hi <strong>{{var name}}</strong>,</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>Thank you for your query. One of our staff members will get back to you shortly.</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td><strong>{{trans "Your enquiry:"}}</strong></td>
    </tr>
    <tr>
        <td><strong>{{trans "First name:"}}</strong> {{var name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Last name:"}}</strong> {{var lastname}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email:"}}</strong> {{var email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Phone:"}}</strong> {{var telephone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "State:"}}</strong> {{var state}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Store selected:"}}</strong> {{var selectedstore}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Product details:"}}</strong></td>
        <tr>
            <td><strong>{{trans "Product name:"}}</strong> {{var productname}}</td>
        </tr>
        <tr>
        <td><strong>{{trans "Product code:"}}</strong> {{var productcode}}</td>
        </tr>
        {{if productsize}}
        <tr>
        <td><strong>{{trans "Product size:"}}</strong> {{var productsize}}</td>
        </tr>
        {{else}}
        {{/if}}
    </tr>
    <tr>
        <td><strong>{{trans "Message:"}}</strong> {{var comment}}</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>Kind regards,</td>
    </tr>
    <tr>
        <td>Carpet Call</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>Visit: <u>www.carpetcall.com.au</u></td>
    </tr>
    <tr>
        <td>Call us: <a href="tel:1300502427" title="call Us">1300 502 427</a></td>
    </tr>
</table>
    {{template config_path="design/email/footer_template"}}                 