#method-openpay label::after {
	content:url('../images/openpay-logo.svg');
	width: 70px;
    position: relative;
    display: inline-block;
    top: 0px;
    left: 10px;
    vertical-align: middle;
}


