<!--@subject Customer Sales enquiry received @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table class="message-details">
<tr>
    <td style="font-family: Arial,Helvetica,sans-serif; margin: 0 0 10px; text-transform: none; font-size: 16px; line-height: 21px; color: #565659;">Hi <strong style="font-weight: bold;">Team Carpet Call</strong>,</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #565659;line-height: 1.47;">The following sales enquiry was received from the website on {{var date}}, at {{var time}}.</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #565659;line-height: 1.47;">Their details are below:</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "First name:"}}</strong> {{var name}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Last name:"}}</strong> {{var lastname}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Email:"}}</strong> {{var email}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Phone"}}</strong> {{var telephone}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "State:"}}</strong> {{var state}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Store selected:"}}</strong> {{var selectedstore}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Product details:"}}</strong></td>
        {{if productname}}
        <tr>
            <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Product name:"}}</strong> {{var productname}}</td>
        </tr>
        {{else}}
        {{/if}}
        {{if productcode}}
        <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Product code:"}}</strong> {{var productcode}}</td>
        </tr>
        {{else}}
        {{/if}}
        {{if productsize}}
        <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Product size:"}}</strong> {{var productsize}}</td>
        </tr>
        {{else}}
        {{/if}}
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Message:"}}</strong> {{var comment}}</td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}