<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);

$categoryIds = $product->getCategoryIds();

$categories = $blockobj->getCategoryCollection()
                    ->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
    $cate_arr[] = $category->getName();
}
?>

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ((in_array("Blinds", $cate_arr, TRUE)) || (in_array("Shutters", $cate_arr, TRUE))) :?>
    <?= $block->getChildHtml('product.configurator.addtocart') ?>
<?php elseif (in_array("Carpet", $cate_arr, TRUE)) :?>

    <a href="<?= $blockobj->getBaseurl().'free-home-measure'; ?>" class="action book-measure-btn">Book Free Measure</a>
<?php elseif (in_array("Hard Flooring", $cate_arr, TRUE)) :?>
<?php if ($_product->isSaleable()) :?>
  <!-- <div>
    <input type="hidden" name="h_total_coverage" id="h_total_coverage" value="<?php //echo $_product->getCoveragePerPack(); ?>">
    <label>TOTAL COVERAGE:</label><span id="coverage_value"><?php //echo $_product->getCoveragePerPack(); ?> SQM</span>
  </div> -->
  <button type="button" class="action Calculate_link">
      <span data-bind="i18n: 'Calculate area required'"></span>
  </button>
  <div class="box-tocart hard-flooring">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('PACKS NEEDED')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('PACKS NEEDED')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <div class="coverage_txt">
          <input type="hidden" name="h_total_coverage" id="h_total_coverage" value="<?php echo $_product->getCoveragePerPack(); ?>">
          <input type="hidden" name="recommended_qty" id="recommended_qty" value="0">
          <label>Total coverage : </label><span id="coverage_value"><?php echo $_product->getCoveragePerPack(); ?> <span class="unit_value"> SQM</span></span>
        </div>
        <?php endif; ?>
        <?php if ($_product->isAvailable()) :?>
        <div class="stock available"><span>
        <?php
        $blockObj = $block->getLayout()->createBlock('Carpetcall\Productlisting\Block\Productlisting');
        echo $blockObj->getStockMessage($_product->getId());
        ?>
        </span></div>
        <?php endif; ?>
      <?php if ($block->displayProductStockStatus()) :?>
      <?php if ($_product->isAvailable()) :?>
        <div class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <!-- <span><?= $block->escapeHtml(__('In stock')) ?></span> -->
        </div>
      <?php else :?>
        <div class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </div>
      <?php endif; ?>
      <?php endif; ?>
      <?php if ($_product->isSaleable()) :?>
        <div class="total_price">
          <?php
          //echo $blockobj->getCurrencySymbol();
          $spec_pri =  $_product->getSpecialPrice();
          if (!empty($spec_pri)) {
            $price_per_pack = $spec_pri * $_product->getCoveragePerPack();
          }else{
            $price_per_pack = $_product->getPrice() * $_product->getCoveragePerPack();
          }

          //echo round($price_per_pack);
           ?>
          <input type="hidden" name="h_per_pack_price" id="h_per_pack_price" value="<?php echo (int)$price_per_pack; ?>">
          <label>TOTAL PRICE:</label> <?php echo $blockobj->getCurrencySymbol().'<span id="perpackprice">'.(int)$price_per_pack; ?></span>
        </div>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <div class="mobile-cus-btn">
              <button type="submit"
                      title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                      class="action primary tocart"
                      id="product-addtocart-button" disabled>
                  <span><?= $block->escapeHtml($buttonTitle) ?></span>
              </button>
            </div>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<?php elseif (in_array("Accessories", $cate_arr, TRUE)) :?>
  <!-- Accessories products start -->
  <?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('QUANTITY')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('QUANTITY')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>

        <?php endif; ?>
      <?php if ($block->displayProductStockStatus()) :?>
      <?php if ($_product->isAvailable()) :?>
        <div class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('In stock')) ?></span>
        </div>
      <?php else :?>
        <div class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </div>
      <?php endif; ?>
      <?php endif; ?>
      <?php if ($_product->isSaleable()) :?>
       <div class="price-wrapper">
        <!-- <span class="unit_name"><?= 'ONLINE PRICE:'; ?></span>  -->
        <?php
        $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
        $pr = $abstractProductBlock->getProductPrice($product);?>
        <?= $pr; ?>
      </div>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
        <div class="product-benefits">
          <ul>
            <li>
              Price & Satisfaction Guarantee
            </li>
            <li>
             Stock held in Australia
            </li>
          </ul>
        </div>
    </div>
</div>
<?php endif; ?>
<!-- Accessories product ends -->
<?php elseif ((in_array("Underlay", $cate_arr, TRUE)) || (in_array("Cleaning & Repair kits", $cate_arr, TRUE)) || (in_array("Trims", $cate_arr, TRUE))|| (in_array("Scotia", $cate_arr, TRUE))) :?>
  <!-- HF Accessories products start -->
  <?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('PACKS NEEDED')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('PACKS NEEDED')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>

        <?php endif; ?>
      <?php if ($block->displayProductStockStatus()) :?>
      <?php if ($_product->isAvailable()) :?>
        <div class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('In stock')) ?></span>
        </div>
      <?php else :?>
        <div class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </div>
      <?php endif; ?>
      <?php endif; ?>
      <?php if ($_product->isSaleable()) :?>
       <div class="price-wrapper">
        <!-- <span class="unit_name"><?= 'ONLINE PRICE:'; ?></span>  -->
        <?php
        $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
        $pr = $abstractProductBlock->getProductPrice($product);?>
        <?= $pr; ?>
      </div>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<!-- HF Acc product ends -->
<?php else: ?>


<?php if ($_product->isSaleable()) :?>
<div class="box-tocart rugs-product">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('QUANTITY')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('QUANTITY')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>

        <?php endif; ?>
      <?php if ($block->displayProductStockStatus()) :?>
      <?php if ($_product->isAvailable()) :?>
        <div class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('In stock')) ?></span>
        </div>
      <?php else :?>
        <div class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </div>
      <?php endif; ?>
      <?php endif; ?>
      <?php if ($_product->isSaleable()) :?>
       <div class="price-wrapper">
        <!-- <span class="unit_name"><?= 'ONLINE PRICE:'; ?></span>  -->
        <?php
        $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
        $pr = $abstractProductBlock->getProductPrice($product);?>
        <?= $pr; ?>
      </div>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <div class="mobile-cus-btn">
              <button type="submit"
                      title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                      class="action primary tocart"
                      id="product-addtocart-button" disabled>
                  <span><?= $block->escapeHtml($buttonTitle) ?></span>
              </button>
            </div>
            <?= $block->getChildHtml('', true) ?>
        </div>
        <div class="product-benefits">
          <ul>
            <li>
              Price & Satisfaction Guarantee
            </li>
            <li>
             Free Delivery for Rugs Under 2.2m Wide
            </li>
            <li>
             Stock held in Australia
            </li>
          </ul>
        </div>
    </div>
</div>
<?php endif; ?>
<?php endif; ?>


<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>

<script type="text/javascript">
require(["jquery","domReady!"], function ($) {


    $(function() {
       $('#registered_participants').on('click', '.remove', function() {
          $(this).parent().remove();
          var total = 0;
          $(".firsttotal").each(function() {
              total += parseFloat($(this).text());
          });

          if(total != ''){
            if(!isNaN(total)){
              $("#totoalarea").html(total+" SQM");
            }
            var totalcoverage = $("#h_total_coverage").val();
            var totalpackdata = parseFloat(total) / parseFloat(totalcoverage);
            if(totalpackdata != ''){

              if(!isNaN(totalpackdata)){
                $("#totoalpackrequired").html(Math.round(totalpackdata));
              }

              var excesstotal = (parseFloat(totalpackdata) * parseFloat(totalcoverage) - parseFloat(total)) / parseFloat(total) * parseFloat(100);
              if(!isNaN(excesstotal)){
                $("#totoalexcess").html(excesstotal.toFixed(2)+" %");
              }
            }

          }
       });
       $('#registered_participants').on('change', '.inputdata', function() {
            var attributeIdString = $(this).attr('id');
            var attributeIdArray = attributeIdString.split("_");
            //alert(attributeIdArray[1]);
            var firstRoomData = $("#firstroom_"+attributeIdArray[1]).val();
            var secondRoomData = $("#secondroom_"+attributeIdArray[1]).val();
            //alert(firstRoomData+'====='+secondRoomData);

            if(firstRoomData != '' && secondRoomData != ''){
                var totalRoomData = firstRoomData * secondRoomData;
                if(!isNaN(totalRoomData)){
                  $("#firttotal_"+attributeIdArray[1]).html(totalRoomData.toFixed(2)+" <span>SQM</span>");
                }
            }

            //var tottalAreaArray = [];
            var total = 0;
            $(".firsttotal").each(function() {
                total += parseFloat($(this).text());
            });

            if(total != ''){
              if(!isNaN(total)){
                $("#totoalarea").html(total+"<span> SQM</span>");
              }
              var totalcoverage = $("#h_total_coverage").val();
              var totalpackdata = parseFloat(total) / parseFloat(totalcoverage);
              if(totalpackdata != ''){

                if(!isNaN(totalpackdata)){
                  $("#totoalpackrequired").html(Math.round(totalpackdata));
                }

                var excesstotal = (parseFloat(Math.round(totalpackdata)) * parseFloat(totalcoverage) - parseFloat(total)) / parseFloat(total) * parseFloat(100);
                //alert(parseFloat(totalpackdata)+'=='+parseFloat(totalcoverage)+'=='+parseFloat(total)+'==='+parseFloat(total)+'===='+parseFloat(100));
                //var excesstotal = (8*2.40-18)/18*100 ;
                if(!isNaN(excesstotal)){
                  $("#totoalexcess").html(Math.round(excesstotal)+" <span>%</span>");
                }
              }

            }
        });
    });

    var i = 2;
    $(document).on("click","#addnew",function() {
        $("#registered_participants").append('<div class="calculator-row"><a href="javascript:;"class="remove">remove</a><label class="calculator-label">Room'+i+'</label><div class="field_wrapper width_wrapper"><label>Width (m)</label><input type="text"class="inputdata"name="firstroom_'+i+'"id="firstroom_'+i+'"></div><div class="field_wrapper length_wrapper"><label>Length (m)</label> <input type="text"class="inputdata"name="secondroom_'+i+'"id="secondroom_'+i+'"></div><div id="firttotal_'+i+'"class="firsttotal result_wrapper"></div></div>');

        i++;
    });

    $(function () {
        $('#registered_participants').on('keydown', '.inputdata', function(event) {
        //$(".inputdata").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();

        });
    });
});
</script>

<div class="content" id="calculate-area-popup" style="display: none">
    <div class="calculator-fieldset">
        <div id="registered_participants">
            <div class="calculator-row">
                <label class="calculator-label">Room1</label>
                <div class="field_wrapper width_wrapper">
                    <label>Width (m)</label>
                    <input type="text" name="firstroom_1" class="inputdata" id="firstroom_1">
                </div>
                <div class="field_wrapper length_wrapper">
                    <label>Length (m)</label>
                    <input type="text" name="secondroom_1" class="inputdata" id="secondroom_1">
                </div>
                <div id="firttotal_1" class="firsttotal result_wrapper"></div>
            </div>
        </div>
        <a href="javascript:;" id="addnew" class="add_new_link">+ <span>Add rooms</span></a>
    </div>
    <div class="calcular-summary">
        <table class="calcular-table" cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
                <th>
                    TOTAL AREA:
                </th>
                <td>
                    <div id="totoalarea"></div>
                </td>
            </tr>
            <tr>
                <th>
                    EXCESS:
                </th>
                <td>
                    <div id="totoalexcess"></div>
                </td>
            </tr>
            <tr>
                <th>
                    Total Packs Required:
                </th>
                <td>
                    <div id="totoalpackrequired"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--             <div><label>TOTAL AREA:</label><div id="totoalarea"></div></div>
                      <div><label>EXCESS:</label><div id="totoalexcess"></div></div>
                      <div><label>Total Packs Required:</label><div id="totoalpackrequired"></div></div> -->
    </div>
</div>

<script type="text/javascript">

    require([ 'jquery', 'jquery/ui'], function($){
        $(document).ready(function($) {
            console.log($('#qty').val());
            $( "#qty" ).change(function() {
                var updatedprice = parseFloat(jQuery('#h_per_pack_price').val()) * parseFloat(jQuery('#qty').val());
                if(!isNaN(updatedprice)){
                    jQuery('#perpackprice').html(updatedprice);
                }

                var totalcoveragedata = parseFloat(jQuery('#h_total_coverage').val()) * parseFloat(jQuery('#qty').val());
                if(!isNaN(totalcoveragedata)){
                    jQuery('#coverage_value').html(totalcoveragedata.toFixed(2)+' SQM');
                    jQuery('#recommended_qty').val(totalcoveragedata.toFixed(2));
                }
            });
        });
    });
</script>
<script type="text/x-magento-init">
    {
        "button.Calculate_link": {
            "Magento_Catalog/js/product/calculate-area-popup": {}
        }
    }
</script>

<script type="text/javascript">

      require([ 'jquery', 'jquery/ui'], function($){
        $(document).ready(function($) {
          if($(window).width() < 767){
             $("a#enquire-now-btn").appendTo(".box-tocart.rugs-product .mobile-cus-btn");
             $("a#enquire-now-btn").appendTo(".box-tocart.hard-flooring .mobile-cus-btn");
           }        
         });
      });
</script>
