<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php 
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);
 
$categoryIds = $product->getCategoryIds();
 
$categories = $blockobj->getCategoryCollection()
                    ->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
    $cate_arr[] = $category->getName();
}
// echo "<pre>";
// print_r($cate_arr);die();
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
    <a href="<?= $blockobj->getBaseurl().'free-home-measure'; ?>">Book Free Measure</a>
<?php elseif (in_array("Hard Flooring", $cate_arr, TRUE)) :?>
  <?php echo "string";die; ?>
  <!-- <div>
    <input type="hidden" name="h_total_coverage" id="h_total_coverage" value="<?php //echo $_product->getCoveragePerPack(); ?>">
    <label>TOTAL COVERAGE:</label><span id="coverage_value"><?php //echo $_product->getCoveragePerPack(); ?> SQM</span>
  </div> -->
  <button type="button" class="action Calculate_link" data-trigger="trigger">
      <span data-bind="i18n: 'Calculate area required'"></span>
  </button>
  <div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('PACKS NEEDED')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('PACKS NEEDED')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <div class="coverage_txt">
          <input type="hidden" name="h_total_coverage" id="h_total_coverage" value="<?php echo $_product->getCoveragePerPack(); ?>">
          <label>Total coverage : </label><span id="coverage_value"><?php echo $_product->getCoveragePerPack(); ?> SQM</span>
        </div>
        <?php endif; ?>
      <?php if ($block->displayProductStockStatus()) :?>
      <?php if ($_product->isAvailable()) :?>
        <div class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('In stock')) ?></span>
        </div>
      <?php else :?>
        <div class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </div>
      <?php endif; ?>
      <?php endif; ?>
      <?php if ($_product->isSaleable()) :?>
        <div>
          <label>TOTAL PRICE 12 : </label>
        </div>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
        
    </div>
</div>

<?php else: ?> 


<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('PACKS NEEDED')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('PACKS NEEDED')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <div>
          <label>Total coverage : </label>
        </div>
        <?php endif; ?>
      <?php if ($block->displayProductStockStatus()) :?>
      <?php if ($_product->isAvailable()) :?>
        <div class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('In stock')) ?></span>
        </div>
      <?php else :?>
        <div class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </div>
      <?php endif; ?>
      <?php endif; ?>
      <?php if ($_product->isSaleable()) :?>
        <div>
          <label>TOTAL PRICE : </label>
        </div>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>

<script type="text/javascript">
require(["jquery","domReady!"], function ($) {
    

    $(function() {
       $('#registered_participants').on('click', '.remove', function() {
          $(this).parent().parent().remove();
          var total = 0;
          $(".firsttotal").each(function() {
              total += parseFloat($(this).text());
          });

          if(total != ''){
            if(!isNaN(total)){
              $("#totoalarea").html(total+" SQM");
            }
            var totalcoverage = $("#h_total_coverage").val();
            var totalpackdata = parseFloat(total) / parseFloat(totalcoverage);
            if(totalpackdata != ''){

              if(!isNaN(totalpackdata)){
                $("#totoalpackrequired").html(Math.round(totalpackdata));
              }

              var excesstotal = (parseFloat(totalpackdata) * parseFloat(totalcoverage) - parseFloat(total)) / parseFloat(total) * parseFloat(100);
              if(!isNaN(excesstotal)){
                $("#totoalexcess").html(excesstotal.toFixed(2)+" %");  
              }
            }
            
          }
       }); 
       $('#registered_participants').on('change', '.inputdata', function() {
            var attributeIdString = $(this).attr('id');
            var attributeIdArray = attributeIdString.split("_");
            //alert(attributeIdArray[1]);
            var firstRoomData = $("#firstroom_"+attributeIdArray[1]).val();
            var secondRoomData = $("#secondroom_"+attributeIdArray[1]).val();
            //alert(firstRoomData+'====='+secondRoomData);
            
            if(firstRoomData != '' && secondRoomData != ''){
                var totalRoomData = firstRoomData * secondRoomData; 
                if(!isNaN(totalRoomData)){
                  $("#firttotal_"+attributeIdArray[1]).html(totalRoomData.toFixed(2)+" SQM");
                }
            }

            //var tottalAreaArray = [];
            var total = 0;
            $(".firsttotal").each(function() {
                total += parseFloat($(this).text());
            });

            if(total != ''){
              if(!isNaN(total)){
                $("#totoalarea").html(total+" SQM");
              }
              var totalcoverage = $("#h_total_coverage").val();
              var totalpackdata = parseFloat(total) / parseFloat(totalcoverage);
              if(totalpackdata != ''){

                if(!isNaN(totalpackdata)){
                  $("#totoalpackrequired").html(Math.round(totalpackdata));
                }

                var excesstotal = (parseFloat(Math.round(totalpackdata)) * parseFloat(totalcoverage) - parseFloat(total)) / parseFloat(total) * parseFloat(100);
                //alert(parseFloat(totalpackdata)+'=='+parseFloat(totalcoverage)+'=='+parseFloat(total)+'==='+parseFloat(total)+'===='+parseFloat(100));
                //var excesstotal = (8*2.40-18)/18*100 ;
                if(!isNaN(excesstotal)){
                  $("#totoalexcess").html(Math.round(excesstotal)+" %");  
                }
              }
              
            }
        });
    });

    var i = 2;
    $(document).on("click","#addnew",function() {
        $("#registered_participants").append('<div><div><a href="javascript:;" class="remove">remove</a></div><label>Room'+i+'</label> <input type="text" class="inputdata" name="firstroom_'+i+'" id="firstroom_'+i+'"><input type="text" class="inputdata" name="secondroom_'+i+'" id="secondroom_'+i+'"><div>=<div id="firttotal_'+i+'" class="firsttotal"></div></div></div>');

        i++;
    });

    $(function () {
        $('#registered_participants').on('keydown', '.inputdata', function(event) {
        //$(".inputdata").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }
            
            if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();

        });
    });
});
</script>

 <div data-bind="mageInit: {
      'Magento_Ui/js/modal/modal':{
          'type': 'popup',
          'title': 'SQUARE METER CALCULATOR',
          'trigger': '[data-trigger=trigger]',
          'responsive': true,
          buttons: [{
          text: jQuery.mage.__('Confirm'),
          class: 'action',
          click: function () {
              jQuery('#qty').attr('value',jQuery('#totoalpackrequired').text());
              var totalcoveragedata = parseFloat(jQuery('#h_total_coverage').val()) + parseFloat(jQuery('#totoalarea').text());
              jQuery('#coverage_value').html(totalcoveragedata+' SQM');
              this.closeModal();
          }
      }]
      }}">
      <div class="content">
          <div class="row">
              <div class="first" id="registered_participants">
                  <div>
                      <label>Room1</label> 
                      <input type="text" name="firstroom_1" class="inputdata" id="firstroom_1">
                      <input type="text" name="secondroom_1" class="inputdata" id="secondroom_1">
                      <div>=<div id="firttotal_1" class="firsttotal"></div></div>
                  </div>
              </div>
              <div><a href="javascript:;" id="addnew">Add New</a></div>
          </div>
          <div>
              <div><label>TOTAL AREA:</label><div id="totoalarea"></div></div>
              <div><label>EXCESS:</label><div id="totoalexcess"></div></div>
              <div><label>Total Packs Required:</label><div id="totoalpackrequired"></div></div>
          </div>
      </div>
    </div> 

