<!-- Product Specifications for carpet category start -->
<?php
$_product = $block->getProduct();
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);

$categoryIds = $product->getCategoryIds();

$categories = $blockobj->getCategoryCollection()
->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
$cate_arr[] = $category->getName();
}
?>
<?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
<div class="product info detailed accordion" id="productInfo">
	<div class="product-feature product-info-block">
			<h2 class="heading">Features</h2>
		<div class="content">
			<ul>
			<?php $_product = $block->getProduct();

			$blockobj = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
			$mediaUrl = $blockobj->getMediaUrl();

			//echo $_product->getId();
			$optionIds =  $_product->getCarpetFeatures();
			$optionId = array();
			$optionId = explode(',', $optionIds);
			// echo "<pre>";
			// print_r($optionId);die();


			foreach ($optionId as $key) {
				?>
				<li>
					<?php
						$attr = $_product->getResource()->getAttribute('carpet_features');
						if ($attr->usesSource()) {
						$optionText = $attr->getSource()->getOptionText($key);
						}

						$img_name  = str_replace(' ', '-', strtolower(trim($optionText))).'.png';

						?>
						<div class="feature-img"><img src="<?= $mediaUrl.'carpet_features/'.$img_name; ?>"/></div>
						<p><?php echo trim($optionText); ?></p>

				</li>
			<?php } ?>
			</ul>
		</div>
	</div>
	<div class="mobile_description product attribute description">
		<h2 class="heading">Product Description</h2>
		<div class="product attribute description content">
	    <div class="value">
	      	<p><?= $text = str_replace('?', ' ', utf8_decode($_product->getData('paragraph_1'))); ?></p>
	        <p><?= $text = str_replace('?', ' ', utf8_decode($_product->getData('paragraph_2'))); ?></p>
	        <p><?= $text = str_replace('?', ' ', utf8_decode($_product->getData('paragraph_3'))); ?></p>
	    </div>
		</div>
	</div>
	<div class="product-specifications product-info-block">
			<h2 class="heading">Product Specifications</h2>
		<div class="table-responsive content">
			<table cellpadding="0" cellspacing="0" border="0" class="specs-table">
				<tbody>
					<tr>
						<th>Style</th>
						<td>
							<?php
							$style =  $_product->getCarpetStyle();
							$attr = $_product->getResource()->getAttribute('carpet_style');
									if ($attr->usesSource()) {
										$styleText = $attr->getSource()->getOptionText($style);
									}
									echo trim($styleText);
							?>
						</td>
					</tr>
					<tr>
						<th>Colour</th>
						<td>
							<?php
						        $data = explode(',',$product->getData('carpet_colour_group'));
						        $num_of_items = count($data);
  								$num_count = 0;
						        foreach($data as $value):
						    ?>
						        <?php
						        $attr = $product->getResource()->getAttribute('carpet_colour_group');
						        if ($attr->usesSource()): ?>
						            <?php
						                $option_value = $attr->getSource()->getOptionText($value);

						            ?>
						            <span><?php
						            echo $option_value;
						            $num_count = $num_count + 1;
								    if ($num_count < $num_of_items) {
								      echo ", ";
								    }
						            ?></span>


						        <?php endif;?>
						    <?php endforeach;?>
						</td>
					</tr>
					<tr>
						<th>Fibre</th>
						<td><?php
						        $data = explode(',',$product->getData('carpet_fibre'));
						        $num_of_items = count($data);
  								$num_count = 0;
						        foreach($data as $value):
						    ?>
						        <?php
						        $attr = $product->getResource()->getAttribute('carpet_fibre');
						        if ($attr->usesSource()): ?>
						            <?php
						                $option_value = $attr->getSource()->getOptionText($value);
						            ?>
						            <span><?php
						            echo $option_value;
						            $num_count = $num_count + 1;
								    if ($num_count < $num_of_items) {
								      echo ", ";
								    }
						            ?></span>

						        <?php endif;?>
						    <?php endforeach;?></td>
					</tr>
					<tr>
						<th>Environment</th>
						<td><?= $_product->getCarpetEnvironment(); ?></td>
					</tr>
					<tr>
						<th>Warranty</th>
						<td><?= $_product->getCarpetWarranty(); ?></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Product Specifications for carpet category ends -->
<!-- Product Specifications for hard flooring category start -->
<?php elseif (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
<div class="product info detailed accordion">
	<div class="product-specifications product-info-block">
		<h2 class="heading">Product Specifications</h2>
		<div class="table-responsive specs-table content">
			<table cellpadding="0" cellspacing="0" border="0" class="specs-table">
				<tbody>
					
					<?php $categoryType = $cate_arr[1];?>
					<?php if($categoryType != ""):?>
						<tr>
							<th>Flooring Type</th>
							<td><?php print_r($cate_arr[1]);
							// echo '<pre>';
							// print_r($cate_arr);
							?>
							</td>
						</tr>
					<?php endif;?>
					<?php //$countryManufacture = $_product->getAttributeText('country_of_manufacture');?>
					<?php $countryManufacture = $_product->getCountryOfManufacture();?>
					<?php if($countryManufacture != ""):?>
						<tr>
							<th>Country of origin manufacture</th>
							<td>
								<?= $_product->getAttributeText('country_of_manufacture');?>
							</td>
						</tr>
				    <?php endif;?>
				    <?php $hf_color_group = $_product->getAttributeText('hf_color_group');?>
				    <?php if($hf_color_group != ""):?>
						<tr>
							<th>Colour</th>
							<td>
								<?= $_product->getAttributeText('hf_color_group');?>
							</td>
						</tr>
					<?php endif;?>
					<?php $price = $_product->getPrice();?>
					<?php $coveragePerPack = $_product->getCoveragePerPack();?>
					<?php if($price != "" && $coveragePerPack != ""):?>
						<tr>
							<th>Price per pack</th>
							<td>
							<?php
							echo $blockobj->getCurrencySymbol();
							echo $price_per_pack = $_product->getPrice() * $_product->getCoveragePerPack(); ?></td>
						</tr>
					<?php endif;?>
					<?php $boardsPerPack = $_product->getBoardsPerPack();?>
					<?php if($boardsPerPack != ""):?>
						<tr>
							<th>Boards per pack</th>
							<td><?= $_product->getBoardsPerPack(); ?></td>
						</tr>
					<?php endif;?>
					<?php $perPack = $_product->getCoveragePerPack();?>
					<?php if($perPack != ""):?>
						<tr>
							<th>Coverage per pack</th>
							<td><?= $_product->getCoveragePerPack().'/sqm'; ?></td>
						</tr>
					<?php endif;?>
					<?php $productLength = $_product->getProductLength();?>
					<?php if($productLength != ""):?>
						<tr>
							<th>Product length</th>
							<td><?= $_product->getProductLength(); ?></td>
						</tr>
					<?php endif;?>
					<?php $productWidth = $_product->getProductWidth();?>
					<?php if($productWidth != ""):?>
						<tr>
							<th>Product - Width</th>
							<td><?= $_product->getProductWidth(); ?></td>
						</tr>
					<?php endif;?>
					<?php $productThickness = $_product->getProductThickness();?>
					<?php if($productThickness != ""):?>
						<tr>
							<th>Product - Thickness Veneer</th>
							<td><?= $_product->getProductThickness(); ?></td>
						</tr>
					<?php endif;?>
					<?php $productThicknessTotal = $_product->getProductThicknessTotal();?>
					<?php if($productThicknessTotal != ""):?>
						<tr>
							<th>Product - Thickness Total</th>
							<td><?= $_product->getProductThicknessTotal(); ?></td>
						</tr>
					<?php endif;?>
					<?php $packLength = $_product->getPackLength();?>
					<?php if($packLength != ""):?>
						<tr>
							<th>Pack - Length</th>
							<td><?= $_product->getPackLength(); ?></td>
						</tr>
					<?php endif;?>
					<?php $packWidth = $_product->getPackWidth();?>
					<?php if($packWidth != ""):?>
						<tr>
							<th>Pack - Width</th>
							<td><?= $_product->getPackWidth(); ?></td>
						</tr>
					<?php endif;?>
					<?php $packThickness = $_product->getPackThickness();?>
					<?php if($packThickness != ""):?>
						<tr>
							<th>Pack - Thickness</th>
							<td><?= $_product->getPackThickness(); ?></td>
						</tr>
					<?php endif;?>
					<?php $packWeight = $_product->getPackWeight();?>
					<?php if($packWeight != ""):?>
						<tr>
							<th>Pack - Weight</th>
							<td><?= $_product->getPackWeight(); ?></td>
						</tr>
					<?php endif;?>
					<?php $underlayOptions = $_product->getUnderlayOptions();?>
					<?php if($underlayOptions != ""):?>
						<tr>
							<th>Underlay Options</th>
							<td><?= $_product->getUnderlayOptions(); ?></td>
						</tr>
					<?php endif;?>
					<?php $boardType = $_product->getBoardType();?>
					<?php if($boardType != ""):?>
						<tr>
							<th>Board Type</th>
							<td><?= $_product->getBoardType(); ?></td>
						</tr>
					<?php endif;?>
					<?php $supplier = $_product->getSupplier();?>
					<?php if($supplier != ""):?>
						<tr>
							<th>Supplier</th>
							<td><?= $_product->getSupplier(); ?></td>
						</tr>
					<?php endif;?>
					<?php $installationOptions = $_product->getInstallationOptions();?>
					<?php if($installationOptions != ""):?>
						<tr>
							<th>Installation Options</th>
							<td><?= $_product->getInstallationOptions(); ?></td>
						</tr>
					<?php endif;?>
					<?php $glueOptions = $_product->getGlueOptions();?>
					<?php if($glueOptions != ""):?>
						<tr>
							<th>Glue Options</th>
							<td><?= $_product->getGlueOptions(); ?></td>
						</tr>
					<?php endif;?>
					<?php $scotiaOptions = $_product->getScotiaOptions();?>
					<?php if($scotiaOptions != ""):?>
						<tr>
							<th>Scotia Options</th>
							<td><?= $_product->getScotiaOptions(); ?></td>
						</tr>
					<?php endif;?>
					<?php $accessories = $_product->getAccessories();?>
					<?php if($accessories != "" && $accessories != "nil"):?>
						<tr>
							<th>Accessories</th>
							<td><?= $_product->getAccessories(); ?></td>
						</tr>
					<?php endif;?>
					<?php $edgeType = $_product->getEdgeType();?>
					<?php if($edgeType != ""):?>
						<tr>
							<th>Edge Type</th>
							<td><?= $_product->getEdgeType(); ?></td>
						</tr>
					<?php endif;?>
					<?php $jointSystem = $_product->getJointSystem();?>
					<?php if($jointSystem != ""):?>
						<tr>
							<th>Joint System</th>
							<td><?= $_product->getJointSystem(); ?></td>
						</tr>
					<?php endif;?>
					<?php $surfaceFinish = $_product->getSurfaceFinish();?>
					<?php if($surfaceFinish != ""):?>
						<tr>
							<th>Surface Finish</th>
							<td><?= $_product->getSurfaceFinish(); ?></td>
						</tr>
					<?php endif;?>
					<?php $jankaRating = $_product->getJankaRating();?>
					<?php if($jankaRating != ""):?>
						<tr>
							<th>Janka Rating</th>
							<td><?= $_product->getJankaRating(); ?></td>
						</tr>
					<?php endif;?>
					<?php $structuralWarranty = $_product->getStructuralWarranty();?>
					<?php if($structuralWarranty != ""):?>
						<tr>
							<th>Structural Warranty</th>
							<td><?= $_product->getStructuralWarranty(); ?></td>
						</tr>
					<?php endif;?>
					<?php $wearLayerWarranty = $_product->getWearLayerWarranty();?>
					<?php if($wearLayerWarranty != ""):?>
						<tr>
							<th>Wear Layer Warranty</th>
							<td><?= $_product->getWearLayerWarranty(); ?></td>
						</tr>
					<?php endif;?>
					<?php $constructionStyle = $_product->getConstructionStyle();?>
					<?php if($constructionStyle != ""):?>
						<tr>
							<th>Construction Style</th>
							<td><?= $_product->getConstructionStyle(); ?></td>
						</tr>
					<?php endif;?>
					<?php $recommendedUse = $_product->getRecommendedUse();?>
					<?php if($recommendedUse != ""):?>
						<tr>
							<th>Recommended Use</th>
							<td><?= $_product->getRecommendedUse(); ?></td>
						</tr>
					<?php endif;?>
					<?php $recommendedAreasOfUse = $_product->getRecommendedAreasOfUse();?>
					<?php if($recommendedAreasOfUse != ""):?>
						<tr>
							<th>Recommended Areas of Use</th>
							<td><?= $_product->getRecommendedAreasOfUse(); ?></td>
						</tr>
					<?php endif;?>
					<?php $standardsCoating = $_product->getStandardsCoating();?>
					<?php if($standardsCoating != ""):?>
						<tr>
							<th>Standards - Coating</th>
							<td><?= $_product->getStandardsCoating(); ?></td>
						</tr>
					<?php endif;?>
					<?php $standardsAcRating = $_product->getStandardsAcRating();?>
					<?php if($standardsAcRating != ""):?>
						<tr>
							<th>Standards - Ac Rating</th>
							<td><?= $_product->getStandardsAcRating(); ?></td>
						</tr>
					<?php endif;?>
					<?php $standardsCoreType = $_product->getStandardsCoreType();?>
					<?php if($standardsCoreType != ""):?>
						<tr>
							<th>Standards - Core Type</th>
							<td><?= $_product->getStandardsCoreType(); ?></td>
						</tr>
					<?php endif;?>
					<?php $standardsAntiSlipTest = $_product->getStandardsAntiSlipTest();?>
					<?php if($standardsAntiSlipTest != ""):?>
						<tr>
							<th>Standards - Anti Slip Test</th>
							<td><?= $_product->getStandardsAntiSlipTest(); ?></td>
						</tr>
					<?php endif;?>
					<?php $standardsBase = $_product->getStandardsBase();?>
					<?php if($standardsBase != ""):?>
						<tr>
							<th>Standards - Base</th>
							<td><?= $_product->getStandardsBase(); ?></td>
						</tr>
					<?php endif;?>
					<?php $isoCertification = $_product->getIsoCertification();?>
					<?php if($isoCertification != ""):?>
						<tr>
							<th>ISO Certification</th>
							<td><?= $_product->getIsoCertification(); ?></td>
						</tr>
					<?php endif;?>
					<?php $trimOptions = $_product->getTrimOptions();?>
					<?php if($trimOptions != ""):?>
						<tr>
							<th>Trim Options</th>
							<td><?= $_product->getTrimOptions(); ?></td>
						</tr>
					<?php endif;?>
					<tr class="see-more-row">
						<td colspan="2">
							<a href="javascript:void(0);" id="seeMoreSpecs">See more</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div class="product attribute description product-info-block">
		<h2 class="heading">Product Description</h2>
        <div class="value content">
          <p><?= $_product->getData('paragraph_1'); ?></p>
          <p><?= $_product->getData('paragraph_2'); ?></p>
          <p><?= $_product->getData('paragraph_3'); ?></p>
        </div>
	</div>
</div>
<!-- Product Specifications for hard flooring category ends -->
<!-- Product Specifications for rugs category start -->
<?php elseif ((in_array("Rugs", $cate_arr, TRUE)) || (in_array("Rugs Clearance", $cate_arr, TRUE))) : ?>
<div class="product info detailed accordion">
	<div class="product-specifications product-info-block">
		<h2 class="heading">Product Specifications</h2>
		<div class="table-responsive specs-table content">
			<table cellpadding="0" cellspacing="0" border="0" class="specs-table">
				<tbody>
					<tr>
						<th>Yarn Type</th>
						<td>
							<?= $_product->getYarnType();?>
						</td>
					</tr>
					<tr>
						<th>Size</th>
						<td>
							<span class="selected-option-label">Choose an option from Available sizes</span>
						</td>
					</tr>
					<tr>
						<th class="weight-custom-label"></th>
						<td>
							<span class="weight-custom"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div class="product attribute description rugs-description product-info-block">
		<h2 class="heading">Product Description</h2>
        <div class="value content">
          <p><?= $_product->getData('paragraph_1'); ?></p>
          <p><?= $_product->getData('paragraph_2'); ?></p>
          <p><?= $_product->getData('paragraph_3'); ?></p>
        </div>
	</div>
	<?php if (!empty($_product->getCareInstructions())) { ?>
	<div class="product attribute  care-instruction product-info-block">
		<h2 class="heading">Care Instructions</h2>
        <div class="value content">
          <p><?= $_product->getCareInstructions(); ?></p>
        </div>
	</div>
	<?php } ?>
</div>
<!-- Product Specifications for hard flooring category ends -->
<?php elseif ((in_array("Accessories", $cate_arr, TRUE)) || (in_array("Underlay", $cate_arr, TRUE)) || (in_array("Cleaning & Repair kits", $cate_arr, TRUE)) || (in_array("Trims", $cate_arr, TRUE))|| (in_array("Scotia", $cate_arr, TRUE))) :?>
<div class="product info detailed accordion" id="productInfo">
	<div class="accessories product attribute description product-info-block">
		<h2 class="heading">Product Description</h2>
		<div class="product attribute description content">
			<div class="value">
			<p><?= $_product->getData('paragraph_1'); ?></p>
			</div>
		</div>
	</div>
</div>
<?php if (!empty($_product->getCareInstructions())) { ?>
	<div class="product info detailed accordion blind-accordion">
	<div class="product-info-block">
		<h2 class="heading">Care Instructions</h2>
		<div class="value content core-intructions">
		<p><?= $_product->getCareInstructions(); ?></p>
		</div>
	</div>
</div>
<?php } ?>

<?php elseif ((in_array("Blinds", $cate_arr, TRUE)) || (in_array("Shutters", $cate_arr, TRUE))) :?>
<div class="product info detailed accordion blind-accordion">
	<div class="product-info-block">
		<h2 class="heading">Features</h2>
		<div class="value content feature-list">
			<p><?= $_product->getData('blinds_features'); ?></p>
		</div>
	</div>
</div>
<?php if (!empty($_product->getCareInstructions())) { ?>
<div class="product info detailed accordion blind-accordion">
	<div class="product-info-block">
		<h2 class="heading">Care Instructions</h2>
		<div class="value content core-intructions">
		<p><?= $_product->getCareInstructions(); ?></p>
		</div>
	</div>
</div>
<?php } ?>
<?php endif; ?>


<div class="cc-trustpilot-product-page-widget">
	<!-- <p>HEAR WHAT OUR CUSTOMERS HAVE TO SAY</p> -->
	<!-- load trustpilot widget here -->
</div>

<script type="text/javascript">
	require([
		'jquery',
		],function($) {
		    $('select.super-attribute-select').on('change', function() {
		        var swatchlabel = $('.super-attribute-select option:selected').text();
		        $(".selected-option-label").html(swatchlabel.split('-')[0]);
		    });

		    $("h2.heading").click(function(){
		    	$(this).next('.content').slideToggle(); 
		    });
    });
</script>

<!-- collpasible for mobile -->
<!-- <script type="text/javascript">
        require([
    'jquery',
    'collapsible',
    'matchMedia',
    'domReady!',
], function ($) {
    'use strict';

    var helpers = {
        domReady: function() {
            var accordionResize = function($accordions) {
                $accordions.forEach(function(element, index){
                    var $accordion = $(element);
                    mediaCheck({
                        media: '(min-width: 768px)',
                        entry: function() { // desktop
                            $accordion.collapsible('activate');
                            $accordion.collapsible('option', 'collapsible', false);
                        },
                        exit: function() { // mobile
                            $accordion.collapsible('deactivate');
                            $accordion.collapsible('option', 'collapsible', true);
                        }
                    });
                });
            };

            var $container = $('.accordion'),
                $accordions = [],
                accordionOptions = {
                    collapsible: true,
                    header: '.heading',
                    trigger: '',
                    content: '.content',
                    openedState: 'active',
                    animate: false
                };

            $container.children("div").each(function(index, elem){
                var $this = $(elem),
                    $accordion = $this.collapsible(accordionOptions);

                $accordions.push($accordion);
            });

            accordionResize($accordions);
        }
    };

    helpers.domReady();
});
</script> -->

<!-- <script>
	require([
		'jquery',
		],function($) {
			$(document).ready(function() {
				 $([document.documentElement, document.body]).animate({
			        scrollTop: 0
			    });

				window.onbeforeunload = function () {
					window.scrollTo(0, 0);
				}
				if ($(window).width() >= 1024){
					var scrollTopVar = setInterval(() => {
						window.scroll(0, 0);
					}, 100);

					if(document.readyState === 'complete') {
						ScrollToTop();
					} else {
						if (window.addEventListener) {  
							window.addEventListener('load', ScrollToTop, false);
						} else {
							window.attachEvent('onload', ScrollToTop);
						}
					}

					function ScrollToTop() {
						clearInterval(scrollTopVar);
					}
				}

				if ($("body.catalog-product-view[class*='hard-flooring'] #seeMoreSpecs").length && $("body.catalog-product-view[class*='hard-flooring'] .specs-table").find("tbody > tr:not(.see-more-row)").length > 6){
					var specsTable = $("body.catalog-product-view[class*='hard-flooring'] .specs-table");
					var specsMoreRow = specsTable.find("tbody > tr:not(.see-more-row):not(:lt(6))");
					specsMoreRow.hide();
				}
				else{
					$(".see-more-row").hide();
				}
			});
			var clicks = 0;
			$("#seeMoreSpecs").click(function(){
				if ($("body.catalog-product-view[class*='hard-flooring'] .specs-table").find("tbody > tr:not(.see-more-row)").length > 6) {
				  if(clicks == 0){
					var specsTable = $("body.catalog-product-view[class*='hard-flooring'] .specs-table");
					var specsMoreRow = specsTable.find("tbody > tr:not(.see-more-row):not(:lt(6))");
					specsMoreRow.css('display','table-row');
					$(".see-more-row a").text('See less');
					clicks++;
				  } else {
				    var specsTable = $("body.catalog-product-view[class*='hard-flooring'] .specs-table");
					var specsMoreRow = specsTable.find("tbody > tr:not(.see-more-row):not(:lt(6))");
					specsMoreRow.hide();
					$(".see-more-row a").text('See more');
					clicks--;
				  }
		    	}
		    });
	});
</script>
 -->