<?php 
$_product = $block->getProduct();
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);
 
$categoryIds = $product->getCategoryIds();
 
$categories = $blockobj->getCategoryCollection()
                    ->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
    $cate_arr[] = $category->getName();
}
?>
<?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
<div>
<?php
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('free_flooring_measure')
          ->toHtml();
?>

</div>
<?php elseif ((in_array("Hard Flooring", $cate_arr, TRUE)) ||(in_array("Rugs", $cate_arr, TRUE)) ||(in_array("Rugs Clearance", $cate_arr, TRUE))) : ?>

    <?php if (in_array("Rugs", $cate_arr, TRUE)):?>
        <!-- Only for Rugs -->
        <div class="accordion">
        <div class="return-policy product-info-block">
            <h2 class="heading">Change of Mind</h2>
            <div class="content">
                <?php
                echo $this->getLayout()
                          ->createBlock('Magento\Cms\Block\Block')
                          ->setBlockId('rugs_return_policy_for_products')
                          ->toHtml();
                ?>
                <p></p>
            </div>
        </div>
        </div>
        <!-- Only for Rugs -->
    <?php else:?>
        <div class="accordion">
        <div class="return-policy product-info-block">
            <h2 class="heading">Returns Policy</h2>
            <div class="content">
                <?php
                echo $this->getLayout()
                          ->createBlock('Magento\Cms\Block\Block')
                          ->setBlockId('hf_return_policy_for_products')
                          ->toHtml();
                ?>
                <p></p>
            </div>
        </div>
        </div>
    <?php endif;?>
    
<?php elseif (in_array("Shutters", $cate_arr, TRUE)) :?>
<?php
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('free_flooring_measure_shutters')
          ->toHtml();
?>
<?php elseif (in_array("Blinds", $cate_arr, TRUE)) :?>
<?php
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('free_flooring_measure_blinds')
          ->toHtml();
?>
<?php endif; ?>

<?php
$cat_details = $block->getLayout()->createBlock('Carpetcall\Productlisting\Block\Productlisting');
$blockobjdetails = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Details')
?>
<?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
 <div class="blog-wrapper guides-section">
    <div class="blog-widget-title">
 	  <h2 class="blog-title">CARPET BLOG</h2>
    </div>
 	<?php 
    
    $cat_data = $cat_details->getCategories();
    foreach ($cat_data as $key => $value) {
    	if ($value['name'] == 'Carpet') {
    		echo '<p>'.$value['description'].'</p>';
    	}
    }
    
    //     print_r($cat_data);
    //     die();
    $post_block = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost');
    $posts = $cat_details->getPosts('Carpet');
    
    ?>
    <div class="post-list-container mpcss">
            <div class="row  owl-carousel owl-theme blog-guides">
                <?php foreach ($posts as $post => $value) : ?>
                    <?php foreach ($value as $post => $post_data) : ?>
                    <?php
                    // echo "<pre>";
                    // print_r($post_data);die();
                    ?>
                    <?php
                    $post_detail_url = $blockobj->getBaseurl().'blog/post/'.$post_data['url_key'];
                    //print_r($cate_arr[0]);
                    ?>
                    <div class="post-list-item">
                        <div class="post-item-wraper">
                                <div class="post-image">
                                <a href="<?= $post_detail_url; ?>">
                                    <img class="img-responsive"
                                         src="<?= $post_block->resizeImage($post_data['image'], '400x'); ?>"
                                         alt="<?= $post_block->escapeHtml($post_data['name']); ?>"/>
                                </a>
                            </div>
                            <div class="post-info-wraper">
                                <h2 class="mp-post-title">
                                    <a class="post-link-title" title="<?= $block->escapeHtml($post_data['name']); ?>"
                                       href="<?= $post_detail_url; ?>"><?= $post_data['name']; ?></a>
                                </h2>
                                <?= $post_data['short_description']; ?>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <div class="clear-button">
        <?php
        $url = $blockobj->getBaseurl().'blog/category/carpet';
        //print_r($cate_arr[0]);
        ?>
        <a href="<?= $url; ?>">VIEW ALL CARPET ARTICLES</a>
    </div>            
        
    </div>
<?php elseif (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
	 <div class="blog-wrapper guides-section">
        <div class="blog-widget-title">
 	      <h2 class="blog-title">HARD FLOORING BLOG</h2>
      </div>
 	<?php 
    
    $cat_data = $cat_details->getCategories();
    foreach ($cat_data as $key => $value) {
    	if ($value['name'] == 'Hard Flooring') {
    		echo $value['description'];
    	}
    }
    $post_block = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost');
    $posts = $cat_details->getPosts('Hard Flooring');
    
    ?>
    <div class="post-list-container mpcss">
            <div class="row  owl-carousel owl-theme blog-guides">
                <?php foreach ($posts as $post => $value) : ?>
                    <?php foreach ($value as $post => $post_data) : ?>
                    <?php
                    // echo "<pre>";
                    // print_r($post_data);die();
                    ?>
                    <?php
                    $post_detail_url = $blockobj->getBaseurl().'blog/post/'.$post_data['url_key'];
                    //print_r($cate_arr[0]);
                    ?>
                    <div class="post-list-item">
                        <div class="post-item-wraper">
                                <div class="post-image">
                                <a href="<?= $post_detail_url; ?>">
                                    <img class="img-responsive"
                                         src="<?= $post_block->resizeImage($post_data['image'], '400x'); ?>"
                                         alt="<?= $post_block->escapeHtml($post_data['name']); ?>"/>
                                </a>
                            </div>
                            <div class="post-info-wraper">
                                <h2 class="mp-post-title">
                                    
                                    <a class="post-link-title" title="<?= $block->escapeHtml($post_data['name']); ?>"
                                       href="<?= $post_detail_url; ?>"><?= $post_data['name']; ?></a>
                                </h2>
                                <?= $post_data['short_description']; ?>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <div class="clear-button">
        <?php
        $url = $blockobj->getBaseurl().'blog/category/hard-flooring';
        //print_r($cate_arr[0]);
        ?>
        <a href="<?= $url; ?>">VIEW ALL HARD FLOORING ARTICLES</a>
    </div>
        
    </div>
<?php elseif ((in_array("Rugs", $cate_arr, TRUE)) ||(in_array("Rugs Clearance", $cate_arr, TRUE))) : ?>
 <div class="blog-wrapper guides-section">
    <div class="blog-widget-title">
 	  <h2 class="blog-title">RUGS BLOG</h2>
    </div>
 	<?php 
    
    $cat_data = $cat_details->getCategories();
    foreach ($cat_data as $key => $value) {
    	if ($value['name'] == 'Rugs') {
    		echo $value['description'];
    	}
    }
    $post_block = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost');
    $posts = $cat_details->getPosts('Rugs');
    
    ?>
    <div class="post-list-container mpcss">
            <div class="row  owl-carousel owl-theme blog-guides">
                <?php foreach ($posts as $post => $value) : ?>
                    <?php foreach ($value as $post => $post_data) : ?>
                    <?php
                    // echo "<pre>";
                    // print_r($post_data);die();
                    ?>
                    <?php
                    $post_detail_url = $blockobj->getBaseurl().'blog/post/'.$post_data['url_key'];
                    //print_r($cate_arr[0]);
                    ?>
                    <div class="post-list-item">
                        <div class="post-item-wraper">
                                <div class="post-image">
                                <a href="<?= $post_detail_url; ?>">
                                    <img class="img-responsive"
                                         src="<?= $post_block->resizeImage($post_data['image'], '400x'); ?>"
                                         alt="<?= $post_block->escapeHtml($post_data['name']); ?>"/>
                                </a>
                            </div>
                            <div class="post-info-wraper">
                                <h2 class="mp-post-title">
                                    <a class="post-link-title" title="<?= $block->escapeHtml($post_data['name']); ?>"
                                       href="<?= $post_detail_url; ?>"><?= $post_data['name']; ?></a>
                                </h2>
                                <?= $post_data['short_description']; ?>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <div class="clear-button">
        <?php
        $url = $blockobj->getBaseurl().'blog/category/rugs';
        //print_r($cate_arr[0]);
        ?>
        <a href="<?= $url; ?>">VIEW ALL RUGS ARTICLES</a>
    </div>            
        
    </div>
<?php elseif (in_array("Blinds", $cate_arr, TRUE)) : ?>
 <div class="blog-wrapper guides-section">
    <div class="blog-widget-title">
      <h2 class="blog-title">BLINDS BLOG</h2>
    </div>
    <?php 
    
    $cat_data = $cat_details->getCategories();
    foreach ($cat_data as $key => $value) {
        if ($value['name'] == 'Blinds') {
            echo $value['description'];
        }
    }
    $post_block = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost');
    $posts = $cat_details->getPosts('Blinds');
    
    ?>
    <div class="post-list-container mpcss">
            <div class="row  owl-carousel owl-theme blog-guides">
                <?php foreach ($posts as $post => $value) : ?>
                    <?php foreach ($value as $post => $post_data) : ?>
                    <?php
                    // echo "<pre>";
                    // print_r($post_data);die();
                    ?>
                    <?php
                    $post_detail_url = $blockobj->getBaseurl().'blog/post/'.$post_data['url_key'];
                    //print_r($cate_arr[0]);
                    ?>
                    <div class="post-list-item">
                        <div class="post-item-wraper">
                                <div class="post-image">
                                <a href="<?= $post_detail_url; ?>">
                                    <img class="img-responsive"
                                         src="<?= $post_block->resizeImage($post_data['image'], '400x'); ?>"
                                         alt="<?= $post_block->escapeHtml($post_data['name']); ?>"/>
                                </a>
                            </div>
                            <div class="post-info-wraper">
                                <h2 class="mp-post-title">
                                    <a class="post-link-title" title="<?= $block->escapeHtml($post_data['name']); ?>"
                                       href="<?= $post_detail_url; ?>"><?= $post_data['name']; ?></a>
                                </h2>
                                <?= $post_data['short_description']; ?>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <div class="clear-button">
        <?php
        $url = $blockobj->getBaseurl().'blog/category/blinds';
        //print_r($cate_arr[0]);
        ?>
        <a href="<?= $url; ?>">VIEW ALL BLINDS ARTICLES</a>
    </div>            
        
    </div>
<?php elseif (in_array("Shutters", $cate_arr, TRUE)) : ?>
 <div class="blog-wrapper guides-section">
    <div class="blog-widget-title">
      <h2 class="blog-title">SHUTTERS BLOG</h2>
    </div>
    <?php 
    
    $cat_data = $cat_details->getCategories();
    foreach ($cat_data as $key => $value) {
        if ($value['name'] == 'Shutters') {
            echo $value['description'];
        }
    }
    $post_block = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost');
    $posts = $cat_details->getPosts('Shutters');
    
    ?>
    <div class="post-list-container mpcss">
            <div class="row  owl-carousel owl-theme blog-guides">
                <?php foreach ($posts as $post => $value) : ?>
                    <?php foreach ($value as $post => $post_data) : ?>
                    <?php
                    // echo "<pre>";
                    // print_r($post_data);die();
                    ?>
                    <?php
                    $post_detail_url = $blockobj->getBaseurl().'blog/post/'.$post_data['url_key'];
                    //print_r($cate_arr[0]);
                    ?>
                    <div class="post-list-item">
                        <div class="post-item-wraper">
                                <div class="post-image">
                                <a href="<?= $post_detail_url; ?>">
                                    <img class="img-responsive"
                                         src="<?= $post_block->resizeImage($post_data['image'], '400x'); ?>"
                                         alt="<?= $post_block->escapeHtml($post_data['name']); ?>"/>
                                </a>
                            </div>
                            <div class="post-info-wraper">
                                <h2 class="mp-post-title">
                                    <a class="post-link-title" title="<?= $block->escapeHtml($post_data['name']); ?>"
                                       href="<?= $post_detail_url; ?>"><?= $post_data['name']; ?></a>
                                </h2>
                                <?= $post_data['short_description']; ?>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <div class="clear-button">
        <?php
        $url = $blockobj->getBaseurl().'blog/category/shutters';
        //print_r($cate_arr[0]);
        ?>
        <a href="<?= $url; ?>">VIEW ALL SHUTTERS ARTICLES</a>
    </div>            
        
    </div>
<?php endif; ?>