<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper(Magento\Catalog\Helper\Output::class); ?>
<?php $_product = $block->getProduct(); ?>
<?php
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);

$categoryIds = $product->getCategoryIds();

$categories = $blockobj->getCategoryCollection()
                    ->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
    $cate_arr[] = $category->getName();
}

// echo '<pre>';
// print_r($cate_arr);die();
?>

<div class="product-add-form">
    <?= $block->getChildHtml('product.info.header'); ?>
    <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
          action="<?= $block->escapeUrl($block->getSubmitUrl($_product)) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()) :?> enctype="multipart/form-data"<?php endif; ?>>

        <?php if (in_array("Hard Flooring", $cate_arr, TRUE)) :?>
            <input type="hidden" name="hard_flooring_product" value="yes" />
            <input type="hidden" name="product_name" value="<?= ucwords(strtolower($_product->getName()));?>" />
            <!-- Start - Condition to check if product is of Wall covering category then don't redirect to accessories page-->
            <?php if (in_array("Wall Coverings", $cate_arr, TRUE)) :?>
                <input type="hidden" name="product_category_wall_covering_yes_no" value="yes" />
                <input type="hidden" name="product_url" value="<?php echo $_product->getProductUrl(); ?>" />
            <?php else: ?>
                <input type="hidden" name="product_category_wall_covering_yes_no" value="no" />
            <?php endif; ?>
            
            <!-- End - Condition to check if product is of Wall covering category then don't redirect to accessories page-->
        <?php else: ?>
            <input type="hidden" name="hard_flooring_product" value="no" />
            <input type="hidden" name="product_name" value="<?= ucwords(strtolower($_product->getName()));?>" />
            <input type="hidden" name="product_category_wall_covering_yes_no" value="no" />
        <?php endif; ?>

        <input type="hidden" id="product_id" name="product" value="<?= (int)$_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <input type="hidden" name="item"  value="<?= (int)$block->getRequest()->getParam('id') ?>" />
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getChildHtml('form_top') ?>
        <?php if (!$block->hasOptions()) :?>
            <?= $block->getChildHtml('product_info_form_content') ?>
        <?php else :?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1') :?>
                <?= $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2') :?>
            <?= $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?= $block->getChildHtml('form_bottom') ?>
    </form>
</div>

<script type="text/x-magento-init">
    {
        "[data-role=priceBox][data-price-box=product-id-<?= $block->escapeHtml($_product->getId()) ?>]": {
            "priceBox": {
                "priceConfig":  <?= /* @noEscape */ $block->getJsonConfig() ?>
            }
        }
    }
</script>
