<?php $_product = $block->getProduct(); ?>
<?php
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);

$categoryIds = $product->getCategoryIds();

$categories = $blockobj->getCategoryCollection()
->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
$cate_arr[] = $category->getName();
}
?>
<?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
<div class="accordion">
	<div class="product attribute description">
		<h2 class="heading">Product Description</h2>
	    <div class="value content">
	          <p><?= $text = str_replace('?', ' ', utf8_decode($_product->getData('paragraph_1'))); ?></p>
	          <p><?= $text = str_replace('?', ' ', utf8_decode($_product->getData('paragraph_2'))); ?></p>
	          <p><?= $text = str_replace('?', ' ', utf8_decode($_product->getData('paragraph_3'))); ?></p>
	    </div>
	</div>
</div>
<!-- Carpet ends -->
<!-- Hard Flooring start -->
<?php elseif (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
	<?php 
	if ($_product->getData('pickup_only') == 1) { ?>
		<label class="pickup-label">Pickup Only</label>
	<?php }
	?>
	
	<ul class="hard-floor-code">
		<li><label>PRODUCT CODE: </label><?= $_product->getData('sku'); ?></span></li>
		<li><label>BRAND: </label><?= strtoupper($_product->getData('brands')); ?></span></li>
	</ul>
	<div class="price-wrapper">
		<?php
		$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
		$pr = $abstractProductBlock->getProductPrice($product);?>
		<?= $pr; ?>
		<!-- <span class="unit_name"><?php //echo '/sqm'; ?></span> -->  
	</div>
	<div class="price-pack">
		<label>Price per pack:</label>
		<?php
		echo $blockobj->getCurrencySymbol();
		$spec_pri =  $_product->getSpecialPrice();
          if (!empty($spec_pri)) {
            $price_per_pack = $spec_pri * $_product->getCoveragePerPack(); 
          }else{
            $price_per_pack = $_product->getPrice() * $_product->getCoveragePerPack(); 
          }
		//echo round($price_per_pack);
		echo (int)$price_per_pack; ?>
	</div>
	<!-- <a class="Calculate_link" href="#">Calculate area required</a> -->
	
<!-- Hard Flooring ends -->


<!-- Rugs start -->
<?php elseif ((in_array("Rugs", $cate_arr, TRUE)) || (in_array("Rugs Clearance", $cate_arr, TRUE))) : ?>
	<?php 
	if ($_product->getData('pickup_only') == 1) { ?>
		<label class="pickup-label">Pickup Only</label>
	<?php }
	?>
	<ul class="hard-floor-code">
		<li><label>PRODUCT CODE: </label><span class="value"><?= $_product->getData('sku'); ?></span></li>
	</ul>
<!-- Rugs ends -->
<!-- accessories start -->
<?php elseif (in_array("Accessories", $cate_arr, TRUE)) : ?>
	<ul class="hard-floor-code">
		<li><label>PRODUCT CODE: </label><span class="value"><?= $_product->getData('sku'); ?></span></li>
	</ul>
<!-- accessories ends -->
<?php elseif ((in_array("Blinds", $cate_arr, TRUE)) || (in_array("Shutters", $cate_arr, TRUE))) :?>
<h2 class="heading"><?= (!empty($_product->getData('shutters_h2_title'))) ? $_product->getData('shutters_h2_title'): ''; ?></h2>
<div class="accordion">
	<div class="product attribute description">
	    <div class="value content">
	          <p><?= $_product->getData('paragraph_1'); ?></p>
	          <p><?= $_product->getData('paragraph_2'); ?></p>
	          <p><?= $_product->getData('paragraph_3'); ?></p>
	    </div>
	</div>
</div>
<?php endif; ?>