<?php
$_product = $block->getProduct();
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$productId = $_product->getId();
$product = $blockobj->getProductById($productId);
$categoryIds = $product->getCategoryIds();
$categories = $blockobj->getCategoryCollection()->addAttributeToFilter('entity_id', $categoryIds);
$cate_arr = array();
foreach ($categories as $category) {
    $cate_arr[] = $category->getName();
}
?>
<?php if ((in_array("Blinds", $cate_arr, TRUE)) || (in_array("Shutters", $cate_arr, TRUE))) :?>
<!-- Book free measure button near enquiry now for blinds & shutters category details page -->
    <a href="<?= $blockobj->getBaseurl().'free-home-measure'; ?>" class="action book-measure-btn">Book Free Measure</a>
<?php endif;?>
<?php if ((in_array("Accessories", $cate_arr, TRUE)) || (in_array("Underlay", $cate_arr, TRUE)) || (in_array("Cleaning & Repair kits", $cate_arr, TRUE)) || (in_array("Trims", $cate_arr, TRUE))|| (in_array("Scotia", $cate_arr, TRUE))) :?>

<?php else:?>
    <a href="javascript:void(0);" class="action secondary enquire-now-btn" id="enquire-now-btn">ENQUIRE NOW</a>
    <div id="popup-modal" style="display:none;" class="enquire-form-container">
    <form class="form contact" action="<?php echo $block->getUrl("enquire/index/index") ?>" id="contact-form" method="post" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Your Details')) ?></span></legend><br />
            <div class="row">
                <div class="field name">
                    <label class="label" for="name"><span><?= $block->escapeHtml(__('First Name')) ?></span></label>
                    <div class="control">
                        <input required="true" name="name" id="name" autocomplete="name" title="<?= $block->escapeHtmlAttr(__('First Name')) ?>" value="" class="input-text required" type="text" data-validate="{required:true}" placeholder="E.G. John"/>
                    </div>
                </div>
                <div class="field lastname">
                    <label class="label" for="lastname"><span><?= $block->escapeHtml(__('Last Name')) ?></span></label>
                    <div class="control">
                        <input name="lastname" id="lastname" autocomplete="lastname" title="<?= $block->escapeHtmlAttr(__('Last Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('lastname') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="E.G. Smith"/>
                    </div>
                </div>
            </div>
            <div class="field email">
                <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input name="email" id="email" autocomplete="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="E.G. john.smith@email.com"/>
                </div>
            </div>
            <div class="field telephone">
                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone')) ?></span></label>
                <div class="control">
                    <input name="telephone" id="telephone" autocomplete="telephone" title="<?= $block->escapeHtmlAttr(__('Phone')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" placeholder="E.G. 0212345678" data-validate="{required:true, 'validate-number':true}" />
                </div>
            </div>
            <div class="field store-wrapper row">
                <!-- For Blinds & Shutters no store -->
                <?php if ((in_array("Blinds", $cate_arr, TRUE)) || (in_array("Shutters", $cate_arr, TRUE))) :?>
                <?php else: ?>
                <label for="store" class="label">
                    <span>Select a store</span>
                </label>
                <p>Choose a store that is close to you so we can best respond to your query.</p>
                <?php endif; ?>

                <div class="row">
                    <div class="field state">
                        <label class="label" for="state"><span><?= $block->escapeHtml(__('State')) ?></span></label>
                        <div class="control">
                            <?php
                            $blockobj = $block->getLayout()->createBlock('Carpetcall\Freehomemeasure\Block\Freehomemeasure');
                            $statelist = $blockobj->getStatelist();
                            ?>
                            <select name="state" id="state" autocomplete="state" class="required-entry">
                            <option value="">STATE</option>
                            <?php foreach ($statelist as $value) { ?>
                                <option value="<?php print_r( $value['name']); ?>"><?php print_r( $value['name']); ?></option>
                            <?php } ?>
                            </select>
                        </div>
                    </div>
                    <!-- For Blinds & Shutters no store -->
                    <?php if ((in_array("Blinds", $cate_arr, TRUE)) || (in_array("Shutters", $cate_arr, TRUE))) :?>
                    <?php else: ?>
                    <div class="field store">
                        <label class="label" for="store"><span><?= $block->escapeHtml(__('Select a store')) ?></span></label>
                        <div class="control">
                                <select name="store" id="store_popup" autocomplete="store_popup" class="required-entry">
                                    <option value="">SELECT A STORE</option>
                                </select>
                        </div>
                    </div>
                    <?php endif;?>
                </div>
            </div>
            <div class="cc-product-page-info-dis field">
                <h3 class="cc-sen-head">Product Information</h3>
                <ul>
                    <li>
                        <span class="cc-sen-title">Product </span>: <span class="cc-sen-val"><?= $_product->getName(); ?></span>
                        <input name="productname" id="productname" autocomplete="productname" value="<?= $_product->getName(); ?>" type="hidden" />
                        <input name="productcategory" id="productcategory" autocomplete="productcategory" value="<?= ((in_array('Carpet', $cate_arr, TRUE))) ? 'Carpet': $cate_arr[0]; ?>" type="hidden" />
                    </li>
                    <?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
                        <?php $urlkey = substr($_product->getUrlKey(), strpos($_product->getUrlKey(), "_") + 0);?>
                         <li>
                            <span class="cc-sen-title">Carpet Code </span>: <span class="cc-sen-val-code" id="cc-sen-val-code-ct"><?= $urlkey; ?></span>
                            <input name="productcode" id="productcode-ct" autocomplete="productcode-ct" value="<?= $urlkey; ?>" type="hidden" />
                            <input name="productsize" id="productsize-ct" autocomplete="productsize-ct" value="" type="hidden" />
                        </li>
                    <?php endif; ?>
                    <?php if (in_array("Hard Flooring", $cate_arr, TRUE)) :?>
                        <li>
                            <span class="cc-sen-title">Hard Flooring Code </span>: <span class="cc-sen-val-code" id="cc-sen-val-code-hf"><?= $_product->getSku(); ?></span>
                            <input name="productcode" id="productcode-hf" autocomplete="productcode-hf" value="<?= $_product->getSku(); ?>" type="hidden" />
                        </li>
                        <li>
                            <span class="cc-sen-title">Size </span>: <span class="cc-sen-val-size" id="cc-sen-val-size-hf"><?= $_product->getProductLength(); ?><?= $_product->getProductWidth(); ?><?= $_product->getProductThickness(); ?></span>
                            <input name="productsize" id="productsize-hf" autocomplete="productsize-hf" value="<?= $_product->getProductLength(); ?><?= $_product->getProductWidth(); ?><?= $_product->getProductThickness(); ?>" type="hidden" />
                        </li>
                    <?php endif; ?>
                    <?php if ((in_array("Rugs", $cate_arr, TRUE)) || (in_array("Rugs Clearance", $cate_arr, TRUE))) :?>
                        <li>
                            <span class="cc-sen-title">Rugs Code </span>: <span class="cc-sen-val-code" id="cc-sen-val-code"></span>
                            <input name="productcode" id="productcode" autocomplete="productcode" value="<?= $_product->getName(); ?>" type="hidden" />
                        </li>
                        <li>
                            <span class="cc-sen-title">Size </span>: <span class="cc-sen-val-size" id="cc-sen-val-size"></span>
                            <input name="productsize" id="productsize" autocomplete="productsize" value="<?= $_product->getName(); ?>" type="hidden" />
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
            <div class="field comment">
                <h5><?= $block->escapeHtml(__('Message')) ?></h5>
                <div class="control">
                    <textarea placeholder="Enter your message here" name="comment" id="comment" autocomplete="comment" data-validate="{required:true}" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                </div>
            </div>
            <?php
                $blockobj_rec = $block->getLayout()->createBlock('Carpetcall\Enquire\Block\Index\Index');
                $fetchCurrentPageUrl = $block->getLayout()->createBlock('Carpetcall\Storefinder\Block\Index\Contact');
                $date = $fetchCurrentPageUrl->gmtDate();
                $Date = $date->format('d/m/Y');
                $time = $date->format('H:i a');
            ?>
            <input type="hidden" name="datetime" autocomplete="datetime" value="<?= $date->format('Y-m-d H:i:s'); ?>" />
            <input name="date" id="date" autocomplete="date" value="<?= $Date; ?>" type="hidden" />
            <input name="time" id="time" autocomplete="time" value="<?= $time; ?>" type="hidden" />
            <?php echo $block->getChildHtml('form.additional.info') ?>
            <!-- recaptcha form -->
            <?php echo $block->getChildHtml('form.additional.info.mypopup.form') ?>
            <!-- recaptcha form -->
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" autocomplete="hideit" value="" />
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary" id="submit">
                    <span><?= $block->escapeHtml(__('SUBMIT')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function (
            $,
            modal
        ){
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'ENQUIRE NOW',
                modalClass: 'enquire-modal',
                buttons: [{
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }],
                opened: function($Event) {
                    $(".modal-footer").hide();
                }
            };
            var popup = modal(options, $('#popup-modal'));
            $("#enquire-now-btn").on('click', function () {
            	var simsku = jQuery('.hard-floor-code li .value').text();
                jQuery('#cc-sen-val-code').text(simsku);
                jQuery('#productcode').val(simsku);
                var size = jQuery('.selected-option-label').text();
                jQuery('#cc-sen-val-size').text(size);
                jQuery('#productsize').val(size);
                jQuery('.contact-form-popup').show();
                jQuery('.static-block-message').hide();
                $("#popup-modal").modal("openModal");
            });
                function validator(){
        return $('#contact-form').validate();
    }

    jQuery("#submit").submit(function(event) {
        form = $(this).serialize();
        $(this).validate();
        if (!$(this).valid()) return false;
        var productname = '<?php  $_product->getName() ?>';
        var URL = '<?php echo $block->getUrl("enquire/index/index") ?>';
        $.ajax({
        type: 'post',
        url: URL,
        data: {
                    "name": jQuery('#name').val(),
                    "lastname": jQuery('#lastname').val(),
                    "email": jQuery('#email').val(),
                    "telephone": jQuery('#telephone').val(),
                    //"productname": productname,
                    "productcode": jQuery('#cc-sen-val-code').text(),
                    "productsize": jQuery('#cc-sen-val-size').text(),
                    "comment": jQuery('#comment').val(),
                    "state": jQuery('#state').val(),
                    "date": jQuery('#date').val(),
                    "time": jQuery('#time').val(),
                },
        dataType: 'html',
        showLoader: 'true',
        success: function(response) {
                alert('success');
                jQuery('.contact-form-popup').hide();
                jQuery('.static-block-message').show();
            }
        });
        event.preventDefault();
    });
});
</script>
<script>
    require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function (
            $,
            modal
        ) {
            jQuery(document).on('change','#state',function(e) {
                // var param = 'frame='+jQuery('#frame_name').val();
                console.log(jQuery('#state').val());
                e.preventDefault();
                jQuery.ajax({
                    showLoader: true,
                    url: '<?php echo $blockobj_rec->getframeAction(); ?>',
                    data: {"select_state": jQuery('#state').val(),},
                    type: "GET",
                    dataType: 'json'
                }).done(function (data) {
                    jQuery('#store_popup').empty();
                    jQuery('#store_popup').append(data.value);
                });
            });
        });
</script>
<script type="text/javascript">
//1 - Disable button and prevent double submitting :
require([
    'jquery',
    'Magento_Ui/js/modal/modal'
],
function (
    $,
    modal
) {
$('#contact-form').submit(function () {
    $(this).find(':submit').attr('disabled', 'disabled');
});
//2 - Enable submit button if validation error occurred :
$("#contact-form").bind("invalid-form.validate", function () {
    $(this).find(':submit').prop('disabled', false);
});
});
</script>
<?php endif;?>
<?php
if (in_array("Carpet", $cate_arr, TRUE)):
    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('find_your_nearest_store')
    ->toHtml();
endif;
?>
