<!-- Email -->
<!-- https://www.facebook.com/sharer/sharer.php?u=<?php //echo urlencode($_product->getProductUrl());?>&t=<?php //echo urlencode($_product->getName())?> -->
<!-- <a href="mailto:myemail@site.com?Subject=Some%20subject" >
    <img src="<?php //echo $this->getViewFileUrl('Magento_Catalog::images/facebook-share.jpg'); ?>" alt="Email" width="12%">
</a> -->
<?php $_product = $block->getProduct(); ?>
<a class="mail-button" href="mailto:?subject=Check out this product from Carpet Call&body=Saw this on Carpet Call and wanted to share it with you!<br/><?php echo urlencode($_product->getProductUrl());?>">
    <button id="btnOutlook"></button>
</a>
