/**
 * @copyright Copyright (c) 2018 www.tigren.com
 */
//
//  Variables
//  ---------------------------------------------
@import 'module/_variables.less';
@import 'module/_tooltip.less';

//
//  Common
//  _____________________________________________

.clear-both {
    clear: both;
}

.product-configurator-wrapper {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #EAEAEA;

    .product-add-form {
        width: 65%;
        margin-top: 30px;
        padding-right: 25px;

        @media screen and (max-width: @mobile) {
            padding-right: 0;
            width: 100%;
        }

        .product-title {
            color: #1B365D;
            font-weight: 500;
            font-size: 24px;
        }
    }

    .product-configurator-summary {
        width: 35%;

        @media screen and (max-width: @mobile) {
            display: none;
        }

        .box-tocart .actions {
            width: 100%;

            .action.tocart {
                justify-content: center;
                width: 100%;
            }
        }

        .price-wrapper {
            margin-top: 20px;
        }
    }

    .warranty {
        margin-top: 15px;
        a {
            text-decoration: underline;
            color: #003594;
        }
    }

    .price-wrapper {
        span.unit_name {
            font-size: 16px;
            color: #565659;
        }

        .price-box {
            vertical-align: unset;

            .price-container .price {
                font-size: 16px;
                line-height: 0;
            }
        }

    }
}

.sticky-scroll {
    @media screen and (min-width: @tablet_xs) {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 180px;
    }
}

.product-configurator-wrapper {
    .table-wrapper {
        padding: 12px;
        background: #F7F7F7;

        .feature-option {
            margin-bottom: 5px;
            img {
                height: 84px;
                width: 58px;
                display: inline;
            }

            span {
                margin-left: 8px;
            }
        }

    }
}

#table-summary {
    border-collapse: collapse;
    width: 100%;

    .t-row {
        font-size: 12px;

        td:nth-child(1) {
            font-weight: 500;
        }
        td:nth-child(2) {
            font-weight: 300;
        }

    }

    .t-header {
        font-size: 14px;
        font-weight: 500;
    }

    tr:not(.space-between) {
        background: #fff;
    }

    tr.space-between th {
        border: none;
        padding-top: 5px;
    }

    td {
        padding: 7px 7px 7px 12px;
    }

}

.product-configurator-bottom-summary {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: @mobile) {
        display: block;
    }

    .feature-option {
        width: 25%;
        padding: 10px;
        background: #F7F7F7;

        @media screen and (max-width: @mobile) {
            width: 100%;
            text-align: center;
        }

        img {
            height: 281px;
            width: 194px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
        }
    }

    .bottom-summary {
        width: 75%;
        background-color: #F7F7F7;
        padding: 15px;

        @media screen and (max-width: @mobile) {
            width: 100%;
        }
    }

}

.feature-text {
    color: #1B365D;
    font-size: 16px;
    font-weight: 500;
}

.product-configurator-wrapper .product-options-bottom {
    position: relative;
    margin-top: 100px;
    @media screen and (min-width: @tablet_xs) {
        display: none;
    }

    .box-tocart {
        position: absolute;
        top: 0;
        right: -410px;

        @media screen and (max-width: @mobile) {
            position: relative;
            right: 0;
            margin-top: 20px;
        }

        .actions {
            width: 390px;

            @media screen and (max-width: @mobile) {
                width: 100%;
            }

            .action.tocart {
                justify-content: center;
                width: 100%;
            }
        }
    }
}

#product_addtocart_form {
    #calculations, #discount_price, #base_price {
        display: none;
    }
}

// Plantation Shutters
body.product-plantation-shutters {
    .product-options-wrapper {

        .field {
            &.blade-size, &.tilt-rod {
                .field-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    clear: both;
                }

                label {
                    width: 100%;
                    display: inline-block;
                }

                .control {
                    text-align: right;
                    width: 100%;
                    position: relative;

                    select {
                        width: 200px;
                        color: #565659;
                        border: 2px solid #1083FF;
                        padding-left: 40px;
                        background-color: #fff;
                        background-image: url(../svg/check.svg);
                        background-size: 17px;
                        background-repeat: no-repeat;
                        background-position: left 7px top 9px;

                        &:disabled {
                            opacity: unset;
                        }
                    }
                }
            }

            &.hinge-sides {
                margin-bottom: 0;
            }

            &.mid-rail-qty {
                width: 100%;
            }

        }

        .row.field {
            height: 175px;

            .subtitle {
                margin: 10px 0;
            }

        }

    }

    .product-configurator-summary {
        margin-top: 125px;
    }
}

// Roller Blinds and Double Roller Blinds
body.product-roller-blinds, body.product-double-roller-blinds {
    .product-options-wrapper {
        .row.field {
            height: 140px;
        }

        .blind-type {
            margin-top: 25px;
            .control {
                margin: 10px 0;
            }

            label:hover {
                cursor: pointer;
            }
        }
        .blind-type, .remote, .charger-cable, .wifi-bridge, .motor-side, .spring-assist {

            .options-list {
                input[type="radio"] {
                    opacity: 0;
                    position: fixed;
                    width: 0;
                }
                label {
                    display: inline-block;
                    padding: 10px 10px;
                }
            }

        }

        .blind-type .options-list label {
            &.active {
                background-color: #003594;
                border: 1px solid #F0F0F0;
                color: #F0F0F0;
            }

            &.inactive {
                background-color: #fff;
                border: 1px solid #003594;
                color: #003594;
            }
        }

        .row.field.room-name {
            margin-bottom: 0;
            padding: 30px;
            width: 100%;

            @media screen and (max-width: @mobile) {
                padding: 10px 10px;
            }
        }

        .field {
            &.motor-type, &.remote, &.charger-cable, &.wifi-bridge, &.motor-side, &.spring-assist {
                label {
                    width: 200px;
                    display: inline-block;
                }
                .bg();

                .control {
                    display: inline-block;
                }

                .options-list {
                    label {
                        background-color: #FFFFFF;
                        color: #565659;
                        position: relative;

                        @media screen and (max-width: @mobile) {
                            width: 120px;
                        }

                        &.active {
                            border: 2px solid #1083FF;

                            background-image: url(../svg/check.svg);
                            background-size: 17px;
                            background-repeat: no-repeat;
                            background-position: left 7px top 9px;
                        }
                        &.inactive {
                            border: 1px solid #F0F0F0;

                            &::before{
                                content: '';
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                -moz-border-radius: 7.5px;
                                -webkit-border-radius: 7.5px;
                                border-radius: 8.5px;
                                background-color: #fff;
                                border: 1px solid #979797;
                                position: absolute;
                                top: 10px;
                                left: 8px;
                            }
                        }

                    }
                }
            }

            &.control-chain, &.control-side, &.chain-length, &.chain-size, &.chain-size-stainless {
                .bg();
            }

            &.chain-length {
                padding-bottom: 15px;
            }

            &.chain-size, &.chain-size-stainless {
                padding-bottom: 50px;

                .control {
                    select {
                        width: 150px;
                        min-height: auto;
                        padding: 5px 8px;
                        background-image: none;
                    }
                }
            }

            &.roll-direction, &.roll-direction-front, &.roll-direction-back {
                margin-top: 40px;
            }

            &.motor-type {
                select {
                    border: none;
                    background-color: #F7F7F7;
                    background-image: none;

                    &:disabled {
                        opacity: unset;
                    }
                }
            }

        }

        .row.field.motor-type {
            width: 100%;
            padding: 30px 50px 10px;
            height: auto;

            @media screen and (max-width: @mobile) {
                > label {
                    width: 120px;
                }
                padding: 10px 0 0 20px;
                margin-bottom: 10px;
            }

            input {
                border: none;
                background: #F7F7F7;
                color: #565659;
                font-family: Futura;
                font-size: 16px;
                font-weight: 500;

                @media screen and (max-width: @mobile) {
                    padding: 0;
                }
            }
        }

    }

    .product-configurator-summary {
        margin-top: 202px;
    }

}

.product-configurator-wrapper .product-add-form .product-options-wrapper .field .control {
    width: auto;
    margin-top: 10px;
}

// Common CSS
.product-options-wrapper {
    .field-wrapper {
        padding: 10px 0 0 20px;

        &.grey-bg {
            background: #F7F7F7;
            padding-top: 25px;
        }
    }
    .options-list {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;

        .field {
            text-align: center;
            margin-right: 15px;

            .checkbox {
                min-height: auto;
                width: auto;
            }
        }
    }

    .field {
        &.required > .label:after {
            content: '';
        }

        .main-label {
            color: #1B365D;
            font-family: Futura;
            font-size: 18px;
            font-weight: 500;

            &.subheader {
                font-size: 14px;
                font-weight: 300;
                color: #565659;
            }

        }
    }

    .row.field {
        width: 50%;
        float: left;
        background: #F7F7F7;
        padding: 15px 30px 0;

        @media screen and (max-width: @mobile) {
            padding: 10px 10px 0;
            width: 100%;
        }

        .control {
            position: relative;

            .mm {
                position: absolute;
                display: block;
                top: 12px;
                right: -5px;
                color: #565659;
                padding-left: 5px;
                width: 45px;
            }

            .range-limit {
                margin-top: 5px;
            }
        }
    }

    /*    .fieldset > .field {
            margin-bottom: 0;
        }*/

    .fieldset > .field:last-child {
        margin-bottom: 60px;
    }

    input[type=radio] {
        position: absolute;
        left: -9999px;
    }

    .option-image-wrapper {
        padding: 20px 10px 10px 10px;
        margin: 10px 0;

        &.two-column {
            width: 330px;
            height: 270px;

            @media screen and (max-width: @mobile) {
                width: 315px;
            }
        }

        &.three-column {
            width: 210px;
            height: 270px;

            @media screen and (max-width: @mobile) {
                width: 315px;
            }
        }

        &.four-column {
            width: 140px;
            height: 170px;

            .inner-wrapper {
                border: 1px solid #F0F0F0;
                margin-bottom: 10px;

                img.resize {
                    height: 100px !important;
                    margin-bottom: 0 !important;
                }
            }
        }

        &.five-column {
            width: 120px;
            height: 200px;
        }

        &.active {
            box-sizing: border-box;
            border: 2px solid #1083FF;
            background-color: #FFFFFF;
            box-shadow: 4px 4px 4px 0 rgba(198,197,197,0.5);
        }

        &.inactive {
            border: 1px solid #F0F0F0;
            background-color: #fff;
        }

        img {
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: auto;
            object-fit: contain;

            &.resize {
                height: 170px;
            }
        }
    }

    input[type=radio]:checked + label>img {
        padding: 20px;
        border: 1px solid #fff;
        box-shadow: 0 0 3px 3px #1083FF; //#090;
    }

    input[type=radio] + label>img {
        padding: 20px;
        //border: 1px solid #1083FF;
    }
}

.product-options-wrapper {
    .custom-option-notice {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #EAEAEA;
        margin: 15px 0;

        &__banner {
            width: 144px;
            height: 96px;
        }

        &__img {
            width: 30px;
            height: 30px;

            @media screen and (max-width: @mobile) {
                display: none;
            }
        }

        div {
            margin-left: 10px;

            span {
                font-family: Futura;
                font-size: 12px;
                font-style: italic;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 15px;
            }
        }
    }

    .chain-length-msg {
        margin-bottom: 10px;

        span {
            color: #1083FF;
        }
    }
}

.bg {
    background: #F7F7F7;
    margin-bottom: 0;
    padding: 17px 0 0 30px;

    @media screen and (max-width: @mobile) {
        width: 100%;
        padding: 17px 0 0 0;
    }
}

.toggle-btn {
    margin: 20px 0;

    a {
        padding: 10px 30px;
        box-sizing: border-box;
        margin-right: 10px;

        &.active {
            background-color: #003594;
            border: 1px solid #F0F0F0;
            color: #F0F0F0;
        }

        &.inactive {
            background-color: #fff;
            border: 1px solid #003594;
            color: #003594;
        }
    }

    .fabric-filter-wrapper {
        position: relative;
        display: inline-block;
        float: right;
        margin-right: 30px;

        @media screen and (max-width: @mobile) {
            float: none;
            margin-top: 20px;
        }
        select {
            min-height: auto;
            padding: 5px 8px;
            width: 240px;
            background-image: none;
        }

        &:after {
            content: '\e622';
            line-height: inherit;
            color: inherit;
            font-family: 'luma-icons';
            vertical-align: middle;
            display: inline-block;
            font-weight: 400;
            overflow: hidden;
            speak: none;
            text-align: center;
            font-size: 13px;
            position: absolute;
            right: 7px;
            top: 30%;
        }
    }

}

// options with text above the image
.field.bracket-covers, .field.frame-type {
    .option-image-wrapper {
        position: relative;

        &.active {
            background-image: url(../svg/check.svg);
            background-size: 17px;
            background-repeat: no-repeat;
            background-position: left 7px top 9px;
        }

        &.inactive {
            &::before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8.5px;
                background-color: #fff;
                border: 1px solid #979797;
                position: absolute;
                top: 10px;
                left: 8px;
            }
        }

        img {
            margin-top: 15px;
            margin-bottom: 0;
        }

        span {
            position: absolute;
            top: 10px;
            left: 35px;
            width: 100%;
            text-align: left;
        }
    }
}

.br {
    border-top: 1px solid #EAEAEA;
    position: absolute;
    top: -50px;
    @media screen and (min-width: @tablet_xs) {
        min-width: 700px;
    }

    @media screen and (min-width: @tablet_sm) {
        min-width: 940px;
    }

    @media screen and (max-width: @mobile) {
        width: 100%;
    }
}

.bracket-covers {
    .options-list .field.choice:last-child .option-image {
        opacity: 0;
    }
}
