<?php
/**
* MagePrince
* Copyright (C) 2020 Mageprince <info@mageprince.com>
*
* @package Mageprince_Faq
* @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author MagePrince <info@mageprince.com>
*/
?>
<?php
/** @var $block \Mageprince\Faq\Block\Index\Index */
$faqGroupCollection = $block->getFaqGroupCollection();
$baseUrl = $block->getBaseUrl();
$mediaUrl = $block->getMediaUrl();
?>
<?php
// Start - FAQ Category vice page
if (!empty($this->getCurrentUrl())) {

?>
<?php if ($block->isEnable()): ?>
<?php if ($faqGroupCollection->getSize()): ?>
<?php foreach ($faqGroupCollection as $group): ?>
<?php $url = strtolower($group->getGroupName()); ?>
<?php if(str_replace(' ', '-', strtolower($group->getGroupName()) ) == $this->getCurrentUrl()){ ?>
<div class="page-banner-wrap faq-category-banner">
    <div class="banner-container">
        <div class="banner-content">
            <h1><?php echo $group->getGroupName(). ' FAQs'; ?></h1>
            <?php echo $group->getGroupdescription(); ?>
        </div>
        <div class="banner-image">
            <img src="<?php echo $mediaUrl.'faq/tmp/icon/'.$group->getIcon(); ?>" alt="<?php echo $group->getIcon(); ?>" />
        </div>
    </div>
</div>
<?php $faqCollection = $block->getFaqCollection($group->getId()); ?>

<div class="expertise_section category_faq_content">
    <div class="faq-section">
        <div class="faq-accordion">
        <?php if ($faqCollection->getSize()): ?>
        <?php foreach ($faqCollection as $faq): ?>
            <div id="element2" class="accordian" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": true,"animate":{"duration":"400"}}}'>
               <div data-role="collapsible" class="accordian-title">
                    <div data-role="trigger">
            <span><?= /* @noEscape */ __($faq->getTitle()) ?></span>
                    </div>
                </div>
                <div data-role="content" class="accordian-content">
            <p><?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?></p>
                </div>
            </div>
        <?php endforeach; ?>
            <?php if ($faqCollection->getSize()): ?>
            <script type="application/ld+json">
                {
                    "@context" : "https://schema.org",
                    "@type" : "FAQPage",
                    "mainEntity" : {
                        <?php foreach ($faqCollection as $faq): ?>
                        "@type" : "Question",
                            "name" : '<?= /* @noEscape */ __($faq->getTitle()) ?>'
                        "acceptedAnswer" : {
                            "@type" : "Answer",
                            "text" : '<?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?>'
                        }
                        <?php endforeach; ?>
                    }
                }
            </script>
            <?php endif; ?>
        <?php endif; ?>
        </div>
    </div>
</div>
<?php }else{

}?>
<?php endforeach; ?>
<div class="faq_category category_faq_category">
<h4>FAQs Categories</h4>
    <ul class="category_list">
        <?php foreach ($faqGroupCollection as $group): ?>
            <li>
                <?php 
                $url = $baseUrl.'faqs/'.str_replace(' ', '-', strtolower($group->getGroupName()) );
                ?>
                <a href="<?= /* @noEscape */  $url; ?>"
                class="group-link"
                groupId="<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
                <?= /* @noEscape */  $group->getGroupName(); ?>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php else: ?>
<div>
    <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
</div>
<?php endif; ?>
<?php endif; ?>

<?php
// Start - FAQ Category vice page
}else{
// Start - FAQ list page
?>
<!-- New code start -->
<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('faq_banner')
->toHtml(); ?>
<div class="faq_content_wrapper">
    <div class="faq_container">
        <div class="expertise_section">
            <?php echo $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('faq_expertise')
            ->toHtml();
            ?>
        </div>
        <div class="faq_category">
        <?php if ($block->isEnable()): ?>
          <?php if ($faqGroupCollection->getSize()): ?>
              <h4>FAQs Categories</h4>
              <ul class="category_list">
                  <?php foreach ($faqGroupCollection as $group): ?>
                      <?php 
                          $url = $baseUrl.'faqs/'.str_replace(' ', '-', strtolower($group->getGroupName()));
                      ?>
                      <li>
                          <a href="<?= /* @noEscape */  $url; ?>" class="group-link" groupId="<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
                              <?= /* @noEscape */  $group->getGroupName(); ?>
                          </a>
                      </li>
                  <?php endforeach; ?>
              </ul>
          <?php else: ?>
              <div>
                  <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
              </div>
          <?php endif; ?>
        <?php endif; ?>
        </div>
    </div>
</div>
<?php
// End - FAQ list page
}
?>

<?php
$viewdetailstext = 'View Details';
if (!empty($this->getCurrentUrl())) { 

// Start - Shop Products

    $blockObj= $block->getLayout()->createBlock('Carpetcall\Productlisting\Block\Productlisting');
    $catgeoryData = $blockObj->getCategoryDataforFaq($this->getCurrentUrl());

    if(!empty($catgeoryData['productSKU'])){ ?>
    <div class="block related blog-shop-section">
    <?php 
    $blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
    // Shop carpet - Redirect to carpet category
    $currentCategoryName = ucwords(str_replace('-', ' ', strtolower($this->getCurrentUrl())));

    //$fixedCategory = array('rugs','hard-flooring','carpet');
    //if (!in_array($currentCategoryName, $fixedCategory)) {
      // This is to check the sub categories
      // For e.g. Vinyl, timber etc.. needs to return hard-flooring

      //$currentCategoryName = $blockobj->getParentCategoryDetails($currentCategoryName);
      //echo $currentCategoryName = $currentCategoryName.'/'.$this->getCurrentUrl();die();
    //}
    ?>
    <!-- <a href="<?= $baseUrl . $currentCategoryName; ?>"><h2>Shop <?php //echo ucwords(str_replace('-', ' ', $this->getCurrentUrl()));?></h2></a> -->
    <?php 
        $blocktogetcatid = $block->getLayout()->createBlock('Carpetcall\Sitemap\Block\Sitemap');
        $cat_id = $blocktogetcatid->getCategoryId($currentCategoryName);
        $cate_url = $blocktogetcatid->getCategoryUrl($cat_id);
    ?>
    <a href="<?= $cate_url; ?>"><h2>Shop  <?php echo $currentCategoryName;?></h2></a>
    <div class="block-content content">
        <div class="products wrapper grid products-grid products-related">
              <ol class="products list items product-items owl-carousel owl-theme">
                  <?php
                  $productSKUArray = explode(', ', $catgeoryData['productSKU']);
                  $blockproductObj= $block->getLayout()->createBlock('Mageplaza\Blog\Block\Featuredproduct');
                  
                  $blockobjlist = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\ListProduct');

                  if(count($productSKUArray) > 0){

                      $feturedProductHTMLString = '';
                      foreach($productSKUArray as $productSKUValue){
                      $product = $blockproductObj->getProductDataUsingSku($productSKUValue);

                      if (!empty($product)) {
                      $imgUrl = $blockproductObj->getItemImage($product->getId());
                      $categoryIds = $product->getCategoryIds();
                      $categories = $blockobj->getCategoryCollection()->addAttributeToFilter('entity_id', $categoryIds);
                      $categoryName = [];  
                      foreach ($categories as $category) {
                      $categoryName[] = strtolower($category->getName());
                      }
                      $cate_arr = array();
                      foreach ($categories as $category) {
                          $cate_arr[] = $category->getName();
                          }
                          $currentCategoryName = strtolower($this->getCurrentUrl());

                          $fixedCategory = array('rugs','hard-flooring','carpet');
                          if (!in_array($currentCategoryName, $fixedCategory)) {
                            // This is to check the sub categories
                            // For e.g. Vinyl, timber etc.. needs to return hard-flooring

                            $currentCategoryName = $blockobj->getParentCategoryDetails($currentCategoryName);
                          }

                          if($currentCategoryName == 'rugs'){

                              $feturedProductHTMLString .= '<li class="item product product-item"><div class="product-item-info">';
                              $feturedProductHTMLString .= '<a href="'.$product->getProductUrl().'" class="product photo product-item-photo"><span class="product-image-container"><span class="product-image-wrapper"><img src="'.$imgUrl.'" class="product-image-photo"/></span></span><span class="detail-btn">'.$viewdetailstext.'</span></a>';
                              $feturedProductHTMLString .= '<div class="product details product-item-details"><strong class="product name product-item-name"><a class="product-item-link">'.$product->getName().'</a></strong>';
                              $feturedProductHTMLString .= '<span class="sku">'.$product->getSku().'</span>';
                              if ($product->isSaleable()) {
                                  $feturedProductHTMLString .= '<div class="price-wrap"><span>from </span><div class="price-box"><span class="price-container"><span class="price-wrapper"><span class="price">'.$blockobjlist->getProductPrice($product).'</span></span></span></div></div>';
                              }else{
                                  $feturedProductHTMLString .= '
                                      <div class="actions-primary">
                                        <span>Out of stock</span>
                                      </div>';
                              }
                              
                              $feturedProductHTMLString .= '</div></div></li>';

                          }
                          else if($currentCategoryName == 'carpet'){
                              $compareUrl=$blockproductObj->getComparelink($product);
                              $swatchBlock = $this->getLayout()->createBlock("Magento\Swatches\Block\Product\Renderer\Listing\Configurable")->setTemplate("Magento_Swatches::product/listing/renderer.phtml");
                              $feturedProductHTMLString .= '<li class="item product product-item carpet_item"><div class="product-item-info">';
                              $feturedProductHTMLString .= '<a href="'.$product->getProductUrl().'" class="product photo product-item-photo"><span class="product-image-container"><span class="product-image-wrapper"><img src="'.$imgUrl.'" class="product-image-photo"/></span></span><span class="detail-btn">'.$viewdetailstext.'</span></a>';
                              $feturedProductHTMLString .= '<input type="hidden" name="product_url_details" id="product_url_details" value="'.$product->getProductUrl().'" />';
                              $feturedProductHTMLString .= '<div class="product details product-item-details"><strong class="product name product-item-name"><a class="product-item-link">'.$product->getName().'</a></strong>';
                              $feturedProductHTMLString .= '<div>'.$swatchBlock->setProduct($product)->toHtml().'</div>';
                              $feturedProductHTMLString .= '<div class="actions-secondary">
                              <a href="#" data-post='.$compareUrl.'
                              data-role="add-to-links" class="action tocompare"><span>'."Compare".'</span></a></div>';
                              $feturedProductHTMLString .= '</div></div></li>';
                          }
                          else if($currentCategoryName == 'hard-flooring'){
                              $sub_cat = $cate_arr[1];
                              $numberAsString = number_format($product->getPrice(), 2);

                              $feturedProductHTMLString .= '<li class="item product product-item hard-flooring-item"><div class="product-item-info">';
                              $feturedProductHTMLString .= '<a href="'.$product->getProductUrl().'" class="product photo product-item-photo"><span class="product-image-container"><span class="product-image-wrapper"><img src="'.$imgUrl.'" class="product-image-photo"/></span></span><span class="detail-btn">'.$viewdetailstext.'</span></a>';
                              $feturedProductHTMLString .= '<div class="product details product-item-details"><strong class="product name product-item-name"><a class="product-item-link">'.$product->getName().'</a></strong>';
                              $feturedProductHTMLString .= '<span class="product-name-desc">'.$product->getBrands(). ' - '.$sub_cat.'</span>';
                              $feturedProductHTMLString .= '<div class="price-box"><span class="price-container"><span class="price-wrapper"><span class="price">'.$blockobj->getCurrencySymbol().(int)$numberAsString.'</span></span></span></div><span class="unit_name">/sqm</span>';
                              $feturedProductHTMLString .= '</div></div></li>';
                          }   
                          else{
                              $feturedProductHTMLString .= '<li class="item product product-item carpet_item"><div class="product-item-info">';
                              $feturedProductHTMLString .= '<a href="'.$product->getProductUrl().'" class="product photo product-item-photo"><span class="product-image-container"><span class="product-image-wrapper"><img src="'.$imgUrl.'" class="product-image-photo"/></span></span><span class="detail-btn">'.$viewdetailstext.'</span></a>';
                              $feturedProductHTMLString .= '<div class="product details product-item-details"><strong class="product name product-item-name"><a class="product-item-link">'.$product->getName().'</a></strong>';
                              $feturedProductHTMLString .= '</div></div></li>';
                          }
                        }
                      }
                      echo $feturedProductHTMLString;
                  } ?>
            </ol>
        </div>
    </div> 
    </div>
    <?php 
    }
}
?>

<?php
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('free_flooring_measure')
          ->toHtml();
?> 

<script type="text/javascript">
require(['jquery'], function($){ 
// Wrap faq question & category
  $(document).ready(function($) {
    $('.category_faq_content,.category_faq_category').wrapAll('<div class="faq_content_wrapper category_faq_content_wrapper"><div class="faq_container"></div></div>');
  });
});
require([
"jquery",
"owlCarousel"
], function ($) {
    $(document).ready(function(){
        // Home page Blog slider
        $('.blog-shop-section .product-items').owlCarousel({
            loop:false,
            margin:25,
            nav:false,
            dots: false,
            items:4,
            responsive:{
                0:{
                    dots: true,
                    items: 1,
                    center: true,
                },
                768:{
                    dots: false,
                    items: 2,
                    center: false,
                },
                1024:{
                    dots: false,
                    items: 4,
                    center: false,
                }
            }
        });
    });
});  
</script>         