<?php
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_Faq
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
?>
<?php
    $curr_category_name = $block->getData('curr_category_name');
    if ($curr_category_name == 'Rugs Clearance') {
      $curr_category_name = 'Rugs';
    }elseif ($curr_category_name == 'Clearance') {
      $curr_category_name = 'Hard Flooring';
    }
    
    /** @var $block \Mageprince\Faq\Block\Index\Index */
    $faqGroupCollection = $block->getFaqGroupCollection();
    // echo '<pre>';
    // print_r($faqGroupCollection->getData());
    // die();
    $baseUrl = $block->getBaseUrl();
    $mediaUrl = $block->getMediaUrl();
?>
<?php
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productlisting\Block\Productlisting');
$currentCat = $blockobj->getCurrentCategory();

if ($curr_category_name == 'Carpet') {
  echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('carpet_category_bottom_text')
          ->toHtml();
}elseif ($curr_category_name == 'Rugs') {
  echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('rugs_category_bottom_text')
          ->toHtml();
}elseif ($curr_category_name == 'Hard Flooring') {
  echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('hardflooring_category_bottom_text')
          ->toHtml();
}elseif ($curr_category_name == 'Blinds') {
  echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('blinds_category_bottom_text')
          ->toHtml();
}elseif ($curr_category_name == 'Shutters') {
  echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('shutters_category_bottom_text')
          ->toHtml();
}elseif ($currentCat == 'Floor care') {
  echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('floorcare_category_bottom_text')
          ->toHtml();
}elseif ($currentCat == 'Homewares') {
  echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('homewares_category_bottom_text')
          ->toHtml();
}

?>

<?php if($curr_category_name != 'Accessories'){ ?>
    <div class="faq-section">
      <?php if ($block->isEnable()): ?>
        
          <?php if ($faqGroupCollection->getSize()): ?>
      <?php foreach ($faqGroupCollection as $group): ?>
        <?php if (strtolower($group->getGroupName()) == strtolower($curr_category_name)): ?>
          <div id="group<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
        
        <div class="faq-accordion">
        <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>

        <?php if ($faqCollection->getSize()): ?>
          <h2><?= strtoupper($curr_category_name); ?> FAQS</h2>
          <?php $count = 0; ?>
          <?php foreach ($faqCollection as $faq): ?>
            <?php if ($count < 5) { ?>
            
               <div id="element" class="accordian" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": true,"animate":{"duration":"400"}}}'>
              <div data-role="collapsible" class="accordian-title">
                  <div data-role="trigger">
                      <span><?= /* @noEscape */ __($faq->getTitle()) ?></span>
                  </div>
              </div>
              <div data-role="content" class="accordian-content">
                  <p><?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?></p>
                </div>
            </div>
          <?php } $count++; ?>
          <?php endforeach; ?>
          <p class="more-info-para">For more answers to your questions, please refer to our <a href="<?php echo $baseUrl.'faqs/'.str_replace(' ', '-', strtolower($curr_category_name) );?>"><?= $curr_category_name; ?> FAQs</a> page. 
        <?php endif; ?>
        </div>
        </div>
        <?php if ($faqCollection->getSize()): ?>
          <script type="application/ld+json">
            {
              "@context" : "https://schema.org",
              "@type" : "FAQPage",
              "mainEntity" : {
                <?php $count = 0; ?>
                <?php foreach ($faqCollection as $faq): ?>
                  <?php if ($count < 5) { ?>
                    "@type" : "Question",
                      "name" : '<?= /* @noEscape */ __($faq->getTitle()) ?>'
                    "acceptedAnswer" : {
                      "@type" : "Answer",
                      "text" : '<?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?>'
                    }
                    <?php } $count++; ?>
                  <?php endforeach; ?>
              }
            }
          </script>
        <?php endif; ?> 
       <?php endif; ?> 
      

      <?php endforeach; ?>
         <?php else: ?>
              <div>
                  <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
              </div>
          <?php endif; ?>
      <?php endif; ?>

    <?php
    // Faq list page

  ?>
</div>
<?php } ?>

<?php if($currentCat == 'Floor care'){ ?>
    <div class="faq-section">
      <?php if ($block->isEnable()): ?>
        
          <?php if ($faqGroupCollection->getSize()): ?>
      <?php foreach ($faqGroupCollection as $group): ?>
        <?php if (strtolower($group->getGroupName()) == strtolower($currentCat)): ?>
          <div id="group<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
        
        <div class="faq-accordion">
        <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>

        <?php if ($faqCollection->getSize()): ?>
          <h2><?= strtoupper($currentCat); ?> FAQS</h2>
          <?php $count = 0; ?>
          <?php foreach ($faqCollection as $faq): ?>
            <?php if ($count < 5) { ?>
            
               <div id="element" class="accordian" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": true,"animate":{"duration":"400"}}}'>
              <div data-role="collapsible" class="accordian-title">
                  <div data-role="trigger">
                      <span><?= /* @noEscape */ __($faq->getTitle()) ?></span>
                  </div>
              </div>
              <div data-role="content" class="accordian-content">
                  <p><?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?></p>
                </div>
            </div>
          <?php } $count++; ?>
          <?php endforeach; ?>
          <p class="more-info-para">For more answers to your questions, please refer to our <a href="<?php echo $baseUrl.'faqs/'.str_replace(' ', '-', strtolower($currentCat) );?>"><?= $currentCat; ?> FAQs</a> page. 
        <?php endif; ?>
        </div>
        </div>
       <?php endif; ?> 
      

      <?php endforeach; ?>
         <?php else: ?>
              <div>
                  <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
              </div>
          <?php endif; ?>
      <?php endif; ?>

    <?php
    // Faq list page

  ?>
</div>
<?php } ?>