<?php
if ((!empty($this->getTermsAndConditions())) && ($this->getTermsAndConditions() == 1)) { ?>
	<div class="admin__page-section-title">
        <span class="title">Order Additional Information</span>
    </div>
	<div class="admin__page-section-item-content">
		User has given permission to leave items if unattended
	</div>	
<?php }
?>

