<!-- ko if: isEnable() === '1' -->

<!-- ko if: getStoreCode() === 'naturalvitality_en' -->
<h3 class="nv-header-text">Bring CALM to your inbox</h3>
<!-- /ko -->

<!-- ko if: getStoreCode() === 'rainbowlight' -->
<h3 class="rl-header-text">Get 15% OFF* When You Sign-Up
for Rainbow Light Emails</h3>
<!-- /ko -->

<div class="newsletter-subscribers-checkout">
<form id="instore-shipping-form" class="form">
    <fieldset class="fieldset">
        <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>
</form>
</div>

<!-- ko if: getStoreCode() === 'naturalvitality_en' -->
<div class="terms-conditions-privacy-policy">
	By opting-in to receive email communications you agree to our <a data-bind="attr: { href: getNvTermsConditionsUrl() }">Terms & Conditions</a> and <a data-bind="attr: { href: getNvPrivacyPolicyUrl() }">Privacy Policy</a>
</div>
<!-- /ko -->

<!-- ko if: getStoreCode() === 'rainbowlight' -->
<div class="terms-conditions-privacy-policy">
    By opting-in to receive email communications you agree to our <a data-bind="attr: { href: getRlTermsConditionsUrl() }">Terms & Conditions</a> and <a data-bind="attr: { href: getRlPrivacyPolicyUrl() }">Privacy Policy.</a> *Offer valid for new subscribers only.
</div>
<!-- /ko -->

<!-- /ko -->



<!-- ko if: getStoreCode() !== 'neocell_en' -->
  <!-- store code condition -->
<!-- /ko -->