<!-- ko if: isEnable() === '1' -->
	<!-- ko if: getStoreCode() === 'naturalvitality_en' -->
	<h3 class="nv-header-text">Bring CALM to your inbox</h3>

	<div class="newsletter-subscribers-checkout">
		<!-- ko if: isSubscriber() === '1' -->
		<input class="checkbox" type="checkbox" name="checkbox_field" checked="checked"> Join the email list to learn about new products, special offers, events & more.
		<!-- /ko -->
		<!-- ko ifnot: isSubscriber() === '1' -->
		<input class="checkbox" type="checkbox" name="checkbox_field"> Join the email list to learn about new products, special offers, events & more.
		<!-- /ko -->
	</div>

	<div class="terms-conditions-privacy-policy">
		By opting-in to receive email communications you agree to our <a data-bind="attr: { href: getNvTermsConditionsUrl() }">Terms & Conditions</a> and <a data-bind="attr: { href: getNvPrivacyPolicyUrl() }">Privacy Policy</a>
	</div>
	<!-- /ko -->

	<!-- ko if: getStoreCode() === 'rainbowlight' -->
	<h3 class="rl-header-text">Get 15% OFF* When You Sign-Up for Rainbow Light Emails</h3>

	<div class="newsletter-subscribers-checkout">
		<!-- ko if: isSubscriber() === '1' -->
		<input class="checkbox" type="checkbox" name="checkbox_field" checked="checked"> Sign-up to receive exclusive offers, health tips and more.
		<!-- /ko -->
		<!-- ko ifnot: isSubscriber() === '1' -->
		<input class="checkbox" type="checkbox" name="checkbox_field"> Sign-up to receive exclusive offers, health tips and more.
		<!-- /ko -->
	</div>

	<div class="terms-conditions-privacy-policy">
	    By opting-in to receive email communications you agree to our <a data-bind="attr: { href: getRlTermsConditionsUrl() }">Terms & Conditions</a> and <a data-bind="attr: { href: getRlPrivacyPolicyUrl() }">Privacy Policy.</a> *Offer valid for new subscribers only.
	</div>
	<!-- /ko -->
<!-- /ko -->


<!-- ko if: getStoreCode() !== 'neocell_en' -->
  <!-- store code condition -->
<!-- /ko -->