<!--@subject {{trans "Thank you for your enquiry"}} @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.telephone":"Sender Telephone",
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td>Hi <strong>{{var data.name}}</strong>,</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>Thank you for your query. One of our staff members will get back to you shortly.</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td><strong>{{trans "Your enquiry:"}}</strong> {{var data.enquiry_type}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "First name:"}}</strong> {{var data.name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Last name:"}}</strong> {{var data.lastname}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email:"}}</strong> {{var data.email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Phone:"}}</strong> {{var data.telephone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "State:"}}</strong> {{var data.state}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Store selected:"}}</strong> {{var data.store-checkbox}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Message:"}}</strong> {{var data.comment}}</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>Kind regards,</td>
    </tr>
    <tr>
        <td>Carpet Call</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>Visit: <u>www.carpetcall.com.au</u></td>
    </tr>
    <tr>
        <td>Call us: <a href="tel:1300502427" title="call Us">1300 502 427</a></td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}