<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View*/
?>
<?php $_product = $block->getProduct(); ?>

<div class="product-configurator-bottom-summary">
    <div class="bottom-summary">
        <script>
            require(['jquery'], function ($) {
                $(document).ready(function(){
                    $(".product-configurator-summary .feature-option").clone().insertBefore(".product-configurator-bottom-summary .bottom-summary");
                    $(".product-configurator-summary #table-summary").clone().appendTo(".product-configurator-bottom-summary .bottom-summary");
                });
            })
        </script>
    </div>
</div>
