<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View*/
?>
<?php $_product = $block->getProduct(); ?>

<div class="product-configurator-summary">
    <div class="sticky-scroll">
        <?php if ($_product->getName() === 'Plantation Shutters'): ?>
            <?= /* @noEscape */ $block->getChildHtml('shutters') ?>
        <?php elseif ($_product->getName() === 'Roller Blinds'): ?>
            <?= /* @noEscape */ $block->getChildHtml('single.roller.blinds') ?>
        <?php elseif ($_product->getName() === 'Double Roller Blinds'): ?>
            <?= /* @noEscape */ $block->getChildHtml('double.roller.blinds') ?>
        <?php endif; ?>

        <div class="price-wrapper">
            <span class="unit_name"><?= __('TOTAL: ') ?></span>
            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
        </div>

        <?= /* @noEscape */ $block->getChildHtml('dupe.product.info.addtocart') ?>
    </div>
</div>
