<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Framework\View\Element\Template */
?>
<?php $_product = $block->getProduct(); ?>
<?php /* @var $_helper \Carpetcall\ProductConfigurator\Helper\Data */ ?>
<?php $_helper = $this->helper('Carpetcall\ProductConfigurator\Helper\Data'); ?>

<?php if ($_helper->isEnable()): ?>
    <div class="clear-both"></div>
    <?= $block->getChildHtml('product.configurator.features') ?>
    <div class="product-configurator-wrapper">
        <?= $block->getChildHtml('product.info') ?>
        <?= $block->getChildHtml('product.configurator.summary') ?>
    </div>
<?php endif; ?>
