// this file was only added because of the tooltip library unable to be included in custom module folder app/code/ProductConfigurator
// any CSS update should be on the module app/code/Carpetcall/ProductConfigurator/view/frontend/web/css/product.less
.product-options-wrapper {
    .tooltip-wrapper {
        display: inline-block;
        vertical-align: middle;
        .lib-tooltip(@_tooltip-position:bottom,@_tooltip-min-width:300px);
        @media screen and (max-width: @mobile) {
            top: -2px;
            min-width: auto;
        }
        @media screen and (max-width: @mobile_sm) {
            vertical-align: top;
        }
        @media screen and (max-width: 360px) {
            vertical-align: middle;
        }

        .tooltip-toggle {
            background: #848484;
            font-size: 10px;
            line-height: 14px;
            min-width: 14px;
            min-height: 14px;
            display: inline-block;
            border-radius: 100%;
            color: @white-color;;
            position: relative;
            font-weight: 400;
            vertical-align: middle;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            padding: 0;
            margin-bottom: 8px;
            cursor: help;

            &:before {
                display: none;
            }
        }

        .tooltip-content{
            color: @text_color_grey;
            font-size: 12px;
        }

    }
}
