// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
/**********************Color**********************/

@white-color:#fff;
@black-color:#333333;
@blue_link_color: #1B365D;
@blue_link_secondary: #003594;
@text_color_grey: rgb(86,86,89);
@grey_border_color: #f7f7f7;
@darkgrey_border_color:#cccccc;
@pipe_borer_grey:#B9B9BA;
@form_control_border:#979797;
@placeholder_color:#666666;
@placeholder_form_color:#B7B7B7;
@orange_color:#BA0C2F;
@form_label_grey:#515151;
@section_breaker_border:#eaeaea;
@red_color:#BA0C2F;
@light_grey_e4_color:#E4E4E4;
@dark_grey_a2_color:#A2A2A2;
@green-color:#03AF03;
@lighter_grey_checkbox: #B8BBC6;
@light_grey_c7:#C7C7C7;
@light_blue: #1083FF;
@darkgrey_d5:#D5D5D5;
@lightgrey_56: #565659;

// Breakpoints
@mobile_xs: 375px;
@mobile_sm: 480px;
@mobile_m: 600px;
@mobile_md: 639px;
@mobile: 767px;
@tablet_xs: 768px;
@tablet_sm: 992px;
@tablet: 1024px;
@desktop_m: 1920px;
@desktop_sm: 1700px;
@desktop_xs: 1440px;
@desktop_xxs: 1280px;

@form-field__vertical-indent__desktop: 29px;

// Spacing
@section_horiontal_pad: 40px;
@section-vertical-pad: 60px;

// directory variable
// @base_dir: "../../../";
