/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Styles for emails
//  _____________________________________________
@import 'source/lib/_lib.less'; // Global lib
@import 'source/lib/variables/_email.less'; // Global email variables

//  See comments in source/_email-base.less for explanation of email styles
@baseUrl: "{{base_url_path}}/";
@baseDir: "../../"; // Base directory path
//  Fonts
@icons__font-path: '@{baseDir}fonts/Luma-Icons';
@icons__font-name: 'luma-icons';
@media-common: true; // Sets whether to output common styles (true|false)
@media-target: 'all'; // Sets target device for styles output (all|desktop|mobile)

@import 'source/_varibales.less';
@import 'source/_email_typography.less';
@import 'source/_mixin.less';
@import 'source/_button.less';
@import 'source/_email-variables.less'; // Theme variables for emails

//
//  Styles for emails
//  ---------------------------------------------


@import 'source/_email-extend.less'; // Contains theme-specific adjustments to email styles

//
//  Module-specific styles for emails
//  ---------------------------------------------

//@magento_import 'source/_email.less';
