/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Styles for emails
//  _____________________________________________

//  See comments in source/_email-base.less for explanation of email styles
@import 'source/lib/_lib.less'; // Global lib
@import 'source/lib/variables/_email.less'; // Global email variables
//  Fonts
@baseDir: "../../"; // Base directory path
@icons__font-path: '@{baseDir}fonts/Luma-Icons';
@icons__font-name: 'luma-icons';

@icons_font_path_custom: '@{baseDir}fonts/icomoon';
@icons_font_name_custom: 'icomoon';
@media-common: true; // Sets whether to output common styles (true|false)
@media-target: 'all'; // Sets target device for styles output (all|desktop|mobile)

@import 'source/_varibales.less';
@import 'source/_email_typography.less';
@import 'source/_icons.less';
@import 'source/_mixin.less';
@import 'source/_button.less';
@import 'source/_email-variables.less'; // Theme variables for emails

//  Import these file by reference so that only the styles included in the .email-non-inline() and .media-width()
//  mixins will be output. All other styles will be output via the email-inline.less file.

@import (reference) 'source/_email-extend.less'; // Contains theme-specific adjustments to email styles

//
//  Module-specific styles for emails
//  ---------------------------------------------

//  Import files using (reference) for the same reason stated above
//@magento_import (reference) 'source/_email.less';

//
//  Media queries collector
//  ---------------------------------------------

//  It is impossible to apply media queries as inline styles, so all media queries must be output in this file

//
//  Non-inline styles
//  ---------------------------------------------

//  Include all styles that have been indicated as non-inline styles
