
/*@font-face {
    font-family: 'Futura-Book';
    src: url('../fonts/Futura/book/Futura-Book.eot');
    src: url('../fonts/Futura/book/Futura-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/book/Futura-Book.woff2') format('woff2'),
        url('../fonts/Futura/book/Futura-Book.woff') format('woff'),
        url('../fonts/Futura/book/Futura-Book.ttf') format('truetype'),
        url('../fonts/Futura/book/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/Futura/bold/Futura-Bold.eot');
    src: url('../fonts/Futura/bold/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/bold/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura/bold/Futura-Bold.woff') format('woff'),
        url('../fonts/Futura/bold/Futura-Bold.ttf') format('truetype'),
        url('../fonts/Futura/bold/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*/
/*@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/Futura/medium/Futura-Medium.eot');
    src: url('../fonts/Futura/medium/Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/medium/Futura-Medium.woff2') format('woff2'),
        url('../fonts/Futura/medium/Futura-Medium.woff') format('woff'),
        url('../fonts/Futura/medium/Futura-Medium.ttf') format('truetype'),
        url('../fonts/Futura/medium/Futura-Medium.svg#Futura-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}*/
@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff'),
        url('../fonts/Futura-Bold.ttf') format('truetype'),
        url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Book';
    src: url('../fonts/Futura-Book.eot');
    src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Book.woff2') format('woff2'),
        url('../fonts/Futura-Book.woff') format('woff'),
        url('../fonts/Futura-Book.ttf') format('truetype'),
        url('../fonts/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/Futura.eot');
    src: url('../fonts/Futura.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura.woff2') format('woff2'),
        url('../fonts/Futura.woff') format('woff'),
        url('../fonts/Futura.ttf') format('truetype'),
        url('../fonts/Futura.svg#Futura') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sfns-display';
    src: url('../fonts/HelveticaNeueDeskInterface/regular/HelveticaNeueDeskInterface-Regular.eot');
    src: url('../fonts/HelveticaNeueDeskInterface/regular/HelveticaNeueDeskInterface-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueDeskInterface/regular/HelveticaNeueDeskInterface-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNeueDeskInterface/regular/HelveticaNeueDeskInterface-Regular.woff') format('woff'),
        url('../fonts/HelveticaNeueDeskInterface/regular/HelveticaNeueDeskInterface-Regular.ttf') format('truetype'),
        url('../fonts/HelveticaNeueDeskInterface/regular/HelveticaNeueDeskInterface-Regular.svg#.HelveticaNeueDeskInterface-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


