<?php
$blockobj = $block->getLayout()->createBlock('Mageplaza\StoreLocator\Block\Store\Head');


$mediaurl_details = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$mediaUrl = $mediaurl_details->getMediaUrl();

$baseurl_details = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
$baseUrl = $baseurl_details->getBaseUrl();
?>
<?php
$frontend_block_data = $block->getLayout()->createBlock('Mageplaza\StoreLocator\Block\Frontend');
$helperData = $frontend_block_data->getHelper();
$locations = $frontend_block_data->getLocationList();
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Request\Http');
$param = $request->getParams();
if (!empty($param['param']['store'])) { ?>
    <div id="storedetails_tophtml"></div>
<?php }else{ ?>
<div class="mp_storelocator_head">
    <h1 class="mp-dark"><?= $blockobj->escapeHtml($blockobj->getStoreTitle()) ?></h1>
    <span class="mp_storelocator_description"><?= $blockobj->escapeHtml($blockobj->getStoreDescription()) ?></span>
</div>

    <div class="free_measure_row">
        <div class="find_store_section">
        <h3>Search your nearest store</h3>
            <div class="row">
                <div class="form_group store-search-form">
                    <div class="store-location-search">
                        <input id="store" class="input-store-bottom" type="text" placeholder="Enter suburb or postcode">
                        <button class="find-store-bottom" type="submit">
                            SEARCH
                        </button>
                    </div>
                    <span>OR</span>
                    <button class="use-current-location" onclick="getLocation();">USE CURRENT LOCATION</button>
                </div>
                <?php
                $route = $this->getCurrentUrl();
                $isChecked = $route == 'head_offices' ? 'checked' : '';
                ?>
                <div class="show-headoffice-check">
                    <input type="checkbox" name="is-head-office" id="is-head-office" <?= $isChecked ?> />
                    <label>Show head offices only</label>
                </div>

                <div id="displaystores">&nbsp;</div>
            </div>
        </div>
    </div>
<?php } ?>

<script type="text/javascript">

var street_var = '';
function getLocationdata(street) {
    street_var = street;
        console.log('2');
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(savePositiondata, positionError, {timeout:10000});
    } else {
        //Geolocation is not supported by this browser
    }
}

// // handle the error here
function positionError(error) {
    var errorCode = error.code;
    var message = error.message;

    alert(message);
}

function savePositiondata(position) {
    console.log(street_var);
    var URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/currentlocationforstores") ?>';
    jQuery.ajax({
    showLoader: true,
    url: URL,
    data: {"lat": position.coords.latitude,"lng": position.coords.longitude,"street":street_var},
    type: "GET",
    dataType: 'json'
    }).done(function (data) {
        var win = window.open(data.value, '_blank');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Browser has blocked it
            alert('Please allow popups for this website');
        }
    });
}

</script>
<!-- Start - code for reteriving stores html & it's location on map when zipcode/suburb is entereed in search box -->

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
        $(document).ready(function($) {
             $(".find-store-bottom").click(function(){
                var URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/filter") ?>';
                jQuery.ajax({
                    showLoader: true,
                    url: URL,
                    data: {"store": jQuery('.input-store-bottom').val(),},
                    type: "GET",
                    dataType: 'json'
                }).done(function (data) {

                    if(data.value) {
                        jQuery('#store-bottom-display-area').html(data.value).addClass('store-bottom-active');
                        jQuery('.map-section h3').hide();
                        jQuery('.map-filter-list').hide();
                        jQuery('.map-filter-list horizontal-item-list').hide();
                        if (data.coordinates.length === 0) {
                            jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
                        }else {
                            var icon = new google.maps.MarkerImage('<?= $mediaUrl.'main-map-icon.png'; ?>');

                            var center = null;
                            var map = null;
                            var currentPopup;
                            var bounds = new google.maps.LatLngBounds();
                            var zoom = 4;

                            function addMarker(lat, lng, info)
                            {
                                var pt = new google.maps.LatLng(lat, lng);
                                bounds.extend(pt);
                                var marker = new google.maps.Marker(
                                    {
                                        position: pt,
                                        icon: icon,
                                        title: info,
                                        map: map
                                    });

                            }

                            function initMap()
                            {
                                map = new google.maps.Map(document.getElementById("map"), {
                                    center: new google.maps.LatLng(0, 0),
                                    // zoom: 4,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    mapTypeControl: false,
                                    mapTypeControlOptions:
                                        {
                                            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                                        },
                                    navigationControl: true,
                                    navigationControlOptions:
                                        {
                                            style: google.maps.NavigationControlStyle.SMALL
                                        },
                                    //minZoom: zoom - 3,
                                    //maxZoom: zoom + 3,
                                });

                                for (i=0; i < data.coordinates.length; i++){
                                    addMarker(data.coordinates[i].latitude, data.coordinates[i].longitude, data.coordinates[i].name);
                                }
                                center = bounds.getCenter();
                                map.fitBounds(bounds);
                            }

                            initMap();
                        }
                    }
                    else {
                        jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
                        jQuery('.map-section h3').hide();
                        jQuery('.map-filter-list').hide();
                        jQuery('.map-filter-list horizontal-item-list').hide();
                    }

                        // var argument = data.coordinates[i];

                        // var bounds = new google.maps.LatLngBounds();
                        // var map = null;
                        // var marker = null;
                        // console.log(argument);
                        // var myLatlng = new google.maps.LatLng(argument.latitude,argument.longitude);
                        // bounds.extend(myLatlng);

                        // var myOptions = {
                        //     zoom: 10,
                        //     center: myLatlng,
                        //     mapTypeId: google.maps.MapTypeId.ROADMAP
                        // }

                        // map = new google.maps.Map(document.getElementById("map"), myOptions);

                        // marker = argument;
                        // marker = new google.maps.Marker({
                        // position: {
                        //     lat: parseFloat(marker.latitude),
                        //     lng: parseFloat(marker.longitude)
                        // },
                        // map: map,
                        // title: marker.name
                        // });

                        // map.fitBounds(bounds);
                });

            });

        });
    });
</script>
<!-- End - code for reteriving stores html & it's location on map when zipcode/suburb is entereed in search box -->
<!-- Start - code for displaying states on the map (main page) -->
<?php
$count = $this->getNoOfStoresByState();
// echo '<pre>';
// print_r($count[0]['count_nsw']);
// //echo ;
// die();
$locationss[0] = array("lat"=>"-37.020100", "long"=>"144.964600", "info" => "VIC", "label" => $count[0]['count_vic'],"url" => $baseUrl.'find-a-store/vic');
$locationss[1] = array("lat"=>"-30.000233", "long"=>"136.209152", "info" => "SA", "label" => $count[0]['count_sa'],"url" => $baseUrl.'find-a-store/sa');
$locationss[2] = array("lat"=>"-25.042261", "long"=>"117.793221", "info" => "WA", "label" => $count[0]['count_wa'],"url" => $baseUrl.'find-a-store/wa');
$locationss[3] = array("lat"=>"-20.917574", "long"=>"142.702789", "info" => "QLD", "label" => $count[0]['count_qld'],"url" => $baseUrl.'find-a-store/qld');
$locationss[4] = array("lat"=>"-31.840233", "long"=>"145.612793", "info" => "NSW", "label" => $count[0]['count_nsw'],"url" => $baseUrl.'find-a-store/nsw');
$locationss[5] = array("lat"=>"-41.640079", "long"=>"146.315918", "info" => "TAS", "label" => $count[0]['count_tas'],"url" => $baseUrl.'find-a-store/tas');
?>

<script type="text/javascript">
require(['jquery'],function($){
    $(document).ready(function () {
        //var icon = new google.maps.MarkerImage('<?= $mediaUrl.'icon-location3.svg'; ?>');

        var center = null;
        var map = null;
        var currentPopup;
        var bounds = new google.maps.LatLngBounds();

        function addMarker(lat, lng, info,label,url)
        {
            var pt = new google.maps.LatLng(lat, lng);
            bounds.extend(pt);
            var marker = new google.maps.Marker(
            {
                position: pt,
                //icon: icon,
                //label: info+label,
                url:url,
                map: map
            });
            var popup = new google.maps.InfoWindow(
            {
                content: info,
                maxWidth: 300
            });

            var infowindow = new google.maps.InfoWindow({
              content:'<div class="content"><a href="'+url+'"><div class="map_info  "><div class="contents"><h5>'+info+'</h5><h6>'+label+'</h6><div class="custom_icon"></div></div></div></a></div>'
            });

            infowindow.open(map,marker);


            google.maps.event.addListener(marker, "click", function()
            {
              alert(currentPopup);
                if (currentPopup != null)
                {
                    currentPopup.close();
                    currentPopup = null;
                }
                popup.open(map, marker);
                currentPopup = popup;
            });
            // google.maps.event.addListener(popup, "closeclick", function()
            // {
            //     map.panTo(center);
            //     currentPopup = null;
            // });
            google.maps.event.addListener(marker, 'click', function() {
                window.location.href = this.url;
            });
        }

        function initMap()
        {
            map = new google.maps.Map(document.getElementById("map"), {
                center: new google.maps.LatLng(0, 0),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                mapTypeControlOptions:
                {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                },
                navigationControl: true,
                navigationControlOptions:
                {
                    style: google.maps.NavigationControlStyle.SMALL
                }
            });
            <?php foreach($locationss AS $loc) { //you could replace this with your while loop query ?>
                addMarker(<?php echo $loc["lat"]; ?>, <?php echo $loc["long"]; ?>, '<?php echo $loc["info"]; ?>', '<?php echo $loc["label"]; ?>','<?php echo $loc["url"]; ?>');
            <?php } ?>
            center = bounds.getCenter();
            map.fitBounds(bounds);
        }

        initMap();
    });
});
</script>
<!-- End - code for displaying states on the map (main page) -->

<!-- Start - Html for states (main page) -->

<style type="text/css">
/*body { font: normal 10pt Helvetica, Arial; }*/
#map { width: 1000px; height: 500px; border: 0px; padding: 0px; }
</style>
<!-- Code end -->

<?php
$route = $this->getCurrentUrl();
if (empty($route)) { ?>
<!-- Code steret -->
<div class="map-section">
    <h3>Browse stores by state</h3>
    <div class="map-filter-list">
        <ul class="desktop">
            <li><a href="<?= $baseUrl.'find-a-store/nsw' ?>">NSW</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/qld' ?>">QLD</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/tas' ?>">TAS</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/sa' ?>">SA</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/vic' ?>">VIC</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/wa' ?>">WA</a></li>
        </ul>
        <div class="mobile-map-filter mobile">
            <select onchange="location = this.value;">
                <option value="0" selected>— Please Select —</option>
                <option value="<?= $baseUrl.'find-a-store/nsw' ?>">NSW</option>
                <option value="<?= $baseUrl.'find-a-store/qld' ?>">QLD</option>
                <option value="<?= $baseUrl.'find-a-store/tas' ?>">TAS</option>
                <option value="<?= $baseUrl.'find-a-store/sa' ?>">SA</option>
                <option value="<?= $baseUrl.'find-a-store/vic' ?>">VIC</option>
                <option value="<?= $baseUrl.'find-a-store/wa' ?>">WA</option>
            </select>
        </div>
    </div>
<?php } ?>
    <div id="map"></div>
    <div style="float: right;" id="map_iframe" class="map_iframe">
        
    </div>
    
<?php if (empty($route)) { ?>
    <h3>Browse all stores</h3>
    <div class="map-filter-list horizontal-item-list">
        <ul>
            <li><a href="<?= $baseUrl.'find-a-store/nsw'; ?>">New South Wales</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/qld'; ?>">Queensland</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/tas'; ?>">Tasmania</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/sa'; ?>">South Australia</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/vic'; ?>">Victoria</a></li>
            <li><a href="<?= $baseUrl.'find-a-store/wa'; ?>">Western Australia</a></li>
        </ul>
    </div>
<?php } ?>

    <div id="store-bottom-display-area" class="list mp-storelocator-list-location"></div>
    <div id="store-bottom-display-area-content1"></div>
    <div id="store-bottom-display-area-content2"></div>
</div>


<!-- End - Html for states (main page) -->

<!-- Start - (Use current location) code for displaying stores html & it's location on map -->
<script type="text/javascript">
function redirect(url)
 {
    window.location.href = url;
 }
</script>

<!-- Script to get current location start -->
<script type="text/javascript">

function getLocation() {
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(savePosition, positionError, {timeout:10000});
  } else {
      //Geolocation is not supported by this browser
  }
}

// handle the error here
function positionError(error) {
  var errorCode = error.code;
  var message = error.message;

  alert(message);
}

function savePosition(position) {
    var URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/currentlocation") ?>';
    jQuery.ajax({
        showLoader: true,
        url: URL,
        data: {"lat": position.coords.latitude,"lng": position.coords.longitude},
        type: "GET",
        dataType: 'json'
    }).done(function (data) {
        jQuery('#store').val(data.postcode);

        if(data.value) {
            jQuery('#store-bottom-display-area').html(data.value).addClass('store-bottom-active');
            jQuery('.map-section h3').hide();
            jQuery('.map-filter-list').hide();
            jQuery('.map-filter-list horizontal-item-list').hide();
            if (data.coordinates.length === 0) {
                jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
            }
        }
        else {

            jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
            jQuery('.map-section h3').hide();
            jQuery('.map-filter-list').hide();
            jQuery('.map-filter-list horizontal-item-list').hide();
        }
            var icon = new google.maps.MarkerImage('<?= $mediaUrl.'main-map-icon.png'; ?>');
            var center = null;
            var map = null;
            var currentPopup;
            var bounds = new google.maps.LatLngBounds();
            var zoom = 4;

            function addMarker(lat, lng, info)
            {
                var pt = new google.maps.LatLng(lat, lng);
                bounds.extend(pt);
                var marker = new google.maps.Marker(
                {
                    position: pt,
                    icon: icon,
                    title: info,
                    map: map
                });

            }

            function initMap()
            {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: new google.maps.LatLng(0, 0),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    mapTypeControlOptions:
                    {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                    },
                    navigationControl: true,
                    navigationControlOptions:
                    {
                        style: google.maps.NavigationControlStyle.SMALL
                    },
                    //minZoom: zoom - 3,
                      maxZoom: zoom + 3,
                });

                for (i=0; i < data.coordinates.length; i++){
                    addMarker(data.coordinates[i].latitude, data.coordinates[i].longitude, data.coordinates[i].name);
                }
                center = bounds.getCenter();
                map.fitBounds(bounds);
            }

            initMap();

    });
}
</script>
<!-- End - (Use current location) code for displaying stores html & it's location on map -->
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Request\Http');
$param = $request->getParams();
if (!empty($param['param']['store'])) { ?>
<!-- Start - code for displaying store details -->
<script type="text/javascript">
require(['jquery','Magento_Theme/js/model/breadcrumb-list',
        'breadcrumbs'],function($, breadcrumbList){
            'use strict';
            var main_page_url = '<?php /* @escapeNotVerified */ echo $baseUrl.'find-a-store';?>';
            console.log(main_page_url);
    $(document).ready(function () {

        var URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/storedetail") ?>';
        var store = '<?php echo $param['param']['store']?>';
        jQuery.ajax({
        showLoader: true,
        url: URL,
        data: {"store": store,},
        type: "GET",
        dataType: 'json'
        }).done(function (data) {

        if(data.value) {
            jQuery('#store-bottom-display-area').html(data.value).addClass('store-bottom-active');
            jQuery('#storedetails_tophtml').html(data.tophtml);
            jQuery('#store-bottom-display-area-content1').html(data.bottom_description[0]['bottom_description1']);
            jQuery('#store-bottom-display-area-content2').html(data.bottom_description[0]['bottom_description2']);
            jQuery('.free_measure_row').hide();
            jQuery('.mp_storelocator_head').hide();
            // Breadcrumbs widget initialization
            $('.breadcrumbs').css("display", "block");
                var breadcrumbs = [
                {
                    'name': 'storefinder',
                    'link': main_page_url,
                    'title': 'Store Finder',
                    'label': 'Store Finder'
                },
                {
                    'name': data.coordinates[0].name,
                    'title': data.coordinates[0].name,
                    'label': data.coordinates[0].name
                }
            ];

            // adding breadcrumbs to the Breadcrumb List
            breadcrumbs.forEach(function (breadcrumb) {
                breadcrumbList.push(breadcrumb);
            });
            $('#breadcrumbs-example').breadcrumbs();
            if (data.coordinates.length === 0) {
                jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
            }
            $('#map_iframe').html('<iframe width="616" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key='+data.coordinates[0].api_key+'&q=Carpet+Call+'+data.coordinates[0].name+','+data.coordinates[0].name+'+'+data.coordinates[0].state+'"></iframe>');
        }
        else {
            jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
        }

            var icon = new google.maps.MarkerImage('<?= $mediaUrl.'main-map-icon.png'; ?>');
            var center = null;
            var map = null;
            var currentPopup;
            var bounds = new google.maps.LatLngBounds();
            var zoom = 4;

            function addMarker(lat, lng, info)
            {
                var pt = new google.maps.LatLng(lat, lng);
                bounds.extend(pt);
                var marker = new google.maps.Marker(
                {
                    position: pt,
                    icon: icon,
                    title: info,
                    map: map
                });

            }

            function initMap()
            {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: new google.maps.LatLng(0, 0),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    mapTypeControlOptions:
                    {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                    },
                    navigationControl: true,
                    navigationControlOptions:
                    {
                        style: google.maps.NavigationControlStyle.SMALL
                    },
                    // minZoom: zoom - 3,
                    maxZoom: zoom + 3,
                });

                for (var i=0; i < data.coordinates.length; i++){
                    addMarker(data.coordinates[i].latitude, data.coordinates[i].longitude, data.coordinates[i].name);
                }
                center = bounds.getCenter();
                map.fitBounds(bounds);
            }

            initMap();
        });
    });
});
</script>
<!-- End - code for displaying store details -->

<?php }else{ ?>

<!-- Start - code for displaying stores html state vice & it's location on the map -->
<script type="text/javascript">
require(['jquery'],function($){
    $(document).ready(function () {
    var pathname = window.location.pathname;
    var nsw = '/find-a-store/nsw';
    var sa = '/find-a-store/sa';
    var wa = '/find-a-store/wa';
    var qld = '/find-a-store/qld';
    var vic = '/find-a-store/vic';
    var tas = '/find-a-store/tas';
    var adelaide = '/find-a-store/adelaide';
    var sydney = '/find-a-store/sydney';
    var hobart = '/find-a-store/hobart';
    var melbourne = '/find-a-store/melbourne';
    var brisbane = '/find-a-store/brisbane';
    var perth = '/find-a-store/perth';

    var head_offices = '/find-a-store/head_offices';
    var store = '';
    if ((pathname.indexOf(nsw) != -1) || (pathname.indexOf(sa) != -1) || (pathname.indexOf(wa) != -1) || (pathname.indexOf(qld) != -1) || (pathname.indexOf(vic) != -1) || (pathname.indexOf(tas) != -1)|| (pathname.indexOf(head_offices) != -1)|| (pathname.indexOf(adelaide) != -1)
        || (pathname.indexOf(sydney) != -1)
        || (pathname.indexOf(hobart) != -1)
        || (pathname.indexOf(melbourne) != -1)
        || (pathname.indexOf(brisbane) != -1)
        || (pathname.indexOf(perth) != -1)
        ) {

        if ((pathname.indexOf(nsw) != -1)) {
            store = 'nsw';
        }else if((pathname.indexOf(sa) != -1)) {
            store = 'sa';
        }else if ((pathname.indexOf(wa) != -1)) {
            store = 'wa';
        }else if ((pathname.indexOf(qld) != -1)) {
            store = 'qld';
        }else if ((pathname.indexOf(vic) != -1)) {
            store = 'vic';
        }else if ((pathname.indexOf(tas) != -1)) {
            store = 'tas';
        }else if (pathname.indexOf(head_offices) != -1) {
            store = '';
        }else if (pathname.indexOf(melbourne) != -1) {
            $("#store").val("Melbourne");
            store = 'Melbourne';
        }else if (pathname.indexOf(hobart) != -1) {
            $("#store").val("Hobart");
            store = 'Hobart';
        }else if (pathname.indexOf(brisbane) != -1) {
            $("#store").val("Brisbane");
            store = 'Brisbane';
        }else if (pathname.indexOf(perth) != -1) {
            $("#store").val("Perth");
            store = 'Perth';
        }else if (pathname.indexOf(adelaide) != -1) {
            $("#store").val("Adelaide");
            store = 'Adelaide';
        }else if (pathname.indexOf(sydney) != -1) {
            $("#store").val("Sydney");
            store = 'Sydney';
        }

        

        var URL = '';
        if (pathname.indexOf(head_offices) != -1) {
        URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/headoffice") ?>';
        }
        else if ((pathname.indexOf(melbourne) != -1) || (pathname.indexOf(hobart) != -1)|| (pathname.indexOf(brisbane) != -1)|| (pathname.indexOf(perth) != -1)|| (pathname.indexOf(adelaide) != -1)|| (pathname.indexOf(sydney) != -1)) {
        URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/filter") ?>';
        }
        else{
        URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/state") ?>';
        }
        jQuery.ajax({
        showLoader: true,
        url: URL,
        data: {"store": store,},
        type: "GET",
        dataType: 'json'
        }).done(function (data) {

        if(data.value) {
            jQuery('#store-bottom-display-area').html(data.value).addClass('store-bottom-active');
            if (data.coordinates.length === 0) {
                jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
            }
        }
        else {
            jQuery('#store-bottom-display-area').html('<span class="no-result-found">No results found</span>');
        }

            var icon = new google.maps.MarkerImage('<?= $mediaUrl.'main-map-icon.png'; ?>');
            var center = null;
            var map = null;
            var currentPopup;
            var bounds = new google.maps.LatLngBounds();
            var zoom = 4;

            function addMarker(lat, lng, info)
            {
                var pt = new google.maps.LatLng(lat, lng);
                bounds.extend(pt);
                var marker = new google.maps.Marker(
                {
                    position: pt,
                    icon: icon,
                    title: info,
                    map: map
                });

            }

            function initMap()
            {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: new google.maps.LatLng(0, 0),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    mapTypeControlOptions:
                    {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                    },
                    navigationControl: true,
                    navigationControlOptions:
                    {
                        style: google.maps.NavigationControlStyle.SMALL
                    },
                    // minZoom: zoom - 3,
                    maxZoom: zoom + 3,
                });

                for (i=0; i < data.coordinates.length; i++){
                    addMarker(data.coordinates[i].latitude, data.coordinates[i].longitude, data.coordinates[i].name);
                }
                center = bounds.getCenter();
                map.fitBounds(bounds);
            }

            initMap();
        });
    }
});
});
</script>
<!-- End - code for displaying stores html state vice & it's location on the map -->

<?php }
?>
<!-- Start -  Code to display content on city pages -->
<?php
$route = $this->getCurrentUrlForCityContent();
//echo $route;
?>
<!-- End -  Code to display content on city pages -->
<script type="text/javascript">
    require([
    'jquery',
    'mage/url',
    'domReady!'
], function ($, urlBuilder) {
        $(document).ready(function(){
            $('.breadcrumbs').css("display", "none");
            $('#is-head-office').change(function() {
                if(this.checked) {
                    window.location.href = urlBuilder.build('find-a-store/head_offices');
                }else {
                    window.location.href = urlBuilder.build('find-a-store');
                }
            });
        });
});
</script>

