<?php
//echo "string";die();
$blockobj = $block->getLayout()->createBlock('Mageplaza\StoreLocator\Block\Store\Head');


$mediaurl_details = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$mediaUrl = $mediaurl_details->getMediaUrl();

$baseurl_details = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
$baseUrl = $baseurl_details->getBaseUrl();
?>
<div class="mp_storelocator_head">
    <h1 class="mp-dark"><?= $blockobj->escapeHtml($blockobj->getStoreTitle()) ?></h1>
    <span class="mp_storelocator_description"><?= $blockobj->escapeHtml($blockobj->getStoreDescription()) ?></span>
</div>

<div class="free_measure_row">
    <div class="find_store_section">
    <h3>Search your nearest store</h3>
        <div class="row">
            <div class="form_group"><input id="store" class="input-store-bottom" type="text" placeholder="Enter your suburb or postcode"> <button class="find-store-bottom" type="submit"> <img src="<?= $mediaUrl.'wysiwyg/iconSearch.png'; ?>" alt=""></button>
                OR
            <a href="#">USE CURRENT LOCATION</a>
            </div>
            <?php 
            $route = $this->getCurrentUrl();
            if ($route == 'head_offices') { ?>
                <!--<input type="checkbox" name="" value="" checked="checked" /><label>Show head offices only</label>-->
            <?php } else { ?>
                <input type="checkbox" name="" value="" onClick="redirect('<?= $baseUrl.'head_offices'; ?>')" /><label>Show head offices only</label>
            <?php }
            ?>
            
            <div id="displaystores">&nbsp;</div>
        </div>
    </div>
</div>

<?php
$frontend_block_data = $block->getLayout()->createBlock('Mageplaza\StoreLocator\Block\Frontend');
$helperData = $frontend_block_data->getHelper();
$locations = $frontend_block_data->getLocationList();
?>

<script>
    window.zoomConfig = <?= $frontend_block_data->escapeHtml($frontend_block_data->getZoom()) ?>;
</script>
<script type="text/javascript">
function redirect(url)
 {
    window.location.href = url;
 }
</script>

<div class="bh-sl-container"
    <?php if (count($locations) > 0) : ?>
        data-mage-init='{"mpStoreLocator":{"dataConfig": <?= $frontend_block_data->escapeHtml($frontend_block_data->getDataConfigLocation()) ?>,
        "mapStyles": <?= /* @noEscape */ $frontend_block_data->getMapTemplate() ?>}}'
    <?php endif; ?>>
    
    <?php if (count($locations) > 0) : ?>
        <div id="bh-sl-map-container" class="bh-sl-map-container">
            <div id="mpstorelocator-message-error" class="message-error error message" style="display:none;">
                <span></span>
            </div>
            <div id="bh-sl-map" class="bh-sl-map"></div>
            <div class="mp-dialog-setting" style="display: none">
                <div class="mp-filter-radius">
                    <span class="mp-radius-label"><?= /* @noEscape */ __('Filter Radius') ?></span>
                    <div class="mp-filter-radius-box">
                        <select id="bh-sl-maxdistance" name="bh-sl-maxdistance">
                            <option value="<?= $frontend_block_data->escapeHtml($frontend_block_data->getDefaultRadius()) ?>">
                                <?= /* @noEscape */ __('Default') ?>
                            </option>
                            <?php if ($frontend_block_data->getFilterRadius()) : ?>
                                <?php foreach ($frontend_block_data->getFilterRadius() as $radius) : ?>
                                    <option value="<?= $frontend_block_data->escapeHtml($frontend_block_data->convertKmToMiles($radius)) ?>">
                                        <?= $frontend_block_data->escapeHtml($radius . ' ' . $frontend_block_data->getUnitText()) ?>
                                    </option>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </select>
                    </div>
                </div>
                <span class="mp-btn-close">
                    <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('btn-close.png')) ?>" alt=""/>
                </span>
            </div>
            <div class="bh-sl-loc-list" id="mp-store-loc-list">
                <?php if ($frontend_block_data->isFilter()) : ?>
                   <!--  <form id="bh-sl-user-location" method="post" action="#">
                        <div class="mp-menu-icon">
                            <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('icon-menu.png')) ?>" alt=""/>
                        </div>
                        <div class="form-input">
                            <input type="text" id="bh-sl-address" name="bh-sl-address" />
                        </div>
                        <button id="bh-sl-submit" class="primary" type="submit" title="Search">
                            <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('icon-search.png')) ?>" alt=""/>
                        </button>
                        <?php if ($frontend_block_data->isEnableFilterRadius()) : ?>
                            <button id="mp-location-icon" class="primary" type="submit" title="Filter">
                                <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('icon-filter.png')) ?>" alt=""/>
                            </button>
                        <?php endif ?>
                    </form> -->
                <?php endif; ?>
                <!-- <ul class="list mp-storelocator-list-location"></ul> -->

                <div class="mp-store-info" style="display: none;">
                    <?php foreach ($locations as $store) : ?>
                        <div class="mp-detail-info mp-detail-info-<?= /* @noEscape */ $store->getLocationId() ?>"
                             style="display: none">
                            <div class="mp-back-results">
                                <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('icon-back.png')) ?>" alt=""/>
                                <span><?= /* @noEscape */ __('Back to results') ?></span>
                            </div>
                            <?php if ($helperData->getConfigGeneral('enable_direction')) : ?>
                                <div class="mp-get-directions
                                    loc-directions loc-directions-<?= /* @noEscape */ $store->getLocationId() ?>">
                                    <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('direction.png')) ?>"
                                         class="mp-direction" alt=""/>
                                    <span><?= /* @noEscape */ __('Get Directions') ?></span>
                                    <hr>
                                </div>
                            <?php endif; ?>
                            <h3 class="mp-detail-store-name"><?= /* @noEscape */ $store->getName() ?></h3>
                            <div id="mp-detail-store-address" class="mp-detail-info-item">
                                <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('icon-marker.png')) ?>"
                                     class="mp-marker-icon" alt=""/>
                                <span class="mp-detail-info-text">
                                    <?= /* @noEscape */ $store->getStreet() . ' ' .
                                        $store->getStateProvince() . ' ' .
                                        $store->getCity() . ' ' .
                                        $store->getCountry() ?>
                                </span>
                            </div>
                            <div id="mp-detail-store-open" class="mp-detail-info-item">
                                <img src="<?= $frontend_block_data->escapeHtml($frontend_block_data->getUrlImg('icon-time.png')) ?>"
                                     class="mp-time-icon" alt=""/>
                                <span class="mp-detail-info-text mp-detail-info-status">
                                    <span
                                        <?php if ($frontend_block_data->getOpenCloseNotify($store) === __('Closed')) : ?>
                                        style="color: #DB4437; margin-right: 10px"
                                        <?php endif ?>>
                                        <?= $frontend_block_data->escapeHtml($frontend_block_data->getOpenCloseNotify($store)) ?>
                                    </span>
                                    <i class="fas fa-angle-double-down"></i>
                                </span>
                                <table class="mp-openday-list" style="display: none">
                                    <tr <?=
                                        ($frontend_block_data->getCurrentDay($store) === Mageplaza\StoreLocator\Helper\Data::MONDAY) ?
                                        'class="mp-font-bold"' : '' ?> >
                                        <td class="mp-openday-list-title"><?= /* @noEscape */ __('Monday') ?></td>
                                        <td class="mp-openday-list-value">
                                            <?= /* @noEscape */ $frontend_block_data->getDayTime($store->getOperationMon()) ?>
                                        </td>
                                    </tr>
                                    <tr <?=
                                        ($frontend_block_data->getCurrentDay($store) === Mageplaza\StoreLocator\Helper\Data::TUESDAY)
                                            ? 'class="mp-font-bold"' : '' ?>>
                                        <td class="mp-openday-list-title"><?= /* @noEscape */ __('Tuesday') ?></td>
                                        <td class="mp-openday-list-value">
                                            <?= /* @noEscape */ $frontend_block_data->getDayTime($store->getOperationTue()) ?>
                                        </td>
                                    </tr>
                                    <tr <?=
                                       ($frontend_block_data->getCurrentDay($store) === Mageplaza\StoreLocator\Helper\Data::WEDNESDAY)
                                            ? 'class="mp-font-bold"' : '' ?>>
                                        <td class="mp-openday-list-title"><?= /* @noEscape */ __('Wednesday') ?></td>
                                        <td class="mp-openday-list-value">
                                            <?= /* @noEscape */ $frontend_block_data->getDayTime($store->getOperationWed()) ?>
                                        </td>
                                    </tr>
                                    <tr <?=
                                        ($frontend_block_data->getCurrentDay($store) === Mageplaza\StoreLocator\Helper\Data::THURSDAY)
                                            ? 'class="mp-font-bold"' : '' ?>>
                                        <td class="mp-openday-list-title"><?= /* @noEscape */ __('Thursday') ?></td>
                                        <td class="mp-openday-list-value">
                                            <?= /* @noEscape */ $frontend_block_data->getDayTime($store->getOperationThu()) ?>
                                        </td>
                                    </tr>
                                    <tr <?=
                                        ($frontend_block_data->getCurrentDay($store) === Mageplaza\StoreLocator\Helper\Data::FRIDAY)
                                            ? 'class="mp-font-bold"' : '' ?>>
                                        <td class="mp-openday-list-title"><?= /* @noEscape */ __('Friday') ?></td>
                                        <td class="mp-openday-list-value">
                                            <?= /* @noEscape */ $frontend_block_data->getDayTime($store->getOperationFri()) ?>
                                        </td>
                                    </tr>
                                    <tr <?=
                                        ($frontend_block_data->getCurrentDay($store) === Mageplaza\StoreLocator\Helper\Data::SATURDAY)
                                            ? 'class="mp-font-bold"' : '' ?>>
                                        <td class="mp-openday-list-title"><?= /* @noEscape */ __('Saturday') ?></td>
                                        <td class="mp-openday-list-value">
                                            <?= /* @noEscape */ $frontend_block_data->getDayTime($store->getOperationSat()) ?>
                                        </td>
                                    </tr>
                                    <tr <?=
                                        ($frontend_block_data->getCurrentDay($store) === Mageplaza\StoreLocator\Helper\Data::SUNDAY)
                                            ? 'class="mp-font-bold"' : '' ?>>
                                        <td class="mp-openday-list-title"><?= /* @noEscape */ __('Sunday') ?></td>
                                        <td class="mp-openday-list-value">
                                            <?= /* @noEscape */ $frontend_block_data->getDayTime($store->getOperationSun()) ?>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <?php if ($store->getPhoneOne()) : ?>
                                <div id="mp-detail-store-phone-number" class="mp-detail-info-item">
                                    <img src="<?= /* @noEscape */ $frontend_block_data->getUrlImg('icon-call.png') ?>"
                                         class="mp-phone-icon" alt=""/>
                                    <span class="mp-detail-phone-text">
                                        <?= $frontend_block_data->escapeHtml($store->getPhoneOne()) ?>&nbsp;&nbsp;&nbsp;
                                        <i class="fas fa-angle-double-down"></i>
                                    </span>
                                    <table class="mp-phone-list" style="display: none">
                                        <?php if ($store->getPhoneTwo()) : ?>
                                            <tr>
                                                <td class="mp-phone-list-title">
                                                    <?= /* @noEscape */ __('Phone 2') ?>
                                                </td>
                                                <td class="mp-phone-list-value">
                                                    <?= $frontend_block_data->escapeHtml($store->getPhoneTwo()) ?>
                                                </td>
                                            </tr>
                                        <?php endif; ?>
                                        <?php if ($store->getFax()) : ?>
                                            <tr>
                                                <td class="mp-fax-title">
                                                    <?= /* @noEscape */ __('Fax') ?>
                                                </td>
                                                <td class="mp-fax-value">
                                                    <?= $frontend_block_data->escapeHtml($store->getFax()) ?>
                                                </td>
                                            </tr>
                                        <?php endif; ?>
                                    </table>
                                </div>
                            <?php endif; ?>
                            <?php if ($store->getEmail()) : ?>
                                <div id="mp-detail-store-email" class="mp-detail-info-item">
                                    <img src="<?= /* @noEscape */ $frontend_block_data->getUrlImg('icon-mail.png') ?>"
                                         class="mp-marker-icon" style="width: 20px; height: 20px;" alt=""/>
                                    <span class="mp-detail-info-text">
                                        <?= $frontend_block_data->escapeHtml($store->getEmail()) ?>
                                    </span>
                                </div>
                            <?php endif; ?>
                            <?php if ($store->getWebsite()) : ?>
                                <div id="mp-detail-store-web" class="mp-detail-info-item">
                                    <img src="<?= /* @noEscape */ $frontend_block_data->getUrlImg('icon-web.png') ?>"
                                         class="mp-web-icon" alt=""/>
                                    <a href=" <?= $frontend_block_data->escapeHtml($store->getWebsite()) ?>"
                                       target="_blank" class="mp-detail-info-text">
                                        <?= $frontend_block_data->escapeHtml($store->getWebsite()) ?>
                                    </a>
                                </div>
                            <?php endif; ?>
                            <?php if ($frontend_block_data->getStoreImages($store)) : ?>
                                <div class="mpstorelocator-list-img owl-carousel owl-theme">
                                    <?php foreach ($frontend_block_data->getStoreImages($store) as $image) : ?>
                                        <div class="item">
                                            <img src="<?= /* @noEscape */$frontend_block_data->resizeImage($image['file'], '300x') ?>"
                                                 alt="<?= /* @noEscape */ $image['label'] ?: _('Store Image') ?>"/>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                                <script>
                                    /**
                                     * Owl slider image
                                     */
                                    require(['jquery', 'owlSlider'], function ($) {
                                        $('.mpstorelocator-list-img').owlCarousel({
                                            items: 1,
                                            autoplay: false,
                                            autoHeight: true,
                                            margin: 0,
                                            dots: false,
                                            nav: true,
                                            navText: [
                                                "<i class='fa fa-chevron-left'/>",
                                                "<i class='fa fa-chevron-right'/>"
                                            ]
                                        });
                                    });
                                </script>
                            <?php endif ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    <?php else : ?>
    <div class="mp-no-location"><?= /* @noEscape */ __('There is no locations found.') ?></div>
    <?php endif; ?>
    <div id="mp-storelocator-footer">
        <?= /* @noEscape */ $frontend_block_data->getChildHtml('store_locator_footer') ?>
    </div>
</div>

<!-- Custom code start -->
<div id="store-bottom-display-area" class="list mp-storelocator-list-location"></div>

<!-- State stores on page load start -->
<div>
    <?php
    $html='';
            $locations = $this->getLocations();
            // echo "<pre>";
            // print_r($locations->getData());
            // die();
            $route = $this->getCurrentUrl();
            if ($route == 'head_offices') {

                $i = 0;
                foreach ($locations as $key => $value) {
                if ($value['head_office'] == 1) {
                    $html.='<ul class="list mp-storelocator-list-location">
                            <li class="mpstorelocator-location-4 mp store-view store-view-4">
                            <div class="mp-store-view-info">
                            <div class="mp-row-store-img" id="store-image-gallery">
                                <img class="responsive-img" src="http://192.168.1.193/carpet-call/pub/static/version1608807158/frontend/carpetcall/default/en_US/Mageplaza_StoreLocator/media/defaultImg.png" alt="http://192.168.1.193/carpet-call/pub/static/version1608807158/frontend/carpetcall/default/en_US/Mageplaza_StoreLocator/media/defaultImg.png">
                            </div>
                            <div class="row-store-info">
                                <div class="mp-store-name">
                                    <span>'.$value['name'].'</span>
                                </div>
                                <div class="store-addr">
                                        <span class="mp-main-addr">
                                            '.$value['street'].', '.$value['city'].' '.$value['state_province'].' '.$value['postal_code'].'
                                        </span><br>
                                    <div class="loc-web">
                                        <span id="store-view-phone">Call Us: '.$value['phone_one'].'</span>
                                    </div>
                                </div>
                                <div>
                                    <a href="#">VIEW STORE DETAILS</a>
                                    <a href="#">GET DIRECTIONS</a>
                                </div>
                            </div>
                        </div>
                            </li>
                            </ul>';
                }
                $i++;
                }
                
            }elseif($route == 'adelaide'){
                $i = 0;
                foreach ($locations as $key => $value) {
                if ($value['state_province'] == 'South Australia') {
                    $html.='<ul class="list mp-storelocator-list-location">
                            <li class="mpstorelocator-location-4 mp store-view store-view-4">
                            <div class="mp-store-view-info">
                            <div class="mp-row-store-img" id="store-image-gallery">
                                <img class="responsive-img" src="http://192.168.1.193/carpet-call/pub/static/version1608807158/frontend/carpetcall/default/en_US/Mageplaza_StoreLocator/media/defaultImg.png" alt="http://192.168.1.193/carpet-call/pub/static/version1608807158/frontend/carpetcall/default/en_US/Mageplaza_StoreLocator/media/defaultImg.png">
                            </div>
                            <div class="row-store-info">
                                <div class="mp-store-name">
                                    <span>'.$value['name'].'</span>
                                </div>
                                <div class="store-addr">
                                        <span class="mp-main-addr">
                                            '.$value['street'].', '.$value['city'].' '.$value['state_province'].' '.$value['postal_code'].'
                                        </span><br>
                                    <div class="loc-web">
                                        <span id="store-view-phone">Call Us: '.$value['phone_one'].'</span>
                                    </div>
                                </div>
                                <div>
                                    <a href="#">VIEW STORE DETAILS</a>
                                    <a href="#">GET DIRECTIONS</a>
                                </div>
                            </div>
                        </div>
                            </li>
                            </ul>';
                }
                $i++;
                }

                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('adelaide')
                ->toHtml();
            }else{

                $i = 0;
                foreach ($locations as $key => $value) {
                if ($value['state_province'] == 'NEW SOUTH WALES') {
                    $html.='<ul class="list mp-storelocator-list-location">
                            <li class="mpstorelocator-location-4 mp store-view store-view-4">
                            <div class="mp-store-view-info">
                            <div class="mp-row-store-img" id="store-image-gallery">
                                <img class="responsive-img" src="http://192.168.1.193/carpet-call/pub/static/version1608807158/frontend/carpetcall/default/en_US/Mageplaza_StoreLocator/media/defaultImg.png" alt="http://192.168.1.193/carpet-call/pub/static/version1608807158/frontend/carpetcall/default/en_US/Mageplaza_StoreLocator/media/defaultImg.png">
                            </div>
                            <div class="row-store-info">
                                <div class="mp-store-name">
                                    <span>'.$value['name'].'</span>
                                </div>
                                <div class="store-addr">
                                        <span class="mp-main-addr">
                                            '.$value['street'].', '.$value['city'].' '.$value['state_province'].' '.$value['postal_code'].'
                                        </span><br>
                                    <div class="loc-web">
                                        <span id="store-view-phone">Call Us: '.$value['phone_one'].'</span>
                                    </div>
                                </div>
                                <div>
                                    <a href="#">VIEW STORE DETAILS</a>
                                    <a href="#">GET DIRECTIONS</a>
                                </div>
                            </div>
                        </div>
                            </li>
                            </ul>';
                }
                $i++;
                }

            }
            

            echo $html;
    ?>
</div>
<!-- State stores on page load ends -->


<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ 
        $(document).ready(function($) {
             $(".find-store-bottom").click(function(){
              if (jQuery('.input-store-bottom').val().length == 4) {
                console.log('do delay with ajax here');
                var URL = '<?php echo $frontend_block_data->getUrl("storefinder/index/filter") ?>';
                jQuery.ajax({
                    showLoader: true,
                    url: URL,
                    data: {"store": jQuery('.input-store-bottom').val(),},
                    type: "GET",
                    dataType: 'json'
                }).done(function (data) {

                    if(data.value) {
                        jQuery('#store-bottom-display-area').html(data.value).addClass('store-bottom-active');
                    }
                    else {
                        jQuery('#store-bottom-display-area').html('Not Any Store Found Near '+jQuery('.input-store-bottom').val()+' Zip Code');
                    }
                    
                });
              }
            });

        }); 
    });   
</script>
<!-- Custom code ends -->