<?php
$cat_details = $block->getLayout()->createBlock('Carpetcall\Productlisting\Block\Productlisting');
$blockobjdetails = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Details');
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
?>

<div class="blog-wrapper guides-section">
    <div class="blog-widget-title">
      <h2 class="blog-title">SHUTTERS BLOG</h2>
    </div>
    <?php 
    
    $cat_data = $cat_details->getCategories();
    foreach ($cat_data as $key => $value) {
        if ($value['name'] == 'Shutters') {
            echo $value['description'];
        }
    }

    // $post_block = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost');
    // die();
    $posts = $cat_details->getPosts('Shutters');
    
    ?>
    <div class="post-list-container mpcss">
            <div class="row  owl-carousel owl-theme blog-guides">
                <?php foreach ($posts as $post => $value) : ?>
                    <?php foreach ($value as $post => $post_data) : ?>
                    <?php
                    // echo "<pre>";
                    // print_r($post_data);die();
                    ?>
                    <?php
                    $post_detail_url = $blockobj->getBaseurl().'blog/post/'.$post_data['url_key'];
                    //print_r($cate_arr[0]);
                    ?>
                    <div class="post-list-item">
                        <div class="post-item-wraper">
                                <div class="post-image">
                                <a href="<?= $post_detail_url; ?>">
                                   <?php //$post_block_details = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost'); 
                                   // echo 'dfsdf';
                                   // echo $post_data['image'];die();

                                    $mediaUrl = $blockobj->getMediaUrl();

                                    ?>
                                    <img class="img-responsive"
                                         src="<?= $mediaUrl.'mageplaza/blog/post/'.$post_data['image']; ?>"
                                         alt="<?= $post_data['name']; ?>"/>
                                </a>
                            </div>
                            <div class="post-info-wraper">
                                <h2 class="mp-post-title">
                                    <a class="post-link-title" title="<?= $block->escapeHtml($post_data['name']); ?>"
                                       href="<?= $post_detail_url; ?>"><?= $post_data['name']; ?></a>
                                </h2>
                                <?= $post_data['short_description']; ?>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <div class="clear-button">
        <?php
        $url = $blockobj->getBaseurl().'blog/category/shutters';
        //print_r($cate_arr[0]);
        ?>
        <a href="<?= $url; ?>">VIEW ALL SHUTTERS ARTICLES</a>
    </div>            
        
    </div>


    <script>
        require([
            'jquery',
            'owlCarousel'
            ], function ($) {
            'use strict';
            $(document).ready(function(){
                $('.blog-guides').owlCarousel({
                    loop:false,
                    margin:17,
                    nav:false,
                    dots: false,
                    items:4,
                    responsive:{
                        0:{
                            dots: true,
                            items: 1,
                            center: true,
                        },
                        768:{
                            dots: false,
                            items: 2,
                            center: false,
                        },
                        1024:{
                            dots: false,
                            items: 4,
                            center: false,
                        }
                    }
                });
            });
        });
    </script>