<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 * @var \Magento\Framework\Escaper $escaper
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
?>
<!-- Modified code to display products for clearance category -->
<?php $curr_cate = $this->getLayer()->getCurrentCategory()->getName();
if($curr_cate == 'Clearance'){
?>
<!-- Modified code to display products for clearance category -->
<?php

    
    //$_productCollection = $block->getClearProductCollection();
    
    $_productCollection = $block->getLoadedProductCollection()->addAttributeToFilter('online_discount',array('notnull' => true));
    $_productCollection = $_productCollection->clear();
    //$_productCollection = $block->getLoadedProductCollection();
    // echo "<pre>";
    // print_r($_productCollection->getData());die();
    //echo count($_productCollection);die();
    
    /** @var \Magento\Catalog\Helper\Output $_helper */
    $_helper = $block->getData('outputHelper');
    ?>
    <?php if (!$_productCollection->count()):?>
        <div class="message info empty">
            <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
        </div>
    <?php else:?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    
    ?>

        <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php 
            // echo "<pre>";
            // print_r($_productCollection->getData());die();
            foreach ($_productCollection as $_product):?>
                <!-- Code to get category -->
                <?php 

                $blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
                $productId = $_product->getId();
                $product = $blockobj->getProductById($productId);
                 
                $categoryIds = $product->getCategoryIds();
                 
                $categories = $blockobj->getCategoryCollection()
                                    ->addAttributeToFilter('entity_id', $categoryIds);
                $cate_arr = array();
                foreach ($categories as $category) {
                    $cate_arr[] = $category->getName();
                }
                ?>
                <!-- Code to get category -->
            <li class="item product product-item">
                <?php //echo 'dd';die(); ?>
                    <?php echo $this->getLayout()
                  ->createBlock('Magento\Cms\Block\Block')
                  ->setBlockId('clearance_ribbon')
                  ->toHtml();?>
                
                <div class="product-item-info"
                     id="product-item-info_<?= /* @noEscape */ $_product->getId() ?>"
                     data-container="product-<?= /* @noEscape */ $viewMode ?>">
                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea);
                    if ($pos != null) {
                        $position = 'left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                       class="product photo product-item-photo"
                       tabindex="-1">
                        <?= $productImage->toHtml() ?>
                    </a>
                    <input type="hidden" name="product_url_details" id="product_url_details" value="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" />
                    <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                       class="detail-btn" tabindex="-1"><?= __('View Details') ?></a>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>

                        <!-- Add to compare -->
                        <?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
                            <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                            </a>
                            </strong>
                            <?= strpos($pos, $viewMode . '-primary') ?
                            /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                $position,
                                'product-item-info_' . $_product->getId() . ' div.actions-primary'
                            ) : '' ?>
                            <div data-role="add-to-links" class="actions-secondary">
                                <?php if ($addToBlock = $block->getChildBlock('addto')):?>
                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                <?php endif; ?>
                            </div>
                        <?php elseif (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
                            <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name');?>
                            </a>
                            <?php 
                            $sub_cat = '';
                            if (!empty($cate_arr[1])) {
                                $sub_cat = $cate_arr[1];
                            }

                             ?>
                            <div class="product-name-desc"> <?= $_product->getBrands() . ' - '.$sub_cat ; ?></div>
                            </strong>
                            <?php
                            $spec_pri =  $_product->getSpecialPrice();
                            if (!empty($spec_pri)) { ?>
                                <?php if($_product->isSaleable()): ?>
                                <div class="price-wrap">
                                <span>from</span>
                                <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                </div>
                            <?php endif; ?>
                            <?php }else{ ?>
                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                            <?php }
                            ?>
                            
                        <?php else: ?>
                            <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                            </a>
                            </strong>
                           <span class="sku"><?= /* @noEscape */ $_product->getSku(); ?></span>
                            <?php if($_product->isSaleable()): ?>
                            <div class="price-wrap">
                            <span>from</span>
                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                            </div>
                            <?php endif; ?>
                        <?php endif; ?>
                        <!-- Add to compare -->

                        <!-- Qty box -->
                        
                        <!-- Qty box -->
                        
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?php if ($_product->isAvailable()):?>
                            <!-- <?= $block->getProductDetailsHtml($_product) ?> -->
                        <?php endif; ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">


                                <!-- New code carpet condition start -->
                               
                                <?php if ((in_array("Carpet", $cate_arr, TRUE)) || (in_array("Hard Flooring", $cate_arr, TRUE))) :?>
                                    <?php
                                    // $productAttributeOptions = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
                                    // $available_colors = sizeof($productAttributeOptions[138]["values"]);
                                    ?>
                                    
                                    <!-- <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"><u>More colours available</u></a> -->
                                <?php else: ?>
                                <!-- New code carpet condition ends -->

                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()):?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <!-- <form data-role="tocart-form"
                                              data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>"
                                              action="<?= $escaper->escapeUrl($postParams['action']) ?>"
                                              method="post">
                                            <input type="hidden"
                                                   name="product"
                                                   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                            <input type="hidden"
                                                   name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                   value="<?=
                                                   /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                    ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $escaper->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= $escaper->escapeHtml(__('Add to Cart')) ?></span>
                                            </button>
                                        </form> -->
                                    <?php else:?>
                                        <?php if ($_product->isAvailable()):?>
                                            <div class="stock available">
                                                <span><?= $escaper->escapeHtml(__('In stock')) ?></span></div>
                                        <?php else:?>
                                            <div class="stock unavailable">
                                                <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>

                                <!-- New code carpet condition start -->
                                <?php endif; ?>
                                <!-- New code carpet condition ends -->

                                <?= strpos($pos, $viewMode . '-secondary') ?
                                    /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                        $position,
                                        'product-item-info_' . $_product->getId() . ' div.actions-secondary'
                                    ) : '' ?>
                            </div>
                            <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?= /* @noEscape */ $_helper->productAttribute(
                                        $_product,
                                        $_product->getShortDescription(),
                                        'short_description'
                                    ) ?>
                                    <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                       title="<?= /* @noEscape */ $_productNameStripped ?>"
                                       class="action more"><?= $escaper->escapeHtml(__('Learn More')) ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?= strpos($pos, $viewMode . '-actions') ?
                /* @noEscape */ $secureRenderer->renderStyleAsTag(
                    $position,
                    'product-item-info_' . $_product->getId() . ' div.product-item-actions'
                ) : '' ?>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()):?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
    <?php endif; ?>
    <?php 
}else{


$_productCollection = $block->getLoadedProductCollection();
//echo '<pre>'; print_r($_productCollection->getData());die();
//echo count($_productCollection);die();
/** @var \Magento\Catalog\Helper\Output $_helper */
$_helper = $block->getData('outputHelper');
?>
<?php if (!$_productCollection->count()):?>
    <div class="message info empty">
        <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else:?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    
    
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product):?>
                <!-- Code to get category -->
                <?php 
                $blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
                $productId = $_product->getId();
                $product = $blockobj->getProductById($productId);
                 
                $categoryIds = $product->getCategoryIds();
                 
                $categories = $blockobj->getCategoryCollection()
                                    ->addAttributeToFilter('entity_id', $categoryIds);
                $cate_arr = array();
                foreach ($categories as $category) {
                    $cate_arr[] = $category->getName();
                }
                ?>
                <!-- Code to get category -->
            <li class="item product product-item">
                <?php if (in_array("Rugs Clearance", $cate_arr, TRUE)) :?>
                    <?php echo $this->getLayout()
                  ->createBlock('Magento\Cms\Block\Block')
                  ->setBlockId('clearance_ribbon')
                  ->toHtml();?>
                <?php endif; ?>
                <div class="product-item-info"
                     id="product-item-info_<?= /* @noEscape */ $_product->getId() ?>"
                     data-container="product-<?= /* @noEscape */ $viewMode ?>">
                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea);
                    if ($pos != null) {
                        $position = 'left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                       class="product photo product-item-photo"
                       tabindex="-1">
                        <?= $productImage->toHtml() ?>
                        <div class="detail-btn" tabindex="-1"><?= __('View Details') ?></div>
                    </a>
                    <input type="hidden" name="product_url_details" id="product_url_details" value="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" />
                    <!-- <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                       class="detail-btn" tabindex="-1"><?= __('View Details') ?></a> -->
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>

                        

                        <!-- Add to compare -->
                        <?php if (in_array("Carpet", $cate_arr, TRUE)) :?>
                            <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                            </a>
                            </strong>
                            <?= strpos($pos, $viewMode . '-primary') ?
                            /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                $position,
                                'product-item-info_' . $_product->getId() . ' div.actions-primary'
                            ) : '' ?>
                            <div data-role="add-to-links" class="actions-secondary">
                                <?php if ($addToBlock = $block->getChildBlock('addto')):?>
                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                <?php endif; ?>
                            </div>
                        <?php elseif (in_array("Hard Flooring", $cate_arr, TRUE)) : ?>
                            <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name');?>
                            </a>
                            <?php 
                            $sub_cat = '';
                            if (!empty($cate_arr[1])) {
                                $sub_cat = $cate_arr[1];
                            }

                             ?>
                            <div class="product-name-desc"> <?= $_product->getBrands() . ' - '.$sub_cat ; ?></div>
                            </strong>
                            <?php
                            $spec_pri =  $_product->getSpecialPrice();
                            if (!empty($spec_pri)) { ?>
                                <?php if($_product->isSaleable()): ?>
                                <div class="price-wrap">
                                <span>from</span>
                                <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                </div>
                                <?php endif; ?>
                            <?php }else{ ?>
                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                            <?php }
                            ?>
                            <?php //echo "string";die();
                            if ($_product->isAvailable()):?>
                                <!-- <div class="stock available">
                                    <span><?= $escaper->escapeHtml(__('In stock')) ?></span>
                                </div> -->
                            <?php else:?>
                                <div class="stock unavailable">
                                    <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span></div>
                            <?php endif; ?>
                            <!-- <span class="unit_name"><?php //echo '/sqm'; ?></span> -->
                        <?php elseif (in_array("Accessories", $cate_arr, TRUE)) : ?>
                            <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                            </a>
                            </strong>
                            <?php if($_product->isSaleable()): ?>
                            <div class="price-wrap">
                            <?php if($_product->getTypeId() == "configurable"):?>
                                <span>price from</span>
                            <?php else:?>
                                <span>price</span>
                            <?php endif;?>
                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                            </div>
                            <?php endif; ?>
                        <?php else: ?>
                            <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                            </a>
                            </strong>
                           <span class="sku"><?= /* @noEscape */ $_product->getSku(); ?></span>
                           <?php if($_product->isSaleable()): ?>
                            <div class="price-wrap">
                            <span>from</span>
                           <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                            </div>
                            <?php endif; ?>
                        <?php endif; ?>
                        <!-- Add to compare -->

                        <!-- Qty box -->
                        
                        <!-- Qty box -->
                        
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?php if ($_product->isAvailable()):?>
                            <!-- <?= $block->getProductDetailsHtml($_product) ?> -->
                            <?php 
                    $blocks = $this->getLayout()->getBlock('category.product.type.details.renderers.configurable');
                    echo $blocks->setProduct($_product)->toHtml();
                    ?>
                        <?php endif; ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">


                                <!-- New code carpet condition start -->
                               
                                <?php if ((in_array("Carpet", $cate_arr, TRUE)) || (in_array("Hard Flooring", $cate_arr, TRUE))) :?>
                                    <?php
                                    // $productAttributeOptions = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
                                    // $available_colors = sizeof($productAttributeOptions[138]["values"]);
                                    ?>
                                    
                                    <!-- <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"><u>More colours available</u></a> -->
                                <?php else: ?>
                                <!-- New code carpet condition ends -->

                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()):?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <!-- <form data-role="tocart-form"
                                              data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>"
                                              action="<?= $escaper->escapeUrl($postParams['action']) ?>"
                                              method="post">
                                            <input type="hidden"
                                                   name="product"
                                                   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                            <input type="hidden"
                                                   name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                   value="<?=
                                                   /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                    ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $escaper->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= $escaper->escapeHtml(__('Add to Cart')) ?></span>
                                            </button>
                                        </form> -->
                                    <?php else:?>
                                        <?php if ($_product->isAvailable()):?>
                                            <div class="stock available">
                                                <span><?= $escaper->escapeHtml(__('In stock')) ?></span></div>
                                        <?php else:?>
                                            <div class="stock unavailable">
                                                <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>

                                <!-- New code carpet condition start -->
                                <?php endif; ?>
                                <!-- New code carpet condition ends -->

                                <?= strpos($pos, $viewMode . '-secondary') ?
                                    /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                        $position,
                                        'product-item-info_' . $_product->getId() . ' div.actions-secondary'
                                    ) : '' ?>
                            </div>
                            <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?= /* @noEscape */ $_helper->productAttribute(
                                        $_product,
                                        $_product->getShortDescription(),
                                        'short_description'
                                    ) ?>
                                    <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                       title="<?= /* @noEscape */ $_productNameStripped ?>"
                                       class="action more"><?= $escaper->escapeHtml(__('Learn More')) ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?= strpos($pos, $viewMode . '-actions') ?
                /* @noEscape */ $secureRenderer->renderStyleAsTag(
                    $position,
                    'product-item-info_' . $_product->getId() . ' div.product-item-actions'
                ) : '' ?>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()):?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
<?php } ?>



<script>
	require([
		'jquery',
		],function($) {
            // $(document).ready(function() {
            //     $([document.documentElement, document.body]).animate({
            //         scrollTop: 0
            //     });
            //     window.onbeforeunload = function () {
            //         window.scrollTo(0, 0);
            //     }
            // });
        
         });
</script>

