{{#location}}
<li data-markerid="{{markerid}}" class="mpstorelocator-location-{{id}} mp store-view store-view-{{id}}" data-id="{{id}}" data-url-key="{{url}}">
    <span class="store_name">{{name}}</span>
    <p class="store_address">
        {{street}} {{state}}, {{city}}  {{country}}
    </p>
    <div class="field choice">
        <input class="radio" type="radio" name="store-checkbox" id="store-checkbox_{{markerid}}" value="{{name}}">
        <label for="store-checkbox_{{markerid}}">
            Select store
        </label>
    </div>
</li>
{{/location}}
