<?php 
const PARAM_NAME_BASE64_URL = 'r64';
const PARAM_NAME_URL_ENCODED = 'uenc';
use Magento\Framework\App\Action\Action; 
$_productCollection = $block->getProductCollection();
?>
<div class="page messages" id="custom_message">
      <div class="message-success success message" >
      	<?php $name = $_REQUEST['name']; ?>
          <?php echo $name.' has been added to your '; ?><a href="<?= $this->baseUrl().'checkout/cart/'; ?>">shopping cart.</a>
      </div>
  </div>
Here are the required accessories for your flooring installation.


<h3>Underlay</h3>
<div class="products wrapper grid products-grid">
        <ol class="products list items product-items">
<?php foreach ($_productCollection as $_product): ?>
	<li class="item product product-item">
    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
	<?php $imgUrl = $this->getItemImage($_product->getId());?>
    
    <div class="image-box"><img src="<?= $imgUrl; ?>" alt="product-image"/></div>
    <?php echo $_product->getName();
    $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
	<span><?php echo $abstractProductBlock->getProductPrice($_product); ?></span><span><?= '/meter'; ?></span>

    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
        <?php echo $block->getBlockHtml('formkey')?>
        Recommended Qty: 
        <input type="number"
	       name="qty"
	       id="qty"
	       maxlength="12"
	       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
	       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
	       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
	       />
        <?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>
            <button type="submit"
                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                    class="action tocart primary">
                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
            </button>
    </form>
	</li>
<?php endforeach;?>
</ol>
</div>
<div>
	<div class="left">
		Optional assessories
		<ul>
			<li id="cleaning_repair_kits">Cleaning & Repair kits</li>
			<li id="trims">Trims</li>
			<li id="scotia">Scotia</li>
		</ul>
	</div>
	<div class="right">
		<div class="Content_cleaning_repair_kits" id="Content_cleaning_repair_kits">
			<h3>Cleaning & Repair kits</h3>
			<?php $_productCollection = $block->getProductCollectionofcleaningkits();?>
			<div class="products wrapper grid products-grid">        
				<ol class="products list items product-items">
				<?php foreach ($_productCollection as $_product): ?>
					<li class="item product product-item">
				    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
					<?php $imgUrl = $this->getItemImage($_product->getId());?>
				    
				    <div class="image-box"><img src="<?= $imgUrl; ?>" alt="product-image"/></div>
				    <?php echo $_product->getName();
				    $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
					<?php echo $abstractProductBlock->getProductPrice($_product); ?>

				    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
				        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
				        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
				        <?php echo $block->getBlockHtml('formkey')?>
				        <input type="number"
					       name="qty"
					       id="qty"
					       maxlength="12"
					       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
					       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
					       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
					       />
				        <?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>
				            <button type="submit"
				                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
				                    class="action tocart primary">
				                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
				            </button>
				    </form>
					</li>
				<?php endforeach;?>
				</ol>
				</div>
		</div>
		<div class="Content_trims" id="Content_trims">
			<h3>Trims</h3>
			<?php $_productCollection = $block->getProductCollectionofTrims();?>
			<div class="products wrapper grid products-grid">        
				<ol class="products list items product-items">
				<?php foreach ($_productCollection as $_product): ?>
					<li class="item product product-item">
				    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
					<?php $imgUrl = $this->getItemImage($_product->getId());?>
				    
				    <div class="image-box"><img src="<?= $imgUrl; ?>" alt="product-image"/></div>
				    <?php echo $_product->getName();
				    $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
					<?php echo $abstractProductBlock->getProductPrice($_product); ?>

				    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
				        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
				        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
				        <?php echo $block->getBlockHtml('formkey')?>
				        <input type="number"
					       name="qty"
					       id="qty"
					       maxlength="12"
					       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
					       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
					       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
					       />
				        <?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>
				            <button type="submit"
				                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
				                    class="action tocart primary">
				                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
				            </button>
				    </form>
					</li>
				<?php endforeach;?>
				</ol>
				</div>
		</div>
		<div class="Content_scotia" id="Content_scotia">
			<h3>Scotia</h3>
			<?php $_productCollection = $block->getProductCollectionofScotia();?>
			<div class="products wrapper grid products-grid"> 
				<ol class="products list items product-items">
				<?php foreach ($_productCollection as $_product): ?>
					<li class="item product product-item">
				    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
					<?php $imgUrl = $this->getItemImage($_product->getId());?>
				    
				    <div class="image-box"><img src="<?= $imgUrl; ?>" alt="product-image"/></div>
				    <?php echo $_product->getName();
				    $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); ?>
					<?php echo $abstractProductBlock->getProductPrice($_product); ?>

				    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
				        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
				        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
				        
				        <?php echo $block->getBlockHtml('formkey')?>
				        <input type="number"
					       name="qty"
					       id="qty"
					       maxlength="12"
					       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
					       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty form-control"
					       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
					       />
				        <?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>
				            <button type="submit"
				                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
				                    class="action tocart primary">
				                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
				            </button>
				    </form>
					</li>
				<?php endforeach;?>
				</ol>
				</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	 require(['jquery', 'jquery/ui'], function($){ 
     	$('ul li').on('click', function () {
	    $('div#Content_' + $(this).attr('id')).show().siblings().hide();
		});
		$(function() {
		    $('.Content_cleaning_repair_kits').show();
		});
 	});
	// require(['jquery', 'jquery/ui'], function($){  
	// 	$(document).ready( function() {
	// 	  		$('#custom_message').hide();
	// 	});
	// });
</script>
<style type="text/css">
.Content_cleaning_repair_kits,.Content_trims,.Content_scotia{
    display:none;
}
</style>