<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>

<?php if ($_product->isSaleable()) :?>
    <div class="box-tocart">
        <div class="fieldset">
            <div class="price-wrapper">
                <span class="unit_name"><?= __('TOTAL: ') ?></span>
                <?= /* @noEscape */ $block->getProductPrice($_product) ?>
            </div>
            <div class="fieldset">
                <div class="field qty">
                    <label class="label" for="qty"><span>QUANTITY</span></label>
                    <div class="control" style="display: inline-block">
                        <input type="text" name="qty" id="qty" min="0" value="1" title="QUANTITY" class="input-text qty" data-validate="{"required-number":true,"validate-item-quantity":{"minAllowed":1,"maxAllowed":10000}}">
                    </div>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                        class="action primary tocart"
                        id="product-addtocart-button" disabled>
                    <span><?= $block->escapeHtml($buttonTitle) ?></span>
                </button>
            </div>
        </div>
    </div>
<?php endif; ?>
