<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Framework\View\Element\Template */
?>
<div class="box-tocart">
    <div class="fieldset">
        <div class="field qty">
            <label class="label" for="qty"><span>QUANTITY</span></label>
            <div class="control" style="display: inline-block">
                <input type="text" name="duplicate-qty" id="duplicate-qty" min="0" value="1" title="QUANTITY" class="input-text qty" data-validate="{"required-number":true,"validate-item-quantity":{"minAllowed":1,"maxAllowed":10000}}">
            </div>
        </div>
    </div>
    <?php /* this is a fake add to cart, clicking this will trigger default magento add to cart button using js */ ?>
    <div class="actions">
        <button type="submit" title="Add to Cart" class="action primary tocart" id="dupe-product-addtocart-button">
            <span>Add to Cart</span>
        </button>
    </div>
</div>

<script>
    require(['jquery'], function ($) {
        $("#dupe-product-addtocart-button").click(function(){
            var addToCartButton = $('#dupe-product-addtocart-button'),
                addToCartButtonTextWhileAdding = 'Adding...',
                addToCartButtonDisabledClass = 'disabled';

            addToCartButton.addClass(addToCartButtonDisabledClass);
            addToCartButton.find('span').text(addToCartButtonTextWhileAdding);
            addToCartButton.attr('title', addToCartButtonTextWhileAdding);

            setTimeout(function () {
                var addToCartButtonTextAdded = 'Added';

                addToCartButton.find('span').text(addToCartButtonTextAdded);
                addToCartButton.attr('title', addToCartButtonTextAdded);

                setTimeout(function () {
                    var addToCartButtonTextDefault = 'Add to Cart'

                    addToCartButton.removeClass(addToCartButtonDisabledClass);
                    addToCartButton.find('span').text(addToCartButtonTextDefault);
                    addToCartButton.attr('title', addToCartButtonTextDefault);
                }, 1000);

            }, 1000);

            $('#product_addtocart_form').submit();

        });
    })
</script>
