<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>

<div class="product info detailed accordion blind-accordion">
    <div class="product-info-block" style="border-top: none">
        <h2 class="heading">Features</h2>
        <div class="value content feature-list">
            <p><?= $_product->getData('blinds_features'); ?></p>
        </div>
    </div>
</div>
