<div class="col-mp mp-12">
    <input type="hidden" name="baseurl" data-bind="attr: { value: getBaseUrl() }" />
    <input type="checkbox" name="termsandcondition" data-bind="checked: termsandcondition, attr: {id: 'termsandcondition'}"/>
    <label data-bind="attr: {for: 'termsandcondition'}">
    	<span data-bind="i18n: 'I give permission to leave items unattended when they are delivered. See '"></span><a href="#" data-bind="attr: { href: terms_and_condition() }" >Terms And Conditions</a>
    	<span data-bind="i18n: 'for full details.'"></span>
    </label>
</div>
