#product-options-wrapper .oi-above-select > .label {display:block;}
#product-options-wrapper .oi-above-select img.oi-image {margin:0 0 5px 0;}

#product-options-wrapper .oi-above-radio > .label {display:block;}
#product-options-wrapper .oi-above-radio img.oi-image {margin:0 0 5px 0;}

#product-options-wrapper .oi-above-checkbox > .label {display:block;}
#product-options-wrapper .oi-above-checkbox img.oi-image {margin:0 8px 5px 0;}

#product-options-wrapper .oi-above-select-multiple > .label {display:block;}
#product-options-wrapper .oi-above-select-multiple img.oi-image {margin:0 8px 2px 0;}