<?php
$categories = $block->getCategoryCollection($isActive = true, $level = false, $sortBy = false, $pageSize = false);
//echo "<pre>";
//print_r($collection->getData());die();
?>


<?php
//$block = $block->getLayout()->createBlock('Carpetcall/Productdetailspage/Block/Categoriesdetails');
$media_url = $block->getMediaUrl();
$arrayName = array('Carpet','Hard Flooring','Rugs','Rugs Clearance');
?>
<div class="our-product-images">
<ul class="desktop">
	<?php foreach ($categories as $category) : ?>
	<?php //echo $category->getName(); ?>
	<?php //echo $category->getUrl(); ?>
	<li>
		<?php if (in_array($category->getName(), $arrayName)) { ?>
			<img src="<?= $media_url.'one.png'; ?>" alt="">
			<a href="<?= $category->getUrl(); ?>"><?= $category->getName(); ?></a>		
		<?php }else{ } ?>
	</li>
<!--<li><img src="{{media url="wysiwyg/hardflooring.jpg"}}" alt="" width="718" height="480">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/8"}}</li>
<li><img src="{{media url="wysiwyg/rugs.jpg"}}" alt="" width="720" height="480">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/6"}}</li>
<li><img src="{{media url="wysiwyg/blinds.jpg"}}" alt="" width="732" height="488">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/9"}}</li>
<li><img src="{{media url="wysiwyg/shutters_1.jpg"}}" alt="" width="720" height="488">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/10"}}</li>
</ul>
<ul class="mobile">
<li><img src="{{media url="wysiwyg/icon-carpet.png"}}" alt="">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/3"}}</li>
<li><img src="{{media url="wysiwyg/icon-hardflooring.png"}}" alt="">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/8"}}</li>
<li><img src="{{media url="wysiwyg/icon-rugs.png"}}" alt="">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/6"}}</li>
<li><img src="{{media url="wysiwyg/icon-blinds.png"}}" alt="">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/9"}}</li>
<li><img src="{{media url="wysiwyg/icon-shutters.png"}}" alt="">{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" 
id_path="category/10"}}</li>-->
<?php endforeach; ?>
</ul>
</div>
