<?php
$categories = $block->getCategoryCollection($isActive = true, $level = 2, $sortBy = false, $pageSize = false);
$media_url = $block->getMediaUrl();
$toBeShownCategories = ['Carpet', 'Hard Flooring', 'Rugs', 'Blinds', 'Shutters', 'Accessories'];
?>
<div class="our-product-images">
	<ul class="desktop">
		<?php foreach ($categories as $category) : ?>
			<?php if (in_array($category->getName(), $toBeShownCategories)): ?>
				<li>
					<?php if ($category->getName() == 'Carpet') { ?>
						<a href="<?= $category->getUrl(); ?>"><img src="<?= $media_url.'carpet_home_tile.jpg'; ?>" alt="Carpet" /></a>
						<a href="<?= $category->getUrl(); ?>"><?= $category->getName(); ?></a>		
					<?php }elseif ($category->getName() == 'Hard Flooring') { ?>
						<a href="<?= $category->getUrl(); ?>"><img src="<?= $media_url.'wysiwyg/hardflooring.jpg'; ?>" alt="Hard Flooring" /></a>
						<a href="<?= $category->getUrl(); ?>"><?= $category->getName(); ?></a>		
					<?php }elseif ($category->getName() == 'Rugs') { ?>
						<a href="<?= $category->getUrl(); ?>"><img src="<?= $media_url.'wysiwyg/rugs.jpg'; ?>" alt="Rugs" /></a>
						<a href="<?= $category->getUrl(); ?>">Rugs</a>		
					<?php }elseif ($category->getName() == 'Blinds') { ?>
						<a href="<?= $category->getUrl(); ?>"><img src="<?= $media_url.'wysiwyg/blinds.jpg'; ?>" alt="Blinds" /></a>
						<a href="<?= $category->getUrl(); ?>">Blinds</a>		
					<?php }elseif ($category->getName() == 'Shutters') { ?>
						<a href="<?= $category->getUrl(); ?>"><img src="<?= $media_url.'wysiwyg/shutters.jpg'; ?>" alt="Shutters" /></a>
						<a href="<?= $category->getUrl(); ?>">Shutters</a>		
					<?php }elseif ($category->getName() == 'Accessories') { ?>
						<a href="<?= $category->getUrl(); ?>"><img src="<?= $media_url.'wysiwyg/accessories.jpg'; ?>" alt="Accessories" /></a>
						<a href="<?= $category->getUrl(); ?>">Accessories</a>		
					<?php } ?>
				</li>
			<?php endif; ?>
		<?php endforeach; ?>
	</ul>
	<ul class="mobile">
		<?php foreach ($categories as $category) : ?>
			<?php if (in_array($category->getName(), $toBeShownCategories)): ?>
				<li>
					<?php if ($category->getName() == 'Carpet') { ?>
						<img src="<?= $media_url.'wysiwyg/icon-carpet.png'; ?>" alt="Carpet" />
						<a href="<?= $category->getUrl(); ?>"><?= $category->getName(); ?></a>		
					<?php }elseif ($category->getName() == 'Hard Flooring') { ?>
						<img src="<?= $media_url.'wysiwyg/icon-hardflooring.png'; ?>" alt="Hard Flooring" />
						<a href="<?= $category->getUrl(); ?>"><?= $category->getName(); ?></a>		
					<?php }elseif ($category->getName() == 'Rugs') { ?>
						<img src="<?= $media_url.'wysiwyg/icon-rugs.png'; ?>" alt="Rugs" />
						<a href="<?= $category->getUrl(); ?>">Rugs</a>		
					<?php }elseif ($category->getName() == 'Blinds') { ?>
						<img src="<?= $media_url.'wysiwyg/icon-blinds.png'; ?>" alt="Blinds" />
						<a href="<?= $category->getUrl(); ?>">Blinds</a>		
					<?php }elseif ($category->getName() == 'Shutters') { ?>
						<img src="<?= $media_url.'wysiwyg/icon-shutters.png'; ?>" alt="Shutters" />
						<a href="<?= $category->getUrl(); ?>">Shutters</a>
					<?php }elseif ($category->getName() == 'Accessories') { ?>
						<img src="<?= $media_url.'wysiwyg/icon-accessories.png'; ?>" alt="Accessories" />
						<a href="<?= $category->getUrl(); ?>">Accessories</a>
					<?php } ?>
				</li>
			<?php endif; ?>
		<?php endforeach; ?>
	</ul>
</div>
