<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ 
        $(document).ready(function($) {
             $(".find-store-bottom").click(function(){
              //if (jQuery('.input-store-bottom').val().length == 4) {
                console.log('do delay with ajax here');
                var URL = '<?php echo $block->getUrl("storefinder/index/footerstoredetails") ?>';
                jQuery.ajax({
                    showLoader: true,
                    url: URL,
                    data: {"store": jQuery('.input-store-bottom').val(),},
                    type: "GET",
                    dataType: 'json'
                }).done(function (data) {

                    if(data.value) {
                        jQuery('#store-bottom-display-area').html(data.value).addClass('store-bottom-active');
                    }
                    else {
                        jQuery('#store-bottom-display-area').html('Not Any Store Found Near '+jQuery('.input-store-bottom').val()+' Zip Code');
                    }
                    
                });
              //}
            });
        }); 
    });   
</script>

<div id="store-bottom-display-area" class="custom-location"></div>