<!--@subject {{trans "Thank you for your enquiry"}} @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.telephone":"Sender Telephone",
} @-->
<!--@styles
a{color: #1b365d;text-decoration: underline; }
@-->
{{template config_path="design/email/header_template"}}
<table class="message-details">
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; margin: 0 0 10px; text-transform: none; font-size: 16px; line-height: 21px; color: #565659;">Hi <strong style="font-weight: bold;">{{var data.name}}</strong>,</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #565659;line-height: 1.47;">Thank you for your query. One of our staff members will get back to you shortly.</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Your enquiry:"}}</strong> {{var data.enquiry_type}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "First name:"}}</strong> {{var data.name}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Last name:"}}</strong> {{var data.lastname}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Email:"}}</strong> {{var data.email}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Phone:"}}</strong> {{var data.telephone}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "State:"}}</strong> {{var data.state}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Store selected:"}}</strong> {{var data.store}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Message:"}}</strong> {{var data.comment}}</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;">Kind regards,</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px;  color: #1b365d;font-weight: bold;">Carpet Call</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 12px; color: #565659;">Visit: <u style="color: #1b365d;text-decoration: underline;">www.carpetcall.com.au</u></td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 12px; color: #565659;">Call us: <a href="tel:1300502427" title="call Us" style="color: #1b365d;text-decoration: underline;">1300 502 427</a></td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}