<!--
/**
 * Conversion Digital code
 * @author Nathaniel Rogers <nathaniel@conversiondigital.com.au>
 */
 -->
<!--@subject {{trans "Application Confirmation for Carpet Call  %position" position=$fieldsData.jobs_title}} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p>
                Hi {{var fieldsData.fullname}},
            </p>
            <p>
                Thank you for submitting your interest for the position of {{var fieldsData.jobs_title}}.
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>Details Submitted</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="message-info">
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Name:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.fullname}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Email:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.email}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Position:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.jobs_title}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">State:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.locationName}}</td>
                </tr>
                {{depend fieldsData.cityName}}
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">City:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.cityName}}</td>
                </tr>
                {{/depend}}
            </table>
        </td>
    </tr>
    <tr class="email-signature">
        <td>
            <p>
                Regards,
            </p>
            <p>
                Carpet Call
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
