<!--
/**
 * Conversion Digital code
 * @author Nathaniel Rogers <nathaniel@conversiondigital.com.au>
 */
 -->
<!--@subject {{trans "Application Submitted for Carpet Call %position" position=$fieldsData.jobs_title}} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p>
                Hi Team Carpet Call,
            </p>
            <p>
                {{trans "An applicant has just submitted their application for the position of %position via %careers_url." position=$fieldsData.jobs_title careers_url=$this.getUrl($store,'job',[_nosid:1]) |raw }}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>See their details below and please get in touch with the applicant when possible.</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="message-info">
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Name:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.fullname}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Email:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.email}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Position:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.jobs_title}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">State:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.locationName}}</td>
                </tr>
                {{depend fieldsData.cityName}}
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">City:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var fieldsData.cityName}}</td>
                </tr>
                {{/depend}}
            </table>
        </td>
    </tr>
    <tr class="email-signature">
        <td>
            <p>
                Regards,
            </p>
            <p>
                Carpet Call
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
