<!-- <h1>Free Home Measure</h1>
<p>"You ring or email for our exclusive shop at home service."</p>

<p>Carpet Call takes the hassle out of new home furnishings by offering a free measure and shop at home service that brings our products right to your door.</p>

<p>To book for a free home measure, please complete the form below and we will give a call back to organise your free home measure.</p>
 -->
<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('book_measure_banner')
->toHtml();
?>
<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('book_measure_form_info')
->toHtml();

$fetchCurrentPageUrl = $block->getLayout()->createBlock('Carpetcall\Storefinder\Block\Index\Contact');      
$date = $fetchCurrentPageUrl->gmtDate();
?>

<div class="measure_form_wrap form_container">
    <form autocomplete="off"
        class="form contact"
        action="<?php echo $block->getFormAction() ?>"
        id="contact-form"
        method="post"
        data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
        data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Your details')) ?></span></legend><br />
            <div class="field note no-label"><?= $block->escapeHtml(__('All fields are mandatory')) ?></div>
            <div class="row">
                <div class="field firstname">
                    <label class="label" for="firstname"><span><?= $block->escapeHtml(__('First Name')) ?></span></label>
                    <div class="control">
                        <input name="firstname" id="firstname" autocomplete="firstname" title="<?= $block->escapeHtmlAttr(__('First Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('firstname') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="E.G. John"/>
                    </div>
                </div>
                <div class="field lastname">
                    <label class="label" for="lastname"><span><?= $block->escapeHtml(__('Last Name')) ?></span></label>
                    <div class="control">
                        <input name="lastname" id="lastname" autocomplete="lastname" title="<?= $block->escapeHtmlAttr(__('Last Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('lastname') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" placeholder="E.G. Smith"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field email">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="email" id="email" autocomplete="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="E.G. john.smith@email.com"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field phone">
                    <label class="label" for="phone"><span><?= $block->escapeHtml(__('Phone')) ?></span></label>
                    <div class="control">
                        <input name="phone" id="phone" autocomplete="phone" title="<?= $block->escapeHtmlAttr(__('Phone')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('phone')) ?>" data-validate="{required:true,'validate-number':true}" class="input-text" type="text" placeholder="E.G. 0212345678" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field address">
                    <label class="label" for="address"><span><?= $block->escapeHtml(__('Street Address')) ?></span></label>
                    <div class="control">
                        <input name="address" id="address" autocomplete="address" title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('address')) ?>" data-validate="{required:true}" class="input-text" type="text" placeholder="E.G. 123 King Street" />
                    </div>
                </div>
            </div>
             <div class="row">
                    <div class="field suburb">
                    <label class="label" for="suburb"><span><?= $block->escapeHtml(__('Suburb')) ?></span></label>
                    <div class="control">
                        <input name="suburb" id="suburb" autocomplete="suburb" title="<?= $block->escapeHtmlAttr(__('Suburb')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('suburb')) ?>" class="input-text" data-validate="{required:true}" type="text" placeholder="E.G. Springville" />
                    </div>
                </div>
                <div class="field state">
                    <label class="label" for="state"><span><?= $block->escapeHtml(__('State')) ?></span></label>
                        <div class="control">
                            <?php 
                            $statelist = $this->getStatelist();
                            //echo '<pre>';print_r($statelist); die();
                            ?>
                            <select name="state" autocomplete="state">
                            <option value="">STATE</option>
                            <?php foreach ($statelist as $value) { ?>
                                <option value="<?php echo( $value['name']); ?>"><?php echo( $value['name']); ?></option>
                            <?php } ?>
                            </select>
                    </div>
                </div>
                <div class="field postcode">
                    <label class="label" for="postcode"><span><?= $block->escapeHtml(__('Postcode')) ?></span></label>
                    <div class="control">
                        <input name="postcode" id="postcode" autocomplete="postcode" title="<?= $block->escapeHtmlAttr(__('Postcode')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('postcode')) ?>" class="input-text" data-validate="{required:true,'validate-number':true}" type="text" placeholder="E.G. 1234" />
                    </div>
                </div>
            </div>
    	    <div class="field store_postcode">
    	        <label class="label" for="store_postcode"><span><?= $block->escapeHtml(__('Select a store')) ?></span></label>
    	        <p>Enter your postcode below to find your closest store so we can best respond to your query.</p>
    	        <h5>Postcode</h5>
    	        <div class="control">
    	            <input autocomplete="store_postcode" name="store_postcode" id="store_postcode" title="<?= $block->escapeHtmlAttr(__('Select a store')) ?>" value="" class="input-text" type="text" placeholder="E.G. 3000" data-validate="{required:true,'validate-number':true}"  />
    	        </div>
                <div id="displaystores">
                </div>
            </div>
            <div class="row">
                <div class="field interested_in">
                    <label class="label" for="interested_in"><span><?= $block->escapeHtml(__('I\'m interested in')) ?></span></label>
                        <div class="control">
                            <?php $interestedIn = $this->getInterestedIn(); 
                            $selectedInterestedIn = $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('interested_in'));
                            ?>
                            <select name="interested_in" id="interested_in" autocomplete="interested_in" data-validate="{required:true}">
                                <?php foreach ($interestedIn as $option) { ?>
                                    <option value="<?php echo( $option['value']) ?>" <?php echo ($selectedInterestedIn == $option['value']) ? 'selected="selected"' : '' ?>><?php echo( $option['label']); ?></option>
                                <?php } ?>
                            </select>
                    </div>
                </div>
                <div class="field interested_in_other hidden">
                    <label class="label" for="interested_in_other"><span><?= $block->escapeHtml(__('Other')) ?></span></label>
                    <div class="control">
                        <input name="interested_in_other" id="interested_in_other" autocomplete="interested_in_other" title="<?= $block->escapeHtmlAttr(__('Other')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('interested_in_other')) ?>" data-validate="{'required-if-other-selected':{'dependent':'#interested_in'}}" class="input-text" type="text" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field comment">
                    <label class="label" for="comment"><span><?= $block->escapeHtml(__('Message (Optional)')) ?></span></label>
                    <div class="control">
                        <textarea placeholder="Enter your message here" name="comment" id="comment" autocomplete="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="10" rows="5" ><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" name="datetime" value="<?= $date->format('Y-m-d H:i:s'); ?>" />
            <?php echo $block->getChildHtml('form.additional.info') ?>
            <!-- recaptcha form -->
            <?php echo $block->getChildHtml('form.additional.info.freehomemeasure.form') ?>
            <!-- recaptcha form -->
        </fieldset>

        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                    <span><?= $block->escapeHtml(__('SUBMIT')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="how_works_section">
    <?php
    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('measure_how_works')
    ->toHtml();
    ?>
</div>

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ 
        $(document).ready(function($) {

            // interested in
            let interestedIn = $.parseJSON(sessionStorage.getItem('interestedIn'));
            if (interestedIn != null && typeof interestedIn == 'object') {
                let tempHtml = 'Interested in: ' + interestedIn.prod_name + '\n\n';
                    tempHtml += 'Product Code: ' + interestedIn.prod_code + '\n\n';
                    if (interestedIn.prod_qty > 0) {
                        let labelQty = (interestedIn.prod_type == 'Hard Flooring') ? 'Packs Needed' : 'Quantity';
                        tempHtml += labelQty + ': ' + interestedIn.prod_qty + '\n\n';
                    }
                    if (interestedIn.prod_coverage != "") {
                        tempHtml += 'Total Coverage: ' + interestedIn.prod_coverage + '\n\n';
                    }
                    if (interestedIn.prod_size != "") {
                        tempHtml += 'Selected Size: ' + interestedIn.prod_size + '\n\n';
                    }
                $('#interested_in').val(interestedIn.prod_type);
                $('#comment').html(tempHtml);
            }

            $('#store_postcode').keyup(function() {
              if ($(this).val().length == 4) {
                console.log('do delay with ajax here');
                var URL = '<?php echo $block->getUrl("storefinder/index/footerstoredetails") ?>';
                jQuery.ajax({
                    showLoader: true,
                    url: URL,
                    data: {"store": jQuery('#store_postcode').val()},
                    type: "GET",
                    dataType: 'json'
                }).done(function (data) {
                    jQuery('#displaystores').html(data.value);
                });
              }
            });

            $('#interested_in').change(function() {
                if ($(this).val() == 'Other') {
                    $('.interested_in_other').removeClass('hidden');
                } else {
                    $('.interested_in_other').val('');
                    $('.interested_in_other').addClass('hidden');
                }
            });
        }); 
    });
   
</script>

<script type="text/javascript">
require(
[
    'jquery',
    'Magento_Ui/js/modal/modal'
],
function (
    $,
    modal
) {
    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
        if ($(this).valid()) {
            sessionStorage.removeItem('interestedIn');
        } else {
            $(this).find(':submit').prop('disabled', false);
        }
    });
});
</script>