.about-us-wraaper {
    .flex-display(flex);
    .flex-wrap(wrap);
    .align-items(flex-start);
    padding: 20px 0 70px;
    @media screen and (max-width: @mobile) {
        padding: 20px 0 30px;
    }
    &> .block {
        .flex(0 0 30%);
        padding: 20px;
        background: @grey_border_color;
        @media screen and (max-width: @mobile_sm) {
            .flex(0 0 100%);
            padding: 20px;
        }
    }
    .about-us-content {
        .flex(0 0 100%);
        padding: 0;
        @media screen  and (max-width: @mobile_sm) {
            padding: 0 0 20px;
        }
    }
    .about-sidebar{
         li a {
            .futura-Medium();
            font-weight: 500;
            line-height: 1.3125rem;
            color: @blue_link_color;
            line-height: 1.6875rem;
            margin: 0 0 10px;
            display: inline-block;
            padding-left:15px;
            .transition(all 0.3s ease);
            position:relative;
            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 6px solid @blue_link_secondary;
                left: 0;
                top: 9px;
                .transition(all 0.3s ease);
            }
            &:hover{
                color: @blue_link_secondary;
                padding-left: 20px;
                &:before{
                    left: 5px;
                }
            }
        }
    }
    .about-us-content{
        h2 {
            .h2();
            margin: 0 0 20px;
            text-transform: none;
            @media screen and (max-width: @mobile) {
                margin: 0 0 20px;
            }
            a{
                color: @blue_link_secondary;
                &:hover{
                    color:@blue_link_color;
                }
            }
        }
         h3 {
            .h3();
            margin: 0 0 20px;
            text-transform: none;
            @media screen and (max-width: @mobile) {
                margin: 0 0 20px;
            }
        }
        ul, ol {
            margin: 0 0 30px;
            padding-left: 25px;
            li {
                margin-bottom: 10px;
            }
        }
        ol {
            list-style: decimal;
        }
        ul {
            list-style: circle;
        }
        p,q {
            margin: 0 0 30px;
            display: block;
        }
        p {
            font-size: 1rem;
            line-height: 1.6875rem;
        }
        iframe {
            max-width: 100%;
        }
        table{
            width: 100%;
        }
        a{
            color: @blue_link_color;
            .futura-Medium();
            font-weight: 500;
            strong{
                font-weight: 500;
            }
            &:hover{
                color: @blue_link_secondary;
            }
        }
        q {
            font-size: 1.125rem;
            &:before,&:after{
                display: inline-block;font-size: 2rem;color: #a2a2a2;
            }
            &:before{
                content: '\0275D';
                margin-right: 0.5rem;
            }
            &:after{
                content: '\0275E';
                margin-left: 0.5rem;
            }
        }
        img {
            float: right;
            margin-left: 20px;
            margin-bottom: 20px;
             @media screen and (max-width: @mobile) {
                float: none;
                margin: 0 auto 25px;
            }
        }
    }
}
