/* section below banner css starts */
.measure-form-info{
   .container();
    margin: 0 auto;
    padding: 50px 0 30px;
    font-size: 1rem;
    @media screen and (max-width: @mobile) {
    	padding: 15px 0 30px;
    }
    p{
	    margin: 0 !important;
	    max-width: 74%;
	    font-size: 1rem;
	    line-height: 1.6875rem;
	    @media screen and (max-width: @tablet){
	        max-width: 100%;
	        line-height: 1.7;
		}
	}
}
/* section below banner css end */


/*Form section*/
.measure_form_wrap{
	display: block;
}
.form_container{
	.container();
}

/*=== Form control common css ===*/

.form.contact{
	.form();
	@media screen and (max-width: @mobile){
		margin: 0 0 30px;
	}
	.legend {
	   .h2();
	   text-transform: capitalize;
	    margin: 0 0 12px;
	    padding:0;
	    border:none;
	    @media screen and (max-width: @mobile){
			margin: 0 0 16px;
		}
	}
	.field.note{
		font-size: 1rem;
		margin: 0 0 30px;
		color: @red_color;
		@media screen and (max-width: @mobile) {
			margin: 0 0 20px;
			font-size: 16px;
    		line-height: 19px;
		}
	}
	.row .field{
		&.firstname,&.lastname,&.interested_in,&.interested_in_other {
		    width:  50%;
		    @media screen and (max-width: @mobile) {
		    	width: 100%;
		    	margin: 0 0 20px;
		    }
		}
		&.suburb,&.state,&.postcode {
		    width: 33.33%;
		    @media screen and (max-width: @mobile) {
		    	width: 100%;
		    }
		}
		&.email,&.phone,&.address,&.comment{
			width:  100%;
			margin: 0 0 20px;
		}
	}
	.field{
		&.store_postcode{
			margin: 30px 0 40px;
			@media 	screen and (max-width: @mobile) {
			    margin: 45px 0 40px;
			}
			.label{
				.h2();
				text-transform: none;
				margin: 0 0 10px;
			}
			p{
				margin-bottom: 20px;
			    font-size: 1rem;
			    line-height: 1.1875rem;
			    margin-top: 0;
			    @media 	screen and (max-width: @mobile) {
				    font-size: 16px;
				    line-height: 19px;
				}
			}
			h5{
				display: block;
			    margin: 0 0 8px;
			    .futura-Medium();
			    font-size: 1rem;
			    line-height: 1.75rem;
			    color: @form_label_grey;
			}
			input{
				max-width: 360px;
				width: 100%;
				@media 	screen and (max-width: @mobile) {
					max-width: 100%;
				}
			}
		}
	}
	.actions-toolbar{
		&> .primary{
			text-align: left;
		}
		.action{
			.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
			margin-top: 30px;
			.futura-Medium();
			padding:20px 32px;
			font-size: 1rem;
			line-height: 1.3125rem;
			margin-left: 0;
			width: auto;
			@media screen and (max-width: @mobile) {
				padding: 14px 25px;
			    font-size: 12px;
			    line-height: 15px;
			    margin: 25px 0 0;
			}
		}
	}
	.fieldset {
	    margin: 0;
	}
}
/*=== Book Measure How it works section ===*/
.how_works_section{
    border-top: 1px solid @section_breaker_border;
    padding-top: 45px;
    padding-bottom: 70px;
    .container();
	@media screen and (max-width: @mobile) {
		padding-top: 40px;
		padding-bottom: 30px;
	}
    h2 {
	    .h2();
	    text-transform: none;
	    margin: 0 0 8px;
	    &+ h2 {
		    margin: 0 0 15px;
		}
	}
	p{
	    font-size: 1rem;
	    line-height: 1.6875rem;
	    width: 100%;
	    max-width: 840px;
	    margin: 0 0 30px;
	    @media screen and (max-width: @mobile) {
	    	line-height: 27px;
		    margin: 0 0 20px;
		    font-size: 16px;
	    }
	}
	a{
	    color: @blue_link_secondary;
	    .futura-Medium();
	}
}

/*=== FAQ section===*/
.faq-section{
	h2 {
	    margin: 0 0 20px;
	    @media screen and (max-width: @mobile) {
	    	margin: 10px 0 15px;
	    }
	}
	.accordian{
		.accordian();
		& > .accordian-title{
			&.active {
				padding-top: 0px;
				font-size: 1.25rem;
				font-weight: 500;
				line-height: 1.6875rem;
				color: @blue_link_color;
				margin: 0;
				text-transform: none;
				cursor: pointer;
				position: relative; 
			}
		}
	}
	.more-info-para{ 
		margin: 25px 0 30px;
		max-width: 100%;
		@media screen and (max-width: @mobile) {
	    	margin: 30px 0 0;
	    }
	}
}

.freehomemeasure-index-index{
	.page-main{
		max-width: 100%;
	}
	.messages {
	    max-width: 1140px;
	    margin-left: auto;
	    margin-right: auto;
	}
}