.contact-index-index{
	.messages {
	    max-width: 1140px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.page-title-wrapper{
		display: none;
	}
	.page-banner-wrap .banner-container .banner-content h1{
		text-transform: capitalize;
	}
	.page-main{
		max-width: 100%;
	}
	.form_container{
		width: 100%;
		.container();
		margin: 0 auto;
	}
	.column:not(.sidebar-additional) .form.contact {
	    min-width: auto;
	    width: 100%;
	}
	.columns .column.main{
		@media screen and (max-width: @mobile) {
			padding-bottom:0;		
		}	
	}
	/*Contact form*/
	.form.contact{
		padding-top: 50px;
		 @media screen and (max-width: @mobile) {
	    	padding-top:20px;
	    }
		.row .field{
			&.name,&.lastname {
			    width:  50%;
			    @media screen and (max-width: @mobile) {
			    	width: 100%;
			    }
			}
			&.name{
				@media screen and (max-width: @mobile) {
			    	margin:0 0 13px;
			    }	
			}
			&.address{
				margin: 0 0 25px;
			}
		}
		.field{
			&.enquiry{
				margin:0 0 50px;
				@media screen and (max-width: @mobile) {
					margin:0 0 30px;
				}
				&+ .legend {
					@media screen and (max-width: @mobile) {
					    margin: 0 0 10px;
					}
				}
			}
			&.email{
				@media screen and (max-width: @mobile) {
			    	margin:0 0 13px;
			    }	
			}
			&.comment{
				margin:0 0 25px;
				@media 	and (max-width: @mobile) {
					marign:0 0 35px;
				}
				.label{
					.h2();
					text-transform: none;
					margin: 0 0 10px;
				}
				h5{
					display: block;
				    margin: 0 0 8px;
				    .futura-Medium();
				    font-size: 1rem;
				    line-height: 1.75rem;
				    color: @form_label_grey;
				}
			}
			&.store{
				#displaystores {
				    margin: 50px 0 10px;
				    @media screen and (max-width: @mobile) {
				    	margin: 18px 0 36px;
				    }
				}
			}
		}
		.field-recaptcha .field {
		    margin: 0;
		}
	}

}

/*Free flooring and find a store css*/
	.free_measure_row {
	    display: block;
	    .container();
	    margin: 0 auto;
	    border-top: 1px solid @section_breaker_border;
	    padding-top: 49px;
	    .flex-display(flex);
	    .justify-content(space-between);
	    .align-items(flex-start);
	    .flex-wrap(wrap);
	    padding-bottom: 80px;
	  //   @media screen and (max-width: @tablet) {
	  //   	padding-left:20px;
			// padding-right:20px;
	  //   }
	    @media screen and (max-width: @tablet_sm) {
	    	padding-top: 39px;
	    	padding-bottom: 35px;
	    }
	    @media screen and (max-width: @mobile) {
	    	padding-top: 30px;
	    	padding-bottom: 50px;
	    }
	}

	.find_store_section,.free_flooring {
		.flex(0 0 50%);
		@media screen and (max-width: @mobile) {
			.flex(0 0 100%);
		}
		h3 {
		    .h2();
		    margin: 0 0 15px;
		    text-transform: capitalize;
		    @media screen and (max-width: @mobile) {
				font-size: 20px;
				line-height: 27px;
				margin: 0 0 15px;
			}
		}
		p {
		    text-align: left;
		    font-size: 1rem;
		    line-height: 1.1875rem;
		    margin: 0 0 30px;
		     @media screen and (max-width: @mobile) {
				font-size: 16px;
				line-height: 21px;
			}
		}
	}
	// Free flooring
	.free_flooring {
	    position: relative;
	    &:before {
		    content: '';
		    position: absolute;
		    top: 40px;
		    bottom: 40px;
		    right: 0;
		    width: 1px;
		    background: @section_breaker_border;
		    @media screen and (max-width: @mobile) {
				display: none;
			}
		}
		 p {
		    width: 87.75%;
		    max-width: 100%;
		    @media screen and (max-width: @mobile) {
		    	width: 100%;
		    }
		    &:last-child {
			    margin-bottom: 0;
			}
		}
		a{
			.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
			.flex-display(inline-flex);
	    	.align-items(center);
	    	.futura-Bold();
	    	padding: 14px 32px 14px 21px;
	    	@media screen and (max-width: @mobile) {
		    	font-size: 14px;
		    }
	    	img {
			    display: inline-block;
			    margin: 0;
			    margin-right: 14px;
			    vertical-align: middle;
			    padding: 0;
			    max-width: 32px;
			    height: auto;
			}
		}
	}

	// Find store
	.find_store_section {
	    padding-left: 65px;
	    @media screen and (max-width: @mobile) {
			padding-left:0;
			padding-top: 25px;
		    border-top: 1px solid @section_breaker_border;
		    margin-top: 30px;
		}
	    .form_group {
		    .flex-display(flex);
		    .flex-wrap(wrap);
		    width: 100%;
		    @media screen and (max-width: @mobile) {
		    	display: block;
		    }
		}
		input[type="text"] {
		    width: auto !important;
		    min-width: 250px;
		    font-size: 14px;
		    min-height: 40px;
		    height: auto;
		    margin-right: -1px;
		    @media screen and (max-width: @tablet_sm) {
		    	width: 100% !important;
		    	margin: 0 0 15px;
		    	margin-right: -1px;
		    }
		    @media screen and (max-width: @mobile) {
			    min-width: auto;
			    display: block;
				margin: 0;
				height: 100%;
		    	display: inline-block;
			    width: ~"calc(100% - 111px)" !important;
			    vertical-align: top;
			    margin-right: -4px;
			}
		}
		button {
			.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
		    box-shadow: none;
		    width: 120px;
		    .flex-display(inline-flex);
		    .align-items(center);
		    border-radius: 0px;
		    .futura-Medium();
		    font-size: 1rem;
		    line-height: 1.3125rem;
		    text-transform: capitalize;
		    padding: 11px 18px 11px 21px;
		    border: none;
		    @media screen and (max-width: @mobile) {
		    	font-size: 14px;
		    	width: 110px;
		    	margin-top: 0;
		    	padding: 11px 18px 11px 21px;
		    }
		    img {
			    margin: 0;
			    max-width: 17px;
			    margin-right: 10px;
			}
		}
	}


	.custom-location {
	    max-width: 1140px;
	    margin: 0 auto;
	    &.store-bottom-active{
	    	padding-bottom: 80px;
	    	@media screen and (max-width: @tablet_sm){
	    		padding-bottom: 35px;
	    	}
	    	@media screen and (max-width: @mobile){
	    		padding-bottom: 50px;
	    	}
	    }
		@media screen and (max-width: @mobile) {
			.store_list {
				li {
				    padding: 15px;
				}
			}
		}
		.field.choice{
			display: none;

		}
	}



	