.cms-delivery-policy{
    .page-title{
        margin: 35px 0 15px;
        @media screen and (max-width: @mobile) {
            margin: 20px 0 15px;
        }
    }
    .cms-container{
        max-width: 840px;
        width: 100%;
        padding: 0; 
        @media screen and (max-width:@mobile){
            padding: 0;
        }
        strong{
            .h2();
            text-transform: none;
            margin: 10px 0;
            display: block;
            @media screen and (max-width:@mobile){
                margin: 7px 0 5px;
            }
        }
        p{
            font-size: 1rem;
            line-height: 1.6875rem;
            margin: 0 0 30px;
            @media screen and (max-width:@mobile){
                font-size: 16px;
                line-height: 27px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .columns .column.main{
        padding-bottom: 90px;
        @media screen and (max-width:@mobile){
            padding-bottom: 60px;
        }   
    }
    .breadcrumbs{
        display: none;
    }
}
