.faq-index-index{
	.page-main {
	    max-width: 100%;
	}
	.page-banner-wrap .banner-container .banner-content {
	    padding: 32px 20px 38px 0;
	    @media screen and (max-width: @mobile) {
	    	padding: 20px 20px 20px 0;
	    }
	    h1{
	    	text-transform: none;
	    }
	}
	.page-title-wrapper{
		.page-title{
			display: none;
			text-align: center;
			margin: 30px 0 45px 0;
			@media screen and (max-width: @mobile) {
				margin: 30px 0 25px 0;
			}
		}
	} 
	.page-banner-wrap{
		background: transparent;
	}
	// Category banner
	.faq-category-banner.page-banner-wrap{
		 .banner-container{
		 	.banner-content {
			    padding: 60px 0 80px;
			    @media screen and (max-width: @mobile) {
			    	padding: 28px 0 30px;
			    }
			    p {
				    max-width: 585px;
				    @media screen and (max-width: @mobile) {
			            max-width: 100%;
			        }
				}
			}
		 }
	}
}
.faq_content_wrapper {
    padding: 65px 0 80px;
    @media screen and (max-width: @tablet) {
    	padding: 45px 0 60px
    }
    @media screen and (max-width: @mobile) {
    	padding: 0 0 25px
    }
	.faq_container {
	 	.container();
	    .flex-display(flex);
	    .align-items(normal);
	    .flex-wrap(wrap);
	    @media screen and (max-width: @mobile) {
	    	.flex-direction(column-reverse);
	    }
	}
	.expertise_section {
	    .flex(0 0 75%);
	    position:relative;
	    padding-right: 9.75%;
	    @media screen and (max-width: @tablet_sm) {
	    	.flex(0 0 70%);
	    }
	    @media screen and (max-width: @mobile) {
	    	.flex(0 0 100%);
	    	padding-right:0;
	    }
	    &:before {
		    content: '';
		    position: absolute;
		    top: -10px;
		    bottom: 0;
		    background: @section_breaker_border;
		    width: 2px;
		    right: 0;
		    @media screen and (max-width: @mobile) {
		    	display: none;
		    }
		}
	    p{
	    	font-size: 1rem;
	    	margin: 0 0 35px;
	    	line-height: 1.6875rem;
	    	@media screen and (max-width: @mobile) {
		    	font-size: 16px;
		    	line-height: 27px;
		    	&:last-child{
		    		margin:0;
		    	}
		    }
	    }
	    h2{
			.h2();
			text-transform: none;
			margin-bottom: 15px;
			@media screen and (max-width: @mobile) {
		    	font-size: 24px;
		    	line-height: 32px;
		    }
		}
	}
	.faq_category {
	    padding: 15px 0 30px 40px;
	    .flex(0 0 25%);
	    @media screen and (max-width: @tablet_sm) {
	    	.flex(0 0 30%);
	    }
	    @media screen and (max-width: @mobile) {
	    	.flex(0 0 100%);
	    	padding: 0 0 25px 0;
	    	width: 100%;
	    }
		h4{
			.h4();
			margin: 15px 0 25px;
			@media screen and (max-width: @tablet) {
		    	font-size: 18px;
		    	line-height: 25px;
		    	margin: 20px 0;
		    }
		}
		.category_list{
			&:before,&:after{
	            content: '';
	            display: block;
	            clear: both; 
	        }
	        li{
				margin: 0 0 15px;
	            float: left;
	            clear: both;
	            width: 100%;
	        }
	        a{
	            color: @blue_link_secondary;
	            font-size: 1rem;
	            line-height:normal;
	            text-transform: capitalize;
	            position: relative;
	            padding-left: 13px;
	            @media screen and (max-width: @mobile) {
	            	font-size: 16px;
	            }
	            &:before {
	                content: '\e619';
	                .luma-icon();
	                position: absolute;
	                left: 0;
	                top: 50%;
	                .transform(translateY(-50%));
	                font-size: 10px;
	            }
	            &:nth-child(2n+1){
	                clear: both;
	            }
	            &:nth-child(even) {
	                padding-right: 0;
	            }
	        }
		}
	}
}

/*Category FaQ*/
.category_faq_content_wrapper.faq_content_wrapper {
    padding: 65px 0;
     @media screen and (max-width: @tablet) {
    	padding: 45px 0;
    }
    @media screen and (max-width: @mobile) {
    	padding: 0;
    }
	.faq_container {
	    @media screen and (max-width: @mobile) {
	    	.flex-direction(column);
	    	padding: 30px 0 20px;
	    }
	    .faq_category{
    	   @media screen and (max-width: @mobile) {
			    padding: 0;
			}
	    	h4 {
			    @media screen and (max-width: @mobile) {
				    margin: 40px 0 20px;
				}
			}
	    }
	}
}