.cms-index-index{
	.page-title-wrapper {
	    display: none;
	}
	.page-main{
		max-width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	@media screen and (max-width: @mobile) {
		.columns .column.main {
		    padding-bottom: 0;
		}
		.page-main{
		    padding-left: 10px;
		    padding-right: 10px;
		}
	}
	.products-grid{
	    .product-item-info{
	    	&:hover,&.active{
	    		.product-item-inner{
	    			display: none;
	    		}
	    	}
	    }
	}
	.blog-wrapper .post-list-container .post-list-item .post-item-wraper {
		padding: 24px 30px 37px 24px !important;
		@media screen and (max-width: @mobile) {
			padding: 18px 20px 20px 15px !important;
		}
	}
}

// Our products section
.product-main-wrap {
    padding: 60px 0px;
    &.clearance-main-wrap{
    	padding:60px 0px 100px;
    	@media screen and (max-width: @mobile) {
    		padding:40px 0;
    	}    	
    	[class*="swatch-opt"] {
		    display: none;
		}
		.product-item-inner{
			display: none;
		}
    	.clear-button {
		    text-align: center;
		    a {
		    	.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
			    padding: 20px 30px;
			    text-transform: uppercase;
			    text-decoration: none;
			    margin: 0 auto;
			    @media screen and (max-width: @mobile) {
			    	padding: 12px 20px;
				    font-size: 12px;
			    }
			}
		}
    }
    @media screen and (max-width: @mobile) {
    	&:not(.clearance-main-wrap) .out-product-section {
		    display: none;
		}
		&:not(.clearance-main-wrap) {
		    padding: 25px 0 0;
		    margin:0px -10px;
		}
    }
}

.out-product-section {
    max-width: 940px;
    margin: 0 auto 50px !important;
    text-align: center;
    @media screen and (max-width: @mobile) {
    	margin: 0 auto 30px !important;
    }
    h2{
    	.h2();
    }
    p {
    	.p();
	    margin: 0 0 50px;
	}
}
// listing section
.our-product-images {
    width: 100%;
    max-width: 1145px;
    margin: 0 auto;
    ul {
	    padding: 0px;
	    .flex-display(flex);
	    flex-wrap: wrap;
	    margin: 0px -15px;
	    .justify-content(center);
	    &.mobile{
	    	display: none;
	    }
	    @media screen and (max-width: @mobile) {
	    	margin: 0;
	    	border-bottom: 1px solid @section_breaker_border;
	    	&.desktop{
	    		display: none;
	    	}
	    	&.mobile{ 
		    	display: block;
		    }
	    }
	    li {
		    list-style: none;
		    width: ~"-webkit-calc(33.3% - 30px)";
		    width: ~"calc(33.3% - 30px)";
		    padding: 0px;
		    margin: 15px 13px;
		    height: 240px;
		    overflow: hidden;
		    position: relative;
		    padding: 0px;
			.box-shadow(6px 6px 9px 0px rgba(0, 0, 0, 0.2));
			transform: translateX(0);
			&:hover{
				animation: 0.55s moveTitle ease-in-out;
			}
		    @media screen and (max-width: @mobile) {
		    	width: 100%;
			    box-shadow: none;
			    height: auto;
			    margin: 0;
			    border-bottom: none;
	    		border-top: 1px solid #D8D8D8;
	    		overflow: visible;
	    		text-align: left;
	    		padding-left: 71px;
	    		// min-height: 57px;
	    		min-height: auto;
			    .flex-display(flex);
			    .align-items(center);
			    padding: 0;
			    padding-left: 71px;
				.block-category-link.widget {
				    width: 100%;
				}
		    }
		    img {
			    width: 100%;
			    height: 100%;
			    -o-object-fit: cover;
			    object-fit: cover;
			    margin: 0px;
			    display:block;
			    max-height: 100%;
			    max-width: 100%;
			    @media screen and (max-width: @mobile) {
				    margin: 0;
				    position: absolute;
				    left: 13px;
				    max-height: none;
				    object-fit: fill;
				    object-position: 50% 50%;
				    height: auto;
				    width: auto;
				    max-width: 100%;
			    }
			}
			a {
			    position: absolute;
			    bottom: 10px;
			    z-index: 9;
			    left: 10px;
			    right: 10px;
			    text-align: center;
			    padding: 10px;
			    background: #fff;
			    text-decoration: none;
			    color: @blue_link_secondary;
			    .futura-Medium();
			    font-weight: 500;
			    letter-spacing: 0;
			    line-height: 1.875rem;
				font-size: 1.375rem;
				transform: translateX(0);
				&:first-child{
					position: relative;
					top: 0;
					left: 0;
					padding: 0;
					margin: 0;
				}
			    @media screen and (max-width: @mobile) {
			    	display: inline-block;
				    position: static;
				    width: 100%;
				    color: @blue_link_color;
				    text-transform: capitalize;
				    text-align: left;
				    font-size: 1.1428rem;
				    line-height: normal;
				    position: relative;
				    width: 100%;
				    top: auto;
				    left: auto;
				    right: auto;
				    bottom: auto;
				    padding: 17px 35px 17px 0;
				    &:before {
					    content: '';
					    position: absolute;
					    right: 10px;
					    top: 50%;
					    // .transform(translateY(-50%) rotate(-45deg));
					    // border: solid @blue_link_secondary;
					    // border-width: 0 3px 3px 0;
					    display: inline-block;
					    // padding: 3px;
					    .transform(translateY(-50%));
					    border: none;
					    font-weight: bold;
					    color: @blue_link_secondary;
					    font-size: 13px;
					    width: 9px;
					    height: 15px;
					    background:url(../svg/menu-right.svg) no-repeat;
					    background-size:9px 15px;
					}
				}
			}	
		}
	}
}

// Instagram section
.insta-title{
	.h2();
	margin: 70px 0;
	text-align: center;
	a{
		color: @orange_color;
	}
	@media screen and (max-width: @mobile) {
	 	margin: 30px auto;
	    max-width: 260px;
	    text-align: center;
	 }
}
.mpinstagramfeed-container{
	padding: 0 0 70px;
	max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: @mobile) {
    	padding: 0 0 25px
    }
	h2{
		.h2();
		margin: 0 0 70px;
		text-align: center;
		display:none;
		@media screen and (max-width: @mobile) {
		 	margin: 0 auto 30px;
		    max-width: 260px;
		    text-align: center;
		 }
	}
	.insta-slider{
		@media screen and (max-width: @mobile) {
			margin: 0 -10px;
			width: auto;	
		}
		.owl-dots {
		    display: none;
		}
	}
	.mpinstagramfeed-photo{
		width: 100% !important;
		width: 100%;
		 img {
		    display: block;
		    width: 100%;
		    height: 295px;
		    object-fit: cover;
		    padding: 0;
		}
	}
}

// social icon below insta feed
.social-below-insta {
    padding: 0;
    margin: 0 0 74px;
    list-style: none;
    .flex-display(flex);
    .align-items(center);
    .justify-content(center);
    @media screen and (max-width: @mobile) {
    	margin: 0 0 50px;
    }
    li {
	    padding: 0 25px;
	    @media screen and (max-width: @mobile) {
	    	padding: 0 15px;
	    }
	    img {
		    width: 40px;
		    margin: 0 auto;
		    height: auto;
		    @media screen and (max-width: @mobile) {
		    	width: 27px;
		    }
		}
		a:hover{
			img{
				-webkit-filter: invert(0) brightness(0);
				filter: invert(0) brightness(0);
			}
		}
	}
}

// Banner section
.hero-section {
    .flex-display(flex);
    .flex-wrap(wrap);
    margin: 0 -15px;
    padding: 15px 0;
    @media screen and (max-width: @mobile) {
    	margin: 0;
    	padding: 0;
    	&.owl-carousel{
    		width: auto;
    	}
    }
    .hero-image-wrap {
	    padding: 15px;
	    .flex-display(flex);
	    .flex-direction(column);
	    // height: 475px;
	    // @media screen and (max-width: @desktop_sm) {
	    // 	height: 425px;
	    // }
	    // @media screen and (max-width: @tablet) {
	    // 	height: 365px;
	    // }
	    @media screen and (max-width: @mobile_sm) {
	    	 padding: 0 0 7px;
	    	 // height: 265px;
	    }
	    .banner-inner{
	    	position: relative;
		    height: 0px;
		    padding-bottom: 100.5%;
		    @media screen and (max-width: 1600px) {
		    	padding-bottom:100.85%;
		    }
		    @media screen and (max-width: 1440px) {
		    	padding-bottom:101.5%;
		    }
		    @media screen and (max-width: 1280px) {
		    	padding-bottom:102%;
		    }
		    @media screen and (max-width: @tablet) {
		    	padding-bottom: 103.55%;
		    }
		    @media screen and (max-width: @tablet_sm) {
		    	padding-bottom: 106.125%
		    }
		    @media screen and (max-width: @mobile_sm) {
		    	height: auto;
		    	padding-bottom: 0;
		    }
	    }
	    img {
		    width: 100%;
		    margin: 0;
		    position: absolute;
		    height: 100%;
		    left: 0;
		    top: 0;
		    max-width: 100%;
		    @media screen and (max-width: @mobile_sm) {
		    	height: auto;
		    	position: static;
		    }
		}
		.banner-content {
		    position: absolute;
		    background: rgba(255,255,255,0.78);
		    left: 40px;
		    right: 40px;
		    top: 50%;
		    .transform(translateY(-50%));
		    padding: 60px 50px;
		    text-align: center;
		    @media screen and (max-width: @desktop_sm) {
		    	left: 40px;
    			right: 40px;
    			padding: 50px 40px;
		    }
		    @media screen and (max-width: @tablet) {
		    	left: 30px;
			    right: 30px;
			    padding: 40px 20px;
		    }
		    @media screen and (max-width: @mobile) {
	    	    left: 20px;
			    right: 20px;
			    padding: 27px 35px;
			    transform: none;
			    bottom: 20px;
			    top: 20px;
			}
		    h2 {
			    padding: 0;
			    margin: 0 0 20px;
			    .futura-Bold();
			    text-transform: uppercase;
			    font-size: 2.9375rem;
			    color: @blue_link_color;
			    line-height: 3.8125rem;
			    @media screen and (max-width: @desktop_sm) {
			    	font-size: 2.5rem;
				    line-height: 3.125rem;
				    margin: 0 0 10px;
			    }
			    @media screen and (max-width: @tablet) {
			    	font-size: 2.125rem;
			    }
			    @media screen and (max-width: @mobile) {
			    	line-height: 1.125;
			   		font-size: 1.92rem;
    				margin: 0 0 10px;
			    }
			    @media screen and (max-width: @mobile_xs) {
			    	font-size: 21px;
			    }
			}
		}
		.clear-button {
		    text-align: center;
		    a, button {
		    	.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
			    padding: 20px 30px;
			    text-transform: uppercase;
			    text-decoration: none;
			    margin: 0 auto;
			    display: inline-block;
			    .futura-Medium();
			    @media screen and (max-width: @desktop_xxs) {
			    	padding:20px 25px;
			    }
			    @media screen and (max-width: @tablet) {
			    	padding:16px 12px;
			    }
			}
		}
	    &.hero-image-square {
		    .flex(0 0 50%);
		    @media screen and (max-width: @mobile) {
		    	.flex(0 0 100%);
		    }
		    .banner-inner{
		    	padding-bottom: 48.5%;
		    	@media screen and (max-width: @mobile_sm) {
			    	height: auto;
			    	padding-bottom: 0;
			    }
		    }
		    .banner-content{
		    	 h2 {
				    margin-bottom: 40px;
				    @media screen and (max-width: @tablet) {
				    	margin-bottom: 30px;
				    }
				    @media screen and (max-width: @mobile) {
			     		margin-bottom: 20px;
			     	}

				    span{
				     	color: @orange_color;	
				     	@media screen and (max-width: @mobile) {
				     		display: block;
				     	}
				    }
				}
		    }
		    p {
			    position: absolute;
			    right: 30px;
			    bottom: 25px;
			    margin: 0;
			    color: @blue_link_color;
			    font-size: 12px;
			    font-weight: 300;
			    letter-spacing: 0;
			    line-height: 1.6875rem;
			    @media screen and (max-width: @tablet) {
			    	right: 20px;
    				bottom: 15px;
			    }
			    @media screen and (max-width: @mobile) {
				    left: 20px;
				    right: 20px;
				    margin: 0 auto;
				    bottom: 30px;
				    text-align: center;
				    padding: 0 20px;
				    line-height: 27px;
			    }
			}
		    .clear-button a {
			    padding: 22px 32px;
			    font-size: 1rem;
			    @media screen and (max-width: @mobile) {
			    	padding: 14px 22px;
				    font-size: 12px;
				    line-height: normal;
			    }
			}
		}
		&.hero-image-circle,&.hero-image-plain {
		    .flex(0 0 25%);
		    @media screen and (max-width: @mobile) {
		    	.flex(0 0 50%);
		    }
		}
		&.hero-image-circle{
			.banner-content {
			    border-radius: 100%;
			    padding: 90px 30px;
			    background: @white-color;
			    width: 71%;
			    margin: 0 auto;
			    max-width: 283px;
			    @media screen and (max-width: @desktop_sm) {
			    	padding: 70px 30px;
				    width: 79%;
				    left: 20px;
				    right: 20px;
			    }
			    @media screen and (max-width: @desktop_xs) {
				    width: 81%;
			    }
			    @media screen and (max-width: @tablet) {
			    	width: 84%;
    				padding: 60px 25px;
			    }
			    // @media screen and (max-width: @tablet_sm) {
			    // 	max-width: 220px;
			    // }
			    @media screen and (max-width: @mobile) {
			    	max-width: 196px;
				    padding: 60px 25px;
				    top: 50%;
				    .transform(translateY(-50%));
				    bottom: auto;
			    }
			    h2 {
				    margin-bottom: 10px;
				    font-size: 1.25rem;
				}
			}
			.clear-button {
			    a, button {
			    	.futura-Bold();
			    }
			}
		}
		&.hero-image-plain{
			.banner-content {
			    background: none;
			    transform: none;
			    top: auto;
			    bottom: 0;
			    padding: 60px 25px;
			    @media screen and (max-width: @desktop_sm) {
			    	padding: 60px 15px;
				    max-width: 100%;
				    left: 20px;
				    right: 20px;
			    }
			    @media screen and (max-width: @tablet) {
			    	padding: 60px 15px;
				    max-width: 100%;
				    left: 15px;
				    right: 15px;
			    }
			    h2,p{
			    	color: @white-color;
			    }
			    h2{
			    	@media screen and (max-width: @desktop_sm) {
			    		font-size: 2.125rem;
    					line-height: 3rem;
			    	}
			    	@media screen and (max-width: @tablet) {
			    		font-size: 1.65rem;
    					line-height: 2.5rem;
			    	}
			    }
			}
		}
	}

	// Mobile
	@media screen and (max-width: @mobile_sm){
		.owl-dots {
		    margin: 0;
		    text-align: center;
		    .owl-dot {
			    width: 38px;
			    height: 7px;
			    background-color: @light_grey_e4_color;
			    border-radius: 7px;
			    border: none;
			    box-shadow: none;
			    margin: 0 4px;
			    &.active {
				    background-color: @dark_grey_a2_color;
				}
			}
		}
	}
}

// our clearance section
.our-clearance-main{
	ul {
	    .container();
	}
}


@keyframes moveTitle {
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(6px);
	}
	100%{
		transform: translateX(0px);
	}
}