.cms-ideas-advice{
    .page-main {
        max-width: 100%;
    }
     .page-banner-wrap .banner-container .banner-content h1 {
        text-transform: capitalize;
    }   
    .columns .column.main {
        padding-bottom: 0;
    }
    .blog_container .category_list{
        h5{
            display: none;
        }
        ul{
            .flex-display(flex);
            .align-items(center);
            .justify-content(space-between);
            width: 85%;
            .flex-wrap(wrap);
            @media screen and (max-width: @mobile_sm) {
                width: 100%;
            }
            li {
                display: block;
                float: left;
                margin-right: 0;
                padding: 0;
                display: block;
                border: none;
                .flex(0 0 50%);
                margin: 10px 0 7px;
                @media screen and (max-width: @mobile_sm) {
                    .flex(0 0 100%);
                }
                &:nth-child(2n+1) {
                    clear: both;
                }
                a{
                    float: none;
                    margin: 0;
                }
            }
        }
    }
}

.blog_container{
    .container();
    padding: 0 0 30px;
     @media screen and (max-width:@desktop_xs) {
        padding: 0 0 20px;
    }
    ul{
        &> li {
            position: relative;
            border-bottom: 1px solid @section_breaker_border;
            padding: 60px 0;
            .flex-display(flex);
            .justify-content(space-between);
            .flex-wrap(wrap);
             @media screen and (max-width:@desktop_xs) {
                padding: 40px 0;
            }
            @media screen and (max-width:@mobile_md) {
                padding: 30px 0;
            }
            .idea-desc {
                .flex(0 0 68%);
                @media screen and (max-width:@mobile_md) {
                    .flex(0 0 100%);
                }
                &+p{
                    .flex(0 0 31.5%);
                    @media screen and (max-width:@mobile_md) {
                        .flex(0 0 auto);
                        margin: 0 auto 20px;
                    }
                }
            }
            &:last-child{
                border-bottom: none;
            }
            img {
                width: 100%;
                display: block;
                max-width:100%;
            }
            h2,a {
                .h2();
                text-transform: capitalize;
                margin: 0 0 18px;
            }
            a{
                margin: 0 0 18px;
                display: inline-block;
            }
            p{
                .p();
                font-size: 1rem;
                margin: 0 0 15px;
            }
            &:nth-child(even) {
                .flex-direction(row-reverse);
                @media screen and (max-width:@mobile_md) {
                    .flex-direction(column-reverse);
                }
                .idea-desc {
                    padding-left: 30px;
                    @media screen and (max-width:@mobile_md) {
                        padding-left:0;
                    }
                }
            }
            &:nth-child(odd) {
                .flex-direction(row);
                @media screen and (max-width:@mobile_md) {
                    .flex-direction(column-reverse);
                }
                .idea-desc {
                    padding-right: 30px;
                    @media screen and (max-width:@mobile_md) {
                        padding-right:0;
                    }
                }
            }
        }
    }
    .category_list{
        &:before,&:after{
            content: '';
            display: block;
            clear: both; 
        }
        a{
            margin: 10px 0 7px;
            float: left;
            margin-right: 8.75rem;
            color: @blue_link_secondary;
            font-size: 1rem;
            line-height:normal;
            text-transform: capitalize;
            position: relative;
            padding-left: 13px;
            &:before {
                content: '\e619';
                .luma-icon();
                position: absolute;
                left: 0;
                top: 50%;
                .transform(translateY(-50%));
                font-size: 10px;
            }
            &:nth-child(2n+1){
                clear: both;
            }
            &:nth-child(even) {
                padding-right: 0;
            }
        }
    }
}
