.cms-page-view[class*="promotions"]{
    .about-us-wraaper{
        .about-us-content{
            p{
                margin: 0 0 15px;
            }
            img{
                display: block;
                width: 100%;
                max-width:100%;
            }
            iframe{
                min-height: 260px;
            }
            h4{
                .h4();
                text-transform: none;
            }
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .cc-clearance-row {
            padding: 0 0 28px;
            border-bottom: 2px solid @section_breaker_border;
            &:not(:first-child){
                margin-top: 23px;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
        .btn-primary{
            .bg-button(@blue_link_secondary, @white-color, @blue_link_color, @white-color);
            font-size: 14px;
            line-height: 19px;
            .futura-Medium();
            padding: 14px 16px 11px 17px;
            color: @white-color !important;
            background: @blue_link_secondary;
            border: 1px solid @blue_link_secondary;
            &:hover {
                border-color: @blue_link_color;
            }
        }
        .btn-secondary{
            .bg-button(@white-color, @blue_link_secondary, @blue_link_color, @white-color);
            font-size: 14px;
            line-height: 19px;
            padding: 14px 21px 11px 18px;
            border: 1px solid @blue_link_secondary;
            margin-right:10px;
            &:hover {
                border-color: @blue_link_color;
            }
        }
    }
}