.about-us-wraaper{
	.about-us-content{
		.btn-outline{
			.bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
	    	padding:14px 21px 11px 18px;
	    	border:1px solid @blue_link_secondary !important;
	    	color: @blue_link_secondary !important;
		    background: @white-color !important;
		    margin: 0 0 30px;
	    	&:hover{
	    		border-color:@blue_link_color !important;
	    		color: @white-color !important;
		    	background: @blue_link_color !important;
	    	}
		}
        iframe {
            &+ h2 {
                margin-top: 30px;
            }
        }		
	}
}
