.cms-shop-our-range {
    .page-main {
        max-width: 100%;
    }
}
.shop_range_cat_block {
    width: 100%;
    padding-bottom: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.shop_range_cat_block {
    width: 100%;
    padding-bottom: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.shop-range-list {
    padding: 50px 0;
    @media screen and (max-width:@mobile_m){
        padding: 0px 0;
    }
    ul {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
        li {
            padding: 15px 15px;
            border: none;
            width: 50%;
            @media screen and (max-width:@mobile_m){
                width: 100%; 
            }
            a {
                display: block;
                width: 100%;
            }
        }
    }
}


.category-list-item {
    width: 100%;
    h3 {
        margin: 15px auto;
        .futura-Book();
        font-size: 20px;
        color: @blue_link_secondary;
        text-transform: uppercase;
        text-align: center;
    }
}


.shp-our-range-content {
    padding: 30px 0;
    ul {
        list-style-type: disc;
        list-style-position: inside;
        margin-bottom: 30px;
        li {
            margin: 10px 0;
            font-size: 1rem;
            line-height: 1.6875rem;
            a {
                color: @blue_link_secondary;
            }
        }
    }

    h5{
        margin-bottom: 0;
        margin-top: 0;
    }
    h3 {
        .futura-Bold();
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 2.5rem;
        color: @blue_link_color;
        text-transform: none;
        margin: 20px 0 15px;
        @media screen and (max-width:@mobile){
            font-size: 25px;
            line-height: 32px;
        }
    }
    p {
        margin: 0 0 30px;
        display: block;
        font-size: 1rem;
        line-height: 1.6875rem;
        a {
            color: @blue_link_secondary;
        }
    }
}
