.custom_route-index-index{
	#maincontent{
		.bss_h3 {
			a {
			    color: @lightgrey_56; 
			    .futura-Medium();
			    font-weight: 600;
			    font-size: 20px;
			    margin: 0 0 10px;
			}
		}
		.page-title{
			margin: 20px 0 30px;
		}
		h2{
			.h2();
			text-transform: none;
			&.bss_h2 {
				border-color: @section_breaker_border;
			}
		}
		h3{
			text-transform: none;
		}
		a{
			line-height: normal;
			font-weight: normal;
			list-style: none;
			text-decoration: none;
			color: @text_color_grey;
			&:hover{
				color: @blue_link_secondary;
				text-shadow: 0 0 1px, 0 0 1px;
			}
		}
		ul{
			clear: both;
			li {
				font-size: 16px;
				margin: 5px 0 5px 0;
				padding: 5px 5px 3px 0;
			}
		}
	
		.bss_h3 {
			color: @text_color_grey;
			.futura-Medium();
			font-size: 20px;
			margin: 15px 0px 0px 0px; 
		}
		h3.bss_product_list {
			font-size: 16px;
		}
		.page-main {
			padding-bottom: 80px;
			@media screen and (max-width: 767px) {
				padding-bottom: 40px;
			}
		}
		.signature {
			display: none;
		}
		.bss_site_map_grid {
			margin: 0 0 30px 0;
		}
		.bss_h3 ~ br {
			display: none;
		}
		div.bss_h3 a {
			margin: 0;
		}
		div.bss_product_list {
			margin-top: 5px;
			padding-top: 5px;
		}
		.col-bss-2:not(:last-child) {
			@media screen and (max-width: 700px) {
				margin: 0 0 35px;
			}
		}
	}
}