<?php
$block = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
$faqGroupCollection = $block->getFaqGroupCollection();
$baseUrl = $block->getBaseUrl();

if ($block->isEnable()): ?>
<?php if ($faqGroupCollection->getSize()): ?>
    <h5>FAQ Categories</h5>
    <ul>
<?php foreach ($faqGroupCollection as $group): ?>
<?php $url = $baseUrl.'faqs/'.str_replace(' ', '-', strtolower($group->getGroupName())); ?>
<li>
	<a href="<?= /* @noEscape */  $url; ?>"
	   class="group-link"
	   groupId="<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
	    <?= /* @noEscape */  $group->getGroupName(); ?>
	</a>
</li>
<?php endforeach; ?>
</ul>
<?php else: ?>
    <div>
        <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
    </div>
<?php endif; ?>
<?php endif; ?>
