<ul>
<?php
$tree = $this->getbuyingguidecategories();
$baseurl = $this->getBaseUrl();
if ($tree) :
    ?>
    <?php 
    foreach ($tree as $value) { ?>
    	<li><a href="<?= $baseurl.'blog/'.$value['url']; ?>"><?= $value['text']; ?></a></li>
    <?php }
    
    //echo '<pre>'; print_r($tree);die();
    ?>
<?php endif; ?>
</ul>