<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Framework\View\Element\Template */
?>

<span data-bind="scope: 'compareProducts'">
<span class="item link compare no-display" data-bind="css: {'no-display': !compareProducts().count}" data-role="compare-products-link">
	<span class="counter qty" data-bind="text: compareProducts().countCaption, css: {'no-display': !compareProducts().count}"></span>
    <a class="action compare no-display" title="<?= $block->escapeHtmlAttr(__('Compare Products')) ?>"
       data-bind="attr: {'href': compareProducts().listUrl}, css: {'no-display': !compareProducts().count}"
    >
    	<?= $block->escapeHtml(__('View now')) ?>
        <!-- <span class="counter qty" data-bind="text: compareProducts().listUrl"></span> -->
    </a>
</span>
</span>
<script type="text/x-magento-init">
{"[data-role=compare-products-link]": {"Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>}}
</script>
