<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
// phpcs:disable PSR2.ControlStructures.SwitchDeclaration
// phpcs:disable Generic.WhiteSpace.ScopeIndent

/* @var $block \Magento\Catalog\Block\Product\Compare\ListCompare */
$blockobject = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
$baseUrl = $blockobject->getBaseUrl();
?>
<?php $total = $block->getItems()->getSize() ?>
<?php if ($total) :?>
    <a href="#" class="action print hidden-print" title="<?= $block->escapeHtmlAttr(__('Print This Page')) ?>">
    </a>
        <div class="table-wrapper comparison">
            <table class="data table table-comparison" id="product-comparison"
                data-mage-init='{"compareList":{
                    "windowPrintSelector":".action.print",
                    "productsInRow":"5",
                    "selectors":{
                        "productAddToCartSelector":"button.action.tocart"}
                }}'>
                <caption class="table-caption"><?= $block->escapeHtml(__('Compare Products')) ?></caption>
                <thead>
                <tr>
                    <?php $index = 0 ?>
                    <?php foreach ($block->getItems() as $item) :?>
                        <?php if ($index++ == 0) :?>
                            <th scope="row" class="cell label remove"><span><?= $block->escapeHtml(__('Remove Product')) ?></span></th>
                        <?php endif; ?>
                        <td class="cell remove product hidden-print">
                            <?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class);?>
                            <a href="#" data-post='<?= /* @noEscape */ $compareHelper->getPostDataRemove($item) ?>'
                               class="action delete" title="<?= $block->escapeHtmlAttr(__('Remove Product')) ?>">
                                <span><?= $block->escapeHtml(__('Remove Product')) ?></span>
                            </a>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <?php $index = 0; ?>
                    <?php $helper = $this->helper(Magento\Catalog\Helper\Output::class); ?>
                    <?php /** @var $item \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($block->getItems() as $item) :?>
                        <?php if ($index++ == 0) :?>
                            <th scope="row" class="cell label">
                                <span><?= $block->escapeHtml(__('Carpets')) ?></span>
                            </th>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Product')) ?>" class="cell product info">
                            <a class="product-item-photo"
                               href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>"
                               title="<?= /* @noEscape */ $block->stripTags($item->getName(), null, true) ?>">
                                <?= $block->getImage($item, 'product_comparison_list')->toHtml() ?>
                            </a>
                            <strong class="product-item-name">
                                <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>"
                                   title="<?= /* @noEscape */ $block->stripTags($item->getName(), null, true) ?>">
                                    <?= /* @noEscape */ $helper->productAttribute($item, $item->getName(), 'name') ?>
                                </a>
                            </strong>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <!-- description start -->
                <?php foreach ($block->getAttributes() as $attribute) :?>
                    <?php $index = 0; ?>
                    <?php if ($block->hasAttributeValueForProducts($attribute)) :?>
                    <?php if($attribute->getAttributeCode() == 'paragraph_1'):?>
                         <tr>
                            <?php foreach ($block->getItems() as $item) :?>
                                <?php if ($index++ == 0) :?>
                                    <th scope="row" class="cell label">
                                        <span class="attribute label feature">
                                            <?php echo "Description";
                                            ?>
                                            <?php 
                                            ?>
                                            <?php ;?>
                                        </span>
                                    </th>
                                <?php endif; ?>
                                <td class="cell product attribute feature">
                                    <div class="attribute value">
                                        <?php switch ($attribute->getAttributeCode()) {
                                            case "paragraph_1": ?>
                                                <?php if (is_string($block->getProductAttributeValue($item, $attribute))) :?>
                                                    <?= /* @noEscape */ $helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode()) ?>
                                                    <p><?= $text = str_replace('?', ' ', utf8_decode($item->getData('paragraph_2'))); ?></p>
                                                    <p><?= $text = str_replace('?', ' ', utf8_decode($item->getData('paragraph_3'))); ?></p>
                                                <?php else : ?>
                                                    <?=  $block->escapeHtml($helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode())) ?>
                                                <?php endif; ?>
                                                <?php break;
                                            default :?>
                                                <?php break;
                                        } ?>
                                    </div>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
                <!-- description end -->
                <?php foreach ($block->getAttributes() as $attribute) :?>
                    <?php $index = 0; ?>
                    <?php if ($block->hasAttributeValueForProducts($attribute)) :?>
                    <?php if($attribute->getAttributeCode() == 'carpet_features'):?>
                         <tr>
                            <?php foreach ($block->getItems() as $item) :?>
                                <?php if ($index++ == 0) :?>
                                    <th scope="row" class="cell label">
                                        <span class="attribute label feature">
                                            <?php echo $block->escapeHtml($attribute->getStoreLabel() ? $attribute->getStoreLabel() : __($attribute->getFrontendLabel()));
                                            ?>
                                            <?php 
                                            ?>
                                            <?php ;?>
                                        </span>
                                    </th>
                                <?php endif; ?>
                                <td class="cell product attribute feature">
                                    <div class="attribute value">
                                        <?php switch ($attribute->getAttributeCode()) {
                                            case "carpet_features": ?>
                                                <?php if (is_string($block->getProductAttributeValue($item, $attribute))) :?>
                                                    <?php
                                                    $blockobj = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
                                                    $mediaUrl = $blockobj->getMediaUrl();

                                                    $att_data = $helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode()) ;
                                                    $str_arr = explode (",", $att_data);   ?>
                                                    <ul>
                                                    <?php foreach ($str_arr as $value) { 
                                                        $img_name  = str_replace(' ', '-', strtolower(trim($value))).'.png';
                                                    ?>
                                                        <li><img src="<?= $mediaUrl.'carpet_features/'.$img_name; ?>"/><?= $value; ?></li>
                                                        
                                                    <?php }
                                                    ?>
                                                    </ul>  
                                                <?php else : ?>
                                                    <?=  $block->escapeHtml($helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode())) ?>
                                                <?php endif; ?>
                                                <?php break;
                                            default :?>
                                                <?php break;
                                        } ?>
                                    </div>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
                    <tr>
                        <th scope="row" class="cell label no-border" colspan="4">
                            <span class="attribute label specs">Product Specifications</span>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="4" class="cell product-specifications">
                            <table class="specs-table" cellspacing="0" cellpadding="0" border="0">
                               <tbody>
                                    <?php foreach ($block->getAttributes() as $attribute) :?>
                    <?php $index = 0; ?>
                    <?php if ($block->hasAttributeValueForProducts($attribute)) :?>
                    <?php if($attribute->getAttributeCode() == 'carpet_style'):?>
                         <tr>
                            <?php foreach ($block->getItems() as $item) :?>
                                <?php if ($index++ == 0) :?>
                                    <th scope="row" class="cell label specs-head">
                                        <span class="attribute label">
                                            <?= $block->escapeHtml($attribute->getStoreLabel() ? $attribute->getStoreLabel() : __($attribute->getFrontendLabel())) ?>
                                        </span>
                                    </th>
                                <?php endif; ?>
                                <td class="cell product attribute specs-content specs-style">
                                    <div class="attribute value">
                                        <?php switch ($attribute->getAttributeCode()) {
                                            case "price": ?>
                                                <?php break;
                                            case "carpet_features": ?>
                                                <?php break;
                                            case "paragraph_1": ?>
                                                <?php break;
                                            case "carpet_style": ?>

                                                <?php if (is_string($block->getProductAttributeValue($item, $attribute))) :?>
                                                    <?php
                                                    $blockobj = $block->getLayout()->createBlock('Mageprince\Faq\Block\Index\Index');
                                                    $mediaUrl = $blockobj->getMediaUrl();

                                                    $att_data = $helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode()) ;
                                                    $str_arr = explode (",", $att_data);   ?>
                                                    <ul>
                                                    <?php foreach ($str_arr as $value) { 
                                                        $img_name  = str_replace(' ', '-', strtolower(trim($value))).'.png';
                                                    ?>
                                                        <li><img src="<?= $mediaUrl.'carpet_features/'.$img_name; ?>"/><?= $value; ?></li>
                                                        
                                                    <?php }
                                                    ?>
                                                    </ul>  
                                                <?php else : ?>
                                                    <?=  $block->escapeHtml($helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode())) ?>
                                                <?php endif; ?>
                                                <?php break;
                                            case "small_image": ?>
                                               
                                                <?php break;
                                            default :?>
                                                
                                                <?php break;
                                        } ?>
                                    </div>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endif; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
                
<!-- Style end -->
<!-- Color start -->
                
                <tr>
                    <?php $index = 0; ?>
                    <?php $helper = $this->helper(Magento\Catalog\Helper\Output::class); ?>
                    <?php /** @var $item \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($block->getItems() as $item) :?>
                        <?php if ($index++ == 0) :?>
                            <th scope="row" class="cell label specs-head">
                                <span class="colors"><?= $block->escapeHtml(__('Colours')) ?></span>
                            </th>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Product')) ?>" class="cell product info specs-content specs-color">
                            <?php if($item->getTypeId() == "configurable"):
                                
                             $swatchBlock = $this->getLayout()->createBlock("Magento\Swatches\Block\Product\Renderer\Listing\Configurable")->setTemplate("Magento_Swatches::product/listing/renderer.phtml");
                               echo $swatchBlock->setProduct($item)->toHtml(); 

                            endif;
                            ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                
<!-- Color end -->
<?php foreach ($block->getAttributes() as $attribute) :?>
                    <?php $index = 0; ?>
                    <?php if ($block->hasAttributeValueForProducts($attribute)) :?>
                    <?php if($attribute->getAttributeCode() != 'carpet_features' && $attribute->getAttributeCode() != 'paragraph_1' && $attribute->getAttributeCode() != 'paragraph_2' && $attribute->getAttributeCode() != 'paragraph_3' && $attribute->getAttributeCode() != 'carpet_style'):?>
                         <tr>
                            <?php foreach ($block->getItems() as $item) :?>
                                <?php if ($index++ == 0) :?>
                                    <th scope="row" class="cell label specs-head">
                                        <span class="attribute label">
                                            <?= $block->escapeHtml($attribute->getStoreLabel() ? $attribute->getStoreLabel() : __($attribute->getFrontendLabel())) ?>
                                        </span>
                                    </th>
                                <?php endif; ?>
                                <td class="cell product attribute specs-content">
                                    <div class="attribute value">
                                        <?php switch ($attribute->getAttributeCode()) {
                                            case "price": ?>
                                                <?=
                                                /* @noEscape */ $block->getProductPrice(
                                                    $item,
                                                    '-compare-list-' . $attribute->getCode()
                                                )
                                                ?>
                                                <?php break;
                                            case "carpet_features": ?>
                                                <?php break;
                                            case "paragraph_1": ?>
                                                <?php break;
                                            case "carpet_style": ?>
                                                <?php break;
                                            case "small_image": ?>
                                                <?php $block->getImage($item, 'product_small_image')->toHtml(); ?>
                                                <?php break;
                                            default :?>
                                                <?php if (is_string($block->getProductAttributeValue($item, $attribute))) :?>
                                                    <?= /* @noEscape */ $helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode()) ?>
                                                <?php else : ?>
                                                    <?=  $block->escapeHtml($helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode())) ?>
                                                <?php endif; ?>
                                                <?php break;
                                        } ?>
                                    </div>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endif; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
                               </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <?php if (!$block->isRedirectToCartEnabled()) :?>
            <script type="text/x-magento-init">
            {
                "[data-role=tocart-form]": {
                    "catalogAddToCart": {}
                }
            }
            </script>
        <?php endif; ?>
<?php else :?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('You have not selected any carpet to compare. ')) ?><a href="<?= $baseUrl.'carpet'; ?>"><u>Browse our range</u></a></div></div>
<?php endif; ?>

<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('free_flooring_measure')
->toHtml();

//echo $this->getLayout()->createBlock("Mageplaza\Blog\Block\Widget\Posts")->setShowType("category")->setPostCount("4")->setCategoryId("4")->setTemplate("Mageplaza_Blog::widget/posts.phtml")->toHtml(); 


?>
 <div class="blog-wrapper guides-section">
    <div class="blog-widget-title">
      <h2 class="blog-title">CARPET BLOGS</h2>
    </div>
    <?php
        $cat_details = $block->getLayout()->createBlock('Carpetcall\Productlisting\Block\Productlisting');
        $blockobjdetails = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View\Details')
        ?>
    <?php 
    
    $cat_data = $cat_details->getCategories();
    foreach ($cat_data as $key => $value) {
        if ($value['name'] == 'Carpet') {
            echo '<p>'.$value['description'].'</p>';
        }
    }
    
    
    
        // print_r($cat_data);
        // die();
    $posts = $cat_details->getPosts('Carpet');
    
    ?>
    <div class="post-list-container mpcss">
            <div class="row  owl-carousel owl-theme blog-guides">
                <?php foreach ($posts as $post => $value) : ?>
                    <?php foreach ($value as $post => $post_data) : ?>
                    <?php
                    // echo "<pre>";
                    // print_r($post_data);die();
                    ?>
                    <div class="post-list-item">
                        <div class="post-item-wraper">
                                <div class="post-image">
                                <a href="<?= $baseUrl.'blog/'.$post_data['url_key'] ?>">
                                    <?php //$post_block_details = $block->getLayout()->createBlock('Mageplaza\Blog\Block\Post\RelatedPost'); 
                                    $mediaUrl = $blockobject->getMediaUrl();

                                    ?>
                                    <img class="img-responsive"
                                         src="<?= $mediaUrl.'mageplaza/blog/post/'.$post_data['image']; ?>"
                                         alt="<?= $post_data['name']; ?>"/>
                                </a>
                            </div>
                            <div class="post-info-wraper">
                                <h2 class="mp-post-title">
                                    <a class="post-link-title" title="<?= $block->escapeHtml($post_data['name']); ?>"
                                       href="<?= $baseUrl.'blog/'.$post_data['url_key'] ?>"><?= $post_data['name']; ?></a>
                                </h2>
                                <?= $post_data['short_description']; ?>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <div class="clear-button">
        <?php
        $url = $baseUrl.'blog/category/carpet';
        //print_r($cate_arr[0]);
        ?>
        <a href="<?= $url; ?>">VIEW ALL CARPET BLOGS</a>
    </div>            
        
    </div>
 <script>
        require([
            'jquery',
            'owlCarousel'
            ], function ($) {
            'use strict';
            $(document).ready(function(){
                $('.blog-guides').owlCarousel({
                    loop:false,
                    margin:17,
                    nav:false,
                    dots: false,
                    items:4,
                    responsive:{
                        0:{
                            dots: true,
                            items: 1,
                            center: true,
                        },
                        768:{
                            dots: false,
                            items: 2,
                            center: false,
                        },
                        1024:{
                            dots: false,
                            items: 4,
                            center: false,
                        }
                    }
                });
            });
        });
    </script>