<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare */
?>
<a href="#"
   class="action tocompare"
   title="<?= $block->escapeHtml(__('Add to Compare')) ?>"
   aria-label="<?= $block->escapeHtml(__('Add to Compare')) ?>"
   data-post='<?= /* @noEscape */ $block->getCompareHelper()->getPostDataParams($block->getProduct()) ?>'
   role="button">
<?php
// $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
// $request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
$blockobj = $block->getLayout()->createBlock('Carpetcall\Productdetailspage\Block\Categoriesdetails');
$request = $blockobj->getCurrentUrl();
if ($request->getFullActionName() == 'catalog_category_view') { ?>
	<span><?= $block->escapeHtml(__('Compare')) ?></span>
<?php }
else{ ?>
	<span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
<?php }
?>
</a>
