<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
?>

<?= $block->escapeHtml(__(
    'You added %1 to your <a href="%2">shopping cart</a>.',
    $block->getData('product_name'),
    $block->getData('cart_url')
), ['a']);
?>
<?php
$blockobj = $block->getLayout()->createBlock('Carpetcall\Customfooter\Block\Customfooter');
?>
<div class="message-buttons">
	<a href="<?php echo $blockobj->getBaseUrl().'checkout/cart/'; ?>" class="btn primary-btn"><?php echo __('View Shopping Cart') ?></a>
	<a href="#" class="btn secondary-btn">Continue Shopping</a>
</div>