<?php $crumbs = $block->getCrumbs(); ?>
<?php //echo "<pre>";
//print_r($crumbs[0]['link']); ?>
<?php if ($crumbs && is_array($crumbs)) : ?>
<?php $i = 0; ?>
<div class="breadcrumbs">
    <ul class="items" itemscope itemtype="http://schema.org/BreadcrumbList">
        <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
            <?php $i++; ?>
            <li class="item <?= /* @escapeNotVerified */ $crumbName ?>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <?php if ($crumbInfo['link']) : ?>
                <a itemprop="item" href="<?= /* @escapeNotVerified */ $crumbInfo['link'] ?>" title="<?= $block->escapeHtml($crumbInfo['title']) ?>">
                  <span itemprop="name"><?= $block->escapeHtml($crumbInfo['label']) ?></span>
                </a>
            <?php else: ?>
				<span itemprop="name"><?= $block->escapeHtml($crumbInfo['label']) ?></span>
                <meta itemprop="item" content="<?= /* @escapeNotVerified */ $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>" />
            <?php endif; ?>
                <meta itemprop="position" content="<?= $i ?>" />
            </li>
        <?php endforeach; ?>
    </ul>
    <!-- Custom code -->
    <ul class="items mobile-breadcrumb">
        <li class="item"><?php if ($crumbs[0]['link']) : ?>
                <a itemprop="item" href="<?= /* @escapeNotVerified */ $crumbs[0]['link'] ?>" title="<?= $block->escapeHtml($crumbs[0]['title']) ?>">
                  <span itemprop="name"><?= 'Back to '.$block->escapeHtml($crumbs[0]['label']) ?></span>
                </a>
            <?php else: ?>
                
            <?php endif; ?>
        </li>
    </ul>
    <!-- Custom code -->
</div>
<?php endif; ?>
