<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
// phpcs:disable Generic.WhiteSpace.ScopeIndent.IncorrectExact
// phpcs:disable Magento2.Security.LanguageConstruct.DirectOutput
?>
<?php

    $_category  = $block->getCurrentCategory();
    
    if ($_category->getName() == 'Rugs Clearance') {
        $cat_name = ' CLEARANCE RUGS';
    }else{
        $cat_name = $block->escapeHtmlAttr($_category->getName());
    }
    $_imgHtml   = '';
    if ($_imgUrl = $block->getImage()->getUrl($_category)) {
        $_imgHtml = '<div class="category-image" data-name="'
            . $cat_name
            . '"><img src="'
            . $block->escapeUrl($_imgUrl)
            . '" alt="'
            . $block->escapeHtmlAttr($_category->getName())
            . '" title="'
            . $block->escapeHtmlAttr($_category->getName())
            . '" class="image" /><h1> '. $cat_name.' </h1></div>';
        $_imgHtml = $block->getOutput()->categoryAttribute($_category, $_imgHtml, 'image');
        /* @noEscape */ echo $_imgHtml;?>
        
        <?php
    }else{ ?>
        <?php
        $parentCatID = $_category->getParentId();

        $blockobj = $block->getLayout()->createBlock('Carpetcall\Faq\Block\Faq');
        $catName = $blockobj->getCategoryName($parentCatID);

        ?>

        <?php if($catName == "Rugs"):?>
            <div class="category-heading-title"><h1> <?php  echo $cat_name." ".$catName;?></h1></div>
        <?php elseif($catName == "Carpet"):?>
            <div class="category-heading-title"><h1> <?php  echo $cat_name." Carpets";?></h1></div>
        <?php else:?>
            <div class="category-heading-title"><h1> <?php  echo $cat_name;?></h1></div>
        <?php endif;?>
    <?php }
    
?>
