// action toolbar
.actions-toolbar(){
	.flex-display(flex);
	.align-items(center);
	.flex-wrap(Wrap);
	width: 100%;
	&>.primary{
		@media screen and (max-width: @mobile) {
			margin: 0;
    		margin-right: 10px;
    	}
		.action{
			&.primary{
				.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
		    	font-size: 14px;
		    	line-height: 19px;
		    	.futura-Medium();
		    	padding:13px 16px 12px 17px;
		    	border:1px solid @blue_link_secondary;
		    	&:hover{
		    		border-color:@blue_link_color;
		    	}
				@media screen and (max-width: @mobile) {
					padding: 14px 25px;
				    font-size: 12px;
				    line-height: 15px;
				}
			}
		}
	}
	&>.secondary{
		@media screen and (max-width: @mobile) {
			margin: 0;
    	}
		.action{
			&.remind{
				color: @blue_link_secondary;
				text-decoration: underline;
				&:hover{
					color: @blue_link_color;
				}
			}
			&:not(.remind){
				.bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
		    	padding:13px 21px 12px 18px;
		    	border:1px solid @blue_link_secondary;
			    margin: 0;
			    line-height: 19px;
		    	&:hover{
		    		border-color:@blue_link_color;
		    	}
			}
		}
	}
}



// generic form
.form:not(.minisearch):not(.contact){
	.form();
	max-width:500px;
	margin: 0;
	.actions-toolbar{
		.actions-toolbar();
	}
}

// edit address
.form-address-edit{
	.form();
	max-width:100%;
	margin: 0;
	.actions-toolbar{
		.actions-toolbar();
	}
}




/*custom pages*/
[class*="account"]{
	// title
	.page-title{
		margin: 25px 0 30px;

	}
	.columns{
		padding:50px 0;
		@media screen and (max-width: @mobile) {
			padding:0 0 50px;
		}
		.column.main{
			padding-bottom: 0;
		}
	}
	// block
	.block{
		.block-title {
		    .h2();
		    text-transform: none;
		    border-bottom-color:@section_breaker_border;
		    strong{
		    	font-weight:500;
		    }
		}
		.actions-toolbar{
			.actions-toolbar();
		}
	}

	// legend
	.fieldset{
		&> .legend{
			.h2();
		    text-transform: none;
		    border-bottom-color:@section_breaker_border;
		    @media screen and (max-width: @tablet_sm) {
		    	font-size: 1.25rem;
		    }
		    &> span{
		    	font-size: inherit;
		    }
		}
	}
	.order-details-items{
		.table-wrapper{
			margin-bottom: 0 !important;
		}
		.table-order-items{
			border-collapse: collapse;
	    	width: 100%;
	    	tr{
	    		td{
	    			vertical-align: top;
	    		}
	    	}
			.col.name{
				.product.name{
					color: @text_color_grey;
				    .futura-Medium();
				    font-size: 16px;
				    line-height: 27px;
				}
				.item-options{
					margin: 0;
					font-size: 14px;
					dt{
						.futura-Medium();
					}
				}
			}
			.col.sku {
			    margin: 0;
			    display: table-cell;
			    line-height: normal;
			}
			.col.subtotal{
				text-align: right;
			}
			.grand_total{
				.mark,.value{
			    	.futura-Medium();
				}
			}
		}
	}
	.data.table.table-order-items {
	    border-collapse: collapse;
	    width: 100%;
	    .sku {
		    margin: 0;
		    display: table-cell;
		}
	}
}


/*Forget password*/
.action.reload{
	.bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
	padding:14px 21px 11px 18px;
	border:1px solid @blue_link_secondary;
    margin: 0;
    line-height: 19px;
	&:hover{
		border-color:@blue_link_color;
	}
}

//
.block-addresses-list .items.addresses .item.actions .action:after,
 .account .data.table .col.actions .action:after,
 [class^='sales-guest-'] .data.table .col.actions .action:after,
 .sales-guest-view .data.table .col.actions .action:after,
 .block .box-actions .action:after{
 	border-color:@darkgrey_border_color;
 }

// box description
.abs-account-block-font-size,
.block-addresses-list address,
.box-billing-address .box-content,
.box-shipping-address .box-content,
.box-address-billing .box-content,
.box-address-shipping .box-content,
.box-information .box-content,
.block-balance-giftcard .block-content,
.block-reviews-dashboard .product-name {
    font-size: 1rem;
    line-height: 1.6875rem;
    margin: 0 0 10px;
    address{
    	a{
			color: @blue_link_secondary;
			text-decoration: underline;
			&:hover{
				color: @blue_link_color;
			}
		}
    }
}


/*dashbaord*/
body.account{
	//page title
	.page-title {
	    margin: 0 0 30px;
	    @media screen and (max-width: @mobile) {
			margin: 0 0 30px;
		}
	}
	// message
	.messages {
	    margin-bottom: 20px;
	    margin-top: 20px;
	    @media screen and (max-width: @mobile) {
	    	margin: 0;
	    }
	}
	.columns{
		padding: 30px 0;
		@media screen and (max-width: @mobile) {
			padding: 15px 0 50px;
		}
		.column.main{
			padding-bottom: 0;
		}
		.block{
			margin-bottom: 50px;
			@media screen and (max-width: @mobile) {
				margin-bottom: 20px;
			}
		}
	}
	.column.main{
		.block:not(.widget){
			.box-title{
				.h3();
		    	text-transform: none;
		    	 margin: 0 0 10px;
			    &> span{
			    	font-size: inherit;
			    }
			}
			.block-content .box{
				@media screen and (max-width: @mobile) {
					width: 49%;
					display: inline-block;
				}
				@media screen and (max-width: @mobile_sm) {
					width: 100%;
					display: block;
				}
			}
		}
		.block.block-order-details-view .block-content:not(.widget){
			.box{
				@media screen and (max-width: @tablet_sm) {
					width: 50%;
					&:nth-child(2n+1) {
					    clear: both;
					}
				}
				@media screen and (max-width: @mobile_sm) {
					width: 100%;
					display: block;
					clear: both;
				}
			}
			.box-content{
				line-height: 1.8;
    			padding-right: 15px;
    			font-size: 15px;
    			a{
    				color: @blue_link_secondary;
    				text-decoration: underline;
    				&:hover{
    					color: @blue_link_color;
    				}
    			}
			}
		}
	}
	.page-main{
		.block{
			margin-bottom: 50px;
		}
	}
	// links
	.action{
		&.edit,&.change-password,&.view {
		    color: @blue_link_secondary;
			font-size: 1rem;
    		line-height: 1.6875rem;
			text-decoration: none !important;
			span{
				text-decoration: underline;
			}
			&:hover{
				color: @blue_link_color;
				span{
					text-decoration: none;
				}
			}
			&.change-password {
				text-decoration: underline !important;
			}
		}
	}
	/* Block address */
	.block-dashboard-addresses{
		.block-title{
			.action.edit {
			    float: right;
			}
		}
	}
	/*Block orders*/
	.block-dashboard-orders{
		.block-title{
			.action.view {
			    float: right;
			}
		}
	}

	/*left sidebar navigation*/
	.block-collapsible-nav{
		.content {
		    background: @grey_border_color;
		}
		.item{
			a,strong {
				color: @text_color_grey;
				font-size: 1rem;
    			line-height: 1.6875rem;
				&:hover{
					color:@blue_link_secondary;
					background:none;
				}
			}
			&.current{
				a,&>strong{
					.futura-Bold();
					color: @blue_link_secondary;
					border-color:@blue_link_color;
				}
			}
		}
	}

	
	table{
		.table();
		tr{
			.col.actions{
				.delete{
					.link(@red_color,@red_color);
				}
			}
		}
	}
	.pager{
		@media screen and (max-width: @mobile) {
			text-align: right;
		}
		select{
			-moz-appearance: none;
		    -webkit-appearance: none;
		    padding-right: 34px;
		    background-image: url(../svg/sort.svg);
		    background-position: right 0 center;
		    background-repeat: no-repeat;
		    background-size: 26px 26px;
		    min-width: auto;
		}
	}

	form{
		.message.info {
		    font-size: 16px;
		    padding-left: 26px;
		    &> *:first-child:before{
		    	font-size: 16px;
			    width: 16px;
			    line-height: 1;
		    }
		}
	}
	// edit account information
	&.customer-account-edit{
		.form:not(.minisearch):not(.contact).form-edit-account{
			max-width: 100%;
			.field.password-info {
			    a{
			    	.link(@blue_link_secondary,@blue_link_color);
			    }
			}
			.fieldset.info{
				margin: 0 0 20px;
			}
		}
	}

	// address 
	&.customer-address-index{
		.actions-toolbar{
		 	.actions-toolbar();
		}
		.additional-addresses{
			table{
				tr{
					.col.streetaddress {
					    min-width: 300px;
					}
				}
			}
		}
	}
	// paypal aggrement
	&.paypal-billing_agreement-index{
		.form.form-new-agreement{
			.note{
				display: block;
			    margin: 0 0 8px;
			    .futura-Medium();
			    font-size: 1rem;
			    line-height: 1.75rem;
			    color: @form_label_grey;
			}
		}
	}
	&.sales-order-print{
		.order-details-items {
		    border: none;
		    padding: 0;
		}
		.order-items.table-wrapper{
			border-color:@section_breaker_border;
			.col.subtotal{
				text-align: right;
			}
		}
		.column.main .order-details-items .table-wrapper .data.table{
			&> thead > tr > th {
			    border-bottom: none;
			    border-top: 1px solid @section_breaker_border;
			}
			&> tbody > tr > td{
				border-top: 1px solid @section_breaker_border;	
				@media screen and (max-width: 639px) {
					border: none;
				}
			}
			&> tfoot > tr{
				@media screen and (max-width: 639px) {
					&> td,&> th{
						padding-right: 10px;
		    			padding-left: 10px;
					}
					&>td{
						text-align: right;
					}	
				}
			}
		}
	}
	&.sales-order-view{
		.action.order{
			.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
			padding:14px 21px 14px 18px;
		    margin: 0;
		}
		.action.print{
			.bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
			padding:14px 21px 11px 18px;
			border:1px solid @blue_link_secondary;
		    margin: 0;
			&:hover{
				border-color:@blue_link_color;
			}
		}
		.column.main .order-details-items .table-wrapper .data.table{
			&> tfoot > tr{
				@media screen and (max-width: 639px) {
					&> td,&> th{
						padding-right: 10px;
		    			padding-left: 10px;
					}
					&>td{
						text-align: right;
					}	
				}
			}
		}
	}
}

@media screen and (max-width: @tablet) {
	.account.page-layout-2columns-left{
		.column.main {
		    width: 75%;
		}
		.sidebar-main,.sidebar-additional{
			width: 25%;	
		}
	}
}
@media screen and (max-width: @tablet_sm) {
	.account.page-layout-2columns-left{
		.column.main {
		    width: 70%;
		}
		.sidebar-main,.sidebar-additional{
			width: 30%;	
		}
	}
}
@media screen and (max-width: @mobile) {
	.account.page-layout-2columns-left{
		.column.main {
		    width: 100%;
		}
		.sidebar-main,.sidebar-additional{
			width: 100%;	
		}
	}
	.block-collapsible-nav{
		top: 0;
	}
	.login-container .fieldset:after {
	    text-align: left;
	}
}
@media screen and (max-width: (@screen__s - 1px)) {
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr td[data-th]:before, .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr th[data-th]:before {
	    color: @text_color_grey;
	    .futura-Medium();
	}
	
}