.accordian(){
    margin: 0;
    border-bottom: 1px solid @section_breaker_border;
    border-top: 1px solid @section_breaker_border;
    padding: 14px 0;
    &> * {
        padding: 0 20px 0 18px;
        @media screen and (max-width: @mobile) {
            padding: 0 20px 0 6px;
        }
    }
    .accordian-title{
        .h3();
        margin: 0;
        text-transform: none;
        cursor: pointer;
        position:relative;
        @media screen and (max-width: @mobile) {
            font-size: 16px;
            line-height: 21px;
        }
        &> [data-role="trigger"]:after {
            .luma-icon();
            position: absolute;
            right: 20px;
            top: 50%;
            .transform(translateY(-50%));
            font-size: 15px;
            display: block;
            content: '\e622';
            color: @text_color_grey;
            @media screen and (max-width: @mobile) {
                font-size: 12px;
                right: 10px;
            }
        }
    }
    .accordian-content{
        color: @text_color_grey;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 1.6875rem;
        p{
            margin: 0 0 10px;
        }
        ul{
            list-style: disc;
            padding-left: 25px;
            margin-bottom: 20px;
            li{
                font-size: 16px;
                line-height: 27px;
                padding-left: 10px;
                margin-bottom: 5px;
            }
        }
    }
    .accordian-title{
        &.active{
            .h4();
            text-transform: none;
            &> [data-role="trigger"]:after{
                 content: '\e621';
            }
            &+ .accordian-content{
                margin-top: 9px;
            }
        }
    }
    &> .accordian-title{
         padding-right:36px;
        @media screen and (max-width: @mobile) {
            padding-right:20px;
        }
        &.active {
            padding-top: 7px;
        }
    }
}