[class*="products_accessories"] {
	.page-main {
	    padding-top: 58px;
	}
	.column.main {
		padding: 0 0 70px;
	}
	.page.messages .messages { 
	    margin-bottom: 50px;
	}
	.message.success {
		margin: 0 0 10px;
	}

	// .assessories-main {
	// 	margin: 45px 0 0;
	// }

	h2 {
		.h2();
		text-transform: none;
		margin: 20px 0 12px;
	}

	.products-grid.products {
		.product-items {
			.justify-content(flex-start);
		}

		.product-item {
			&:nth-child(5n) {
				margin-left: 0;

			}

			.product-item-photo {
				display: block;
				position: relative;

				.product-image-wrapper {
					display: block;
					height: 0;
					overflow: hidden;
					position: relative;
					z-index: 1;
					padding-bottom: 69.0566%;
				}

			}

			.price-wrapper {
				display: block;
				margin-bottom: 0;

				.price-wrapper {
					display: block;
					margin-bottom: 17px;
				}

				.unit_name {
					font-size: 1rem;
					line-height: 1.3125rem;
				}

			}

			.box-tocart {
				margin: 0;

				.field.qty {
					margin: 0;
					display: block;
					padding: 0;

					.control {
						position: relative;
						.flex-display(inline-flex);
						.align-items(center);
						.flex-wrap(wrap);
						width: 79px;

						.qty-btn {
							border: none;
							background: none;
							padding: 0;
							margin: 0;
							float: right;
							display: block;
							clear: both;
							position: absolute;
							right: 10px;
							top: 8px;
							display: none;
							&:before {
								content: '';
								.luma-icon();
								font-size: 13px;
								color: #515151;
							}

							&.qty-btn-plus {
								&:before {
									content: '\e618';
								}

							}

							&.qty-btn-minus {
								margin-top: 10px;

								&:before {
									content: '\e607';
								}

							}

						}

					}

					label {
						display: block;
						margin-bottom: 12px;
						color: @placeholder_color;
						font-size: 16px;
						line-height: 19px;
						text-transform: none;
						padding-right: 0;
					}

					.input-text.qty {
						border: 1px solid @form_control_border;
						// padding: 8px 28px 5px 20px;
						padding: 8px 8px 5px 20px;
						font-size: 16px;
						color: @form_label_grey;
						line-height: 28px;
						text-align: left;
						width: 100% !important;
					}

				}
				.actions{
					vertical-align: top;
				}
				.action.tocart {
					font-size: 12px;
					line-height: 15px;
					.futura-Medium();
					padding: 14px 22px;
					.justify-content(center);

					&:before {
						display: none;
					}

				}

			}

		}

	}

	.accessory-wrapper {
		.flex-display(flex);
		.align-items(flex-start);
		.flex-wrap(wrap);
		width: 100%;
		margin-top: 30px;
		padding-top: 50px;
		border-top: 1px solid  @section_breaker_border;

		.accessory-nav {
			.flex(0 0 22.37%);

			h4 {
				.h4();
				text-transform: none;
				margin: 0 0 18px;
			}

			li {
				font-size: 16px;
				line-height: 26px;
				.futura-Medium();
				margin: 0 0 10px;
				color: @blue_link_secondary;
				padding-left: 16px;
				position: relative;
				cursor: pointer;
				&:hover{
					color: @red_color;
				}
				&:before {
					content: '\e619';
					.luma-icon();
					margin-right: 6px;
					font-size: 10px;
					vertical-align: middle;
					line-height: 1;
					position: absolute;
					left: 0;
					top: 8px;
				}
			}

		}

		.accessory-content {
			.flex(0 0 77.63%);
			padding-left: 30px;

			h2 {
				.h2();
				color: @blue_link_secondary;
				text-transform: none;
				margin: 0 0 32px;
			}
			.Content_trims,.Content_scotia{
				display: none;
			}
		}

		.products-grid.products {
			.product-item {
				width: ~"calc(33.33% - 20px)";
				.flex(0 0 ~"calc(33.33% - 20px)");

				&:nth-child(4n) {
					margin-left: 0;
				}

				&:nth-child(5n) {
					margin-left: 25px;
				}

			}

		}

	}

}


@media screen and (max-width: @tablet_sm) {
	.page-layout-1column[class*="products_accessories"] {
		.page-main {
		    padding-top: 38px;
		}
		.column.main {
		    padding: 0 0 50px;
		}
		// .assessories-main {
		//     margin: 35px 0 0;
		// }
		h2{
			margin: 20px 0 12px;
		}
		.products-grid.products {
			.product-item {
					width: ~"calc(33.33% - 20px)";
					.flex(0 0 ~"calc(33.33% - 20px)");
				&:nth-child(5n) {
					margin-left: 25px;
				}
				&:nth-child(3n + 1):not(:first-child){
						margin-left: 0;
				}

			}
		}
		.accessory-wrapper {
			margin-top: 20px;
    		padding-top: 40px;
			.products-grid.products {
				.product-item {
					width: ~"calc(50% - 20px)";
					.flex(0 0 ~"calc(50% - 20px)");

					&:nth-child(4n) {
						margin-left: 25px;
					}

					&:nth-child(5n) {
						margin-left: 0;
					}
					&:nth-child(3n) {
					    margin-left: 0;
					}

					&:nth-child(3n + 1):not(:first-child) {
					    margin-left: 25px;
					}

				}

			}

		}
	}
}
@media screen and (max-width: @mobile) {
	.page-layout-1column[class*="products_accessories"]{
		.products-grid.products {
			.product-item {
				margin-left: 25px;
				width: ~"calc(33.33% - 25px)";
				.flex(0 0 ~"calc(33.33% - 25px)");
				&:nth-child(5n) {
					margin-left: 25px;
				}
				&:nth-child(3n + 1):not(:first-child){
						margin-left: 0;
				}
				.box-tocart{
					.field.qty .control{
						width: 69px;
					}
					.action.tocart {
					    padding: 14px 15px;
					}
				}
			}
		}
		.accessory-wrapper {
			margin-top: 20px;
    		padding-top: 40px;
			.products-grid.products {
				.product-item {
					margin-left: 25px;
					width: ~"calc(50% - 13px)";
					.flex(0 0 ~"calc(50% - 13px)");

					&:nth-child(4n) {
						margin-left: 25px;
					}

					&:nth-child(5n) {
						margin-left: 0;
					}
					&:nth-child(3n),&:first-child {
					    margin-left: 0;
					}

					&:nth-child(3n + 1):not(:first-child) {
					    margin-left: 25px;
					}

				}

			}

		}
	}
}

@media screen and (max-width: @mobile_m) {
	.page-layout-1column[class*="products_accessories"]{
		.products-grid.products {
			.product-item {
				// .box-tocart{
				// 	.field.qty .control{
				// 		width: 100%;
				// 		.flex-display(flex);
				// 		margin: 0 0 15px;
				// 	}
				// 	.actions{
				// 		display: block;
				// 	}
				// 	.action.tocart {
				// 	    padding: 14px 22px;
				// 	    width: 100%;
				// 	}
				// }
				margin-left: 25px;
				width: ~"calc(50% - 13px)";
				.flex(0 0 ~"calc(50% - 13px)");

				&:nth-child(4n) {
					margin-left: 25px;
				}

				&:nth-child(5n) {
					margin-left: 0;
				}
				&:nth-child(3n),&:first-child {
				    margin-left: 0;
				}

				&:nth-child(3n + 1):not(:first-child) {
				    margin-left: 25px;
				}
			}
		}
		.accessory-wrapper {
			.accessory-nav,.accessory-content {
				.flex(0 0 100%);
			}
			.accessory-content {
				padding-left:0;
				padding-top:30px;
			}
		}
	}
}
@media screen and (max-width: @mobile_sm) {
	.page-layout-1column[class*="products_accessories"]{
		.products-grid.products {
			.product-item {
				.box-tocart{
					.field.qty{
						.control{
							width: 100%;
							.flex-display(flex);
							margin: 0 0 15px;
						}
						label{
							font-size:13px;
						}
					}
					.actions{
						display: block;
					}
					.action.tocart {
					    padding: 14px 22px;
					    width: 100%;
					}
				}
			}
		}
	}
}