.blog-wrapper {
    padding: 65px 20px;
    background: @grey_border_color;
    max-width: none;
    margin: 0 -20px;
    width: auto;
    @media screen and (max-width: @tablet_sm) {
    	margin: 0 -15px;
    }
    @media screen and (max-width: @mobile) {
	    padding: 30px 10px 40px;
	    background: #f7f7f7;
	    max-width: none;
	    margin: 0 -10px;
    }
   .blog-widget-title {
   		text-align: center;
   		max-width: 53rem;
   		width: 100%;
   		margin: 0 auto;
   		.blog-title{
	   		.h2();
	   		&:before{
	   			content: '';
	   			background:url(../svg/bulb.svg) no-repeat;
	   			width: 49px;
	   			height: 73px;
	   			background-size:49px 73px;
	   			background-position:center center;
	   			display: block;
	   			margin: 0 auto 25px;
	   		}
	   }
	   p{
	   	.p();
	   	margin: 0 0 10px;
	   }
   }
   .post-list-container{
	   	.post-list-item{
	   		margin-bottom: 60px;
	   		margin-top: 60px;
	   		@media screen and (max-width: @mobile) {
	   			margin-bottom: 30px;
    			margin-top: 30px;
	   		}
			.post-item-wraper{
			    background: @white-color;
			    padding: 24px 30px 49px 24px !important;
			    box-shadow: 4px 4px 4px 0 rgba(198,197,197,0.5);
			    @media screen and (max-width: @mobile) {
			    	padding: 18px 20px 49px 15px !important;
			    }
			}
			.post-image{
				min-height: 273px;
				img{
					height: 100%;
					margin: 0;
					object-fit: cover;
    				object-position: center center;
				}
			}
			.post-info-wraper {
			    padding: 12px 0 0 0;
			}
			.post-short-description {
			    display: block;
			    display: -webkit-box;
			    max-width: 100%;
			    max-height: 88px;
			    margin: 0 auto;
			    -webkit-line-clamp: 3;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    margin: 0 0 15px;
			}
			.mp-post-title{
				.h5();
				font-size: 1.2rem;
				margin: 0 0 10px;
				@media screen and (max-width: @mobile) {
				    font-size: 16px;
				    line-height: 21px;
			    }
				a, a:visited{
					color: @blue_link_secondary;
				}
			}
			.mp-post-info{
				color: @text_color_grey;
				margin: 0 0 10px;
				display: none;
			}
			p {
			    .p();
			    font-size: 1rem;
			    word-break: break-word;
			    margin: 0;
			    @media screen and (max-width: @mobile) {
				    font-size: 14px;
				    line-height: 20px;
			    }
			}
			.mp-read-more{
				.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
				.futura-Medium();
				display: none;
			}
	   	}
	   	.owl-carousel{
	   		.owl-dots{
	   			.owl-dots();
	   		}
	   	}
   }
   .clear-button {
	    text-align: center;
	    a {
	    	.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
		    padding: 20px 30px;
		    text-transform: uppercase;
		    text-decoration: none;
		    margin: 0 auto;
		    .futura-Medium();
		    @media screen and (max-width: @mobile) {
		    	padding: 14px 22px;
			    font-size: 12px;
			    line-height: normal;
		    }
		}
	}
}

