.mpblog-post-index,.mpblog-category-view {
	.page-main {
	    max-width: 100%;
	}
	.column.main {
		width: 100%;
		float: left;
		padding-left: 0;
	}

	.page-title-wrapper {
		display: none;
	}

	.page-banner-wrap {
		float: none;
		margin: 0;
		background: none;
		.flex(0 0 56.58%);
		padding-right: 58px;
		position: relative;
		@media screen and (max-width: @tablet) {
			.flex(0 0 52.58%);
			padding-right: 38px;
		}	
		&:after {
			content: '';
			position: absolute;
			right: 0px;
			width: 2px;
			top: 10px;
			bottom: 0;
			background: #eaeaea;
		}

		.banner-container {
			padding: 0;
			width: 100%;
			max-width: 100%;

			.banner-content {
				.flex(0 0 100%);
				padding: 0;

				h2 {
					.h1();
					.futura-Bold();
					text-transform: none;
					margin: 0 0 10px;
				}

				p {
					max-width: 100%;
				}

			}

		}

	}
	.article_count{
	  font-size: 14px;
	  line-height: 16px;
	  margin: 0 0 25px;
	  text-align: right;
	}
	// listing
	.blog_listing {
	    background-color: @grey_border_color;
	    margin: 0 -20px;
	    padding: 46px 20px 74px;
	}
	.post-list-content{
		max-width: 1140px;
		margin: 0 auto;
		.post-list-body{
			margin: 0 -10px 40px;
			.flex-display(flex);
			.flex-wrap(wrap);
		}
	   	.post-list-item{
	   		margin-bottom: 30px;
	   		@media screen and (max-width: @mobile) {
	   			margin-bottom: 30px;
	   		}
			.post-item-wraper{
			    background: @white-color;
			    padding: 19px 16px !important;
			    box-shadow: 4px 4px 4px 0 rgba(198,197,197,0.5);
			    border:none;
			    height: 100%;
			    .flex(0 0 100%);
			    @media screen and (max-width: @mobile) {
			    	padding: 18px 20px 49px 15px !important;
			    }
			}
			.post-image{
				min-height: auto;
				display: block;
    			width: 100%;
    			min-width: auto;
				img{
				    position: static;
					height: 100%;
					width: 100%;
					margin: 0;
					object-fit: cover;
    				object-position: center center;
				}
			}
			.post-info-wraper {
			    padding: 12px 0 0 0;
			    display: block;
			}
			.post-short-description {
			    display: block;
			    display: -webkit-box;
			    max-width: 100%;
			    max-height: 88px;
			    margin: 0 auto;
			    -webkit-line-clamp: 3;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    margin: 0 0 15px;
			}
			.mp-post-title{
				.h5();
				margin: 0 0 10px;
				@media screen and (max-width: @mobile) {
				    font-size: 16px;
				    line-height: 21px;
			    }
				a, a:visited{
					color: @blue_link_secondary !important;
				}
			}
			.mp-post-info{
				color: @text_color_grey;
				margin: 0 0 10px;
				display: none;
			}
			p {
			    .p();
			    font-size: 1rem;
			    word-break: break-word;
			    margin: 0;
			    @media screen and (max-width: @mobile) {
				    font-size: 14px;
				    line-height: 20px;
			    }
			}
			.mp-read-more{
				display: none;
			}
	   	}
   }
   .pager{
   		text-align: right;
   		&:before,&:after{
			content: '';
		    display: block;
		    clear: both;
   		}
	}
}

/*header*/
.mp-blog-rss {
	text-align: left;
	padding: 16px 0 46px;
	.flex-display(flex);
	.align-items(center);
	.flex-wrap(wrap);
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
	&:before, &:after {
		content: '';
		display: block;
		clear: both;
	}

	.mp-sidebar {
		float: none;
		.flex(0 0 43.42%);
		padding-left: 45px;
		@media screen and (max-width: @tablet) {
			.flex(0 0 47.42%);
			padding-left: 30px;
		}
		.sidebar-categories {
			display: none;
		}

		.menu-categories {
			float: left;
			margin-right: 0;
			padding: 0;
			display: block;
			border: none;
			width: 50%;
			margin: 8px 0 !important;
			padding: 0 40px 0 0;
			@media 	screen and (max-width: @tablet) {
				padding: 0 25px 0 0;
			}
			&:nth-child(2n+1) {
				clear: both;
			}
			.category-item {
				position: relative;
				padding-left: 13px;
			}
			.list-categories {
				margin: 0;
				font-size: 16px;
				line-height: normal;
				.futura-Medium();
				color: @blue_link_secondary;
				&:hover{
					color: @blue_link_color !important;
				}

				i {
					display: none;
				}

				&:before {
					content: '\e619';
					.luma-icon();
					position: absolute;
					left: 0;
					top: 6px;
					font-size: 10px;
				}

			}
		}

	}

	.bb-rss-icon {
		display: none;
	}

}

.guide-dropdown {
    margin: 21px 0 24px;
    display: none;
    width: 100%;
}
   

 /*Mobile*/
 @media screen and (max-width: @mobile) {
	.mp-blog-rss{
		.mp-sidebar {
		    .flex(0 0 100%);
		    padding-left: 0;
		    padding-top: 21px;
		}
	} 	
 	.mpblog-post-index,.mpblog-category-view{
 		.page-banner-wrap{
 			.flex(0 0 100%);
 			padding-left: 0;
		    padding-right: 0;
 			&:after {
			    display: none;
			}	
 		// 	.banner-container .banner-content h2 {
			//     font-size: 25px;
			//     line-height: 32px;
			// }
 		}
 		.blog_listing {
		    position: relative;
		    margin: 0 -15px;
		    padding: 23px 15px 42px;
		    margin-top: 12px;
		}
		.article_count {
		    position: absolute;
		    top: -18px;
		    margin: 0;
		    text-align: left;
		}
		 .post-list-content{
		 	.post-list-body {
			    margin: 0 -10px 32px;
			}
		 	.post-list-item {
			    margin-bottom: 24px;
			    .post-item-wraper {
				    padding: 18px 16px !important;
				}
			    p {
				    font-size: 16px;
				    line-height: 27px;
				}
			}
			.toolbar-amount{
				display: none;
			}
		 }
		 .pager {
		    text-align: center;
		}
		.page-banner-wrap {margin-left: -15px;margin-right: -15px;padding: 16px 15px 26px;background: @grey_border_color;.flex(0 0 ~"calc(100% + 30px)")}
		.mp-blog-rss{
			padding-bottom: 0;
			.mp-sidebar {
			    display: none;
			}
		}
 	}
 	.guide-dropdown {
	    display: block;
	}

 }