.bg-button(@bg_color,@text_color,@hover_bg_color,@hover_text_color){
	padding: 13px 20px;
    background: @bg_color;
    text-transform: uppercase;
    color: @text_color;
    display: inline-block;
    border-radius: 0px;
    &:hover,&:focus{
    	background:@hover_bg_color;
    	color: @hover_text_color;
    	text-decoration: none;
    }
    &:focus{
    	outline: none;
    }
}

/*Add  to cart similar buttons*/
#store-selector .form-continue .actions-toolbar .action.primary,
    .form-address-edit .actions-toolbar .action.vertex-secondary,
    .order-review-form .action.primary,
    .bundle-actions .action.primary.customize,
    .bundle-options-container .block-bundle-summary .box-tocart .action.primary,
    .box-tocart .action.tocart,
    .cart-summary .checkout-methods-items .action.primary.checkout,
    .block-minicart .block-content > .actions > .primary .action.primary,
    .methods-shipping .actions-toolbar .action.primary,
    .block-authentication .action.action-register,
    .block-authentication .action.action-login,
    .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
    .form-address-edit .actions-toolbar .action.primary,
    .box-tocart .action.instant-purchase,
    .multicheckout .action.primary {
    font-size: 14px;
    line-height: 19px;
    padding: 18px 41px 16px 32px;
}
.block-compare .action.primary:not(:focus), .cart-summary .block .actions-toolbar > .primary .action.primary:not(:focus), .abs-discount-code .form-discount .actions-toolbar .primary .action:not(:focus), .cart-summary .form.giftregistry .fieldset .action.primary:not(:focus), .checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary .action:not(:focus){
    box-shadow:none;
}