.checkout-cart-index{
	.page-title{
		margin: 30px 0 25px;
	}
	.page-main {
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-bottom: 100px;
	    @media screen and (max-width: @tablet) {
	    	padding-bottom:70px;
	    }
	    @media screen and (max-width: @mobile) {
	    	padding-bottom:0;
	    }
	}
	.cart-container{
		.form:not(.minisearch):not(.contact).form-cart{
			width: 100%;
			max-width: 68.45%;
		    padding-right: 50px;
		    @media screen and (max-width: @mobile) {
		    	margin-bottom: 30px;
		    }
		}
		.cart-summary{
			width: 31.55%;
		}
	}
}
// price common
.cart.table-wrapper .col.price,
.order-items.table-wrapper .col.price,
.cart.table-wrapper .col.qty,
.order-items.table-wrapper .col.qty,
.cart.table-wrapper .col.subtotal,
.order-items.table-wrapper .col.subtotal,
.cart.table-wrapper .col.msrp,
.order-items.table-wrapper .col.msrp{
	text-align: left;
}

.paypal-review .table-paypal-review-items .col.price .price-including-tax,
.paypal-review .table-paypal-review-items .col.price .price-excluding-tax,
.paypal-review .table-paypal-review-items .col.subtotal .price-including-tax,
.paypal-review .table-paypal-review-items .col.subtotal .price-excluding-tax,
.cart.table-wrapper .col.price .price-including-tax,
.cart.table-wrapper .col.price .price-excluding-tax,
.cart.table-wrapper .col.subtotal .price-including-tax,
.cart.table-wrapper .col.subtotal .price-excluding-tax,
.cart.table-wrapper .col.msrp .price-including-tax,
.cart.table-wrapper .col.msrp .price-excluding-tax,
.order-details-items .col.price .price-including-tax,
.order-details-items .col.price .price-excluding-tax,
.order-details-items .col.subtotal .price-including-tax,
.order-details-items .col.subtotal .price-excluding-tax {
    font-size: 16px;
    line-height: 19px;
    color: @text_color_grey;
    .price{
    	font-weight: normal;
    }
}
.cart.table-wrapper .col.subtotal .price-including-tax,
.cart.table-wrapper .col.subtotal .price-excluding-tax,{
	line-height: 21px;
	.futura-Medium();
	.price{
    	font-weight: inherit;
    }
}
/*cart table*/
.form-cart{
	.cart.table-wrapper{
		margin-bottom: 24px;
		.cart{
		 	border-collapse:collapse;
		 	width: 100%;
		 	table-layout: auto;
		 	&> .item{
		 		border-top:none;
		 		border-top:1px solid @section_breaker_border;
		 	}
		 	.col{
		 		padding: 10px;
		 		vertical-align: middle;
		 		white-space: normal;
		 		word-break:break-word;
		 		&.item{
		 			text-align: left;
		 			padding-left:0;
		 			width: 360px;
    				max-width: 360px;
    				.product-image-wrapper{
		 				height: 0;
		 				 padding-bottom: 67.0103% !important;
		 				.product-image-photo{
		 					position: absolute;
		 					height: 100%;
		 				}
		 			}
		 		}
		 		&.price {
				    width: 110px;
				    max-width: 110px;
				}
				&.qty {
				    width: 150px;
				    max-width: 150px;
				}
				&.subtotal {
				    min-width: 80px;
				}
				&.remove {
				    border-bottom: 1px solid @section_breaker_border;
				}
		 	}
		 	thead{
		 		tr{
		 			th.col {
					    border-bottom: none;
					    border-top: 1px solid @section_breaker_border;
					    font-size: 16px;
					    line-height: 27px;
					    color: @text_color_grey;
					    .futura-Medium();
					}
		 		}
		 	}
		 	tbody{
		 		tr{
		 			td.col{
		 				border:none;
		 				padding-top:40px;
		 				padding-bottom: 0;
		 				// item detail
		 				&.item{
		 					text-align: left;
		 					.product-item-photo{
		 						vertical-align: middle;
		 					}
		 				}
		 				// qty
		 				&.qty{
		 					.input-text {
							    height: auto;
							    margin-top: 0;
							    text-align: center;
							    width: 68px;
							    min-height: auto;
							    padding: 8px 15px;
							    font-size: 14px;
							    border-width: 2px;
							    border-color: @section_breaker_border;
							    .futura-Medium();
							    text-align: left;
							}
		 				}
		 			}
		 		}
		 		// remove link
		 		.item-actions{
		 			td {
					    padding:10px 0 40px;
					}
 					.actions-toolbar {
					    padding: 0;
					     &> .action-edit {
						    display: none;
						}
						&> .action-delete {
							position: static;
						    color: @text_color_grey;
						    font-size: 16px;
						    font-weight: 300;
						    letter-spacing: 0;
						    line-height: 19px;
						    text-decoration: underline;
						    &:before {
							    display: none;
							}
							&> span {
							    clip: auto;
							    width: auto;
							    height: auto;
							    margin: 0;
							    overflow: visible;
							    position: static;
							}
						}
					}

		 		}
		 	}
		 	// product name
		 	.product-item-name {
			    color: @text_color_grey;
			    .futura-Medium();
			    font-size: 16px;
			    line-height: 27px;
			    margin: 0;
			    &:visited{
				    color: inherit;
				}
				&+ .item-options{
					margin-top: 0;
				}
			}
			.item-options{
				dt,dd{
					margin-bottom: 0;
				}
			}
			// details
			.product-item-details {
			    vertical-align: middle;
			    padding-top: 12px;
    			padding-bottom: 12px;
    			font-size: 14px;
			    line-height: 27px;
			    label {
				    display: block;
				}
			}
		 }
	}
}
// total table
.cart-totals,.opc-block-summary{
	tbody,tfoot{
		.mark {
		 	color: @text_color_grey;
		    font-size: 16px;
		    letter-spacing: 0;
		    line-height: 21px;
		    .futura-Medium();
		    padding: 0 13px 18px 22px;
		}
		.amount {
		    color: @text_color_grey;
		    font-size: 16px;
		    letter-spacing: 0;
		    line-height: 19px;
		    text-align: right;
		    font-weight: normal;
		    padding: 0 13px 18px 22px;
		}
	}
	.grand{
		.mark,.amount{
			border-bottom: 1px solid @darkgrey_d5;
			padding-top: 9px;
		}
		.mark {
		   	font-size: 16px;
		    border-top: 1px solid @darkgrey_d5;
		    padding-right:13px;
		}
		.amount{
			font-size:18px;
			line-height: 25px;
			.futura-Medium();
		}
		strong{
			font-weight: inherit;
			padding: 0;
		}
	}
}
// .cart-totals tbody .mark,
//  .cart-totals tfoot .mark,
//  .opc-block-summary .table-totals tbody .mark,
//  .opc-block-summary .table-totals tfoot .mark {
//  	color: @text_color_grey;
//     font-size: 16px;
//     letter-spacing: 0;
//     line-height: 21px;
//     .futura-Medium();
//     padding: 0 13px 18px 0;
// }

// .cart-totals tbody .amount,
// .cart-totals tfoot .amount,
// .opc-block-summary .table-totals tbody .amount,
// .opc-block-summary .table-totals tfoot .amount {
//     color: @text_color_grey;
//     font-size: 16px;
//     letter-spacing: 0;
//     line-height: 19px;
//     text-align: right;
//     font-weight: normal;
//     padding: 0 13px 18px 0;
// }

// // grand total
// .cart-totals .grand .mark,
// .opc-block-summary .table-totals .grand .mark {
//    	font-size: 16px;
//     border-top: 1px solid @darkgrey_d5;
//     padding-right: 0;
// }
// .cart-totals .grand .amount,
// .opc-block-summary .table-totals .grand .amount{
// 	font-size:18px;
// 	line-height: 25px;
// 	.futura-Medium();
// 	padding: 9px 13px 18px 0;
// }
// .cart-totals .grand,.opc-block-summary .table-totals .grand{
// 	strong{
// 		font-weight: inherit;
// 	}
// }

// action buttons
.cart-container{
	.form-cart{
		.actions.main {
		    text-align: left;
		    .flex-display(flex);
		    .justify-content(space-between);
		    .flex-wrap(wrap);
		    .action{
		    	&.continue-shopping,&.continue{
				    .bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
			    	padding:12px 20px 11px;
			    	border:2px solid @blue_link_secondary;
			    	font-size: 12px;
			    	line-height: normal;
                    text-align: center;
			    	.futura-Medium();
			    	@media screen and (max-width: @mobile_sm) {
			    		.flex(0 0 100%);
			    		margin: 0 0 10px;
			    	}
			    	&:hover{
				    	border-color:@blue_link_color;
				    }
		    	}
		    	&.update{
		    		.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
			    	font-size: 12px;
			    	line-height: normal;
			    	.futura-Medium();
			    	padding:12px 20px 11px;
			    	border:none;
			    	@media screen and (max-width: @mobile_sm) {
			    		.flex(0 0 100%);
			    	}
		    	}
		    }
		}
	}
	// summary
	.cart-summary {
	    background:none;
	    padding:0;
	    .cart-summary-total{
	    	background: @grey_border_color;
	    	padding: 17px 0 26px;
	    	margin-bottom: 5px;
	    }
	    .summary.title {
		    color: @text_color_grey;
		    .futura-Medium();
		    font-size: 18px;
		    line-height: 25px;
		    padding: 0  22px 15px;
		    text-transform: capitalize;
		    border-bottom:1px solid @darkgrey_d5;
		    display: block;
    		margin-bottom: 0px;
		    &:before{
		    	content: '';
		    	background:url(../svg/cart-summary.svg) no-repeat;
		    	background-size:27px 24px;
		    	width: 27px;
		    	height: 24px;
		    	display: inline-block;
		    	margin-right: 10px;
		    	vertical-align: top;
		    }
		}
		#block-shipping{
			// display: none;
		}
		.cart-totals{
			border-color: @darkgrey_d5;
			padding-top: 36px;
			table{
				width: 100%;
				border-collapse: collapse;
			}
		}
		.checkout-methods-items {
		    margin: 15px 0 0;
    		padding: 0 22px;
		    .action.multicheckout{
		    	color: @blue_link_secondary;
		    	text-decoration: underline;
		    }
		    // checkout button
			.action.primary.checkout {
				.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
			    .futura-Medium();
			    font-size: 16px;
			    line-height: 21px;
			    text-align: center;
			    padding: 20px 42px 19px;
			    text-transform: uppercase;
			    border: none;
			}
			[id*="#zoid-paypal-buttons"] > iframe {
			    z-index: 0;
			}
		}
		// shipping block
		.block{
			&> .title{
				padding: 0 22px;
				border: none;
    			margin-bottom: 10px;
				&:after{
					.luma-icon();
					line-height: 1.6875rem;
    				color: @text_color_grey;
    				float: right;
    				content: '\e621';
    				.transform(rotate(180deg));
    				position:static;
				}
				strong{
					.h3();
					color: @text_color_grey;
					text-transform: none;
				}
			}
			.content{
				padding: 5px 22px;
				.item-title {
				    display: block;
				    margin: 0 0 8px;
				    .futura-Medium();
				    font-size: 1rem;
				    line-height: 1.75rem;
				    color: @form_label_grey;
				}
				.item-options{
					margin: 0 0 20px;
					.field{
						.radio + .label {
						    overflow: visible;
						}

					}
				}
				.price {
				    .futura-Medium();
				}
			}

			form{
				.form();
				max-width:100%;
				margin: 0;
				.field{
					&.note{
						margin: 0 0 10px;
					}
				}
				.fieldset {
				    margin-bottom: 0;
				}
			}
			&.active{
				&> .title{
					&:after{
						.transform(none);
					}
				}
			}
		}
		// discount code
		.discount {
		    background: @grey_border_color;
		    padding: 22px 0;
		    .title{
		    	display: none;
		    }
		    .content{
		    	display: block;
		    	padding-top: 0;
		    	padding-bottom:0;
		    }
		    form{
		    	color: @placeholder_color;
			    .futura-Book();
			    font-size: 14px;
			    font-weight: 300;
			    line-height: 16px;
			    input[type="text"]{
			    	.placeholder({font-size:14px});
				    font-size: 14px;
				    line-height: 16px;
				    padding: 9px 16px 10px;
				    min-height: auto;
				    margin-right: 13px;
				    max-width: ~"calc(100% - 87px)";
				    .flex-order(1);
			    }
			    .mage-error {
				    .flex(0 0 100%);
				    .flex-order(3);
				}
			    .control{
			    	.flex-display(flex);
				    .align-items(center);
				    .flex-wrap(wrap);
				    width: 100%;
				    .actions-toolbar{
				    	.actions-toolbar();
					    width: 74px;
					    display: inline-block;
					    .flex-order(2);
					    & > .primary{
					    	@media screen and (max-width: @mobile) {
					    		margin-right: 0;
					    	}
					    	.action.primary {
							    font-size: 12px;
							    line-height: 15px;
							    padding: 11px 21px;
							    margin-right: 0;
							    border: none;
							    text-align: center;
							}
					    }
				    }
			    }
		    }
		}

	}
}
// empty cart
.cart-empty{
	p {
	    margin: 0 0 10px;
	}
	a {
	    color: @blue_link_secondary;
	    text-decoration: underline;
	}
}

// tablet
@media screen and (max-width: @screen__l) {
	.form-cart{
		.cart.table-wrapper{
			.cart{
				tbody tr td.col {
				    padding-top: 25px;
				    padding-bottom: 25px;
				}
				.col{
					&.item {
					    width: 260px;
					    max-width: 260px;
					    .product-image-container {
						    width: 70px !important;
						}
					}
					&.price {
					    width: 100px;
					    max-width: 100px;
					}
					&.qty {
					    width: 120px;
					    max-width: 120px;
					}
				}
			}
		}
	}
}

// tablet
@media screen and (max-width: @tablet_sm) {
	.form-cart{
		.cart.table-wrapper{
			.cart{
				thead{
			 		tr{
			 			th.col {
						    font-size: 15px;
						}
			 		}
			 	}
				.col{
					&.item {
					    width: 210px;
					    max-width: 210px;
					    .product-image-container {
						    width: 50px !important;
						}
					}
					&.price {
					    width: 100px;
					    max-width: 100px;
					}
					&.qty {
					    width: 100px;
					    max-width: 100px;
					}
				}
				.product-item-name {
				    font-size: 15px;
				}
			}
		}
	}
	// price
	.paypal-review .table-paypal-review-items .col.price .price-including-tax,
	.paypal-review .table-paypal-review-items .col.price .price-excluding-tax,
	.paypal-review .table-paypal-review-items .col.subtotal .price-including-tax,
	.paypal-review .table-paypal-review-items .col.subtotal .price-excluding-tax,
	.cart.table-wrapper .col.price .price-including-tax,
	.cart.table-wrapper .col.price .price-excluding-tax,
	.cart.table-wrapper .col.subtotal .price-including-tax,
	.cart.table-wrapper .col.subtotal .price-excluding-tax,
	.cart.table-wrapper .col.msrp .price-including-tax,
	.cart.table-wrapper .col.msrp .price-excluding-tax,
	.order-details-items .col.price .price-including-tax,
	.order-details-items .col.price .price-excluding-tax,
	.order-details-items .col.subtotal .price-including-tax,
	.order-details-items .col.subtotal .price-excluding-tax {
	    font-size: 15px;
	}

	// summary
	.cart-container{
		.cart-summary{
			.summary.title{
				padding: 0 15px 15px;
			}
			.block{
				&> .title {
				    padding: 0 15px;
				    strong {
					    font-size: 16px;
					}
				}
				.content {
				    padding: 5px 15px;
				}
			}
			.cart-totals {
			    padding-top: 26px;
			}
			// discount code
			.block.discount {
			    padding: 15px 0;
			    form .fieldset .field:not(.choice) > .control {
				    width: 100%;
				    input[type="text"] {
					    .flex(0 0 100%);
					    max-width: 100%;
					    margin: 0 0 15px;
					}
				}
			}
			// checkout button
			.checkout-methods-items {
			    padding: 0 15px;
			    .action.primary.checkout {
				    padding: 15px 21px 14px;
				    font-size: 13px;
				}
				.action.multicheckout {
				    font-size: 13px;
				}
			}
		}
	}
	// total table
	.cart-totals,.opc-block-summary{
		tbody,tfoot{
			.mark {
			    font-size: 15px;
			    line-height: 21px;
			    padding: 0 13px 18px 15px;
			}
			.amount {
			    font-size: 15px;
			    padding: 0 13px 18px 15px;
			}
		}
		.grand{
			.mark {
			   	font-size: 15px;
			}
			.amount{
				font-size:17px;
			}
		}
	}
}

// mobile
@media screen and (max-width: @mobile) {
	.checkout-cart-index{
		.page-title {
		    margin: 25px 0 20px;
		}
		.cart-container {
		    .flex-display(flex);
		    .flex-direction(column);
		    .flex-wrap(wrap);
		    width: 100%;
		    .align-items(flex-start);
		    .justify-content(flex-start);
		    .cart-summary {
			    width: 100%;
			    .flex-order(2);
			}
			.form:not(.minisearch):not(.contact).form-cart{
				max-width: 100%;
				padding-right: 0;
			}
		}
	}
	// cart table
	.form-cart{
		.cart.table-wrapper{
			border:none;
			.col.qty[data-th]:before,
			.col.price[data-th]:before,
			.col.subtotal[data-th]:before,
			.cart.table-wrapper .col.msrp[data-th]:before {
			    display: none;
			}
			.cart{
				thead{
			 		tr{
			 			th.col {
						    font-size: 16px;
						    line-height: 27px;
						}
						.col.remove{
							display: none;
						}
			 		}
			 	}
			 	 tbody{
			 	 	tr{
			 	 		td.col {
					    	padding-top: 0;
						    padding-bottom: 0;
						}
						&.item-info{
							padding-top: 25px;
							display: block;
    						width: 100%;
    						position: relative;
						    padding-left: 117px;
						    .flex-display(flex);
						    .flex-wrap(wrap);
						}
			 	 	}
			 	 	// remove link
			 		.item-actions{
			 			td {
						    padding:5px 0 25px;
						}
			 		}
			 	 }
			 	.col{
			 		&.item{
			 			width: 100%;
    					max-width: 100%;
    					min-height: auto;
			 			 .product-item-photo {
			 			 	max-width: 97px;
						    position: static;
						    display: inline-block;
						    float: left;
						    margin-right: 20px;
						    position: absolute;
						    left: -117px;
						    right: auto;

						}
			 			.product-image-container{
			 				width: 100% !important;
			 			}
			 		}
			 		&.price {
					    display: none;
					}
					&.qty {
						text-align: left;
					 	padding-left: 0;
					 	width: 85px;
    					max-width: 85px;
					}
					&.subtotal{
						padding-top: 8px;
    					padding-bottom: 8px;
					}
			 	}
			 	.product-item-name {
				    font-size: 16px;
				    line-height: 27px;
				}
				.product-item-details {
				    padding-top: 0;
				    padding-bottom: 5px;
				}
			}
		}
	}
	// price
	.paypal-review .table-paypal-review-items .col.price .price-including-tax,
	.paypal-review .table-paypal-review-items .col.price .price-excluding-tax,
	.paypal-review .table-paypal-review-items .col.subtotal .price-including-tax,
	.paypal-review .table-paypal-review-items .col.subtotal .price-excluding-tax,
	.cart.table-wrapper .col.price .price-including-tax,
	.cart.table-wrapper .col.price .price-excluding-tax,
	.cart.table-wrapper .col.subtotal .price-including-tax,
	.cart.table-wrapper .col.subtotal .price-excluding-tax,
	.cart.table-wrapper .col.msrp .price-including-tax,
	.cart.table-wrapper .col.msrp .price-excluding-tax,
	.order-details-items .col.price .price-including-tax,
	.order-details-items .col.price .price-excluding-tax,
	.order-details-items .col.subtotal .price-including-tax,
	.order-details-items .col.subtotal .price-excluding-tax {
	    font-size: 15px;
	}

	// summary
	.cart-container{
		.cart-summary{
			.summary.title{
				padding: 0 13px 15px;
			}
			.block{
				&> .title {
				    padding: 0 13px;
				    strong {
					    font-size: 16px;
					}
				}
				.content {
				    padding: 5px 13px;
				}
			}
			.cart-totals {
			    padding-top: 36px;
			    padding-left:0;
			    padding-right:0;
			}
			// discount code
			.block.discount {
			    padding: 23px 0;
			    form .fieldset .field:not(.choice) > .control {
				    width: 100%;
				    input[type="text"] {
					    .flex(0 0 ~"calc(100% - 90px)");
					    max-width: ~"calc(100% - 90px)";
					    margin: 0;
						margin-right: 13px;
						@media screen and (max-width: @mobile) {
							margin-right: auto;
						}
					}
				}
			}
			// checkout button
			.checkout-methods-items {
			    padding: 0 13px;
			    .action.primary.checkout {
				    padding: 20px 21px 19px;
    				font-size: 16px;
				}
				.action.multicheckout {
				    font-size: 16px;
				}
			}
		}
	}
	// total table
	.cart-totals,.opc-block-summary{
		tbody,tfoot{
			.mark {
			    font-size: 16px;
			    line-height: 21px;
			    padding: 0 13px 18px 13px;
			}
			.amount {
			    font-size: 16px;
			    padding: 0 13px 18px 13px;
			}
		}
		.grand{
			.mark {
			   	font-size: 16px;
			}
			.amount{
				font-size:18px;
			}
		}
	}
}

@media screen and (max-width: @mobile_xs) {
// cart table
	.form-cart{
		.cart.table-wrapper{
			.cart{
			 	tbody tr td.col{
					&.qty {
					 	width: 68px;
    					max-width: 68px;
    					.input-text{
    						width: 96%;
    					}
					}
			 	}
			}
		}
	}
}
