// category image
.category-image {
    position: relative;
    h1{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .futura-Bold();
        text-transform: uppercase;
        font-size: 2.5rem;
        color: @white-color;
        margin: 0 auto;
        letter-spacing: 2.55px;
        line-height: 3.25rem;
        text-shadow: 0 2px 4px  rgba(113, 113, 113, 0.5);
        text-align: center;
        @media screen and (max-width: @mobile) {
            font-size: 25px;
            line-height: 32px;
            letter-spacing: 1.6px;
        }
    }
    // &:after {
    //     content: attr(data-name);
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     .futura-Bold();
    //     text-transform: uppercase;
    //     font-size: 2.5rem;
    //     color: @white-color;
    //     margin: 0 auto;
    //     letter-spacing: 2.55px;
    //     line-height: 3.25rem;
    //     text-shadow: 0 2px 4px  rgba(113, 113, 113, 0.5);
    //     text-align: center;
    //     @media screen and (max-width: @mobile) {
    //         font-size: 25px;
    //         line-height: 32px;
    //         letter-spacing: 1.6px;
    //     }
    // }

    .image {
        margin: 0 auto;
        @media screen and (max-width: @mobile) {
            min-height: 84px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }
    }

}

.category-heading-title {
    padding: 30px 0 0 0;
    h1 {
        .futura-Bold();
        text-transform: uppercase;
        font-size: 2.5rem;
        color: @blue_link_color;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 2.55px;
        line-height: 3.25rem;
        text-align: center;
        @media screen and (max-width: @mobile) {
            font-size: 25px;
            line-height: 32px;
            letter-spacing: 1.6px;
        }
    }
}
// category description
.category-description {
    line-height: 1.6875rem;
    text-align: center;
    @media screen and (max-width: @mobile) {
        font-size: 16px;
        line-height: 23px;
    }
    h3,h2 {
        .h2();
        margin: 45px 0 7px;
        text-transform: none;
        text-align: center;
        br{
            display: none;
        }
         @media screen and (max-width: @mobile) {
            margin: 25px 0 6px;
         }
    }
}

.catalog-category-view,.catalogsearch-result-index {
    .page-title-wrapper {
        display: none;
    }

    .page-main {
        max-width: 100%;
        padding-left:0;
        padding-right:0;
    }

    .category-image {
        margin: 0;
    }

    .category-description {
        max-width: 888px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 43px;
        padding-left: 20px;
        padding-right: 20px;
        @media screen and (max-width: @mobile) {
            margin-bottom: 32px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .columns {
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 43px;
    }

    &.page-with-filter {
        .toolbar-amount {
            float: none;
        }

    }
    // faq
    .how_works_section.faq-section-category {
        max-width: 1180px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        padding-top: 115px;
        padding-bottom: 115px;
        @media screen and (max-width: @tablet) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        @media screen and (max-width: @tablet_sm) {
            padding-top: 64px;
            padding-bottom: 76px;
        }
        h3 {
            span {
                color: @lightgrey_56;
                .futura-Medium;
                font-weight: 600 !important;
                font-size: 20px;
                margin: 0 0 10px;
            }
        }
        .faq-section{
            h2 {
                margin: 0 0 34px;
                text-align: center;
                @media screen and (max-width: @mobile) {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            .more-info-para{
                margin-bottom: 0;
            }
            p{
                @media screen and (max-width: @mobile) {
                    font-size: 14px;
                    line-height: 20px;
                }   
            }

        }
        p{
            max-width: 100%; 
        }
    }
    &.category-rugs-clearance{
        .category-description{
            max-width: 1080px;
            img{
                margin: 30px auto 10px;
                max-width: 100%;
            }
        }
    }

}
.catalogsearch-result-index {
    .search.results{
        .block {
            margin: 15px 0;
            .title {
             .futura-Medium();
            }
            .item {
                margin: 0;
                margin-right: 5px;
                margin-bottom: 5px;
                display: inline-block;
            }
            a {
                color: @blue_link_secondary;
                text-decoration: underline;
                &:hover{
                    color: @blue_link_color
                }
            }
        }
    }
}


// ff hack
@-moz-document url-prefix() { 
    .toolbar-amount{
     min-height: 41px;
  }
}

.page-with-filter {
    .column.main {
        padding-left: 4.1%;
        @media screen and (max-width: @tablet_sm) {
            width: 75%;
        }

        .toolbar-amount {
            display: none;
        }

        .toolbar {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                bottom: -1px;
                height: 100%;
                width: 86px;
                left: -85px;
                border-bottom: 1px solid @light_grey_e4_color;
                @media screen and (max-width: @tablet_sm) {
                    width: 107px;
                    left: -107px;
                }
                @media screen and (max-width: @mobile) {
                    display: none;
                }
            }
            &~ .toolbar {
                &:before {
                    display: none;      
                }
            }
        }

    }

}

// no of item
.toolbar-amount {
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid @light_grey_e4_color;
    padding: 14px 0 7px;
    @media screen and (max-width: @mobile) {
        border:none;
    }
}

.toolbar {
    padding-bottom: 7px;
    border-bottom: 1px solid @light_grey_e4_color;
    margin: 0;
    @media screen and (max-width: @mobile) {
        border:none;
    }
    select {
        box-shadow: none;
        border-radius: 0px;
        border-color: #c7c7c7;
        font-size: 14px;
        padding: 6px 25px 6px 7px;
        margin: 0;
        min-height: auto;
        background: @white-color;
        min-width: 157px;
        @media screen and (max-width: @mobile) {
            font-size: 12px;
            padding: 5px 25px 5px 7px;
            min-width: 118px;
        }
    }
    &~ .toolbar {
        border: none;
        padding-bottom: 45px;
        float: right;
    }
}

.toolbar-products {
    .toolbar-sorter {
        position: relative;
        @media screen and (max-width: @mobile) {
            position: absolute;
            right: auto;
            left: 10px;
            top: 20px;
        }
        &:after {
            content: '\e622';
            .luma-icon();
             font-size: 13px;
            position: absolute;
            right: 7px;
            top: 50%;
            .transform(translateY(-50%));
        }

    }

}
/*Filter block*/
.filter.block {
    @media screen and (max-width: @mobile) {
        // padding-bottom:7px;
        // display: inline-block;
    }
    .filter-actions {
        position: absolute;
        top: 31px;
        right: 0;
        margin: 0;
        @media screen and (max-width: @mobile) {
            position: static;
            margin-bottom: 10px;
            padding: 0;
        }
        .action.clear {
            font-size: 14px;
            line-height: 16px;
            text-decoration: underline;
        }

    }

    .block-subtitle {
        font-size: 13px;
        color: @blue_link_color;
        .futura-Medium();
        line-height: 17px;
        padding: 10px 0 15px;
        border-bottom-color: @light_grey_e4_color;
    }

    .block-content.filter-content {
        position: relative;
        padding-top: 25px;
        @media screen and (max-width: @mobile) {
            padding-top:10px;
            text-align: left;
        }
    }
    &.active{
        @media screen and (max-width: @mobile) {
            .block-subtitle {
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                padding: 10px 0;
            }
            .filter-options-item{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .filter-current{
        .items {
            padding: 8px 0;
            @media screen and (max-width: @mobile) {
                padding: 8px 0;
            }
        }
        .item {
            padding: 2px 25px 2px 5px;
            color: @text_color_grey;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 15px;
            border-radius: 5px;
            background-color: @section_breaker_border;
            margin: 0 7px 10px 0;
            display: inline-block;
            .filter-label {
                display: none;
            }
            .filter-value {
                color: @text_color_grey;
            }
        }
        .action.remove {
            left: auto;
            right: 5px;
            top: 0;
            font-size: 8px;
            &:before{
                content: '';
                height: 8px;
                width: 8px;
                background:url(../svg/menu-close.svg) no-repeat;
                background-size:8px 8px;
                line-height: 1;
            }
        }
        &~ .block-subtitle {
            display: none;
            @media screen and (max-width: @mobile) {
                display: none;
            }
        }
        .block-subtitle.filter-current-subtitle {
            border-bottom: 1px solid @light_grey_e4_color;
            @media screen and (max-width: @mobile) {
                padding: 11px 0 10px;
                border: none;
            }
        }
    }
}

.filter-options {
    .filter-options-content a:hover{
        background:none;
    }
    .filter-options-item {
        border-bottom-color: @light_grey_e4_color;

        .filter-options-title {
            font-size: 14px;
            line-height: 19px;
            .futura-Medium();
            padding: 10px 28px 0 0;
            text-transform: none;

            &:after {
                right: 0;
                top: 10px;
                font-size: 12px;
            }

        }

        &.active {
            padding-bottom: 27px;

            .filter-options-title {
                padding: 23px 28px 20px 0;

                &:after {
                    top: 22px;
                }

            }

        }
        // type filter
        &[attribute="carpet_style"]{
            .filter-options-content .items{
                .flex-display(flex);
                .flex-wrap(wrap);
                .align-items(flex-start);
                width: 100%;
            }
            .filter-options-content .items .item{
                padding-left:60px;
                min-height: 33px;
                // .lib-vendor-prefix-display(flex);
                // .lib-css(align-items, center, @_prefix: 1);
                line-height: 30px;
                @media screen and (min-width: 768px) and (max-width: 1024px){
                    padding-left: 45px;
                    line-height: 18px;
                    min-height: 20px;
                }
                @media screen and (max-width: 360px) {
                    .flex(0 0 100%);
                    padding-right:0;
                }
                a{
                    vertical-align: middle;
                    @media screen and (min-width: 768px) and (max-width: 1024px){
                        font-size: 12px;
                        max-width: 90% !important;
                        padding-left: 15px;
                    }
                    @media screen and (max-width: @tablet) {
                        max-width: 89%;
                    }
                    @media screen and (max-width: @mobile) {
                        font-size: 12px;
                        line-height: 19px;  
                    }
                    @media screen and (max-width: @mobile_sm) {
                        max-width: 87%;
                    }
                    @media screen and (max-width: 360px) {
                        max-width: none;
                    }
                }
                img {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 51px;
                    margin-right: 0px;
                    position: absolute;
                    left: 0;
                    margin-left: 0;
                    @media screen and (min-width: 768px) and (max-width: 1024px){
                        max-width: 30px;
                    }
                }
                /*Tooltip*/
                .info_link {    
                    display: inline-block;
                    vertical-align: middle;
                     .lib-tooltip(@_tooltip-position:bottom,@_tooltip-min-width:130px);
                     @media screen and (max-width: @mobile) {
                         top: -2px;
                         min-width: auto;
                     }
                     @media screen and (max-width: @mobile_sm) {
                         vertical-align: top;
                     }
                     @media screen and (max-width: 360px) {
                         vertical-align: middle;
                     }
                    .tooltip-toggle {
                        background:#848484;
                        font-size: 10px;
                        line-height: 14px;
                        min-width: 14px;
                        min-height: 14px;
                        display: inline-block;
                        border-radius: 100%;
                        color: @white-color;
                        position: relative;
                        vertical-align: middle;
                        text-align: center;
                        .opensans-regular();
                        vertical-align: middle;
                        text-align: center;
                        padding: 0;
                        margin: 0;
                        display: block !important;
                        @media screen and (max-width: @mobile) {
                            background: @section_breaker_border;
                            color: @blue_link_secondary;
                        }
                        &:before {
                            display: none;
                        }
                    }
                    .tooltip-content{
                        color: @text_color_grey;
                    }
                }
            }
        }
        &[attribute="carpet_colour_group"],&[attribute="rugs_color_filter"]{
            .filter-options-content .items{
                .flex-display(flex);
                .align-items(flex-start);
                .justify-content(flex-start);
                .flex-wrap(wrap);
                margin: 0 -10px;
                .item {
                    .flex(0 0 ~"calc(33.33% - 20px)");
                    text-align: center;
                    display: block;
                    margin: 0 10px 23px !important;
                    display: block;
                    padding-right: 0;
                    img {max-width: 100%;display: block;margin: 0 auto;}
                    a{
                        padding-left: 0;
                        width: 100%;
                        padding-right: 0;
                        &::before, &::after{ 
                            display: none !important;
                        }
                        span{
                            word-break: break-word;
                            padding-top: 10px;
                            // max-width: 60px;
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            &:before {
                                content: '';
                                width: 16px;
                                height: 16px;
                                border: 1px solid @lighter_grey_checkbox;
                                border-radius: 2px;
                                background-color: rgba(255, 255, 255, 0.6);
                                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                            &:before {
                                right: 0; 
                                left: auto; 
                                bottom: 0;
                                top: -16px;
                                background: linear-gradient(180deg, #fdfdfd 0%, #e7e9f3 88.27%, #d8dbe7 100%);
                            }
                        }
                    }
                    [type="checkbox"]:checked ~ a span{
                        &:before {
                            border-color: @blue_link_secondary;
                            border-radius: 2px;
                            background: @blue_link_secondary;
                        }
                        &:after{ 
                            // content: '\e610';
                            // .luma-icon();
                            content: '\f00c';
                            .fontAwesome();
                            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.72);
                            position: absolute;
                            right: 3px;
                            top: -14px;
                            z-index: 1;
                            font-size: 10px;
                            color: @white-color;
                            left: auto;
                        }
                    }
                }
            }
        }
        &.filter-price-slider{
            .filter-options-content .items .item{
                @media screen and (max-width: @mobile) {
                    .flex(0 0 100%);
                }
            }
        }
    }

    .filter-options-content {
        padding: 0;
        .filter-value {
            color: @text_color_grey;
            font-size: 14px;
            line-height: 15px;
        }

        .filter-label {
            .futura-Medium();
        }
        .filter-content .item {
            margin: 0 0 10px;
        }

        .filter-current .items {
            padding: 5px 0;
        }
        .count {
            color: @text_color_grey;
            font-weight: 400;
        }

        .items {
            @media screen and (max-width: @mobile) {
                .flex-display(flex);
                .flex-wrap(wrap);
                .align-items(flex-start);
                width: 100%;
            }            
            .item {
                margin: 0 0 10px;
                position: relative;
                @media screen and (max-width: @mobile) {
                    .flex(0 0 50%);
                    margin: 0 0 15px;
                    padding-right:10px;
                    .flex-display(flex);
                    .align-items(center);
                    line-height: normal;
                }
                &:last-child {
                    margin: 0;
                }

                a {
                    position: relative;
                    padding-left: 27px;
                    font-size: 14px;
                    line-height: 15px;
                    color: @text_color_grey;
                    @media screen and (max-width: @tablet_sm) {
                        padding-left: 25px;
                    }
                    @media screen and (max-width: @mobile) {
                        margin-left: 0;
                        line-height: 18px;
                    }

                    &:before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        border: 1px solid @lighter_grey_checkbox;
                        border-radius: 2px;
                        background-color: rgba(255, 255, 255, 0.6);
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                        position: absolute;
                        top: 0;
                        left: 0;
                        @media screen and (min-width: 768px) and (max-width: 1024px){
                            width: 12px;
                            height: 12px;
                        }
                    }
                    &:hover {
                        background: none;

                        // &:after {
                        //     content: '\e610';
                        //     -webkit-font-smoothing: antialiased;
                        //     -moz-osx-font-smoothing: grayscale;
                        //     line-height: inherit;
                        //     color: inherit;
                        //     font-family: 'luma-icons';
                        //     vertical-align: middle;
                        //     display: inline-block;
                        //     font-weight: normal;
                        //     overflow: hidden;
                        //     speak: none;
                        //     text-align: center;
                        //     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.72);
                        //     position: absolute;
                        //     left: 4px;
                        //     top: 2px;
                        //     z-index: 1;
                        //     font-size: 10px;
                        //     color: @white-color;
                        //     @media screen and (max-width: @tablet_sm) {
                        //         left: 2px;
                        //         top: 1px;
                        //         font-size: 8px;
                        //     }
                        // }

                        // &:before {
                        //     border-color: @blue_link_secondary;
                        //     border-radius: 2px;
                        //     background: @blue_link_secondary;
                        // }

                    }

                }
                input:not([type="submit"])[type="checkbox"] {
                    min-height: auto;
                    position: absolute;
                    opacity: 0;
                    margin: 0;
                    width: auto;
                }
                /*checked*/
                [type="checkbox"]:checked{
                    &~ a{
                        &:before {
                            border-color: @blue_link_secondary;
                            border-radius: 2px;
                            background: @blue_link_secondary;
                        }
                        &:after{
                            // content: '\e610';
                            // .luma-icon();
                            content: '\f00c';
                            .fontAwesome();
                            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.72);
                            position: absolute;
                            left: 3px;
                            top: 2px;
                            z-index: 1;
                            font-size: 10px;
                            color: @white-color;
                            @media screen and (min-width: 768px) and (max-width: 1024px){
                                font-size: 6px;
                            }
                        }
                    }
                }

                // price slider
                .ln_slider_container {
                    width: ~"calc(100% - 20px)";
                    position: relative;
                    margin-top: 16px;
                    margin-bottom: 13px;
                    .ui-slider-horizontal {
                        height: 7px;
                        border: 1px solid @lighter_grey_checkbox;
                        border-radius: 2px;
                        background-color: rgba(255,255,255,0.6);
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
                        top: 11px;
                        .ui-slider-handle {
                            position: relative;
                            padding: 0;
                            width: 16px;
                            height: 16px;
                            border: 1px solid @lighter_grey_checkbox;
                            border-radius: 2px;
                            // background-color: rgba(255, 255, 255, 0.6);
                            background:@white-color;
                            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                            top: -12px;
                            &:before {
                                display: none;
                            }
                        }
                        .ui-slider-range{
                            background: @blue_link_secondary;
                            position: relative;
                            height: 100%;
                        }
                    }
                    #ln_slider_text_price {
                        font-size: 14px;
                        line-height: 16px;
                        position: absolute;
                        top: -23px;
                        @media screen and (max-width: @tablet) {
                            font-size: 12px;
                        }
                        @media screen and (max-width: @tablet_sm) {
                            font-size: 11px;
                        }
                        @media screen and (max-width: @mobile) {
                            font-size: 14px;
                        }
                    }
                }

            }

        }

    }

    .swatch-attribute {
        // generic swatch
        .swatch-option {
            position: relative;
            .filter-options{
                .filter-options-content .items{
                    @media screen and (max-width: @mobile) {
                        width: 100%;
                    }
                    .item{
                        [type="checkbox"]:checked ~ a:before {
                            border-color: @blue_link_secondary;
                            border-radius: 2px;
                            background: @blue_link_secondary;
                        }
                        [type="checkbox"]:checked ~ a:after {
                            // content: '\e610';
                            // .luma-icon();
                            content: '\f00c';
                            .fontAwesome();
                            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.72);
                            position: absolute;
                            left: 4px;
                            top: 2px;
                            z-index: 1;
                            font-size: 10px;
                            color: @white-color;
                        }
                    }
                }
            }
            &:after {
                content: '';
                width: 16px;
                height: 16px;
                border: 1px solid @lighter_grey_checkbox;
                border-radius: 2px;
                background-color: rgba(255, 255, 255, 0.6);
                background: linear-gradient(180deg, #FDFDFD 0%, #E7E9F3 88.27%, #D8DBE7 100%);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                position: absolute;
                top: 0;
                left: 0;
            }

            &.selected, &:hover {
                box-shadow: none;
                border: none;
                outline: none;

                &:after {
                    border-color: @blue_link_secondary;
                    border-radius: 2px;
                    background: @blue_link_secondary;
                }

                &:before {
                    // content: '\e610';
                    // .luma-icon();
                    content: '\f00c';
                    .fontAwesome();
                    text-shadow: 0 1px 0  rgba(255, 255, 255, 0.72);
                    position: absolute;
                    right: 3px;
                    bottom: 4px;
                    z-index: 1;
                    font-size: 10px;
                    color: @white-color;
                    @media screen and (max-width: @tablet_sm) {
                        right: 2px;
                        bottom: 3px;
                        font-size: 8px;
                    }
                }

            }

        }

        // color & image
        &[class*="colours"],&.colour_options_for_rugs {
            .swatch-attribute-options {
                margin: 0 -10px;
                .flex-display(flex);
                .flex-wrap(wrap);
                .align-items(flex-start);
                @media screen and (max-width: @mobile) {
                    margin: 0 -14px;
                }
                &> a {
                    background: none;
                    text-align: center;
                    display: block;
                    margin: 0 10px 23px !important;
                    .flex(0 0 ~"calc(33.33% - 20px)");
                    @media screen and (max-width: @tablet_xs) {
                        .flex(0 0 ~"calc(50% - 20px)");
                    }
                    @media screen and (max-width: @mobile) {
                        .flex(0 0 auto);
                        min-width: 41px;
                        margin: 0 14px 17px !important;
                    }
                    &:after {
                        content: attr(aria-label);
                        display: block;
                        height: auto;
                        clear: both;
                        font-size: 12px;
                        line-height: 15px;
                        word-break: break-word;
                    }

                    &:nth-last-child(-n+3) {
                        margin-bottom: 0 !important;
                        @media screen and (max-width: @tablet_xs) {
                            margin-bottom: 23px !important;
                        }
                    }
                    &:nth-last-child(-n+2) {
                        @media screen and (max-width: @tablet_xs) {
                            margin-bottom: 23px !important;
                        }
                    }

                }

                .swatch-option {
                    border-radius: 100%;
                    width: 100%;
                    height: 58px;
                    margin: 0 auto 10px;
                    padding: 0;
                    border: none;
                    outline: none;
                    background-size: cover !important;
                    overflow: visible;
                    @media screen and (max-width: @tablet) {
                        height: 48px;
                        width: 48px;
                        float: none;
                    }
                    @media screen and (max-width: @tablet_sm) {
                        height: 42px;   
                        width: 42px;
                    }
                    @media screen and (max-width: @tablet_xs) {
                        height: 58px;
                        width: 58px;
                    }
                    @media screen and (max-width: @mobile) {
                        height: 41px;
                        width: 41px;
                    }

                    &:after {
                        left: auto;
                        top: auto;
                        right: 0;
                        bottom: 0;
                        @media screen and (max-width: @mobile) {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    &.selected, &:hover {
                        box-shadow: none;
                        border: none;
                        outline: none;
                    }

                }

            }

        }


        // size
        &.size{
            .swatch-option{
                background: @section_breaker_border;
                border: none;
                position: relative;
                padding: 0;
                padding: 7px 19px;
                font-size: 16px;
                line-height: normal;
                color: @text_color_grey;
                .futura-Medium();
                margin: 0 0 10px;
                height: auto;
                @media screen and (max-width: @mobile) {
                    margin-right: 5px;   
                }
                @media screen and (max-width: @mobile_sm) {
                    margin-right: 0;
                }
                &:after{
                    display: none;
                }
                &.selected,&:hover{
                    background:@blue_link_secondary;
                    color:@white-color;
                    &:before{
                        display: none;
                    }
                }
            }
            .swatch-attribute-options {
                margin: 0;
                @media screen and (max-width: @mobile) {
                    .flex-display(flex);
                    .align-items(center);
                    width: 100%;
                    .flex-wrap(wrap);
                }
                &> a {
                    display: block !important;
                    @media screen and (max-width: @mobile) {
                        max-width: 50%;
                    }
                    @media screen and (max-width: @mobile_sm) {
                        max-width: 100%;
                    }
                }
            }
        }


    }

}
/*pagination*/

.pages{
    .item {
        font-size: 14px;
        line-height: 16px;
        vertical-align: top;
        margin: 0;
        a.page {
            padding: 7px 11px;
            border: 1px solid #C7C7C7;
            display: inline-block;
        }
        a.page,a.page:visited{
            color: @text_color_grey;
            &:hover {
                border-color: @text_color_grey;
                background: @text_color_grey;
                color: @white-color;
            }
        }
        .action.previous {
            margin-right: 0;
            font-size: 12px;
            &:hover:before{
                color: @white-color;
            }
            &:visited:before {
                color: @text_color_grey;
            }
        }
        .action.next {
            margin-left: 0;
            font-size: 12px;
            &:hover:before{
                color: @white-color;
            }
            &:visited:before {
                color: @text_color_grey;
            }
        }
    }
    .action {
        box-shadow: none;
        border-radius: 0px;
        padding: 7px 11px;
        background: @white-color;
        border: 1px solid #C7C7C7;
        &:hover{
            border-color: @text_color_grey;
            background: @text_color_grey;
            color: @white-color;
            &:before{
                color: @white-color;
            }
        }
        &:visited {
            color: @text_color_grey;
        }        
    }
    strong.page {
        border:1px solid @text_color_grey;
        background: @text_color_grey;
        line-height: 16px;
        font-size: 14px;
        color: @white-color;
        padding: 7px 11px;
        font-weight: 400;
    }
}


/*product listing*/
.page-layout-2columns-left.page-with-filter {
    .products-grid.products {
        .product-items {
            .justify-content(flex-start);
        }

        .product-item {
            width: ~"calc(33.33% - (60px/3))";
            .flex(0 0 ~"calc(33.33% - (60px/3))");
            position: relative;
            @media screen and (max-width: @tablet_sm) {
                width: ~"calc(50% - (30px/2))";
                .flex(0 0 ~"calc(50% - (30px/2))");
            }
            @media screen and (max-width: @mobile) {
                width: ~"calc(50% - (30px/2))";
                .flex(0 0 ~"calc(50% - (30px/2))");
            }
            @media screen and (min-width: 768px) and (max-width: 992px){
                &:nth-child(odd){
                    margin-left: 0 !important;
                }
                &:nth-child(even){
                    margin-left: 30px !important;
                }
            }
            padding: 0;

            &:nth-child(3n+1):not(:first-child){
                margin-left: 0;
                @media screen and (max-width: @mobile) {
                    margin-left: 30px;
                }
            }
            &:nth-child(2n+1):not(:first-child){
                @media screen and (max-width: @mobile) {
                    margin-left: 0;
                }
            }

            .tocompare {
                font-size: 14px;
                line-height: 16px;
                &:before{
                    content: '';
                    width: 15px;
                    height: 13px;
                    background:url(../svg/compare.svg) no-repeat;
                    background-size:15px 13px;
                    margin-right: 4px;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    display: inline-block;
                    @media screen and (max-width: @mobile){
                        margin-right: 0;
                    }
                }
                span{
                    @media screen and (max-width: @mobile){
                        display: none;
                    }
                }
            }
            .product-item-details {
                position: relative;

                .product-item-name {
                    // padding-right: 80px;
                    @media screen and (max-width: @mobile) {
                        font-size: 16px;
                        line-height: 21px;
                        padding-right:20px;
                    }
                    &>a{
                        font-weight: 500;       
                    }   
                }

                .actions-secondary {
                    position: absolute;
                    right: 0;
                    top: 0;
                    line-height: 1;
                    @media screen and (max-width: @mobile) {
                        // display: none;
                    }
                }

            } 
            .detail-btn {
                .bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
                padding: 15px 25px 14px;
                .futura-Medium();
                font-size: 12px;
                line-height: 15px; 
                position: absolute;
                left: 50%; 
                // top: ~"calc(69.0566%/2)";
                top: 50%; 
                transform: translate(-50%,-50%);
                margin: 0 auto;
                display: inline-block;
                z-index: 2;
                opacity: 0;
                .transition(all 0.3s);
                text-transform: none;
                white-space: pre !important; 
                @media screen and (max-width: @mobile) {
                    display: none;
                }
            }
            .product-item-photo {
                position: relative;
                display: block;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(255,255,255,0.75);
                    z-index: 2;
                    .transition(all 0.3s);
                    opacity: 0;
                    @media screen and (max-width: @mobile) {
                        display: none;
                    }
                }
            }
            .product-item-info {
                position: relative;
                cursor: pointer;
                &:hover{
                    .detail-btn{
                        opacity: 1;
                    }
                    .product-item-photo:before{
                        opacity: 1;
                    }
                }
            }
            // OUT OF STOCK CSS
            .product-item-inner{
                position: relative;
                display: block;
                clip: unset;
                height: auto;
                width: auto;
                box-shadow: none;
                margin: 0;
                .product-item-actions .stock.unavailable{
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                    span{ 
                        font-size: 16px;
                        line-height: 21px;
                        color: @red_color;
                    }
                }
            }
        }
        .sidebar-main{
            width: 25%;
        }

    }

}

/*Carpet category page css*/
.catalog-category-view[class*="carpet"],.catalogsearch-result-index[class*="carpet"]{
    .filter-price-slider{
        display: none;
    }
}
@media screen and (max-width:@mobile) {
    .page-with-filter {
        .columns {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;  
            .sidebar-main {
                text-align: right;
            }

            .column.main {
                padding-left: 0;
                position: static;
                width: 100%;
                border-top: 1px solid @light_grey_e4_color;
                .toolbar {
                    // position: absolute;
                    // left: 0;
                    // top: -34px;
                    position: static;
                    padding: 0;
                    &~ .toolbar {
                        position: static;
                        padding-bottom: 40px;
                        padding-top: 29px;
                        float: none;
                    }
                    .pages{
                        margin-bottom: 0;
                    }
                }

            }

            .block.filter {
                .filter-title {
                    // display: inline-block;
                    // vertical-align: middle;
                    // padding-top: 4px;
                    // padding-bottom: 4px;
                    // position: relative;
                    // padding-left: 14px;
                    // margin-left: 7px;
                    &:before{
                        width: 100%;
                        content: '';
                        display: block;
                        height: 100%;
                        width: 1px;
                        background: #e4e4e4;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }

                    strong {
                        position: relative;
                        background: none;
                        border: none;
                        box-shadow: none;
                        padding: 0;
                        font-size: 12px;
                        line-height: 15px;
                        float: right;
                        display: inline-block;
                        top: -11px;
                        &:before{
                            content: '';
                            width: 15px;
                            height: 13px;
                            background:url(../svg/filter.svg) no-repeat;
                            background-size:15px 13px;
                            display: inline-block;
                            vertical-align: top;
                            margin-right:4px;
                        }
                    }

                }
                .filter-current{
                    border-top: 1px solid @light_grey_e4_color;
                    padding: 0;
                    margin-left: 0;
                    margin-right: 0;
                    border-bottom: none;
                }

            }

        }

        &.catalog-category-view,&.catalogsearch-result-index {
            .toolbar-amount {
                // display: inline-block;
                // vertical-align: middle;
                font-size: 12px;
                line-height: 15px;
                // padding-bottom: 4px;
                // padding-top: 4px;
                display: inline-block;
                padding: 7px 0;
                position: relative;
                border-right: 1px solid #EAEAEA;
                padding-right: 11px;
                margin-right: 78px;
                top: 9px;
            }

        }
        // after filter active
        &.filter-active{
            .columns{
                .block.filter{
                    .filter-title{
                            border: none;
                            strong {
                                top: 0;
                                right: auto;
                                position: absolute;
                                line-height: 46px;
                                left: 15px;
                                width: auto;
                                font-size: 0px;
                                &::before {
                                    display: none;
                                }
                                &:after{
                                    content: '';
                                    overflow: visible;
                                    text-align: left;
                                    width: 20px;
                                    height: 20px;
                                    background-image: url(../svg/popup-mobile-left.svg);
                                    background-repeat: no-repeat;
                                    background-size: 20px 20px;
                                    background-position: center center;
                                }
                        }
                    }
                    .filter-current ~ .block-subtitle{
                        display: block;
                    }
                    .filter-current.active{
                        .block-subtitle:before{
                            right: 0;
                        }
                    }
                }
            }

        }
    }
    .pages-item-previous, .pages-item-next {
        position: static;
    }
    // ff hack
    @-moz-document url-prefix() { 
        .toolbar-amount{
         min-height: auto;
      }
    }
}

/* Hard Flooring listing css starts*/
.product-name-desc {
    font-size: 14px;
    line-height: 16px;
    color: @placeholder_color;
    margin: 6px 0 10px;
}

.page-layout-2columns-left.page-with-filter[class*="-flooring"]{
    .products-grid.products{
        .product-item{
            .product-item-details{
                .product-item-name {
                    padding-right: 0;
                }
                .price-box {
                    display: inline-block;
                    .price{
                        .futura-Medium();
                    }
                }
            }
        }
    }
}
.unit_name {
    font-size: 1rem;
    line-height: 1.3125rem;
    color: @blue_link_secondary;
    .futura-Medium();
}

.catalog-category-view[class*="-flooring"],.catalogsearch-result-index[class*="-flooring"]{
    .how_works_section.faq-section-category {
        padding-bottom: 95px;
    }
}
/* Hard Flooring listing css ends*/

/* Rugs listing css starts */
.catalog-category-view[class*='rugs'],.catalogsearch-result-index[class*='rugs']{
    .product-item .product-item-details{
        .price-box{
            .flex-display(inline-flex);
            .align-items(center);
            .old-price {
                .price{
                    font-size: 16px;
                    line-height: 21px;
                    .futura-Medium();
                    color: @blue_link_secondary;
                    display: inline-block;
                    margin-right: 4px;
                    text-decoration: line-through;
                    @media screen and (max-width: @mobile_sm) {
                        font-size: 14px !important;
                    }
                }
                &~ .special-price{
                    .price-label{
                        display: block;
                    }
                    .price{
                        font-size: 16px;
                        line-height: 21px;
                        color: @red_color;
                        @media screen and (max-width: @mobile_sm) {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
}
/* Rugs listing css ends */

.ribbon {
    &.ribbon-clearance{
        position: absolute;
        left: -8px;
        top: 10px;
        z-index: 11;
        letter-spacing: 0.1rem;
        font-weight: normal;
    }
}

.categorypath-rugs, .categorypath-carpet, .categorypath-hard-flooring{
    .products-grid.products {
        .product-item {
            .product-item-details {
                .product-item-name > a{
                    text-transform: uppercase;
                }
            }
        }
    }
}

.page-layout-2columns-left.page-with-filter[class*="-flooring"],
.page-layout-2columns-left.page-with-filter[class*="-carpet"],
.page-layout-2columns-left.page-with-filter[class*="-rugs"]{
    .products-grid.products{
        .product-item{
            .product-item-details{
                .product-item-name {
                    .product-item-link{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.stock.unavailable  {
    span{
        color: red;
        font-size: 14px;
    }
}







