.onestepcheckout-index-index{
	.one-step-checkout-wrapper {
	    margin: 0;
	}
	.form:not(.minisearch):not(.contact){
		max-width:100%;
	}
	.field.choice {
	    padding-left: 10px;
	}
	.page-title-wrapper{
		margin: 0 !important;
	}
	.page-title{
		margin: 30px 0 40px;
	}
	.action-auth-toggle{
		color: @blue_link_secondary;
		text-decoration: underline;
		display: inline-block;
		margin: 0 0 15px;
		&:hover{
			color:@blue_link_color;
		}
	}
	.page-wrapper {
	    width: 100%;
	    max-width: 1180px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.page-main{
		max-width: 100%;
	    padding-bottom: 110px;
	}
	.checkout-container{
		margin: 0;
	}
	.form:not(.minisearch):not(.contact) .field.choice input:not([type="submit"])[type="radio"]{
		width: auto;
	}
	.copyright{
		display: none;
	}	
	#checkout-step-billing .field.field-select-billing{
		padding:0;
	}
}
// authentication modal
.modal-popup.popup-authentication{
	.actions-toolbar{
		&>.primary{
			@media screen and (max-width: @mobile_xs) {
				.flex(0 0 100%);
			}
			&> .action{
				.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
		    	font-size: 14px;
		    	line-height: 19px;
		    	.futura-Medium();
		    	padding:13px 16px 12px 17px;
		    	border:1px solid @blue_link_secondary !important;
		    	background: @blue_link_secondary !important;
		    	color:@white-color !important;
		    	 margin: 0 15px 0 0;
		    	 @media screen and (max-width: @mobile_xs) {
					 margin: 0 0 15px 0;
					 display: block;
					 width: 100%;
					 text-align: center;
				}
		    	&:hover{
		    		border-color:@blue_link_color !important;
		    		color: @white-color !important;
		    		background: @blue_link_color !important;
		    	}
			}
		}
		&>.secondary{
			padding-top: 0;
			@media screen and (max-width: @mobile_xs) {
				.flex(0 0 100%);
			}
			& > .action{
				font-size: 14px;
		    	line-height: 19px;
		    	.futura-Medium();
		    	padding:13px 16px 12px 17px;
		    	@media screen and (max-width: @mobile_xs) {
					 display: block;
					 width: 100%;
					 text-align: center;
				}
			}
		}
	}
}

// checkout main
  .opc-wrapper {
  .field.addresses	.shipping-address-items {
	    margin-top: 0 !important;
	    padding: 0 10px;
	    @media screen and (max-width: @mobile) {
	    	padding: 0;
	    }
	    .shipping-address-item{
	    	&:not(.selected-item) {
			    border-color: @section_breaker_border;
			}
	    	 &.selected-item {
			    border-color: @blue_link_color;
			    &:after{
			    	background: @blue_link_color;
			    	    content: '\f00c';
					    .fontAwesome();
					    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.72);
					    font-size: 17px;
					    line-height: 20px;
			    }
			}
	    }
	}
    .step-title {
        border: none;
	    padding: 16px 20px 15px !important;
	    font-size: 16px !important;
	    line-height: 21px;
	    text-transform: none;
	    .futura-Medium();
	    font-weight: 500 !important;
	    margin-bottom: 15px;
	    cursor: pointer;
	    i {
		    display: none !important;
		}
		&:after{
			content: 'Edit';
			float: right;
		    color: @blue_link_secondary;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
		}
		&:hover{
			color: @blue_link_secondary;
			&:after{
				color: @blue_link_color;
			}
		}
    }
    .active > .step-title:after {
	    display: none;
	}
	.step-content {
	    padding-left: 10px;
	    padding-right: 10px;
		padding-top: 0 !important;
		margin: 0 0 26px;
		.form:not(.minisearch):not(.contact) .actions-toolbar {
		    .justify-content(center);
		    &> .primary .action.primary {
			    font-size: 12px;
			    line-height: 15px;
			    padding: 11px 27px 10px;
			}
		}
	}
	// order-summary remove edit link
	.order-summary{
		.step-title:after{
			display: none;
		}
	}
	// shipping
	.checkout-shipping-address{
		// login form
		.form:not(.minisearch):not(.contact).form-login{
			.fieldset{
				margin-bottom: 20px;
			}
			.field-tooltip{
				top: 9px;
				.field-tooltip-content:after{
					left: -20px;
				}
			}
			a{
				color: @blue_link_secondary;
				text-decoration: underline;
				&:hover{
					color: @blue_link_color;
				}
			}
		}
		// shipping form
		.form:not(.minisearch):not(.contact).form-shipping-address{
			.fieldset{
				margin-bottom: 0;
				&.street{
					margin-bottom:20px;
				}
			}
			.field-tooltip{
				top: 9px;
				.field-tooltip-content:after{
					left: -20px;
				}
			}
		}
		.field.create-account-checkbox,.billing-address-same-as-shipping-block  {
			position:relative;
		    .checkbox();
		    @media screen and (max-width: @mobile) {
		    	margin-left: 0;
    			width: auto;
		    }
		}
		.field.addresses{
			&+button:not(.primary):not(.action-show):not(.action-close):not(.edit-address-link):not(.ui-datepicker-trigger).action-show-popup {
				.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
	            .futura-Medium();
	            font-size: 14px;
				line-height: 19px;
	            text-align: center;
	            padding: 14px 16px 11px 17px;
	            text-transform: uppercase;
	            background:@blue_link_secondary !important;
	            border-color: @blue_link_secondary !important;
	            color: @white-color !important;			
	            height: auto;
	            border:none;
	            margin-left: 10px;
	            @media screen and (max-width: @mobile) {
	            	margin-left: 0;
    				width: auto;
	            }
	            &:hover{
	            	background:@blue_link_color !important;
	            	border-color: @blue_link_color !important;
	            }
			}	
		}
	}

	// payment method
	.checkout-payment-method{
		.step-content{
		 	padding-right:0;
		 	padding-left:0;
		 	margin: 0;
		}
		.payment-method{
			border-bottom: 1px solid @section_breaker_border;
			padding-bottom: 20px;
			.payment-method-title {
			    margin: 0;
			    padding: 20px 20px 0;			    
			    .action-help{
			    	color: @blue_link_secondary;
			    	text-decoration: underline;
			    	&:hover{
			    		color: @blue_link_color;
			    	}
			    }
			    .payment-icon {
				    .flex-order(3);
    				margin-left: auto;
    				margin-right: 0;
    				position: absolute;
				    right: 0;
				    max-width: 68px;
				    margin: 0;
				}
			}
			&.payment-method-securepay{
				margin: 0;
				
			}
			&:nth-child(2){
				.payment-method-title {
					padding-top: 5px;
				}
			}			
			.payment-method-content {
			    padding: 20px;
			    padding-bottom: 20px !important;
			    @media 	screen and (max-width: @mobile) {
			    	padding-left:0;
			    	padding-right:0;
			    }
			}
			 &+ .payment-method .payment-method-title {
			    border-top-color:@section_breaker_border;
			}
			.checkout-agreement.field.choice{
				 input:not([type="submit"])[type="checkbox"]:not(:checked){
				 	&~label:after{
				 		content: '';
				 	}
				 }
			}
		}
		.form:not(.minisearch):not(.contact).payments{
			.field{
				&.payment-method-title {
				    margin: 0;
				}
				&.choice{
					input:not([type="submit"])[type="radio"] ~ label {
					    font-size: 16px;
					    font-weight: normal;
					    line-height: 24px;
					    margin: 0;
					    .flex-display(flex);
					    .align-items(center);
					    .flex-wrap(wrap);
					    width: 100%;
					    padding-right: 78px;
					    &:before {
						    top: 0;
						    bottom: 0;
						    margin: auto 0;
						}
						&:after {
						  display: none;
						}
					}
					input:not([type="submit"])[type="radio"]:checked ~ label {
						&:before{
							content: '\f00c';
	                		.fontAwesome();
						    z-index: 1;
						    font-size: 10px;
						    color: @white-color;
						    line-height: 12px;
						}
						&:after{
							display: none;
						}
					}
				}
				&.payment-method-title#method-openpay{
					label{
						&::after {
						    margin-left: auto;
						    margin-top: auto;
						    margin-bottom: auto;
						    height: auto;
						    display: inline-block;
						    position: absolute;
						    right: 0;
						    top: 50%;
						    .transform(translateY(-50%));
						    margin: 0;
						    left: auto;
						}
					}
				}
			}
			.fieldset {
			    margin-bottom: 0;
			}
		}
		// secure pay
		.form:not(.minisearch):not(.contact).mpsecurepay-method-form{
			.ccard.fieldset{
				.input-text,.select {
				    padding: 9px 12px;
				}
				.mage-error {
				    font-size: 1rem;
				}
				&> .field{
					&.number{
						.input-text {
						    width: 100%;
						}
					}
					&.date {
					    width: 70%;
					    display: inline-block;
					    padding-right: 4px;
					    @media screen and (max-width: @tablet_sm) {
					    	width: 100%;
					    	padding-right: 0;
					    }
					    .fields.group.group-2 .field {
						    width: 50% !important;
						    margin: 0;

						}
						.month,.year{
							.select {
							    width: 100%;
							}
						}
					}
					&.cvv {
					    width: 29%;
					    display: inline-block;
					    vertical-align: top;
					    margin: 0 0 20px;
					    @media screen and (max-width: @tablet_sm) {
					    	width: 100%;
					    }
					    .input-text {
						    width: ~"calc(100% - 10px)";
						}
						.field-tooltip {
						    top: 9px;
						}
						&> .control._with-tooltip{
							@media screen and (max-width: @tablet_sm) {
								width: 99% !important;	
							}
						}
					}
				} 
				
			}
		}
		.checkout-agreement.field.choice{
			padding-left: 0;
			.label{
				white-space: normal;
			}
			.action-show{
				text-align: left;
				color: @blue_link_secondary;
				text-decoration: underline;
				&:focus{
					color: @blue_link_color;
				}
			}
		}
	}
	// shipping method
	.checkout-shipping-method{
		.step-content{
			padding-left: 20px;
    		padding-right: 20px;
			margin: 0 0 26px;
		}
		.form:not(.minisearch):not(.contact).methods-shipping{
			.table-checkout-shipping-method{
				border-collapse:collapse;
				tbody{
					tr{
						td {
						    padding-bottom: 20px;
						    padding-top: 20px;
						    &.col-method{
						    	.radio();
						    }
						    &.col-price {
							    .futura-Medium();
							}
						}
						&:first-child{
							td {
								padding-top: 5px;
							}
						}
					}
				}
			}
			#mpstorepickup-selected-info {
			    margin: 30px 0 20px;
			}
			.mpstorepickup_select_store{
				.futura-Medium();
				.btn-select-store{
					color: @blue_link_secondary;
					text-decoration: underline;
					&:hover{
						color: @blue_link_color;
					}
				}
			}
			.osc-place-order-block {
			    border: none;
			    padding: 10px 0 10px !important;
			    margin: 0;
			    .label{
			    	display: block;
				    margin: 0 0 8px;
				    .futura-Medium();
				    font-size: 1rem;
				    line-height: 1.75rem;
				    color: @form_label_grey;
			    }
			    textarea{
			    	min-height:95px;
			    	display: block;
			    }
			}
			#onepage-checkout-shipping-method-additional-load{
				[class*="col-"]{
					padding: 0;
					.checkbox();
				}
				a{
					color: @blue_link_secondary;
					text-decoration: underline;
					&:focus{
						color: @blue_link_color;
					}
				}
			}
			#checkout-shipping-method-load {
			    margin-bottom: 20px;
			}
		}

	}
	// billing address
	.checkout-billing-address{
		.field-tooltip{
			top: 9px;
			.field-tooltip-content:after{
				left: -20px;
			}
		}
		.step-content{
			padding-left: 20px;
			padding-right: 20px;
			p {
			    font-size: 16px;
			    line-height: 27px;
			    margin: 0 0 5px;
			}
			.validation-info {
			    color: @red_color;
			    line-height: 19px;
			    margin: 0 0 18px;
			}
		}
		form{
			.form();
			margin: 0;
			max-width: 100%;
			.fieldset.address {
			    margin: 0 -10px;
			}
			.fieldset{
				margin-bottom: 0;
				&.street{
					margin-bottom:20px;
				}
			}
		}
	}
	// order summary
	.order-summary{
		background: @grey_border_color;
	    padding: 17px 0 26px;
	    margin-bottom: 5px;
		.step-title {
		    background: none;
		    color: @text_color_grey !important;
		    .futura-Medium();
		    font-weight: 500 !important;
		    font-size: 18px !important;
		    line-height: 25px;
		    padding: 0 22px 15px !important;
		    text-transform: capitalize;
		    border-bottom: 1px solid #D5D5D5;
		    display: block;
		    margin-bottom: 20px;
		    &:before {
		    	content: '';
		    	background: url(../svg/cart-summary.svg) no-repeat;
		    	background-size: 27px 24px;
		    	width: 27px;height: 24px;
		    	display: inline-block;
		    	margin-right: 10px;
		    	vertical-align: top;
		    }
		}
		.edit-cart {
		    .flex-display(flex);
			.align-items(center);
			color: @text_color_grey;
			font-size: 12px;
			line-height: 15px;
			margin-bottom:13px;
			&:before {
			    content: '';
			    display: inline-block;
			    margin-right: 4px;
			    background: url(../svg/left-arrow.svg) no-repeat;
			    background-size: 12px 12px;
			    width: 12px;
			    height: 12px;
			}
		}
		.opc-block-summary{
			 padding: 0 22px !important;
			 margin: 0;
			.block.items-in-cart {
			    margin-bottom: 16px !important;
			}
			.minicart-items-wrapper{
				overflow-y: auto;
			    max-height: 525px !important;
				table{
				 	thead {
					    display: none;
					}
				}
			}
			 table.data.table.table-totals{
			    border: none;
			    padding: 0;
			    border-collapse: collapse;
			    margin-top: 10px;
			    width: 100%;
			     tbody,tfoot{
			     	.mark{
				     	text-align: left;
				     	padding: 9px 8px;
				     	font-weight: 500;
				     	word-break: break-word;
				     	padding-left: 0;
				     	.value {
						    color: inherit;
						}
				    }
				    .amount{
				     	padding: 9px 8px;
					    text-align: right;
					    white-space: normal;
				    }
				    .grand{
				    	 font-size: 16px;
				    	 .mark,.amount {
						    border-top: 1px solid @darkgrey_d5;
						    border-bottom: 1px solid @darkgrey_d5;
						    padding-top: 9px;
						    padding-bottom: 18px;
						    word-break: break-word;
						    strong{
							    font-weight: 500;
							    padding:0;
							}
						}
						.amount {
						    font-size: 18px;
						}
						.mark {
						    font-size: 16px;
						    padding-left:0;
						}
				    }
			     }
			     tbody{
			     	tr:nth-last-child(2){
			     		.mark,.amount{
			     			padding-bottom: 18px;
			     		}
			     	}
			     }
			}
		}
	}
	.checkout-summary{
		.place-order-primary{
			padding:0 22px;
		}
		.osc-addition-content-wrapper{
			color: @placeholder_color;
		    font-size: 14px;
		    letter-spacing: 0;
		    line-height: 16px;
		    padding: 22px;
		    background: @grey_border_color;
		}
		.osc-place-order-block {
		    border: none;
		    padding: 0 !important;
		    .form-discount{
		    	color: @placeholder_color;
			    .futura-Book();
			    font-size: 14px;
			    font-weight: 300;
			    line-height: 16px;
			    input[type="text"]{
			    	.placeholder({font-size:14px});
				    font-size: 14px;
				    line-height: 16px;
				    padding: 9px 16px 10px;
				    min-height: auto;
				    margin-right: 13px;
				    .flex(0 0 ~"calc(100% - 87px)");
				    max-width: ~"calc(100% - 87px)";
				    .flex-order(1);
			    }
			    .mage-error {
				    .flex(0 0 100%);
				    .flex-order(3);
				}
			    .control{
			    	.flex-display(flex);
				    .align-items(center);
				    .flex-wrap(wrap);
				    width: 100%;
				    .actions-toolbar{
				    	.actions-toolbar();
				    	display: inline-block;
					    width: auto;
					    margin: 0;
					    .flex-order(2);
					    & > .primary .action.primary {
						    font-size: 12px;
						    line-height: 15px;
						    padding: 11px 21px;
						    margin-right: 0;
						    border: none;
						    text-align: center;
						}
				    }
			    }
		    }
		    .payment-option-content {
			    .flex-display(flex);
			    .flex-direction(column-reverse);
			    width: 100%;
			    &> * {
				    .flex(0 0 100%);
				}
				.message-error.error.message {
					margin: 10px 0;
				    padding-left: 25px;
				    & > *:first-child:before {
					    text-align: left;
					    font-size: 16px;
					    width: 16px;
					    top: 19px;
					}
				}
			}
		}
		button.action.primary.checkout{
			.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
            .futura-Medium();
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            padding: 20px 42px 19px;
            text-transform: uppercase;
            border: none;
            background:@blue_link_secondary !important;
            height: auto;
            border:none;
            &:hover{
            	background:@blue_link_color !important;
            }
		}
	}
}

// cart table
.onestepcheckout-index-index{
	.column.main{
		.one-step-checkout-wrapper{
			.minicart-items-wrapper .product-item-detail {
			    padding-left: 0;
			}
			.opc-block-summary{
				#checkout-review-table {
				    border: none;
				    background: none;
				    border-collapse: collapse;
				    display: block;
				    thead th,
				    tbody tr td,
				    tfoot tr td{
				    	padding-left: 0 !important;
    					padding-right: 0 !important;
    					min-width: auto;
    					border: none;
    					padding: 0;
				    }
				    tbody{
				    	display: block;
				    }
				    tbody tr td{
				    	&.product {
						    position: static;
						    width: 100%;
						    max-width: 100%;
						    min-height: auto;
						    .product-image-container {
							    height: auto !important;
							    max-width: 85px;
							    position: static;
							    display: inline-block;
							    float: left;
							    margin-right: 10px;
							    position: absolute;
							    left: 10px;
							    right: auto;
							    .product-image-wrapper {
								    padding-bottom: 67% !important;
								    height: 0;
								}
								img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
							}
						}
						&.subtotal {
						    max-width: 100%;
						    min-height: auto;
						    text-align: right;
						    display: block;
						    min-width: auto;
						    position: relative;
    						top: 16px;
    						width: auto;
    						margin-left: auto;
						}
						&.details-qty {
						    text-align: left;
						    .qty-wrapper {
							    width: auto;
							    min-width: auto;
							    padding: 0;
							    height: auto;
							}
							 .button-action {
							    display: none;
							}
							.qty-wrap {
							    .flex-display(flex);
							    .align-items(center);
							    .flex-wrap(nowrap);
							    width: 100%;
							    height: auto;
							    line-height: 17px;
							    vertical-align: middle;
							    .input-text.update {
								    border: none;
								    -webkit-appearance: none;
								    appearance: none;
								    width: auto;
								    position: static;
								    text-align: left;
								    color: @text_color_grey;
								    font-size: 13px;
								    min-height: auto;
								    padding: 0;
								    display: block;
								    pointer-events: none;
								}
								label {
								    font-size: 13px;
								    line-height: 17px;
								    display: inline-block;
								    margin-right: 3px;
								}
							}

						}
				    }
				    .product-item {
					    background: @white-color;
					    padding: 14px 14px 41px 14px;
					    padding-left: 106px;
					    width: 100%;
					    position: relative;
					    .flex-display(flex);
					    .flex-wrap(wrap);
					    border: none;
					    margin: 0 0 10px;
					    .subtotal {
						    text-align: right;
						    display: block;
						}
						.product-item-inner {
						    display: block;
						    margin: 0;
						}
						.product-item-name-block {
						    padding: 0;
						    color: @text_color_grey;
						    .futura-Medium();
						    font-size: 14px;
						    line-height: 27px;
						    .product-item-name {
							    font-size: inherit !important;
							    font-weight: inherit;
							    margin: 0;
							}
						}
						.price-including-tax, .price-excluding-tax {
						    font-size: 16px;
						}
						 .price {
						    color: @text_color_grey;
						    font-size: inherit;
						    font-weight: normal;
						    line-height: 19px;
						}
						.remove-wrapper {
						    padding: 0;
						    .remove {
							    position: absolute;
							    left: 14px;
							    bottom: 26px;
							    height: auto;
							    width: auto;
							    overflow: visible;
							    color: @text_color_grey !important;
							    background: none !important;
							    border: none !important;
							    border-radius: 0px;
							    margin: 0;
							    font-size: 12px;
							    letter-spacing: 0;
							    line-height: 15px;
							    text-decoration: underline;
							    i{
							    	display: none;
							    }
							    &:hover{
							    	color: @blue_link_secondary;
							    }
							}
							.edit {
							    display: none;
							}
						}
						.item-options{
						    margin: 0;
						    color: @text_color_grey;
						    font-size: 13px;
						    line-height: 17px;
						     dt,dd{
						     	margin-right: 0;
						    	clear: none;
						    }
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: @tablet) {
	.onestepcheckout-index-index{
		.page-main{
		    padding-bottom: 70px;
		}
	}
}


@media screen and (max-width: @tablet_sm) {
	.opc-wrapper {
		.form:not(.minisearch):not(.contact),form{
			.field {
			    width: 100%;
			}
		}
		.checkout-shipping-address{
			// shipping
			.form:not(.minisearch):not(.contact).form-shipping-address{
				.fieldset{
					margin: 0;
					&.street{
						margin-bottom:0;
					}
				}
				.field-tooltip{
					.field-tooltip-content:after{
						left: auto;
					}
				}	
			}
			// login form
			.form:not(.minisearch):not(.contact).form-login{
				.field-tooltip{
					.field-tooltip-content:after{
						left: auto;
					}
				}		
			}
		}
		 .checkout-billing-address{
		 	 form{
		 	 	.fieldset.address{
		 	 		margin-bottom: 36px;
		 	 	}
		 	 	.fieldset{
					&.street{
						margin-bottom:0;
					}
				}
		 	 }
		 	 .field-tooltip{
				.field-tooltip-content:after{
					left: auto;
				}
			}
		 }
	 	// order summary
	 	.order-summary{
		 	 .opc-block-summary{
			 	.minicart-items-wrapper{
			 		max-height: 515px !important;
			 	}
			 }
		 }	 
	}
	
	 .onestepcheckout-index-index .column.main .one-step-checkout-wrapper{
	 	.opc-block-summary{
	 		#checkout-review-table{
	 			tbody tr{
	 				td{
	 					&.product{
	 						.product-image-container {
							    max-width: 70px;
							}
	 					}
	 				}
	 			}
	 			.product-item{
	 				padding-left: 92px;
	 			}
	 		}
	 	}
	 }
	.onestepcheckout-index-index{
		.page-main{
		    padding-bottom: 40px;
		}
	}
}

@media screen and (max-width: @tablet_xs) {
	#checkout-step-shipping_method{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: @mobile) {
	.onestepcheckout-index-index{
		.page-title {
		    margin: 25px 0 15px;
		}
		.opc-estimated-wrapper{
			display: none;
		}
		.page-title-wrapper {
		    padding-left: 0 !important;
		}
		.osc-authentication-wrapper {
		    padding-left: 0;
		}
		.row-mp {
		    margin: 0;
		}
		.col-mp{
			padding: 0;
		}
		.field.choice {
		    padding-left: 0 !important;
		}
		.opc-wrapper .checkout-summary .osc-place-order-block .form-discount .control .actions-toolbar > .primary {
		    margin-right: 0;
		}
		.one-step-checkout-container {
		    width: 100%;
		    display: block;
		}
		.osc-trust-seal {
		    margin: 0;
		}
		.page-main {
		    padding-bottom: 30px;
		}
	}
	#checkout-step-shipping_method {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.checkout-payment-method{
		.payment-methods {
		    margin: 0;
		}
	}
	#checkout-step-shipping .create-account-block .confirmation,
	#checkout-step-shipping .create-account-block {
	    margin-top: 10px;
	}
	.opc-wrapper {
	    .step-title {
	    	padding: 12px 20px !important;
	    }
	    .step-content {
		    padding-left: 0;
		    padding-right: 0;
		}
		fieldset.field.col-mp {
		    padding: 0 !important;
		}
	    .form:not(.minisearch):not(.contact) .fieldset > .field > .label {
		    font-size: 16px;
		}
		.form:not(.minisearch):not(.contact),form{
			.field {
			    margin: 0 0 12px;
			}
		}
		.checkout-shipping-address .field.create-account-checkbox input:not([type="submit"])[type="checkbox"],
		.checkout-shipping-address .billing-address-same-as-shipping-block input:not([type="submit"])[type="checkbox"] {
		    width: auto;
		}
		.form-login,.form-shipping-address, .methods-shipping{
			padding: 0;
			background:none;
			border:none;
		}
		.checkout-shipping-address{
			.form:not(.minisearch):not(.contact).form-login .fieldset {
			    margin-bottom: 12px;
			}
		}
		.checkout-payment-method{
			.payment-method{
				padding-bottom: 15px;
				.payment-method-title {
				    padding: 15px 0 0;
				}
			}
		}
		.order-summary {
		    .step-title {
			    padding: 0 16px 15px !important;
			}
			.opc-block-summary {
			    padding: 0 16px !important;
			}
		}
		.checkout-billing-address{
			.step-content{
				padding-left: 0;
				padding-right: 0;
			}
			form .fieldset.address {
			    margin: 0 0 36px;
			}
		}
		.checkout-summary{
			.place-order-primary{
				padding:0 15px;
			}
			button.action.primary.checkout{
				display: block;
				width: 100%;
				max-width: 310px;
				margin: 0 auto;
			}
		}
	}
}


.prev-next-buttons {
    margin-bottom: 15px; text-align: right; 
    button#checkout_prev_billing_details,
    button#checkout_prev_delivery_options,
    button#checkout_prev_payment_options {
		background: #fff !important;
	    text-transform: uppercase !important;
	    color: #003594 !important;
	    display: inline-block;
	    border-radius: 0px;
	    padding: 12px 20px 11px;
	    border: 2px solid #003594 !important;
	    font-size: 12px;
	    line-height: normal;
	    text-align: center;
	    font-family: 'Futura-Medium';
	    font-weight: 600;  
        &:hover{
			background: #1B365D !important;
		    color: #fff !important;
		    border-color:#1B365D !important;
		    text-decoration: none;
		}
	}
	button#checkout_next_shipping_details,
	button#checkout_next_billing_details,
	button#checkout_next_delivery_options {
		background: #003594 !important;
	    text-transform: uppercase !important;
	    color: #fff !important;
	    display: inline-block;
	    border-radius: 0px;
	    padding: 12px 20px 11px;
	    border: 2px solid #003594 !important;
	    font-size: 12px;
	    line-height: normal;
	    text-align: center;
	    font-family: 'Futura-Medium';
	    font-weight: 600; 
	    &:hover{
			background: #1B365D !important;
		    color: #fff !important;
		    border-color:#1B365D !important;
		    text-decoration: none;
		}
	}
}



@media(max-width: 767px){
	.about-us-wraaper {
    min-height:~"calc(100vh - 98px)";
}

.modal-popup .action-close {
    height: 27px;
    width: 27px;
    background: url(../svg/icon-close.svg) no-repeat;
    background-size: 27px 27px;
    top: 13px;
    right: 15px;
    margin: 0;
    padding: 0;
}
.modal-popup .modal-header{ border: none; }
}


.modal-custom .action-close:focus, .modal-popup .action-close:focus, .modal-slide .action-close:focus, .modal-custom .action-close:active, .modal-popup .action-close:active, .modal-slide .action-close:active{
	 background: url(../svg/icon-close.svg) no-repeat !important;
}
.onestepcheckout-index-index {
	.modal-popup.modal-slide {
		.modal-footer{ 
			padding: 15px;
		    button.action.secondary.action-hide-popup{
				display: none !important; 
			}
			button.action.primary.action-save-address{ border: 1px solid transparent;  }
		}
	}
	form#bh-sl-user-location{
		
	}
}


