 // checkout success
 .checkout-onepage-success,.multishipping-checkout-success {
     .page-title-wrapper {
         text-align: center;
         .flex-display(flex);
         .flex-wrap(wrap);
         .flex-direction(column);
         padding-left: 0;
     }

     .page-main {
        padding-bottom: 60px;
     }

     .checkout-success,.multicheckout.success {
         text-align: center;
         font-size: 1.25rem;
        h3{
            .h3();
            text-transform: none;
            margin-bottom: 40px;
             margin-top: 0;
             position: relative;
             padding-top: 100px;
             text-align: center;
             display: block;
             &:before {
                 content: '\e610';
                 font-family: 'luma-icons';
                 width: 60px;
                 height: 60px;
                 font-size: 30px;
                 border-radius: 50%;
                 background: rgb(255, 212, 105);
                 color: @white-color;
                 position: absolute;
                 left: 0;
                 right: 0;
                 top: 20px;
                 margin: 0 auto;
                 text-align: center;
                 line-height: 60px;
                 display: block;
             }
        }
         p {
             margin-top: 0;
             margin-bottom: 15px;
         }

         a {
             font-size: 1.25rem;
             .futura-Medium();
             color: @blue_link_secondary;
             text-decoration: underline;

             &:hover{
                 color: @blue_link_color;
             }

         }

         .order-id {
             text-align: center;
             font-size: 1.25rem;
         }

         span.order-id{
             text-decoration: underline;
             color: @blue_link_secondary
         }
         .orders-succeed .orders-list .shipping-list{
            .shipping-label{
                .futura-Medium();
            }
            .shipping-item{
                margin-left: 0;
                display: block;
            }
            .order-id {
                float: none;
                margin: 0 0 10px;
            }
        }

     }

     #registration {
         text-align: center;
         font-size: 1.25rem;

         .action.primary {
            .bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
            font-size: 12px;
            line-height: normal;
            .futura-Medium();
            padding:12px 20px 11px;
            border:none;
             min-width: auto;
             width: auto;
             margin-top: 30px;
             margin-right: 0;
            text-decoration: none;
         }
     }

     .print {
        .bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
        padding:12px 20px 11px;
        border:2px solid @blue_link_secondary;
        font-size: 12px;
        line-height: normal;
        .futura-Medium();
        max-width: 135px;
        margin-left: auto;
        margin-right: auto;
         &:hover{
            border-color:@blue_link_color;
        }

     }

     .actions-toolbar {
         .flex-display(flex);
         margin-top: 35px;
         .justify-content(center);
         .action.primary{
            .bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
            padding:12px 20px 11px;
            border:2px solid @blue_link_secondary;
            font-size: 12px;
            line-height: normal;
            .futura-Medium();
            text-decoration: none;
            &:hover{
                border-color:@blue_link_color;
            }
        }
     }
 }
