
.page-wrapper{
	span.item.link.compare{
		padding: 12px 10px;
		text-align: center;
		background: #00a0eb;
		color: #fff;
		display : block;

		&.no-display{
			display: none;
		}

		a{
			font: 600 16px 'Futura-Book' !important;
			letter-spacing: 1px;
			border-bottom: 1px solid #fff;
			text-decoration: none;
			color: #fff;

			@media screen and (max-width: 480px){
				display: table; margin: 8px auto 0;
			}
		}
	}
}


.table-wrapper.comparison{
	.table-comparison {
	    width: 100%;
	    table-layout: fixed;
	     margin-bottom: 47px;
	    .cell {
		    width: 285px;
		    padding: 10px;
		    border-bottom: 1px solid @section_breaker_border;
		    vertical-align: top;
		    &.product-specifications{
		    	border:none;
		    }
		    &.label {
		    	border-right: none;
			    padding-left: 0;
			    .h2();
			    text-transform: none;
			    text-align: left;
			}
			&.product.info,&.product.label{
				border-bottom-color:@section_breaker_border;
			}
			// Remove link
			&.remove {
			    padding-bottom: 0;
			    padding-top: 0;
			    border: none;
			    .action.delete {
				    background: @section_breaker_border;
				    width: 27px;
				    height: 27px;
				    font-size: 11px;
				    border-radius: 100%;
				    text-align: center;
				    margin-right: 0;
				    padding: 8px;
				    line-height: 1;
				    position: relative;
				    top: 30px;
				    right: 3px;
				    z-index: 2;
				    &:before {
					    line-height: normal;
					    color: @placeholder_color;
					}
				}
			}
			// Product image
			&.product.info{
				.product-image-container {
				    width: 100% !important;
				}	
				.product-image-photo {
				    width: 100%;
				    max-width: 100%;
				    margin: 0;
				}
				.product-item-name {
				    font-size: 1.125rem;
				    line-height: 1.5625re,;
				    text-align: center;
				    .futura-Medium();
				    margin: 0 0 25px;
				}
			}
			&.product.attribute {
			    padding-top: 36px;
			    padding-bottom: 36px;
			    .attribute.value {
				    max-width: 255px;
				    font-size: 1rem;
				    margin-top: 6px;
				    margin-bottom: 4px;
				    line-height: 1.6875rem;
				}
			}
			&.label .attribute.label {
			    margin-top: 26px;
			}
			&.label .attribute.label.feature {
			    margin-top: 15px;
			}

			&.product.attribute.feature {
			    padding-top: 27px;
			    padding-bottom: 27px;
			    .attribute.value {
				    max-width: 248px;
				}
				li{
					margin: 0 0 12px;
				    width: 100%;
				    .flex-display(inline-flex);
				    .align-items(center);
				    .flex-wrap(wrap);
				    position: relative;
				    padding-left: 70px;
				    min-height: 60px;
				    img {
					    max-width: 50px;
					    margin-right: 0;
					    position: absolute;
					    left: 0;
					}
				}
			}
			// specs
			&.no-border{
				border:none;
			}
			&.label .attribute.label.specs {
			    margin-top: 25px;
			    margin-bottom: 18px;
			}
			&.product-specifications{
				.specs-table{
					tr{
						th,td{
							text-align: left;
						    color: @text_color_grey;
						    padding: 14px 20px;
						    font-size: 1rem;
						    letter-spacing: 0;
						    border: none;
    						line-height: normal;
						}
						th{
							&.cell.label{
								 width: 265px;
								 max-width: 265px;
							    .futura-Medium();
							    font-weight: 500;
								.attribute.label {
								    margin-top: 0;
								}
							}
						}
						td{
							width: ~"calc(100% - 265px)";
    						max-width: ~"calc(100% - 265px)";
							img{
								display: inline-block;
			    				vertical-align: middle;
							}
							.attribute.value {
							    margin: 0;
							}
							// generic
							&.specs-content {
							    padding-top: 14px;
							    padding-bottom: 14px;
							}
							// style
							&.specs-style{
								img {
								    margin-right: 15px;
								}	
							}
							// color
							&.specs-color{
								.swatch-attribute-options {
								    margin: 0;
								    .swatch-option {
									    margin-right: 5px;
									    margin-bottom: 9px;
									    width: 31px !important;
									    height: 31px !important;
									    background-size: cover !important;
									    border-radius: 100%;
									    outline: none;
									    border: 1px solid transparent;
									    padding: 0;
									    &.selected,&:hover {
										    border-color: @black-color;
										    outline: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		td:last-child {
		    border-right: none;
		}
	}
}

/* compare page specific*/
.catalog-product_compare-index{
	.page-main {
	    max-width: 100%;
	}
	.table-comparison,.page-title-wrapper{
		max-width: 1140px;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	}
	.page-title {
	    margin: 15px 0 8px;
	}
	.free_measure_row { 
	    padding-top: 75px;
	    padding-bottom: 90px;
	    @media screen and (max-width: @tablet_sm){
		    padding-top: 39px;
		    padding-bottom: 35px;
		}
		@media screen and (max-width: @mobile){
		    padding-top: 30px;
    		padding-bottom: 50px;
		}
	}
}

.catalog-product_compare-index {
	.message{
		.container();
		padding-left: 45px;
		margin-top: 10px;
	}
}

@media screen and (max-width: @mobile) {
	.table-wrapper.comparison{
		.table-comparison {
			margin-bottom: 20px;
			.cell {
			    min-width: 200px;
			    width: 200px;
			    &.label {
				    width: 160px;
				    min-width: 160px;
				}
			    &.product-specifications .specs-table tr th.cell.label {
				    width: 140px;
				    max-width: 140px;
				    min-width: 140px;
				}
			}
		}
	}
}