.h1(){
	.futura-Bold();
	font-size: 1.875rem;
	font-weight: bold;
	line-height: 2.5rem;
	color: @blue_link_color;	
	text-transform:uppercase;
	@media screen and (max-width: @mobile) {
    	font-size: 25px;
		line-height: 32px;
    }
}
.h2(){
    .futura-Medium();
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: @blue_link_color;
    @media screen and (max-width: @mobile) {
    	font-size: 20px;
		line-height: 27px;
		margin: 0 0 10px;
    }
}
.h3(){
    .futura-Medium();
    margin: 0;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6875rem;
    color: @blue_link_color;
    @media screen and (max-width: @mobile) {
    	font-size: 18px;
		line-height: 23px;
    }
}
.h4(){
 	color: @blue_link_secondary;
	.futura-Medium();
    font-weight: 500;
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.5625rem;
}
.h5(){
 	color: @blue_link_secondary;
	.futura-Medium();
    font-weight: 500;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.3125rem;
}
.p(){
	font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.6875rem;
    @media screen and (max-width: @mobile) {
    	font-size: 16px;
    	line-height: 23px;
    }
}

// breadcrumb
.page-wrapper > .breadcrumbs {
	.container();
	margin: 15px auto;
	width: 100%;
	display: block;
	max-width: 1170px;
	padding-left: 15px;
	padding-right:15px;
	.breadcrumbs{
		padding: 0;
		margin: 0;
	}
}
.breadcrumbs {
    margin-top: 15px;
    margin-bottom: 15px;
    .items {
	    .futura-Book();
	    font-size: 14px;
	    line-height: 1rem;
	    @media screen and (max-width: @mobile) {
	    	display: none;
	    }
	    a,a:visited{
	    	color: @blue_link_secondary;
	    }
	    a:hover{
	    	color: @blue_link_color;
	    }
	    .item{
	    	&:not(:last-child):after {
			    margin: 0 7px 0 12px;
			    line-height: inherit;
			    font-size: 14px;
			}
			&:before{
				display: none;
			}
	    }
	     strong {
		    color: @text_color_grey;
		    .futura-Book();
		}
	}
}

// mobile breadcumb
.breadcrumbs .mobile-breadcrumb{
	display: none;
}
.breadcrumbs{
	.mobile-breadcrumb.items {
	    font-size: 12px;
	    line-height: 15px;
	    display: none;
	    @media screen and (max-width: @mobile) {
	    	display: block;
	    }
	    .item:before {
		 	content: '\e617';
		 	.luma-icon();
		    margin: 0;
		    line-height: inherit;
		    font-size: 12px;
		    color: @blue_link_secondary;
		    vertical-align: top;
		}
	}
}
// container
.page-main{
	max-width: 1180px;
}

// validation error
.field-error, div.mage-error[generated] {
    color: @red_color;
}

// form controls
input:not([type="submit"]):not([type="image"]), select, textarea {
    width: 100%;
    border: 1px solid @form_control_border;
    padding: 9px 12px;
    min-height: 42px;
    font-size: 15px;
    color:@text_color_grey;
    border-radius:0px;
    box-shadow:none;
}
input[type="checkbox"],input[type="radio"]{
    width: auto;
    border: none;
    padding: 0;
    min-height: auto;
}
input:not([type="submit"]),textarea{
	.placeholder({
		.futura-Book();
		color: @placeholder_color;
		opacity:1;
		font-size: 14px;
	});
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 34px;
  background-image: url(../svg/sort.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
	&::-ms-expand {
	  display: none;
	}
	@media screen and (max-width: @mobile) {
		background-position: right 0 center;
	}
	option:disabled {
		background: #ccc;
	}
}


/* Banner section css starts */

.page-banner-wrap{
    background: @grey_border_color;
    margin: 0 -20px;
    @media screen and (max-width: @mobile){
    	 margin: 0 -15px;
    }
    .banner-container{
	    width: 100%;
	    .flex-display(flex);
	    .justify-content(space-between);
	    .container();
	    max-width: 1180px;
	    padding: 0 20px;
	    @media screen and (max-width: @mobile){
	    	padding: 0 15px;
	    }
	    .banner-content{
		    .flex(0 0 54.35%);
		    padding: 70px 20px 70px 0;
		    @media screen and (max-width: @tablet_sm){
		    	 padding: 30px 20px 30px 0;
		    }
		    @media screen and (max-width: @mobile) {
		    	.flex(0 0 100%);
		        padding-right: 0;
		        padding: 20px 0 30px;
		    }
		    *{
			    text-align: left;
			}
			h1{
				.h1();
			    margin: 0 0 5px;
			}
			p{
			    margin: 0;
			    font-size: 1rem;
			    max-width: 545px;
			    width: 100%;
			    line-height: 1.6875rem;
			    @media screen and (max-width: @tablet_sm) {
			    	margin: 0;
		        	font-size: 16px;
    				line-height: 23px;
			    }
			    @media screen and (max-width: @mobile) {
			    	max-width: 100%;
			    }
			    &+ p{
				    margin: 26px 0 0;
				    @media screen and (max-width: @tablet_sm) {
				     	margin: 20px 0 0;
				    }
				}
			}
			a{
			    color:@blue_link_secondary;
			    .futura-Medium();
			}
		}
		.banner-image{
		    .flex(0 0 45.65%);
		    @media screen and (max-width: @mobile) {
		    	display: none;
		    }
		    img{
			    margin: 0 auto;
			    background: @white-color;
			    padding: 0 10px;
			    height: 100%;
			    width: 100%;
			    -o-object-fit: cover;
			    object-fit: cover;
			}
		}
	}
}

/* Banner section css ends */

/*owl carousle dot*/
.owl-dots() {
    .flex-display(flex);
    .justify-content(center);
    width: 100%;
    margin: 0 0 30px;
    &.disabled{
    	display: none;
    }
    button {
	    height: 12px;
	    width: 12px;
	    border: 1px solid @text_color_grey;
	    background-color: @white-color;
	    border-radius: 12px;
	    margin: 3px;
	    box-shadow: none;
	    &.active {
		    background-color: @text_color_grey;
		}
	}
}
.owl-arrow() {
	button.owl-prev,button.owl-next {
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    width: 27px;
	    height: 27px;
	    text-align: left
	}
    button {
    	span {
		    font-size: 0px;
		    position: relative;
		    display: block;
		    width: 100%;
		    height: 100%;
		    &:before {
		    	display: block;
			    content: '';
			    width: 27px;
			    height: 27px;
			    background: url(../svg/icon-left.svg) no-repeat;
			    background-size: 27px 27px;
			    position: absolute;
			    left: 0;
			    padding: 0;
			    @media screen and (max-width: @mobile) {
			    	background-image:url("../../svg/icon-left.svg");	
			    }
			}
		}
    	&.owl-prev,&.owl-next{
    		position: absolute;
		    top: 50%;
		    .transform(translateY(-50%));
    	}
    	&.owl-prev {
		    left: 0;
		}
		&.owl-next {
		    right: 0;
		    span:before {
			    .transform(rotate(180deg));
			}
		}
	}
}

/*page title*/
.page-title{
	.h1();
	text-transform: none;
	margin: 20px 0 15px;
}
.columns .column.main{
	padding-bottom: 0;
}

/*Compare icon*/
.bundle-options-container .block-bundle-summary .product-addto-links > .action,
.product-item-actions .actions-secondary > .action,
.product-social-links .action.tocompare{
    color: @blue_link_color;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: underline !important;
    text-transform: none;
    font-weight: normal;
    &:hover{
    	color: @blue_link_secondary;
    }
}

.bundle-options-container .block-bundle-summary .product-addto-links > .action:before,
.product-item-actions .actions-secondary > .action:before,
.product-social-links .action.tocompare:before{
    width: 16px;
}

.abs-actions-addto:before,
.bundle-options-container .block-bundle-summary .product-addto-links > .action:before,
.product-item-actions .actions-secondary > .action:before,
.product-social-links .action.tocompare:before{
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-right: 6px;
    content: '';
    width: 18px;
    height: 16px;
    background:url(../svg/compare.svg) no-repeat;
    background-size:18px 16px;
}
@media screen and (max-width: @mobile) {
	.product-info-main .product-social-links .action.tocompare:before{
		background: url(../../svg/compare.svg) no-repeat;
		background-size:18px 16px;
	}
}
button:not(.primary) {
    box-shadow: none;
}
/*qty input*/
.column .block-addbysku .qty .qty,
.bundle-options-container .input-text.qty,
.box-tocart .input-text.qty,
.account .data.table-return-items .qty .input-text,
.table-giftregistry-items .field.qty .qty,
.block-giftregistry-shared-items .qty .qty,
.table.grouped .col.qty .control.qty .qty,
.block-wishlist-info-items .input-text.qty,
.multicheckout .table-wrapper .col .qty .input-text,
.account .table-wrapper .data.table.wishlist .box-tocart .qty,
.products-grid.wishlist .product-item .box-tocart input.qty,
.sidebar .block-addbysku .fieldset .fields .field.qty .qty{
	border: 2px solid @section_breaker_border;
    background-color: @white-color;
    font-size: 14px;
    line-height: 1;
    width: 68px !important;
    text-align: center;
    min-height: auto;
    padding: 9px 10px;
    color: @text_color_grey;
}

/*fieldset*/
.fieldset:last-child {
    margin-bottom: 0;
}

/*success msg*/
.message.success{
    margin: 0 0 10px;
    background: none;
    padding: 0;
    padding-left: 27px;
    color: @text_color_grey;
    .futura-Book();
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
     strong {
	    .futura-Medium();
	}
    &> *:first-child:before {
    	margin-right: 11px;
    	font-size: 10px;
    	display: inline-block;
    	line-height: 13px;
    	vertical-align: middle;
	    top: 17px;
	    text-align: center;
	    content: '\2714';
    	background: @green-color;
    	color: @white-color;
    	border-radius: 17px;
    	width: 17px;
    	padding: 2px;
    	height: 17px;
	}
	a{
		.futura-Medium();
	}
}
// info message
.message.info{
	margin: 0 0 10px;
    background: none;
    padding: 0;
    padding-left: 45px;
    color: @text_color_grey;
    .futura-Book();
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
     strong {
	    .futura-Medium();
	}
	&> *:first-child:before {
		margin-right: 11px;
    	display: inline-block;
    	line-height: 13px;
    	vertical-align: middle;
	    top: 17px;
	    text-align: center;
	    color: #c07600;
	    content: '\e602';
	    background: none;
	    border-radius: 0px;
	    height: auto;
	    overflow: visible;
	}
	a{
		.futura-Medium();
	}
}
// erorr message
.message.error{
	margin: 0 0 10px;
    background: none;
    padding: 0;
    padding-left: 45px;
    color: @text_color_grey;
    .futura-Book();
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
     strong {
	    .futura-Medium();
	}
	&> *:first-child:before {
		margin-right: 11px;
    	display: inline-block;
    	line-height: 13px;
    	vertical-align: middle;
	    top: 17px;
	    text-align: center;
	    color: @red_color;
	    content: '\e61f';
	    background: none;
	    border-radius: 0px;
	    height: auto;
	    overflow: visible;
	}
	a{
		.futura-Medium();
	}
}
.message.notice{
	 &> *:first-child:before {
	    top: 28px;
	}
}


// link
.link(@text_color,@hover_color){
	color: @text_color;
	font-size: 16px;
	line-height: 27px;
	text-decoration: underline;
	&:hover{
		color: @hover_color;
		text-decoration: none;
	}
}


//table
.table(){
	border-collapse:collapse;
	&>tbody{
		&>tr{
			&>th,&>td{
				border-color: @section_breaker_border;
			}
		}
	}
	tr{
		td,th{
			text-align: left;
		    color: @text_color_grey;
		    padding: 14px 20px;
		    font-size: 16px;
		    letter-spacing: 0;	
		}
		th{
			.futura-Medium();
		}
		.actions{
			white-space: nowrap;
		}
	}
}

// store listing
.store_list{
	li {
	    border-bottom: 1px solid @section_breaker_border;
	    padding: 17px 17px 17px 10px;
	    .flex-display(flex);
	    .flex-wrap(wrap);
	    .align-items(center);
	    .justify-content(space-between);
	    width: 100%;
	    @media screen and (max-width: @mobile) {
	    	padding-left: 38px;
		    position: relative;
		    .align-items(flex-start);
	    }
	    .store_name {
		    color: @blue_link_color;
		    .futura-Medium();
		    font-size: 14px;
		    line-height: 19px;
		    .flex-display(flex);
			.align-items(center);
			text-transform: uppercase;
			@media screen and (min-width: @mobile){
				min-width: 210px;
			}
		    @media screen and (max-width: @mobile) {
		    	 margin: 0 0 9px;
		    }
		    &:before {
		    	content: '';
		    	background: url(../svg/icon-location2.svg) no-repeat;
		    	height: 28px;
		    	width: 21px;
		    	background-size: 21px 28px;
		    	display: block;
		    	margin-right: 11px;
		    }
		}
		.store_address {
		    color: @text_color_grey;
		    font-size: 16px !important;
		    letter-spacing: 0;
		    margin: 0 !important;
		    line-height: 24px !important;
		    width: 310px;
		    max-width: 100%;
		    padding: 0 15px;
			font-weight: normal;
		    @media screen and (max-width: @mobile) {
		    	width: 100%;
			    padding: 0;
		    }
		}
		.field.choice{
			@media screen and (max-width: @mobile) {
				position: absolute !important;
			    left: 0;
			    margin: 0;
			}
			input:not([type="submit"])[type="radio"]{
				&~ label {
					margin: 0 !important;
					font-size: 16px !important;
					line-height: 24px !important;
					@media screen and (max-width: @mobile) {
						font-size: 0px !important;
					}
					// &:before{
					//     bottom: 0;
					//     top: 0 !important;
					//     margin: auto 0;
					// }
				}
				// &:checked ~ label:before {
				//     bottom: 0;
				//     top: 5px !important;
				//     margin: auto 0;
    // 				left: 3px !important;
    // 				@media screen and (max-width: @desktop_xxs) {
    // 					font-size: 9px;
				// 	    left: 4px !important;
    // 				}
    // 				@media screen and (max-width: @tablet_sm) {
    // 					font-size: 9px !important;
    // 					top: 0 !important;
    // 					line-height: 18px !important;
    // 					height: 18px;
    // 				}
				// }
			}
		}
	}
}

// recaptcha
.g-recaptcha{
	@media screen and (max-width: @mobile_sm) {
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
		//  &> div {
		//     width: 100% !important;
		//     height: auto !important;
		// }
		// iframe {
		//     width: 100%;
		// }
	}
}
.field-recaptcha{
	input.required-captcha.checkbox {
	    width: auto;
	}	
}

// Message poup
.page.messages{
	&.Middle{
		@media screen and (max-width: @mobile) {
			top: ~"calc(50% - 47px)";
		}
	}
	div[data-bind="scope: 'messages'"] {
	    max-width: 95%;
	    width: 969px;
	    margin: 0 auto;
	    @media screen and (max-width:@tablet) {
			max-width: 100%;
			min-width: 75vw;
		}
	}
	.messages{
		.message {
			&.success > :first-child:before, 
			&.error > :first-child:before,
			&.notice > :first-child:before,
			&.warning > :first-child:before {
			    content: '\2714';
			    background: @green-color;
			    color: @white-color;
			    border-radius: 17px;
			    margin-right: 11px;
			    font-size: 10px;
			    width: 17px;
			    padding: 2px;
			    height: 17px;
			    display: inline-block;
			    text-align: center;
			    line-height: 13px;
			    vertical-align: middle;
			    position: absolute;
			    left: 0;
			    top: 3px;
			}
			&.error > :first-child:before{
				content: '\e61f';
				color: @red_color;
			    background: none;
			    font-size: 17px;
			    @media screen and (max-width: @mobile) {
					background:none;
				}
			}
			&.info > :first-child:before{
				color: #c07600;
				content: '\e602';
				background:none;
				font-size: 17px;
				@media screen and (max-width: @mobile) {
					background:none;
				}
			}
			&.notice> :first-child:before{
			    color: #c07600;
				content: '\e602';
				background:none;
				font-size: 17px;
				@media screen and (max-width: @mobile) {
					background:none;
				}
			}
			&.warning> :first-child:before{
			    color: #c07600;
				content: '\e602';
				background:none;
				@media screen and (max-width: @mobile) {
					background:none;
				}
				font-size: 17px;
			}
			&:after {
			    height: 27px !important;
			    width: 27px !important;
			    top: 13px !important;
			    right: 15px !important;
			    background: url(../svg/icon-close.svg) no-repeat;
			    background-size: 27px 27px;
			    content: '' !important;
			    position: absolute;
			    padding: 0 !important;
			    font-size: 0px !important;
			     @media screen and (max-width: @mobile) {
		    		background-image:url("../../svg/icon-close.svg");
				}
			}
		}
	}
	.message {
	    padding-top: 45px;
	    padding-bottom: 30px;
	    padding-left: 30px;
	    padding-right: 15px;
	    font-size: 1.125rem !important;
	    letter-spacing: 0;
	    line-height: 1.6875rem;
	    margin: 0 auto;
	    background: @white-color !important;
	    color: @text_color_grey;
	    @media screen and (max-width: @mobile) {
	    	padding-top: 45px !important;
		    padding-bottom: 30px !important;
		    padding-left: 30px !important;
		    padding-right: 15px !important;
		    font-size: 1.125rem !important;
	    }
	    @media screen and (max-width:@mobile_sm) {
	    	padding-top: 45px !important;
			padding-left: 15px !important;
			padding-right: 15px !important;
			padding-bottom: 35px !important;
		}

		&> div {
		    position: relative;
		    padding-left: 27px;
		    width: 100%;
		    strong {
				.futura-Medium();
			}
		}
		
	}
	.message-buttons {
	    margin: 25px 0 10px;
	    position: relative;
	    left: -27px;
	    width: ~"calc(100% + 27px)";
	    .btn {
		    .bg-button(@blue_link_secondary, @white-color, @blue_link_color, @white-color);
			font-size: 14px;
			line-height: 19px;
			.futura-Medium();
			padding: 14px 16px 11px 17px;
			color: @white-color !important;
			background: @blue_link_secondary !important;
			border: 1px solid @blue_link_secondary !important;
			margin-right: 10px;
			text-align: center;

			@media screen and (max-width:@mobile_sm) {
				width: 100%;
				margin-right: 0;
			}

			&:hover {
				background: @blue_link_color !important;
				border-color: @blue_link_color !important;
			}
			&.secondary-btn {
				.bg-button(@white-color, @blue_link_secondary, @blue_link_color, @white-color);
				padding: 14px 21px 11px 18px;
				border: 1px solid @blue_link_secondary !important;
				color: @blue_link_secondary !important;
				background: @white-color !important;
				margin-right: 0;

				@media screen and (max-width:@mobile_sm) {
					margin-top: 10px;
				}

				&:hover {
					border-color: @blue_link_color !important;
					color: @white-color !important;
					background: @blue_link_color !important;
				}

			}
		}
	}
}


.trustpilot-widget{
 	max-width: 1140px; 
 	margin: 0 auto !important;
 	padding-top: 42px;
 	padding-bottom: 42px;
 	border-top: 1px solid @section_breaker_border;
}

.catalog-product-view  {
	.free_measure_row{
		.trustpilot-widget{
			padding: 0;
			border: none;
			max-width: 100%;
		}
	}
}
.static-page-product {
    width: 100%;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}

.faq_content_wrapper {
	&.static-content-wrapper {
		padding: 35px 0 50px;
		@media screen and (max-width: @mobile){
			padding: 15px 0 30px;
		}
	}
	.faq_container{
		&.static-content-pages{
			@media screen and (max-width: @mobile){
				flex-direction: unset !important;
			}
			img{
				max-width: 100%;
			}
			.expertise_section {
				@media screen and (max-width: @mobile){
					.lib-vendor-prefix-order(1);
				}
				h2 {
					.h2();
					margin: 0 0 20px;
					text-transform: none;
					@media screen and (max-width: @mobile) {
						margin: 0 0 20px;
					}
					a{
						color: @blue_link_secondary;
						&:hover{
							color:@blue_link_color;
						}
					}
				}
				 h3 {
					.h3();
					margin: 0 0 20px;
					text-transform: none;
					@media screen and (max-width: @mobile) {
						margin: 0 0 20px;
					}
				}
				ul, ol {
					margin: 0 0 30px;
					padding-left: 25px;
					li {
						margin-bottom: 10px;
					}
				}
				ol {
					list-style: decimal;
				}
				ul {
					list-style: circle;
				}
				p,q {
					margin: 0 0 30px;
					display: block;
				}
				p {
					font-size: 1rem;
					line-height: 1.6875rem;
				}
				iframe {
					max-width: 100%;
				}
				table{
					width: 100%;
				}
				a{
					color: @blue_link_color;
					.futura-Medium(); 
					font-weight: 500;
					strong{
						font-weight: 500;
					}
					&:hover{
						color: @blue_link_secondary;
					}
				}
				q {
					font-size: 1.125rem;
					&:before,&:after{
						display: inline-block;font-size: 2rem;color: #a2a2a2;
					}
					&:before{
						content: '\0275D';
						margin-right: 0.5rem;
					}
					&:after{
						content: '\0275E';
						margin-left: 0.5rem;
					}
				}
			}
			.static-page-product{
				@media screen and (max-width: @mobile){
					.lib-vendor-prefix-order(2);
					margin-top: 0;
				}	
			}
			.faq_category{
				@media screen and (max-width: @mobile){
					.lib-vendor-prefix-order(2);
				}	
			}
		}
	}
} 
 
 
.cms-reviews  {
	.page-main {
		.column.main{
			display: none;
		}
	}
}

.cms-flooring-deals  {
	p{
		font-size: 1rem;
		line-height: 1.6875rem;
		margin: 0 0 30px;
		@media screen and (max-width: @mobile){
			margin: 0 0 15px;
		}
		a {
			background: #bb2225;
			display: block;
			padding: 12px 19px;
			text-align: center;
			text-decoration: none;
			color: #fff;
			margin: 0 auto;
			width: 250px;
			margin-bottom: 40px;
			&:hover{
				background: #a9191c;
				cursor: pointer;
			}
		}
		img{
			margin-bottom: 20px;
			max-width: 100%;
		}
	}
	h2{
		margin-bottom: 20px;
		.futura-Medium();
		font-size: 1.5rem;
		line-height: 2rem;
		color: @blue_link_color;
	}
}

.cms-no-route {
	.page-main{
		position: relative;
		&::before {
			background-image: url(../svg/404-page.jpg.webp);
			content: '';
			position: absolute;
			width: 99vw;
			height: 100%;
			transform: translateX(-50%);
			left: 50%;
			background-repeat: no-repeat;
			background-position: top;
			@media screen and (max-width: @tablet) {
				display: none;
			}
		}
	}
	.page-title-wrapper {
		position: relative;
		z-index: 1;
		@media screen and (max-width: @tablet) {
			text-align: center;
		}
		.page-title {
			margin: 0;
			font-size: 24px;
			color: #1B365D;
			margin-top: 75px;
			margin-left: 0;
			@media screen and (max-width: @tablet) {
				margin-top: 50px;
			}
			.base {
				font-family: 'Futura-Book';
				font-weight: normal;
			}
		}
	}
	.columns{
		position: relative;
		z-index: 1;
		.column.main{
			width: 100%;
		}
	}
	.error-wrapper{
		.col-md-12 {
			padding: 0;
		}
		.error-red-link {
			background: @blue_link_secondary;
			display: inline-block;
			border-radius: 0px;
			padding: 11px 128px;
			text-transform: uppercase;
			text-decoration: none;
			margin: 0 auto;
			.futura-Book();
			border: 1px solid @blue_link_secondary;
			background:transparent;
			.lib-css(transition, 0.3s ease-in-out, @_prefix:1 );
			@media screen and (max-width: @tablet) {
				width: 100%;
				padding: 12px 0;
			}
			a {
				color: @blue_link_secondary;
				letter-spacing: 1px;
				font-size: 16px;
				.lib-css(transition, 0.3s ease-in-out, @_prefix:1 );
			}
			&:hover{
				border-color: @white-color;
				background-color: @blue_link_secondary;
				.lib-css(transition, 0.3s ease-in-out, @_prefix:1 );
				a {
					color: @color-white;
					.lib-css(transition, 0.3s ease-in-out, @_prefix:1 );
				}
			}
		}
		.error-title {
			font-size: 72px;
			color: @blue_link_secondary;
			margin-top: 25px;
			margin-left: 0;
			margin-bottom: 0;
			line-height: 1;
			font-family: 'Futura-Medium';
			font-weight: 600;
			@media screen and (max-width: @tablet) {
				text-align: center;
				font-size: 50px;
			}
		}
		.error-info {
			text-transform: uppercase;
			color: @blue_link_secondary;
			letter-spacing: 1px;
			margin-bottom: 5px;
			margin-top: 10px;
			@media screen and (max-width: @tablet) {
				text-align: center;
				font-size: 16px;
				margin-bottom: 15px;
				margin-top: 15px;
			}
		}
		.error-prob {
			color: @light_blue;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin-top: 0;
			font-size: 16px;
			margin-bottom: 40px;
			@media screen and (max-width: @tablet) {
				text-align: center;
				margin-bottom: 20px;
			}
		}
	}
}

.cms-home, .catalog-product-view {
	#trustpilot-widget-trustbox-0-wrapper{
		margin-left: -20px !important;
		margin-right: -20px !important;
		@media screen and (max-width: @mobile) {
			margin-left: -10px !important;
			margin-right: -10px !important;
		}
	}
	.trustpilot-widget {
		max-width: 100%;
		margin: 0 auto !important;
		background: #f7f7f7;
		&::before {
			content: 'HEAR WHAT OUR CUSTOMERS HAVE TO SAY';
			display: block;
			width: 100%;
			text-align: center;
			font-family: 'Futura-Medium';
			margin: 0 0 35px;
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 2rem;
			color: #1b365d;
		}
		iframe {
			max-width: 1140px;
			margin: 0 auto;
		}
	}
}

.cc-trustpilot-product-page-widget {
	p {
		max-width: 100%;
		margin: 0 auto !important;
		color: #1b365d;
		font-family: 'Futura-Medium';
		margin: 0 0 35px;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 2rem;
	}
}

.product-specifications .specs-table tr th.weight-custom-label:empty {
	padding: 0;
}

.product-specifications .specs-table tr th.weight-custom-label:empty + td {
	padding: 0;
}

.back_to_website {
	padding: 0 10px;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}
@media screen and (max-width: 767px){
	.back_to_website {
		padding: 0
	}
}

.back_to_website a {
	color: #003594;
	font-weight: normal;
}
.back_to_website a:hover{
	color: #1b365d;
}
.city_description {
margin-bottom: 50px;
}

.city_description a {
color: #1b365d;
font-family: 'Futura-Medium';
font-weight: 500;
}

.city_description p + p {
margin-top: 15px;
}

.city_description p {
font-size: 16px;
}

#chat-widget-container{
	@media screen and (max-width: @mobile){
		bottom: 70px !important;
		max-height: 90% !important;
	}	
}

div#onesignal-bell-container {
    @media(max-width: @mobile){
        display: none;
    }
}

