// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email extend styles
//  _____________________________________________

//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file

//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.

html{
    font-size: 13px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: @text_color_grey;
}
*{
   font-family: Arial, Helvetica, sans-serif;
}
 dl,dd{padding-left: 0 !important; }
 dd{margin-left: 0 !important;}
.main-content{
    padding: 0 0 20px;
    strong,b{
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
    }
    // .ii a[href],li a {
    //     color: #231f20;
    // }
    // p, span, li, strong {
    //     color: @text_color_grey;
    //     font-size: 1rem;
        
    // }
}
.header {
    background-color: none;
    padding: 0;
    .logo{
        img{
            width: 100%;
            display: block;
            height: auto;
        }
    }
}

.footer {
    background-color: @email__background-color;
    padding: @email-body__padding;

    table {
        width: 100%;

        td {
            padding-bottom: @email-body__padding;
            width: 33%;

            p {
                margin-bottom: 0;
                .futura-Book();

                &.phone {
                    font-size: @font-size__l;

                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
}
.main-content{
    width: 100%;
    table{
        width: 100%;    
    }
    dl{
        padding-left:0 !important;
        margin-left: 0 !important;
        dt{
            padding-left:0 !important;
        }
    }
}

.order-details{
    table{
        width: 100%;
    }
    .address-details{
        a{
            padding:0;
            border:none;
            
            text-decoration: underline;
            color: @blue_link_secondary; 
        }
    }
    .method-info{        
        .payment-method{
            margin:0;
            a{
                text-decoration: underline;
                color: @blue_link_secondary; 
            }
        }
    }
}
.order-details{
    .method-info{
        th{
            
            padding-left: 0;
        }
        a{
            padding:0;
            border:none;
            
            text-decoration: none;
            text-decoration: underline;
            color: @blue_link_secondary; 
            text-decoration: underline;
        }
    }
}
.payment-method{
    dd{
        margin-left: 10px;
    }
}
.method-info{
    th{
        text-align: left;
    }
}
.method-info{
    .payment-method{
        .data.table{
            th{
                text-align: left;
            }
            .payment-method-value{
                width: auto !important;
                a{
                    padding:0;
                    border:none;
                    
                    text-decoration: none;
                    color: @blue_link_secondary !important; 
                    text-decoration: underline;
                }
            }
        }
    }
}
.payment-method{
    .payment-method-value{
        a{
            padding:0;
            border:none;
            
            text-decoration: none;
            color: @blue_link_secondary !important; 
            text-decoration: underline;
        }
    }
}
.customer_email{
    a{
        color: @blue_link_secondary; 
        padding:0;
        border:none;
        
        text-decoration: underline;
    }
}
.greeting{
    .h3();
    color: @text_color_grey;
    text-transform: none;
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.email-intro{
    .greeting{
        .h3();
        color: @text_color_grey;
        text-transform: none;
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        font-family: Arial, Helvetica, sans-serif;
        p{
            .p();
             font-family: Arial, Helvetica, sans-serif;
            line-height: 1.47;
        }
        a{
            color: @blue_link_secondary;
            text-decoration: underline;
        }
    }
}
.email-summary{
    h1{
        .h1();
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: none;
        font-size: 20px;
        line-height: 30px;
        span{
            font-size: 15px;
            color: @blue_link_color;
        }
    }
}
// New Order
.email-summary,.email-intro{
    a {
        font-weight: normal;
        color: @blue_link_secondary;
        text-decoration: underline;
        position: relative;
    }
    h3{
        .h3();
        font-size: 16px;
        line-height: 21px;
        text-decoration: none;
        text-transform: none;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.email-information {
    a {
        font-weight: normal;
        color: @blue_link_secondary;
        text-decoration: underline;
        position: relative;

    }
    h3{
        .h3();
        font-size: 16px;
        line-height: 21px;
        font-weight: bold;
        text-transform: none;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    td{
        vertical-align: top;
    }
    .shipment-track{
        th{
            padding: 10px 10px 0 0;
            background: none;
        }
    }
    .order-details {
        .method-info{
            vertical-align: top;
            a{
                color: @blue_link_secondary; 
                padding:0;
                border:none;
                text-decoration: underline;
            }
            dl{
                margin: 16px 0;
                font-size: 13px;
            }
            
        }
        

       

    }
    .email-items {
            .product-item-name{
                margin-top: 0;
                font-size: 14px
            }    
            .sku{
                margin-top: 0;
                font-size: 12px;
                font-weight: normal;
            }   
            .item-options {
                padding-left:0;
                dt {
                    font-size: 12px;
                    color: @text_color_grey;
                    font-weight:bold;
                }

                dd {
                    font-size: 12px;
                    color: @text_color_grey;
                    font-weight:bold;
                }

            }     
            p{
                margin-top: 0;
            }
            .item-info,.item-price,.item-qty{
                font-size: 14px
            }
            th {
                border-top: 1px solid @section_breaker_border;
                &.item-info, &.item-price, &.item-qty {
                    font-weight: bold;
                    vertical-align: top;
                    border-top: 1px solid @section_breaker_border;
                }

            }
             td {
                border-top: 1px solid @section_breaker_border;
                &.item-info, &.item-price, &.item-qty {
                    vertical-align: top;
                    border-top: 1px solid @section_breaker_border;
                }

            }
            td {
                &.item-info {
                    .product-item-name {
                        
                        font-size: 1.25rem;
                        line-height: 1.68rem;
                        color: @text_color_grey;
                        text-transform: capitalize;
                        margin: 0;

                        &+ .item-options {
                            @media screen and (max-width:@mobile) {
                                margin-top: 10px;
                            }

                        }

                        a {
                            &:hover, &:focus {
                                text-decoration: none;
                            }

                        }

                    }

                    .item-options {
                        padding-left:0;
                        dt {
                            font-size: 12px;
                            color: @text_color_grey;
                        }

                        dd {
                            color: @text_color_grey;
                            font-size: 12px;
                            padding-left:0;
                            margin-left: 0;
                        }

                    }

                }

                &.item-price {
                    .price-including-tax, .price-excluding-tax {
                        color: @text_color_grey;
                        font-size: 1.26rem;
                        line-height: 1.68rem;

                        .price {
                            font-weight: 500;
                        }

                    }

                }

            }

        }
         .order-totals {
            border-bottom: 1px solid @section_breaker_border;
            th,td{
                background:none;
                vertical-align: middle;
                border:none;
            }
            .mark {
                color: @text_color_grey;
                vertical-align: middle;

                @media screen and (max-width:@mobile) {
                    text-align: left;
                }

                .value {
                    color: @text_color_grey;
                }

            }

            .amount {
                color: @text_color_grey;
                vertical-align: middle;

                @media screen and (max-width:@mobile) {
                    text-align: right;
                }

            }

            .grand {
                .mark, .amount {
                    font-size: 1.5rem;
                    vertical-align: middle;
                    border-top: 1px solid @section_breaker_border;
                    color: @text_color_grey;
                }

                .mark {
                    color: @text_color_grey;

                    @media screen and (max-width:@mobile) {
                        text-align: left;
                    }

                }

            }

        }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .header,
    .main-content,
    .footer {
        padding: @email-body__padding @indent__s !important;
    }
    .footer {
        td {
            display: block;
            width: auto !important;
        }
    }
}


