/**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

/******************font**********************/
.futura-Book {
	font-family: 'Futura-Book';
  font-weight: normal;
}
.futura-Bold {
  font-family: 'Futura-Bold';
  font-weight: bold;
}
.futura-Medium {
  font-family: 'Futura-Medium';
  font-weight: 500;
}
.sfns-display{
	font-family: 'sfns-display';
}
.opensans-regular{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.icomoon{
  font-family:'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
}
.luma-icon{
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
  color: inherit;
  font-family: 'luma-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.h1(){
  .futura-Bold();
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: @blue_link_color;  
  text-transform:uppercase;
  @media screen and (max-width: @mobile) {
      font-size: 25px;
    line-height: 32px;
    }
}
.h2(){
    .futura-Medium();
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: @blue_link_color;
    @media screen and (max-width: @mobile) {
      font-size: 20px;
    line-height: 27px;
    margin: 0 0 10px;
    }
}
.h3(){
    .futura-Medium();
    margin: 0;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6875rem;
    color: @blue_link_color;
    @media screen and (max-width: @mobile) {
      font-size: 18px;
    line-height: 23px;
    }
}
.h4(){
  color: @blue_link_secondary;
  .futura-Medium();
    font-weight: 500;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5625rem;
}
.h5(){
  color: @blue_link_secondary;
  .futura-Medium();
    font-weight: 500;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3125rem;
}
.p(){
  font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.6875rem;
    @media screen and (max-width: @mobile) {
      font-size: 16px;
      line-height: 23px;
    }
}