footer.page-footer {
    background: none;
    border-top: 16px solid @grey_border_color;
    font-size: 1rem;
    padding:0;
    margin: 0;
     @media screen and (max-width: @mobile) {
        font-size: 16px;
    }
    @media screen and (max-width: 360px) {
        font-size: 14px;
    }
    // Newsletter
    .block.newsletter{
        .newsletter_content {
            width: 57.25%;
            .flex-display(flex);
            .align-items(center);
            background: transparent;
            position: relative;
            padding-left: 88px;
            padding-right: 15px;
            .flex-wrap(wrap);
            color: @blue_link_color;
            font-size: 1.125rem;
            letter-spacing: 0;
            min-height: 64px;
            line-height: 1.6875rem;
            @media screen and (max-width: @tablet_sm) {
                width: 100%;
                margin: 0 0 30px;
                padding-right: 0;
            }
            @media screen and (max-width: @mobile) {
                font-size: 16px;
                line-height: 27px;
                padding-left: 75px;
            }
            @media screen and (max-width: 360px) {
                font-size: 14px;
                line-height: 20px;
                padding-left: 70px;   
            }
            &:before {
                content: '';
                background: url(../svg/newsletter.svg) no-repeat;
                background-size: 71px 64px;
                display: block;
                width: 71px;
                height: 64px;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
                @media screen and (max-width: @mobile) {
                    background-size: 60px 53px;
                    width: 60px;
                    height: 53px;
                }
                @media screen and (max-width: 360px) {
                    background-size: 55px 48px;
                    width: 55px;
                    height: 48px;
                }
            }
            b {
                display: block;
                width: 100%;
                color: @blue_link_color;
                font-size: 1.25rem;
                letter-spacing: 0;
                line-height: 1.4375rem;
                .sfns-display();
                @media screen and (max-width: @mobile) {
                    font-size: 20px;
                    line-height: 23px;
                }
            }
        }
        .form.subscribe {
            width: 42.75%;
           .flex-display(inline-flex);
           .flex-wrap(wrap);
           .justify-content(flex-end);
           @media screen and (max-width: @tablet_sm) {
                .justify-content(flex-start);
                width: 100%;
           }
           &> .field {
                .flex(0 0 ~"calc(100% - 171px)");
                margin-right: 15px;
                @media screen and (max-width: @tablet) {
                    .flex(0 0 ~"calc(100% - 171px)");
                }
                @media screen and (max-width: @mobile) {
                    .flex(0 0 ~"calc(100% - 136px)");
                    margin-right: 10px;
                }
                .control:before {
                    display: none;
                }
            }
             input {
                padding: 9px 10px;
                border-color: #b1b1b1;
                margin-right: 0;
                min-height: auto;
                font-size: 14px;
                @media screen and (max-width: @tablet) {
                    padding:11px 10px 10px;
                }
                @media screen and (max-width: @mobile) {
                    padding:10px;
                }
            }
            .actions {
                .flex(0 0 auto);
                width: auto;
                display: inline-block;
            }
            .action.subscribe {
                margin-left: 0;
                border-radius: 0px;
                .bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
                font-weight: bold;
                border:none;
                padding: 9px 37px;
                font-size: 14px;
                white-space: normal;
                .futura-Bold();
                @media screen and (max-width: @mobile) {
                    padding: 9px 20px;
                    font-size: 14px;
                }
            }
        }
    }

     &> .footer.content,
     &>  .block.newsletter {
        max-width: 1180px;
        padding: 0px 20px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: @mobile) {
            padding:0 10px;
        }
    }
    &> .block.newsletter .content {
        .flex-display(flex);
        .flex-wrap(wrap);
        .align-items(center);
        padding: 60px 0px;
        border-bottom: 1px solid @darkgrey_border_color;
        @media screen and (max-width: @tablet) {
            padding: 40px 0;
        }
        @media screen and (max-width: @tablet) {
            padding: 25px 0;
        }
        @media screen and (max-width: @mobile) {
            padding: 25px 8px;
        }
    }
    &> .footer.content {
        clear: both;
        border: none;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        @media screen and (max-width: @tablet) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @media screen and (max-width: @mobile) {
            padding-top: 25px;
            padding-bottom:80px;
        }
        li {
            padding: 1px 0;
            line-height: 1.875rem;
            @media screen and (max-width: @tablet_sm) {
                font-size: 12px;
            }
            @media screen and (max-width: @mobile) {
                font-size: 16px;
                line-height: 30px;
            }
            @media screen and (max-width: 360px) {
                font-size: 15px;
                line-height: 28px;
            }
        }
        .footer-link ul{
            padding: 0;
            width: 25%;
            margin: 0px;
            @media screen and (max-width: @mobile) {
                width: 50%;
                margin: 0 0 30px;
            }
            ul{
                width: 50%;
                float: left;
            }
        }
        .block {
            float: none;
            margin: 0;
        }
    }
    .footer-logo-section {
       .flex-display(flex);
        .flex-wrap(wrap);
        .justify-content(space-between);
        padding-bottom: 40px;
        @media screen and (max-width: @mobile) {
            display: none;
        }
        img {
            display: block;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            width: auto;
        }
    }
    .foolder-link-section {
        .flex-display(flex);
        .flex-wrap(wrap);
    }
    .footer-link {
        display: flex;
        flex-wrap: wrap;
        width: 68.75%;
        @media screen and (max-width: @mobile) {
            width: 100%;
        }
        ul {
            li strong {
                color: @blue_link_secondary;
                margin-bottom: 10px;
                display: block;
                font-size: 1rem;
                line-height: 1.6875rem;
                .futura-Medium();
                @media screen and (max-width: @tablet_sm) {
                    font-size: 13px;
                }
                @media screen and (max-width: @mobile) {
                    font-size: 16px;
                    line-height: 27px;
                }
            }
        }
        a {
            line-height: 1.875rem;
            list-style: none;
            text-decoration: none;
            color: @text_color_grey;
            &:hover{
                text-shadow: 0 0 0.1px  @color-black;
            }
            @media screen and (max-width: @mobile) {
                line-height: 30px;
            }
        }
    }
    .footer-ask-section {
        width: 31.25%;
        padding-left: 100px;
        @media screen and (max-width: @tablet) {
            padding-left:50px;
        }
        @media screen and (max-width: @tablet_sm) {
            padding-left:22px;
        }
        @media screen and (max-width: @mobile) {
            padding-left:0;
            width: 100%;
        }
        p{
            margin-bottom: 1rem;
            line-height: 1.1875rem;
            margin-top: 0;
            @media screen and (max-width: @mobile) {
                font-size: 16px;
                line-height: 19px;      
                margin-bottom: 16px;
            }
        }
        ul{
            padding:0;
        }
        ul li{
            strong {
                color: @blue_link_secondary;
                margin-bottom: 10px;
                display: block;
                font-size: 1rem;
                .futura-Medium();
                @media screen and (max-width: @tablet_sm) {
                    font-size: 13px;
                }
                @media screen and (max-width: @mobile) {
                    font-size: 16px;
                    line-height: 27px;      
                }
            }
            a{
                color: @blue_link_secondary;
                margin-bottom: 16px;
                display: block;
                font-size: 1.125rem;
                line-height: 1.3125rem;
                position: relative;
                .flex-display(flex);
                .align-items(center);
                @media screen and (max-width: @tablet_sm) {
                    font-size: 12px;
                }
                @media screen and (max-width: @mobile) {
                    font-size: 18px;
                    line-height: 21px;
                }
                @media screen and (max-width: 360px) {
                    font-size: 16px;
                    line-height: 19px;
                }
                &:hover{
                    text-shadow: 0 0 1px, 0 0 1px;
                }
            }
            img {
                display: inline-block;
                margin-right: 7px;
                vertical-align: middle;
                width: 30px;
                max-width: 100%;
                @media screen and (max-width: @mobile) {
                    margin-right: 5px;
                }
            }
        }
        .measure_btn {
            .bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
            padding:17px 32px 17px 21px;
            text-transform: uppercase;
            .flex-display(inline-flex);
            .futura-Bold();
            .align-items(center);
            font-size: 14px;
             img {
                max-width: 32px;
                margin-right: 14px;
                height: auto;
            }
            @media screen and (max-width: @tablet_sm) {
                padding: 17px 15px 17px 15px;
                font-size: 12px;
                img{
                    max-width: 27px;
                    margin-right: 13px;
                }
            }
            @media screen and (max-width: @mobile) {
                padding: 17px 32px 17px 15px;
                font-size: 14px;
                img{
                    max-width: 32px;
                }
            }
        }
    }
}

.copyright {
    background-color: @grey_border_color;
    max-width: 100%;
    padding: 15px 0px;
    text-align: left;
    font-size: 14px;
    color: @text_color_grey;
    @media screen and (max-width: @mobile) {
        position:relative;
        font-size: 1rem;
        padding:10px 0;
    }
    .copyright-container {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0px 20px;
        .flex-display(flex);
        .flex-wrap(wrap);
        width: 100%;
        @media screen and (max-width: @mobile) {
            padding:0 10px;
        }
    }
    p{
        margin: 0;
    }
    .copyright-left{
        width: 50%;
        text-align: left;
        .flex-display(flex);
        .flex-wrap(wrap);
        @media screen and (max-width: @mobile) {
            width: 100%;
            font-size: 1rem;
        }
        @media screen and (max-width: 360px) {
            font-size: 12px;
        }
        ul{
            .flex-display(flex);
            .align-items(center);
            .justify-content(flex-start);
            a {
                margin-left: 10px;
                padding-left: 10px;
                position: relative;
                @media screen and (max-width: 360px) {
                    margin-left: 9px;
                    padding-left: 9px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    width: 1px;
                    height: 100%;
                    background: @pipe_borer_grey;
                    top: 0px;
                }
                &:hover{
                    text-shadow: 0 0 1px, 0 0 1px;
                }
            }
        }
    }
    .footer-social {
        width: 50%;
        text-align: right;
        @media screen and (max-width: @mobile) {
            position:absolute;
            top: -50px;
            width: 100%;
            left: 10px;
            text-align: left;
            right: 10px;
            width: auto;
        }
        p {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            @media screen and (max-width: @mobile) {
                margin-right: 5px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            .flex-display(inline-flex);
            vertical-align: middle;
            li {
                padding: 0 6px;
                line-height: normal;
                @media screen and (max-width: @mobile) {
                    padding:0 7px;
                }
                a {
                    height: 100%;
                    .flex-display(flex);
                    .align-items(center);
                    &:hover{
                        img{
                            -webkit-filter: invert(0) brightness(0);
                            filter: invert(0) brightness(0);
                        }
                    }
                }
            }
            img {
                width: 20px;
                margin: 0;
                max-width: 100%;
                @media screen and (max-width: @mobile) {
                    width: 19px;
                }
            }

        }
    }
}
