// checkbox
.checkbox(){
	input:not([type="submit"])[type="checkbox"] {
        min-height: auto;
        position: absolute;
        opacity: 0;
        margin: 0;
        &~label{
        	position: relative;
		    padding-left: 27px;
		    font-size: 14px;
		    line-height: 15px;
		    color: @text_color_grey;
		    &:before {
	            content: '';
	            width: 16px;
	            height: 16px;
	            border: 1px solid @lighter_grey_checkbox;
	            border-radius: 2px;
	            background-color: rgba(255, 255, 255, 0.6);
	            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	            position: absolute;
	            top: 0;
	            left: 0;
	        }
        }
        &:checked{
	        &~ label{
	            &:before {
	                border-color: @blue_link_secondary;
	                border-radius: 2px;
	                background: @blue_link_secondary;
	            }
	            &:after{
	                // content: '\e610';
	                // content: '\f00c'
	                content: '\f00c';
	                .fontAwesome();
	                // .luma-icon();
	                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.72);
	                position: absolute;
	                left: 3px;
	                top: 2px;
	                z-index: 1;
	                font-size: 10px;
	                color: @white-color;
	            }
	        }
	    }
    }
}
.radio(){
	position:relative;
	input:not([type="submit"])[type="radio"] {
        min-height: auto;
        position: absolute;
        opacity: 0;
        margin: 0;
        &~	label{
			position: relative;
		    padding-left: 27px;
		    font-size: 14px;
		    line-height: 15px;
		    color: @text_color_grey;
		    &:before {
	            content: '';
	            width: 17px;
	            height: 17px;
	            border: 2px solid @form_control_border;
	            border-radius: 100%;
	            background-color: @white-color;
	            position: absolute;
	            top: 0;
	            left: 0;
	            border-radius:100%;
	            .fontAwesome();
	            font-size: 10px;
	            color: @white-color;
	            bottom: 0;
			    margin: auto 0;
			    text-align: center;
			    line-height: 12px;
	        }
		}
        &:checked{
	        &~ label{
	            &:before {
	                border-color: @blue_link_secondary;
	                background:@blue_link_secondary;
	            }
	            &:before{
	                // content: '\e610';
	                content: '\f00c';
	                // .luma-icon();
	        //         position: absolute;
	        //         left: 4px;
	        //         top: 2px;
	        //         z-index: 1;
	        //         font-size: 10px;
	        //         color: @white-color;
	        //         @media screen and (max-width: @desktop_xxs) {
					    // left: 4px;
					    // top: 1px;
					    // font-size: 9px;	                	
	        //         }
	        //         @media screen and (max-width: @tablet_sm) {
	        //             left: 4px;
    					// top: 1px;
	        //             font-size: 8px;
	        //         }
	            }
	        }
	    }
    }
}
// Form
.form(){
	width: 100%;
    max-width: 750px;
    margin: 0 0 55px;
    .field {
	    margin: 0 0 20px;
	    label {
		    display: block;
		    margin: 0 0 8px;
		    .futura-Medium();
		    font-size: 1rem;
		    line-height: 1.75rem;
		    color: @form_label_grey;
		    @media screen and (max-width: @mobile) {
		    	font-size: 16px;
		    	line-height: 28px;
		    	margin: 0 0 6px;
		    }
		}
		input:not([type="submit"]),textarea{
			.placeholder({
				.futura-Book();
				color: @placeholder_form_color;
				opacity:1;
				font-size: 1rem;
			});
		}
		&.choice{
			.checkbox();
			.radio();
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.row{
		margin: 0 -14px;
		&:before,&:after{
			content: '';
			display: block;
			clear: both;
		}
		.field{
			float: left;
			padding:0 14px;
		}
	}
	.fieldset{
		margin: 0 0 30px;
		&> .field{
			&> .label{
				font-weight:500;
			}
		}
	}
}

.fieldset > .field.required > .label:after,
.fieldset > .fields > .field.required > .label:after,
.fieldset > .field._required > .label:after,
.fieldset > .fields > .field._required > .label:after {
    font-size: inherit;
    color: @red_color;
    margin: 0;
}
.field-error {
    .futura-Book();
    font-size: 14px;
    line-height: 16px;
}