.fotorama__fullscreen-icon:focus:after,
.fotorama__zoom-out:focus:after,
.fotorama__zoom-in:focus:after,
.fotorama__arr:focus:after,
.fotorama__stage__shaft:focus:after,
.fotorama__nav__frame--thumb:focus .fotorama__thumb:after,
 .fotorama__nav__frame--dot:focus .fotorama__dot:after {
    display: none;
}
.fotorama__wrap:not(.fotorama__wrap--toggle-arrows) .fotorama__fullscreen-icon:focus:after {
    display: none;
}
.fotorama__fullscreen-icon {
	display: block !important;
	opacity: 1 !important;
	width: 36px;
	height: 36px;
	right: 20px;
    top: 20px;
    @media screen and (max-width: @mobile) {
		height: 26px;
	    right: 0;
	    top: 0;
	    width: 26px;		    	
    }
	&:before {
		content: '';
		font-size: 20px;
		display: block;
		background: url(../svg/maximize.svg) no-repeat;
		width: 26px;
		height: 26px;
		background-size: 26px 26px;
		@media screen and (max-width: @mobile) {
			background-image:url("../../svg/maximize.svg");
		}
	}
}
// product media
.product.media .fotorama__fullscreen-icon {
	background:none;
	&:hover {
	    background: none;
	}
}
.fotorama{
	.fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
	    margin: -5px auto;
	}	
	.fotorama__thumb-border{
		margin: 0;
		border-color: @black-color;
	}
	.fotorama__arr, .fotorama__thumb__arr {
	    background: none;
	}
}

// full screen
.fotorama--fullscreen{
	.fotorama__nav.fotorama__nav--thumbs{
		text-align: center;
		.fotorama__nav__shaft {
		    display: inline-block;
		}
	}
	.fotorama__fullscreen-icon {
		height: 80px;
	    right: 0;
	    top: 0;
	    width: 80px;
	    &:before{
	    	display: none;
	    }
	}
}
.fotorama__stage.fotorama__shadows--left:before,
.fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--right:after,
.fotorama__nav.fotorama__shadows--right:after {
    display: none;
}
.fotorama {
	.fotorama__nav--thumbs {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.fotorama__thumb__arr{
	    width: 27px;
	    background: @grey_border_color;
	    bottom: 20px;
	    top: 20px;
		.fotorama__thumb--icon {
		    display: block;
		    content: '';
		    width: 27px;
		    height: 27px;
		    background: url(../svg/icon-left.svg) no-repeat;
		    background-size: 27px 27px;
		    position: absolute;
		    left: 0;
		    padding: 0;
		    .transform(translate3d(0, -50%, 0));
		}
		&.fotorama__thumb__arr--right{
			.fotorama__thumb--icon {
				.transform(translate3d(0, -50%, 0) rotate(180deg));
			}
		}
		&.fotorama__thumb__arr--left{
			.fotorama__thumb--icon {
				left: -5px;
			}
		}
	}
}
@media screen and (max-width: @mobile) {
	.fotorama__wrap .fotorama__nav {
	    height: auto !important;
	}
	.fotorama{
		.fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
		    margin: 0 auto !important;
		}	
		.fotorama__thumb__arr{
			.fotorama__thumb--icon {
				background-image:url("../../svg/arrow.svg");
			}
			&.fotorama__thumb__arr--right{
				.fotorama__thumb--icon {
					left: auto;
					.transform(translate3d(0, -50%, 0) rotate(180deg));
				}
			}
			&.fotorama__thumb__arr--left{
				.fotorama__thumb--icon {
					left: auto;
					.transform(translate3d(0, -50%, 0));
				}
			}
		}
	}
}