header.page-header {
    border-bottom: 1px solid @section_breaker_border;
    margin-bottom: 0;
    .header.content {
	    max-width: 100%;
	    width: 100%;
	    padding: 25px 30px 25px 20px;
	    .flex-display(flex);
	    .align-items(center);
	    @media screen and (max-width: @mobile) {
	    	padding: 15px;
	    }
	    // logo
	    .logo {
		    max-width: 15.875rem;
		    float: none;
		    margin: 0;
		    .flex(0 0 auto);
		    @media screen and (max-width: @tablet) {
		    	max-width: 13.875rem;
		    }
		    @media screen and (max-width: @mobile) {
		    	max-width: 140px;
		    }
		    img {max-height: none;width: 100%;max-width: 100%;}
		}
	}
	// header left links
	.call-us {
		margin-left: 15px;
		.flex-display(flex);
    	.align-items(center);
    	@media screen and (max-width: @desktop_xs) {
    		margin-left: 13px;
    	}
    	@media screen and (max-width: @tablet) {
    		margin-left: 10px;
    	}
    	@media screen and (max-width: @mobile) {
    		margin-left: auto;
    	}
    	li {
		    padding-left: 33px;
		    @media screen and (max-width: @desktop_xs) {
	    		padding-left: 30px;
	    	}
		    @media screen and (max-width: @desktop_xxs) {
		    	padding-left: 20px;
		    }
		    @media screen and (max-width: @tablet) {
	    		padding-left: 12px;
	    	}
	    	@media screen and (max-width: @mobile) {
				.flex-display(flex);
    			.flex-direction(column);
    			padding-left: 10px;
			}
		    a{
				line-height: 1.135rem;
			    color: @blue_link_color;
			    font-size: 1.125rem;
				vertical-align: middle;
				&:hover{
					text-shadow: 0 0 1px, 0 0 1px;
				}
			    @media screen and (max-width: @tablet) {
			    	font-size: 14px;
    				line-height: 1.47;
			    }
			    @media screen and (max-width: @tablet_sm) {
		    		font-size:0px;
		    	}
		    	@media screen and (max-width: @mobile) {
		    		&:before {
					    content: attr(title);
					    display: block;
					    line-height: 1.135rem;
					    color: @blue_link_color;
					    font-size: 1rem;
					    vertical-align: middle;
					    margin: 6px 0 0px;
					    text-transform: uppercase;
					}
		    	}
		    }
		     img {
			    width: 23px;
			    margin-right: 10px;
			    display: inline-block;
			    vertical-align: middle;
			    max-width: 100%;
			    @media screen and (max-width: @tablet) {
		    		width: 20px;
    				margin-right: 7px;
		    	}
		    	@media screen and (max-width: @mobile) {
					width: 23px;
    				margin: -4px auto 3px;
				}
			}
			&.book-measure-link{
				a{
				    .flex-display(flex);
				    .align-items(center);
				}
				img {
				    width: 31px;
				}
				@media screen and (max-width: @mobile) {
		    		display: none;
		    	}
			}
		}
	}

	// Search box
	.block-search{
		width: auto;
	    padding: 0;
		margin-top: auto;
	    margin-bottom: auto;
	    margin-left: auto;
	    margin-right: 20px;
	    @media screen and (max-width: @desktop_xs) {
    		margin-right: 17px;
    	}
	    @media screen and (max-width: @desktop_xxs) {
	    	margin-right: 12px;
	    }
	    @media screen and (max-width: @mobile) {
    		display: none;
    	}
	    .block-content {
		    position: relative;
		}
		.field.search {
		    .flex(0 0 ~"calc(100% - 43px)");
		}
	    .minisearch {
		    position: absolute;
		    right: 0;
		    width: 0px;
		    z-index: 1;
		    .transition(all 0.3 ease);
		     top: 23px;
		     opacity: 0;
		     .flex-display(flex);
		    .justify-content(space-around);
		}
		input {
		    border: 1px solid @form_control_border;
		    padding: 6px 60px 6px 12px;
		    font-size: 1rem;
		    @media screen and (max-width: @mobile) {
		    	border: 1px solid transparent;
			    font-size: 0px;
			    padding-right: 16px;
			    padding-top: 6px;
			    padding-bottom: 6px;
			    min-height: 1.5rem;
		    }
		}
		.search_btn{
			font-size: 0px;
			display: block;
			&:before {
				content: '';
				color: @black-color;
				font-size: 1rem;
				vertical-align: middle;
				display: block;
				background:url(../svg/search.svg) no-repeat;
				width: 21px;
    			height: 20px;
				background-size:21px 20px;
				@media screen and (max-width: @tablet) {
					width: 23px;
				    height: 22px;
				    background-size: 23px 22px;
				}
			}
		}
		.action.search{
			line-height: 1;
		    top: 0;
		    bottom: 0;
		    margin: auto 0;
		    right: 0;
		    background: @blue_link_secondary;
		    padding: 12px;
		    border-radius: 0px;
		    cursor: pointer;
    		position: static;
			&:before {
				// content: "\e902";
				// .icomoon();
				content: '';
				color: @black-color;
				font-size: 1rem;
				vertical-align: middle;
				background:url(../svg/search.svg) no-repeat;
				width: 19px;
			    height: 18px;
			    background-size: 19px 18px;
			    -webkit-filter: brightness(0) invert(1);
			    filter: brightness(0) invert(1);
			}
			&.disabled,&[disabled]{
				opacity: 1;
				@media screen and (max-width: @mobile) {
					opacity: 1;
				}
			}
		}
		.minisearch.active{
			width: 300px;
			opacity: 1;
		}
		.label{
			&:before{
				@media screen and (max-width: @mobile) {
	                font-size: 14px;
	                margin: 0px; 
	            }
			}
		}
		.control{
			@media screen and (max-width: @mobile) {
	            border: none;
	        }
		}
	}

	.minicart-wrapper {
		margin-left: 17px;
		@media screen and (min-width: @tablet_xs){
			margin-top: 5px;
		}
	    @media screen and (max-width: @desktop_xs) {
	    	margin-left: 15px;
	    }
	    @media screen and (max-width: @desktop_xxs) {
	    	margin-left: 12px;
	    }
	    @media screen and (max-width: @tablet) {
	    	margin-left: 8px;
	    }
	    @media screen and (max-width: @mobile) {
			margin-top: 0px;
			margin-left: 10px;
		}
	    .action.showcart{
	    	.flex-display(inline-flex);
	    	@media screen and (max-width: @mobile) {
	    		.flex-wrap(wrap);
			    .flex-direction(column);
			    .align-items(center);
			    width: 100%;
	    	}
	    	&:before{
		    	content: '';
		    	width: 27px;
		    	height: 24px;
		    	background: url(../svg/cart.svg) no-repeat;
		    	background-size: 27px 24px;
				vertical-align: middle;
				overflow: visible;
				@media screen and (max-width: @tablet) {
			    	width: 25px;
		    		height: 22px;
		    		background-size: 25px 22px;
			    }
			    @media screen and (max-width: @mobile) {
			    	width: 27px;
			    	height: 24px;
			    	background-size: 27px 24px;
			    }
		    }
		    .counter.qty {
		    	position: absolute;
			    min-width: auto;
			    height: 22px;
			    // width: 22px;
			    width: auto;
			    min-width: 22px;
			    right: -8px;
			    top: -7px;
			    border: 2px solid @white-color;
			    background-color: @red_color;
			    border-radius: 100%;
			    color: @white-color;
			    font-size: 12px;
			    line-height: normal;
			    .futura-Medium();
			    margin: 0;
			    padding: 3px 5px 1px 6px;
			    text-align: center;
			    vertical-align: middle;
			    min-width: 11px;
			    text-transform: uppercase;
			    @media screen and (max-width: @mobile) {
			    	display: block;
				    width: auto;
				    height: auto;
				    line-height: 1.135rem;
				    color: @blue_link_color;
				    font-size: 1rem;
				    vertical-align: middle;
				    margin: 9px 0 0px;
				    background: none;
				    position: static;
				    border-radius: 0px;
				    border:none;
				    padding:0;
			    }
			}
			.counter-number {
			    text-shadow: none;
			    .flex-display(flex);
			    .align-items(center);
			    line-height: 1;
			    @media screen and (max-width: @mobile) {
			    	.flex-display(inline-flex);
			    }
			}
			.counter-label {
				@media screen and (max-width: @mobile) {
					clip: auto;
				    width: auto;
				    height: auto;
				    overflow: visible;
				    margin: 0;
				    position: static;
				    text-transform: uppercase;	
				    font-size: 0px;
				    span {
					    font-size: 1rem;
					}
				}
			}
	    }
	}

	// right links
	.header-right-link {
	    margin: 0;
	    padding: 0;
	    display: flex;
	    .flex-display(flex);
	    .justify-content(space-between);
	    .flex-wrap(wrap);
	    list-style: none;
	    @media screen and (max-width: @mobile) {
    		display: none;
    	}
	    li {
		    padding: 0 17px;
		    color: @blue_link_color;
		    line-height: normal;
		    font-size: 1.125rem;
		    @media screen and (max-width: @desktop_xs) {
	    		padding: 0 15px;
	    	}
		    @media screen and (max-width: @desktop_xxs) {
		    	padding: 0 12px;
		    }
		    @media screen and (max-width: @tablet) {
		    	padding:0 8px;
		    }
		    &:first-child {
			    padding-right: 23px;
			    @media screen and (max-width: @desktop_xs) {
		    		padding-right: 20px;
		    	}
			    @media screen and (max-width: @desktop_xxs) {
			    	padding-right:12px;
			    }
			    @media screen and (max-width: @tablet) {
			    	padding-right: 8px;
			    }
			}
		    a {
			    .flex-display(flex);
			    .align-items(center);
			    line-height: 1.135rem;
			    color: @blue_link_color;
			    font-size: 1.125rem;
				white-space: nowrap;
				&:hover{
					text-shadow: 0 0 1px, 0 0 1px;
				}
			    @media screen and (max-width: @desktop_xs) {
			    	min-width: 113px;
			    }
			    @media screen and (max-width: @tablet) {
			    	font-size: 14px;
			    	line-height: 1.47;
			    	min-width: auto;
			    }
			    @media screen and (max-width: @tablet_sm) {
		    		font-size:0px;
		    	}
			}
			img {
			    height: 25px;
			    width: auto;
			    max-width: 100%;
			    margin-right: 10px;
			    display: inline-block;
			    vertical-align: middle;
			    margin-top: 0;
			    margin-bottom: 0;
			    @media screen and (max-width: @tablet) {
			    	height: 22px;
				    margin-right: 7px;
			    }
			}
		}
	}
	.logout {
	    padding: 0 17px;
	    @media screen and (max-width: @desktop_xs) {
	    	padding: 0 15px;
	    }
	    @media screen and (max-width: @desktop_xxs) {
	    	padding:0 12px;
	    }
	    @media screen and (max-width: @tablet) {
	    	padding:0 8px;
	    }
	    @media screen and (max-width: @mobile) {
    		display: block;
		    margin-bottom: auto;
		    padding-right: 0;
		    padding-left: 10px;
    	}
	}
	.header_account_link_list.login{
		.header_account_link {
		    font-size: 0px;
		    display: block;
		    @media screen and (max-width: @mobile) {
		    	line-height: 1.135rem;
			    color: @blue_link_color;
			    font-size: 1rem;
			    text-transform: uppercase;
		    }
		    @media screen and (max-width: 360px) {
		    	font-size: 11px;
		    }
		    &:before {
		    	content: '';
		    	vertical-align: middle;
		    	background: url(../svg/user.svg) no-repeat;
		    	background-size: 20px 24px;
		    	width: 20px;
		    	height: 24px;
		    	display: block;
		    	@media screen and (max-width: @tablet) {
			    	background-size: 18px 22px;
			    	width: 18px;
			    	height: 22px;
			    }
			    @media screen and (max-width: @mobile) {
			    	 margin-bottom: 11px;
				    margin-left: auto;
				    margin-right: auto;

			    }
			     @media screen and (max-width: 360px) {
			     	width: 15px;
				    height: 19px;
				    background-size: 15px 19px;
				    margin-bottom: 10px;
			     }
		    }
		}
	}
	// user dropdown
	// dropdown
	.dropdown{
		font-size: 1.125rem;
		position: relative;
		@media screen and (max-width: @mobile) {
			display: block;
			padding-left: 7px;
    		margin-bottom: auto;
		}
		.logout {
		    position: static;
		    display: inline-block;
		    padding-top: 6px;
		    float: right;
		}
		.header_account_link_list.login .header_account_link {
		    display: inline-block;
		    vertical-align: bottom;
		    @media screen and (max-width: @mobile) {
		    	vertical-align: middle;
		    }
		}
		.dropdown-content {
		    display: none;
		    position: absolute;
		    background-color: @white-color;
		    .box-shadow(0px 8px 16px 0px rgba(0,0,0,0.2));
		    padding: 15px;
		    z-index: 1000;
		    font-size:16px;
		    left: auto;
		    right: 0;
		    width: auto;
		    min-width: 220px;
		    span {
			    display: inline-block;
			    margin-left: 4px;
			    font-family: 'Futura-Medium';
			    font-weight: 500;
			}
			.welcome-text{
				margin-left: 0;
				display: block;
				margin-bottom: 10px;
			}		
		     a {
			    color: @blue_link_secondary;
			    margin-bottom: 10px;
			    display: inline-block;
			    &:last-child {
				    margin-bottom: 0;
				}
				&:hover{
					color: @blue_link_color;
				}
			}
		}

		&:hover{
			 .dropdown-content {
			    display: block;
			}
		}
	}
	// hemburger
	// .nav-toggle {
 //    	top: 50%;
	//     .transform(translateY(-50%));
	//     @media screen and (max-width: @mobile) {
	//     	.transform(translateY(-50%));
	//     }
	// }
}

// Top bar
.top-container {
    background-color: @grey_border_color;
    padding: 10px 15px;
    color: @text_color_grey;
    .flex-display(flex);
    .justify-content(center);
    width: 100%;
    max-width: 100%;
    @media screen and (max-width: @mobile) {
    	display: none;
    }
    .block {
	    margin: 0;
	    width: 100%;
	}
	ul {
	    .flex-display(flex);
	    .align-items(center);
	    .justify-content(center);
	    .flex-wrap(wrap);
	    list-style: none;
	    padding: 0;
	    width: 100%;
	    max-width: 1140px;
	    margin: 0 auto;
	    li {
		    padding: 0 35px;
		    margin: 0;
		    border-right: 1px solid @form_control_border;
		    line-height: normal;
		    font-size: 14px;
		    .futura-Medium();
		    @media screen and (max-width: @tablet) {
		    	padding:0 17px;
		    }
		    @media screen and (max-width: @tablet_sm) {
				font-size: 13px;
				// .flex(0 0 100%);
				// padding:10px 0;
				// &:before{
				// 	display: none;
				// }
		    }
		    &:first-child{
		    	padding-left:0;
		    }
		    &:last-child {
			    padding-right: 0;
			    border: none;
			}
			strong {
			    color: @blue_link_secondary;
			    padding-right: 4px;
			    font-weight:500;
			}
		    img {
			    height: 20px;
			    display: inline-block;
			    vertical-align: bottom;
			    margin-right: 9px;
			    margin-top: 0;
			    margin-bottom: 0;
			    width: auto;
			    max-width: 100%;
			    @media screen and (max-width: @tablet) {
			    	height: 17px;
			    }
			}
			&:hover{
				a{
					strong{
						text-shadow: 0 0 1px, 0 0 1px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: @mobile) {
	.nav-toggle {
	    position: static;
	    margin-right:15px;
	    display: none;
	}
}

@media screen and (max-width: 360px) {
	header.page-header{
		.minicart-wrapper{
			margin-left: 7px;
			.action.showcart{
				&:before {
				    width: 22px;
				    height: 19px;
				    background-size: 22px 19px;
				}
				.counter.qty {
				    font-size: 11px;
				}
				.counter-label span {
				    font-size: 11px;
				}
			}
		}
		.call-us{
			 li {
			    padding-left: 7px;
			    text-align: center;
			    img {
				    width: 20px;
				}
				a:before {
				    font-size: 11px;
				}
			}
		}
		 .header_account_link_list.login .header_account_link {
		    font-size: 11px;
		    &:before {
			    width: 15px;
			    height: 19px;
			    background-size: 15px 19px;
			    margin-bottom: 10px;
			}
		}
		 .header.content .logo {
		    max-width: 125px;
		}
	}
}

/*FIXED POSITION HEADER CSS*/
@media screen and (min-width: 1025px) {
	header.page-header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
		background: @white-color;
	}
	
	.sections.nav-sections .section-items.nav-sections-items {
		background: @blue_link_secondary;
		margin: 0;
		position: fixed;
		top: 104px;
		z-index: 9;
		width: 100%;
		border-bottom: 1px solid  @white-color;
	}

	.top-container {
		margin-top: 167px;
	}
}

@media screen and (min-width: 768px){
	header {
		&.page-header {
			.block-search {
				#search_mini_form{
					top: -8px;
					z-index: -1;
					&.active{
						z-index: 1;
					}
					.actions{
						cursor: pointer;
					}
				}

			}
		}
	}
}
@media screen and (min-width: 1025px) and (max-width: @desktop_sm) {
	.sections.nav-sections .section-items.nav-sections-items{
		top: 96px;
	}
	.top-container{
		margin-top: 156px !important;
	}
}
