#mb-ajaxsuite-blank {
	background: rgba(0, 0, 0, 0.5);
}

.mb-ajaxsuite-popup-wrapper {
	background: @white-color !important;

	.mb-ajaxsuite-popup-border, .mb-ajaxsuite-popup {
		padding-top: 45px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 15px;
		font-size: 1.125rem;
		letter-spacing: 0;
		line-height: 1.6875rem;
		max-width: 95%;
		min-width: 969px;

		@media screen and (max-width:@tablet) {
			max-width: 100%;
			min-width: 75vw;
		}

	}

	.mb-ajaxsuite-popup-border {
		&:before, &:after {
			content: '';
			clear: both;
			display: block;
		}

	}

	.mb-ajaxsuite-popup {
		@media screen and (max-width:@mobile_sm) {
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 20px
		}

		.mb-login-popup-title {
			.mb-login-popup-title {
				margin: 0 0 25px;

				&:before {
					content: '\2714';
					background: @green-color;
					color: @white-color;
					border-radius: 17px;
					margin-right: 11px;
					font-size: 10px;
					width: 17px;
					padding: 2px;
					height: 17px;
					display: inline-block;
					text-align: center;
					line-height: 13px;
					vertical-align: middle;
				}

				strong {
					font-weight: normal;
				}

			}

		}

	}

	#mb-ajaxcompare-wrapper, #mb-ajaxcart-wrapper {
		.ajaxcompare-buttons, .ajaxsuite-buttons {
			margin: 0 0 10px;

			.message-error {
				margin: 0;
			}

			.action.primary {
				.bg-button(@blue_link_secondary, @white-color, @blue_link_color, @white-color);
				font-size: 14px;
				line-height: 19px;
				.futura-Medium();
				padding: 14px 16px 11px 17px;
				color: @white-color !important;
				background: @blue_link_secondary !important;
				border: 1px solid @blue_link_secondary !important;
				margin-right: 10px;

				@media screen and (max-width:@mobile_sm) {
					width: 100%;
					margin-right: 0;
				}

				&:hover {
					background: @blue_link_color !important;
					border-color: @blue_link_color !important;
				}

				&.mb-ajaxsuite-close {
					.bg-button(@white-color, @blue_link_secondary, @blue_link_color, @white-color);
					padding: 14px 21px 11px 18px;
					border: 1px solid @blue_link_secondary !important;
					color: @blue_link_secondary !important;
					background: @white-color !important;
					margin-right: 0;

					@media screen and (max-width:@mobile_sm) {
						margin-top: 10px;
					}

					&:hover {
						border-color: @blue_link_color !important;
						color: @white-color !important;
						background: @blue_link_color !important;
					}

				}

			}

		}

		.ajaxcompare-success-box, .ajaxcart-success-box {
			text-align: left;

			.success-msg {
				position: relative;
				padding-left: 27px;

				&:before {
					content: '\2714';
					background: @green-color;
					color: @white-color;
					border-radius: 17px;
					margin-right: 11px;
					font-size: 10px;
					width: 17px;
					padding: 2px;
					height: 17px;
					display: inline-block;
					text-align: center;
					line-height: 13px;
					vertical-align: middle;
					position: absolute;
					left: 0;
					top: 5px;
				}

				strong {
					.futura-Medium();
				}

			}

		}

		p {
			margin: 0 0 25px;
		}

	}

	.mb-ajaxsuite-close:not(.action) {
		height: 27px;
		width: 27px;
		top: 13px;
		right: 15px;
		background:url(../svg/icon-close.svg) no-repeat;
		background-size:27px 27px;
		&:hover {
			background: @placeholder_color;

			&:before {
				color: @white-color;
			}

		}

	}

}

.modal-popup {
	&.modal-slide {
		@media screen and (max-width: @mobile) {
			left: auto;
		    right: auto;
		    margin: 0 auto;
		    width: 100%;
		    .modal-inner-wrap{
		    	width: 90%;
		    	margin: 20px auto;
		    }
		}
	}

	.action-close {
		height: 27px;
		width: 27px;
		background:url(../svg/icon-close.svg) no-repeat;
		background-size:27px 27px;
		top: 13px;
		right: 15px;
		margin: 0;
		padding:0;
		@media screen and (max-width: @mobile) {
			background:url(../../svg/icon-close.svg) no-repeat !important;
		}
		&:before {
			display: none;
		}

		// &:hover,&:focus {
		// 	background:url(../../svg/icon-close.svg) no-repeat !important;
		// 	&:before {
		// 		color: @white-color;
		// 	}
		// }

	}

	.modal-header, .modal-content, .modal-footer {
		padding-left: 30px;
		padding-right: 30px;
	}
	.modal-content{
		@media screen and (max-width:@mobile) {
			padding-top: 15px;
	    	padding-bottom: 15px;
	    }
	}
	.modal-header {
		padding-bottom: 40px;
		padding-top: 30px;
		@media screen and (max-width:@mobile) {
			padding-bottom: 12px;
			padding-top: 12px;
			border-bottom: 1px solid @section_breaker_border;
		}
	}

	.modal-title {
		.h2();
		text-transform: none;
		border: none;
		padding: 0;
		margin: 0;

		@media screen and (max-width:@mobile) {
			text-align: center;
			margin: 0;
			text-transform: none;
		}

	}
	.modal-footer{
		.action-primary{
			.bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
	    	font-size: 14px;
	    	line-height: 19px;
	    	.futura-Medium();
	    	padding:13px 16px 12px 17px;
	    	border:1px solid @blue_link_secondary;
	    	&:hover{
	    		border-color:@blue_link_color;
	    	}

		}
		.action-secondary{
			.bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
	    	padding:13px 21px 12px 18px;
	    	border:1px solid @blue_link_secondary;
		    margin: 0;
		    line-height: 19px;
	    	&:hover{
	    		border-color:@blue_link_color;
	    	}
		}
	}

}

/*modal confirm*/
.modal-popup{
	&.confirm{
		.modal-inner-wrap{
			.modal-content {
			    padding-right: 15px;
			}
		}
		.modal-header{
			@media screen and (max-width: @mobile) {
				border:none;
			}
		}
	}
}

/*Meter calculator*/
.modal-popup{
	&.calculator-modal {
		.modal-inner-wrap {
			width: 925px;
			max-width: 95%;
		}

		.modal-header {
			padding-bottom: 20px;
			@media screen and (max-width:@mobile) {
				position: relative;
			    padding-left: 40px;
			    padding-right: 15px;
			}
		}
		.modal-title {
			@media screen and (max-width:@mobile) {
				text-transform: none;
			}
		}
		.action-close{
			@media screen and (max-width: @mobile) {
			    right: auto;
			    left: 10px;
			    top: 0;
			    bottom: 0;
			    margin: auto 0;
			    background: none;
			    padding: 0;
			    height: auto;
				background-image:url("../../svg/popup-mobile-left.svg");
				background-repeat: no-repeat;
			    background-size: 20px 20px;
			    background-position: center center;
			    &:before{
					 content: '\e622';
				    font-size: 20px;
				    .transform(rotate(90deg));
				    color: @blue_link_secondary;
			    }
			    &:hover,focus{
			    	background-image:url("../../svg/popup-mobile-left.svg");
			    }
			}
		}

	}

	.calculator-fieldset {
		margin-right: 75px;
		float: left;
		width: 55.15%;

		@media screen and (max-width:@tablet_sm) {
			margin-right: 20px;
		}

		@media screen and (max-width:@mobile) {
			width: 100%;
			margin-right: 0;
		}

	}

	.calculator-row {
		.flex-display(flex);
		.align-items(center);
		width: 100%;
		background: @grey_border_color;
		padding: 31px 26px 26px;
		margin-bottom: 12px;
		position: relative;

		@media screen and (max-width:@tablet_sm) {
			.flex-wrap(wrap);
		}

		@media screen and (max-width:@mobile) {
			padding: 17px 20px;
		}

		@media screen and (max-width:360px) {
			padding: 17px 20px;
		}

	}

	.calculator-label {
		padding-right: 28px;
		font-size: 14px;
		line-height: 19px;
		.futura-Medium();
		color: @blue_link_color;
		margin-top: 22px;

		@media screen and (max-width:@mobile) {
			padding-right: 15px;
		}

		@media screen and (max-width:360px) {
			padding-right: 10px;
			font-size: 12px;
		}

	}

	.field_wrapper {
		padding-right: 20px;
		.flex(0 0 120px);

		@media screen and (max-width:@tablet_sm) {
			&~ .field_wrapper {
				padding-right: 0;
			}

		}

		@media screen and (max-width:@mobile) {
			.flex(0 0 62px);
			padding-right: 10px;
		}

		@media screen and (max-width:360px) {
			.flex(0 0 58px);
			padding-right: 10px;
		}

		label {
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 7px;
			display: block;

			@media screen and (max-width:360px) {
				font-size: 11px;
			}

		}

		input {
			border: 2px solid @section_breaker_border;
			background: @white-color;
			font-size: 14px;
			line-height: 19px;
			.futura-Medium();
			padding: 9px 12px 6px;
			min-height: auto;
			height: auto;
			text-align: left;
		}

	}

	.result_wrapper {
		position: relative;
		padding-left: 15px;
		.futura-Medium();
		font-size: 14px;
		line-height: 19px;
		.flex-display(flex);
		.align-items(center);
		margin: auto 0;
		min-height: 60px;
		padding-top: 22px;
		color: @light_blue;

		&:before {
			content: "=";
			display: inline-block;
			vertical-align: middle;
			margin-right: 17px;
			color: @text_color_grey;
		}

		span {
			color: @text_color_grey;
			padding-left: 5px;
		}

		@media screen and (max-width:360px) {
			font-size: 12px;
			padding-left: 6px;

			&:before {
				margin-right: 7px;
			}

		}

	}

	.add_new_link {
		color: @blue_link_secondary;
		font-size: 14px;
		line-height: 19px;
		.futura-Medium();
		margin-top: 30px;
		display: inline-block;

		span {
			text-decoration: underline;
		}

		&:hover {
			color: @blue_link_color;
		}

		@media screen and (max-width:@mobile) {
			margin-top: 10px;
		}

	}

	.remove {
		position: absolute;
		font-size: 0px;
		right: 6px;
		top: 6px;

		&:before {
			content: '\2716';
			.luma-icon();
			color: @placeholder_color;
			font-size: 13px;
			line-height: 1;
		}

	}

	/*calculator summary*/
	.calcular-summary {
		background: @white-color;
		border: 1px solid @light_grey_c7;
		padding: 10px 20px;
		width: ~"calc(44.85% - 75px)";
		float: right;

		@media screen and (max-width:@tablet_sm) {
			padding: 10px;
			width: ~"calc(44.85% - 20px)";
		}

		@media screen and (max-width:@mobile) {
			overflow-y: auto;
			width: ~"calc(100% - 30px)";
			position: fixed;
			bottom: 70px;
			float: none;
			left: 15px;
			right: 15px;
			padding: 10px 14px;
		}

		table {
			margin-bottom: 0;

			@media screen and (max-width:@mobile) {
				margin: 0 auto;
			}

			th, td {
				font-size: 14px;
				line-height: 19px;
				.futura-Medium();
				padding: 10px 14px;
				word-break: break-word;

				@media screen and (max-width:@tablet_sm) {
					padding: 10px;
				}

				@media screen and (max-width:@mobile) {
					padding: 10px 14px;
				}

			}

			th {
				text-align: right;
			}

			td {
				text-align: left;
				color: @light_blue;

				span {
					color: @text_color_grey;
				}

			}

		}

	}

	.action {
		.bg-button(@blue_link_secondary, @white-color, @blue_link_color, @white-color);
		border: none;
		border-radius: 0px;
		padding: 13px 18px 12px;
		.futura-Medium();
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;

		@media screen and (max-width:@mobile) {
			width: 100%;
			padding: 16px 18px;
		}

	}

}

@media screen and (max-width:@mobile) {
	.modal-popup{
		&.modal-slide {
			left: auto;
			.modal-inner-wrap[class] {
				background-color: @white-color;
				margin: 0;
				width: 100%;
				float: right;
				max-width: 100%;
				overflow-y: auto;
			}
		}
		.modal-title {
			text-align: center;

			.modal-title {
				margin: 0;
			}

		}
		.modal-header, .modal-content, .modal-footer {
			padding-left: 15px;
			padding-right: 15px;
		}

		.modal-header, .modal-footer {
			padding-bottom: 20px;
			padding-top: 20px;
		}

		.modal-header {
			padding-right: 40px;
		}

		.action-close {
			top: 10px;
			right: 10px;
		}
	}
	// calculator
	.calculator-modal {
        z-index: 9999;
		&.modal-popup{
			&.modal-slide {
				.modal-inner-wrap[class] {
					overflow-y: hidden;
				}
			}
			.modal-content {
				padding-top: 12px;
				display: flex;
				align-items: flex-start;
				height: ~"calc(100% - 140px)";
				overflow-y: hidden;
				padding-bottom: 0;

				&> div {
					height: 100%;
				}

				.content {
					position: relative;
					padding-bottom: 165px;
					height: 100%;
					overflow-y: auto;
				}

			}

			.modal-footer {
				margin-left: auto;
				text-align: center;
				border-top: none;
				width: 100%;
				padding: 0;
			}

		}
	}

}

/*Hard Flooring accessories*/
[class*="products_accessories"] {
	.mb-ajaxsuite-popup-wrapper .mb-ajaxsuite-popup-border, .mb-ajaxsuite-popup-wrapper .mb-ajaxsuite-popup {
		max-width: 95%;
		min-width: 696px;

		@media screen and (max-width:@tablet) {
			max-width: 100%;
			min-width: 75vw;
		}

	}

}

/*Enquire now*/
.enquire-modal.modal-popup {
	.modal-inner-wrap {
		width: 750px;
		@media screen and (max-width: @mobile) {
    		width: 90%;
		}
	}

	.enquire-form-container {
		.form.contact {
			 margin: 0 0 15px;
			.row {
				.field {
					&.name, &.lastname {
						width: 50%;
						@media screen and (max-width: @mobile) {
				    		width: 100%;
				    		margin: 0 0 20px;
						}
					}

				}

			}

			.field {
				&.store-wrapper {
					margin: 30px 0px 20px;

					@media 	screen and (max-width:@mobile) {
						margin: 30px 0 0;
					}

					.label {
						.h2();
						text-transform: none;
						margin: 0 0 10px;
					}

					p {
						margin-bottom: 20px;
						font-size: 1rem;
						line-height: 1.1875rem;
						margin-top: 0;

						@media 	screen and (max-width:@mobile) {
							font-size: 16px;
							line-height: 19px;
						}

					}

					h5 {
						display: block;
						margin: 0 0 8px;
						.futura-Medium();
						font-size: 1rem;
						line-height: 1.75rem;
						color: @form_label_grey;
					}

					.field {
						&.store, &.state {
							float: left;

							.label {
								display: block;
								margin: 0 0 8px;
								.futura-Medium();
								font-size: 1rem;
								line-height: 1.75rem;
								color: @form_label_grey;
							}

						}

						&.state {
							width: 40%;
							@media screen and (max-width: @mobile) {
					    		width: 100%;
							}
						}

						&.store {
							width: 60%;
							margin: 0 0 20px;
							@media screen and (max-width: @mobile) {
					    		width: 100%;
							}

							.label {
								display: block;
								margin: 0 0 8px;
								.futura-Medium();
								font-size: 1rem;
								line-height: 1.75rem;
								color: @form_label_grey;
							}

						}

					}

				}

				&.comment {
					margin: 0 0 25px;
					@media and (max-width:@mobile) {
						margin: 0 0 35px;
					}
					.label {
						.h2();
						text-transform: none;
						margin: 0 0 10px;
					}
					h5 {
						display: block;
						margin: 0 0 8px;
						.futura-Medium();
						font-size: 1rem;
						line-height: 1.75rem;
						color: @form_label_grey;
					}
				}
			}
			.cc-product-page-info-dis {
				.cc-sen-head {
					.h3();
					margin: 0 0 8px;
					text-transform: none;
				}
			}
			.actions-toolbar{
				.action{
					margin: 0;
				}
			}
			.field-recaptcha {
				margin: 0 0 25px;
				@media and (max-width:@mobile) {
					margin: 0 0 35px;
				}
			}
		}
	}
}

// pickup stores

#mpstorepickup-available-popup {
    background-color: @white-color;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
    max-width: 750px;
    padding: 30px;
    position: relative;
    @media screen and (max-width: @mobile) {
		max-width: 100%;
		padding: 20px;
		height: 100%;
	}
    .mpstorepickup-available-title {
	 	.h2();
		text-transform: none;
		border: none;
		padding: 0;
		margin: 0;
	    padding-bottom: 40px;
	    @media screen and (max-width: @mobile) {
			padding-bottom: 20px;
			padding-right:40px;
		}
	}
    button.mfp-close {
	    height: 27px;
	    width: 27px;
	    background: url(../svg/icon-close.svg) no-repeat;
	    background-size: 27px 27px;
	    top: 13px;
	    right: 15px;
	    margin: 0;
	    font-size: 0px;
	    padding: 0;
	    position: absolute;
	    opacity: 1;
	    border-radius: 0px;
	    line-height: 1;
	    @media screen and (max-width: @mobile) {
			top: 10px;
    		right: 10px;
    		background-image:url("../../svg/icon-close.svg");
		}
	}
	.store_list{
		li{
			padding-right: 0;
			.store_name:before{
				@media screen and (max-width: @mobile) {
					position: absolute;
	    			left: 0;
	    			background-image:url("../../svg/icon-location2.svg");
				}
			}
		}
	}
}


@media screen and (max-width: @mobile) {
	.catalog-product-view{
		.mfp-container {
		    padding-left: 0;
		    padding-right: 0;
		    .mfp-content{
			    vertical-align: top;
			    height: 100%;
		    }
		}
	}
}
 