.multishipping-checkout-addresses,.multishipping-checkout-shipping,.multishipping-checkout-billing,.multishipping-checkout-overview{
	.page-main{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.form:not(.minisearch):not(.contact).multicheckout{
		max-width: 100%;
		.actions-toolbar{
			 &> .secondary{
			 	margin-top: 0;
			 	.action:not(.remind) {
				    margin-right: 15px;
				}
			 }
		}
		.action.delete{
			color: @text_color_grey;
		    font-size: 16px;
		    font-weight: 300;
		    letter-spacing: 0;
		    line-height: 19px;
		    text-decoration: underline;
		}
		.action.edit{
			color: @text_color_grey;
		    font-size: 16px;
		    font-weight: 300;
		    letter-spacing: 0;
		    line-height: 19px;
		    text-decoration: underline;
		}
	}
	.table-wrapper{
		.table();
		table{
			border-collapse: collapse;
			.col.item,.col.product{
				.product.name{
					color: @text_color_grey;
				    .futura-Medium();
				    font-size: 16px;
				    line-height: 27px;
				}
				.item-options{
					margin: 0;
				}
			}
		}
	}
	.copyright,.page-header{
		display:none;
	}
}

.multishipping-checkout-shipping{
	.form:not(.minisearch):not(.contact).multicheckout.shipping{
		max-width: 100%;
		.action.edit{
			color: @text_color_grey;
		    font-size: 16px;
		    font-weight: 300;
		    letter-spacing: 0;
		    line-height: 19px;
		    text-decoration: underline;
		}		
	}
	.box-items{
		.box-title{
			.flex-display(flex);
			.justify-content(space-between);
		}
	}
}

.multishipping-checkout-billing{
	.checkout-payment-method{
		.item-title{
			.radio();
		}
	}
}

.multishipping-checkout-overview{
	.table-wrapper{
		table{
			tfoot .mark {
			    text-align: right;
			    .futura-Medium();
			    strong{
			    	font-weight: inherit;
			    }
			}
		}
	}
}