.sections.nav-sections {
    background: @blue_link_secondary;
    margin: 0;
    .navigation,.navdrilldown{
        background: inherit;
        max-width: 1440px;
        padding-left: 0;
        padding-right: 0;
        ul {
            padding: 0 60px;
            .flex-display(flex);
            .justify-content(center);
            .flex-wrap(wrap);
            li{
                &.level0 {
                    margin: 0 40px 0 0;
                    @media screen and (max-width: @tablet) {
                        margin: 0 20px 0 0;
                    }
                    &> .level-top,li a {
                        color: @white-color;
                        line-height: 1.5625rem;
                        font-size: 1.125rem;
                        padding: 20px 0;
                        .futura-Medium();
                        text-transform: uppercase;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}

/*dropdown menu css*/

.sections.nav-sections{
    position: relative;
    .ves-menu{
        .navigation,.navdrilldown{
            position: static;
            &> ul{
                position:static;
            }
            .ves-megamenu {
                background:none;
                &.menu-hover .subhover:hover .dropdown-menu {
                     padding: 35px 20px; 
                }
            }
            .nav-item{
                &> a {
                    line-height: 1.4375rem;
                    padding:  20px;
                    @media screen and (max-width: @tablet) {
                        padding:  15px;
                    }
                }
                 &:hover > a {
                    background: none;
                    color: @text_color_grey;
                }
                &.level0{
                    &> a {
                        line-height: 1.4375rem;
                        color: @white-color;
                        font-size: 1.125rem;
                        font-weight: 500;
                    }
                    &.active, &.has-active{
                        &> a:not(.ui-state-active){
                            border-color: @blue_link_secondary;
                        }
                    }
                    .content-wrap{
                        max-width: 1140px;
                        margin: 0 auto;
                        width: 100%;
                         li a, li.active a {
                             color: @text_color_grey !important;
                             font-size: 1rem;
                             line-height: 1.875rem;
                            padding: 0;
                            margin: 0;
                            text-transform: capitalize;
                            .futura-Book();
                            font-weight: normal;
                            background: transparent;
                            border: none;
                            &:hover,&.ui-state-focus{
                                color: @blue_link_secondary !important;
                                background:none;
                            }

                        }
                        .shop-button {
                            .bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
                            .futura-Medium();
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 19px;
                            text-align: center;
                            border: 2px solid @blue_link_secondary;
                            padding: 11px 37px 9px;
                            display: inline-block;
                            text-transform: uppercase;
                            line-height: 1;
                            &:hover{
                                border-color: @blue_link_color;
                            }
                        }
                        img {
                            max-width: 100%; 
                        }
                        .category-dropdown-banner{
                             p {
                                margin: 13px 0 17px;
                            }
                            img { 
                                max-width: 100%;
                                height: auto;
                                .lib-css(transform, none, @_prefix: 1);
                            }
                        }
                         h4{
                            .h5();
                            color: @blue_link_color;
                            line-height: 1.6875rem;
                            margin: 0 0 20px;
                        }
                        // middle content
                        .megamenu-content{
                             padding-left: 30px;
                             padding-right: 30px;
                             .nav-dropdown {
                                .flex-wrap(wrap);
                                .flex-display(flex);
                                width: 100%;
                            }
                            .menu-block {
                                padding: 0 30px;
                                .flex(0 0 50%);
                            }
                            li a {
                                margin: 0 0 5px
                            }
                            h4{
                                margin: 0 0 10px;
                            }

                         }
                         // left content
                         .left-sidebar{
                            ul {
                                .flex-display(flex) !important;
                                .flex-wrap(wrap);
                                .justify-content(flex-start);
                                 padding: 0;
                            }
                             li{
                                .flex(0 0 33.33%);
                                a{
                                    line-height: 1.1875rem;
                                    margin-bottom: 13px;
                                }
                                img {
                                    width: 50px;
                                    margin: 0 0 4px;
                                    max-width: 100%;
                                    height: auto;
                                }
                             }
                         }
                        .menu-block {
                            float: left;
                            width: 50%;
                        }
                    }
                    &:hover{
                        &:after{
                            left: auto;
                            right: 0;
                        }
                        &> a {
                            background: none;
                            color: @white-color;
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-left: 27px solid transparent;
                                border-right: 27px solid transparent;
                                border-top: 21px solid @blue_link_secondary;
                                bottom: -12px;
                                z-index: 100;
                            }
                        }
                    }
                    &.custom_link:hover > a:after {
                        display: none;
                    }
                    &.active{
                        &>a{
                            background:none;
                            color: @white-color;
                        }
                    }
                    &> .submenu {
                        border: none;
                        background:@grey_border_color;
                        left: 0;
                        right: 0;  
                        box-shadow:none;
                        // .box-shadow(0 -2px 10px 0 rgba(234,234,234,0.5));
                        ul {
                            padding: 0;
                            display: block  !important;
                        }
                    }
                    //Carpet menu
                    &.carpet-dropdown{
                        .content-wrap{
                            .left-sidebar{
                                li{
                                    padding:0 10px;
                                    a{
                                        text-align: center;
                                        margin: 0 0 13px;
                                        display: inline-block;
                                    }
                                    img{
                                        margin: 0 0 4px;
                                    }
                                    &:nth-child(3n+1) {
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                    }
                    // Hard Flooring menu
                    &.hard-flooring-dropdown{
                        .content-wrap .megamenu-content{
                            .menu-block {
                                margin-bottom: 40px;
                            }
                        }
                    }
                    // rugs menu
                    &.rugs-dropdown{
                        .content-wrap .megamenu-content{
                            padding-left: 0;
                            padding-right: 30px;
                            .menu-block {
                                .flex(0 0 25%);
                                padding: 0 40px;
                                &:first-child {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                    // Blinds dropdown
                    &.blinds-dropdown {
                        position: static !important;
                        .content-wrap .megamenu-content {
                            padding-left: 0;
                            .nav-dropdown {
                                .flex-wrap(wrap);
                                .flex-display(flex);
                                width: 100%;
                            }
                            .menu-block {
                                .flex(0 0 100%);
                                padding: 0;
                                ul {
                                    .flex-wrap(wrap);
                                    .flex-display(flex) !important;
                                    .justify-content(space-between);
                                    li {
                                        .flex(0 0 25%);
                                        text-align: center;
                                        margin: 0 auto 50px;
                                        padding: 0 15px;
                                        a {
                                            .futura-Medium();
                                            font-weight: 500;
                                        }
                                        img {
                                            margin: 0 auto 4px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // shutters dropdown
                    &.shutters-dropdown{
                        .content-wrap .megamenu-content {
                            padding-left: 0;
                             img {
                                margin: 0 auto 5px;
                            }
                            .menu-block {
                                padding-left: 0;
                                .flex(0 0 100%);
                                ul {
                                    width: 66.67%;
                                    .flex-wrap(wrap);
                                    .flex-display(flex) !important;
                                    .align-items(flex-start);
                                    .justify-content(flex-start);
                                    li {
                                        .flex(0 0 50%);
                                        text-align: center;
                                         padding: 0 15px;
                                        &:nth-child(2n+1) {
                                            padding-left: 0;
                                        }
                                        a {
                                            .futura-Medium();
                                            font-weight: 500;
                                            margin: 0 0 40px; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
           }
        }
    }
}
    
@media screen and (max-width: @desktop_xxs) {
    .sections.nav-sections {
        .navigation,.navdrilldown{
            ul {
                padding: 0 50px;
            }
        }
    }
}


@media screen and (max-width: @tablet_sm) {
    .ves-megamenu .dropdown-menu .content-wrap .left-sidebar {
        width: 40% !important;
    }

    .sections.nav-sections .ves-menu{
        .navigation,.navdrilldown{
            ul{
                padding: 0;
            }
            .nav-item.level0{
                margin: 0 10px 0 0;
                .ves-click {
                    display: none;
                }
                &>a{
                    font-size: 14px;
                    padding: 15px 10px;
                }
                .content-wrap{
                    .megamenu-content {
                        width: 60% !important;
                        padding-left: 0;
                        padding-right: 0;
                        .menu-block {
                            padding: 0 30px 0 0;
                            &:last-child{
                                padding-right: 0;
                            }
                        }
                    }
                .right-sidebar {
                    width: 100% !important;
                    clear: both;
                    margin-top: 40px;
                }
                .left-sidebar {
                        width: 40% !important;
                    }
                }
                &.carpet-dropdown{
                    .content-wrap{
                        .megamenu-content {
                            padding-left:30px;
                            .menu-block {
                                padding: 0 30px;
                            }
                        }
                    }
                }
                &.hard-flooring-dropdown,&.rugs-dropdown,&.blinds-dropdown,&.shutters-dropdown{
                    .content-wrap{
                        .megamenu-content {
                            width: 100% !important;
                            padding-right: 0;
                        }
                    }
                }
                &.shutters-dropdown .content-wrap .megamenu-content .menu-block ul{
                    li{
                        a {
                            margin: 0 0 25px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: @mobile) {
    .sections.nav-sections{
        position:fixed;
        background: @white-color;
        .nav-sections-item-title{
            width: 50%;
            &.active{
                background:@blue_link_secondary;
                a {
                    color: @white-color;
                }
            }
        }
        .ves-menu{
            &.nav-mobile.hide-blocks{
                .megamenu-sidebar{
                    display: block;
                }
            }
            .navigation,.navdrilldown{
                ul{
                    padding: 0;
                }
                .nav-item{
                    li{
                        border:none;
                        float: none;
                    }
                    &.level0{
                         margin: 0;
                        &> a{
                            color: @text_color_grey !important;
                            position: relative;
                            padding: 15px;
                             .opener{
                                padding: 18px 15px;
                                color:@blue_link_secondary;
                                &.item-active {
                                    background: none;
                                }
                             }
                        }
                        &.active{
                            &> a {
                                color: @blue_link_secondary !important;
                            }
                        }
                        &:hover{
                            &>a{
                                color: @text_color_grey;       
                                &:after{
                                    display: none;
                                }
                            }
                        }
                        &.subhover{
                            &:hover{
                                .dropdown-menu{
                                    padding: 20px 0 0;
                                }
                            }
                        }
                        &> .submenu{
                            padding: 20px 0 0;
                            box-shadow: none;
                            background:@white-color;
                        }
                        .content-wrap{
                            .category-dropdown-banner{
                                p{
                                    font-size: 1rem;
                                }
                            }
                            .megamenu-content{
                                padding-left: 0;
                                padding-right:0;
                                 .menu-block {
                                    padding: 0 15px;
                                    .flex(0 0 50%);
                                    margin: 0 0 20px;
                                }
                                 h4 {
                                    margin: 0 0 5px;
                                    font-size: 1.125rem;
                                }
                            }
                        }
                        &.carpet-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    padding-left: 0;
                                    width:100% !important;
                                    .menu-block{
                                        padding:0 15px;
                                    }
                                }
                            }
                        }
                        &.hard-flooring-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    .menu-block{
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                        &.rugs-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    padding-right: 0;
                                    .menu-block{
                                        padding:0 15px;   
                                        margin: 0 0 20px;
                                        .flex(0 0 50%);
                                        &:first-child{
                                            padding-left:15px;
                                        }
                                    }
                                }
                            }
                        }
                        &.blinds-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    padding-right: 0;
                                    .menu-block{
                                        margin: 0;
                                        ul li{
                                            .flex(0 0 25%);
                                            margin: 0 auto 15px;
                                        }
                                    }
                                }
                            }
                        }
                        &.shutters-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    .menu-block{
                                        padding-right: 0;
                                        ul{
                                            width: 50%;
                                            li{
                                                &:nth-child(2n+1){
                                                    padding-left: 15px;
                                                }
                                                a{
                                                    margin: 0 0 20px;
                                                }
                                                &:nth-last-child(-n+2){
                                                    a{
                                                        margin: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.active>a {
                        background: none;
                        color: @text_color_grey !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:@mobile_md) {
    .sections.nav-sections{
        .ves-menu{
            .navigation,.navdrilldown{
                .nav-item{
                    &.level0{
                        .content-wrap{
                            .megamenu-content{
                                 .menu-block {
                                    .flex(0 0 100%);
                                }
                            }
                        }
                        &.rugs-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    padding-right: 0;
                                    .menu-block{
                                        .flex(0 0 100%);
                                    }
                                }
                            }
                        }
                        &.blinds-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    .menu-block{
                                        margin: 0 0 15px;
                                        ul li{
                                            .flex(0 0 50%);
                                            a{
                                                font-size: 13px;
                                            }
                                            &:nth-last-child(-n+2){
                                                margin: 0 auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.shutters-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    .menu-block{
                                        ul{
                                            width: 100%;
                                            li{
                                                a{
                                                    font-size: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:(@mobile_xs - 1px)) {
    .sections.nav-sections{
        .ves-menu{
            .navigation,.navdrilldown{
                .nav-item{
                    &.level0{
                        .content-wrap{
                            .megamenu-content{
                                 .menu-block {
                                    .flex(0 0 100%);
                                }
                            }
                        }
                        &.rugs-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    padding-right: 0;
                                    .menu-block{
                                        .flex(0 0 100%);
                                    }
                                }
                            }
                        }
                        &.blinds-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    .menu-block{
                                        margin: 0 0 15px;
                                        ul li{
                                            .flex(0 0 50%);
                                            a{
                                                font-size: 13px;
                                            }
                                            &:nth-last-child(-n+2){
                                                margin: 0 auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.shutters-dropdown{
                            .content-wrap{
                                .megamenu-content{
                                    .menu-block{
                                        ul{
                                            width: 100%;
                                            li{
                                                a{
                                                    font-size: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Sticky mobile menu*/
#sticky-nav{
    display: none;
}
@media screen and (max-width: @mobile) {
     #navOverlay {
        background: rgba(0,0,0,0.21);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 98;
        display: none;
    }   
    #sticky-nav{ 
      bottom:0;
      position: fixed;
      left: 0;
      width:100%;
      background: @white-color;
      z-index: 9999;
      display: block;
    }

    .sidenav {
      height: 68vh;
      width: 100%;
      background-color: @white-color;
      transition: 0.5s;
      padding-top: 15px;
      position: fixed;
      bottom: -9999px;  
      z-index: inherit;
        .closebtn {
            position: absolute;
            font-size: 0;
            z-index: 99;
            color: @blue_link_color;
            background: @white-color;  
            font-weight: bold;
            margin:auto 0;
            right: 10px;
            top: 0;
            bottom:0;
            padding: 0;
            line-height: 1;
            width: 17px;
            height: 17px;
            background:url(../svg/menu-close.svg) no-repeat;
            background-size:17px 17px;
        }
        &> label {
            padding: 0 39px 0 12px;
            display: block;
            position: relative;
            font-size: 20px;
            line-height: 27px;
            .futura-Medium();
            color: @blue_link_color;
        }
        &#productNav {
            .sidenav-inner {
                height: calc(~"100% - 45px");
            }    
        }
        .sidenav-inner {
            overflow-y: auto;
            height: ~"calc(100% - 88px)";
            li{
                border-top: 1px solid @section_breaker_border;
                position: relative;
            }
            a {
                text-decoration: none;
                font-size: 16px;
                display: inline-block;
                line-height: 21px;
                padding: 14px 12px;
                color: @blue_link_secondary;
                .transition(0.3s);
                .futura-Medium();
                &:hover {
                  color: @blue_link_color;
                }
                @media(max-width: @mobile){
                    width: 100%; 
                }
            }
        }
        .block-search {
            float: none;
            display: block;
            width: 100%;
            margin-top: 18px;
            .search-autocomplete {
                margin-top: 0;
            }
        }
        // Search box
        .block-search{
            float: none;
            display: block;
            width: 100%;
            margin-top: 18px;
            padding: 0 12px 12px;
            border:none;
            .block-content {
                position: relative;
            }
            .field.search {
                .flex(0 0 ~"calc(100% - 50px)");
            }
            .minisearch {
                .transition(all 0.3 ease);
                .flex-display(flex);
                .justify-content(space-around);
                width: 100%;
                opacity: 1;
            }
            input {
                border: 1px solid #DCDCDC;
                padding: 8px 10px 8px 10px;
                font-size: 14px;
                border-right: none;
                margin: 0;
                position:static;
                min-height: 32px;
                .placeholder({font-size: 12px});
            }
            .search_btn,.label{
                display: none;
            }
            .control {
                padding: 0;
                margin: 0;
                border: none;
            }
            .action.search{
                line-height: 1;
                top: 0;
                bottom: 0;
                margin: auto 0;
                right: 0;
                background: @blue_link_secondary;
                padding: 9px 16px 8px;
                border-radius: 0px;
                cursor: pointer;
                position: static;
                display: inline-block;
                font-size: 0px;
                border: none;
                &:before {
                    display: block;
                    content: '';
                    color: @black-color;
                    font-size: 1rem;
                    vertical-align: middle;
                    background:url(../svg/search.svg) no-repeat;
                    width: 18px;
                    height: 17px;
                    background-size: 18px 17px;
                    -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1);
                }
                &.disabled,&[disabled]{
                    opacity: 1;
                }
            }
        }
        ul.navigation-mobile{
            li.parent{
                > .arrowlink{
                    position: relative;
                    float: right;
                    top: 17px;
                    right: 14px;
                    width: 9px;
                    height: 15px;
                    background:url(../svg/menu-right.svg) no-repeat;
                    background-size:9px 15px;
                    display: inline-block;
                    position: absolute;
                }
                .submenu{
                    display: none;
                    a{
                        padding-left:29px;
                    }
                }
                &.active{
                   &>  .arrowlink{
                        .transform(rotate(-90deg));
                    }
                }
            } 
        }
    }
    .primary-nav{
        background: @white-color;
        border-top: 1px solid @text_color_grey;
        position: relative;
        z-index: inherit;   
        &> ul {  
            .flex-display(flex);
            .justify-content(space-between);
            .align-items(center);
        }
        li{
            a {  
                padding: 12px 24px;
                display: block;
                font-size: 13px;
                .futura-Book();
                letter-spacing: 0;
                line-height: 16px;
                color: @blue_link_color;
            }
            &.nav-menu{
                a{
                    color: @blue_link_secondary;
                    .futura-Medium();
                    line-height: 17px;
                }
            }
            // menu
            &.menu-item{
                a{
                    &:before {
                        content: '';
                        width: 25px;
                        height: 18px;
                        background:url(../svg/icon-menu.svg) no-repeat;
                        background-size: 25px 18px;
                        margin: 0 auto 10px;
                        display: block;
                    }
                }
            }
            // products
            &.product-item{
                a{
                    &:before {
                        content: '';
                        width: 32px;
                        height: 24px;
                        background:url(../svg/icon-products.svg) no-repeat;
                        background-size: 32px 24px;
                        margin: 0 auto 4px;
                        display: block;
                    }
                }
            }
            // stores
            &.stores-item{
                a{
                    &:before {
                        content: '';
                        width: 32px;
                        height: 30px;
                        background:url(../svg/icon-stores.svg) no-repeat;
                        background-size: 32px 30px;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
            // book measure
            &.measure-item{
                a{
                    &:before {
                        content: '';
                        width: 32px;
                        height: 21px;
                        background:url(../svg/measure.svg) no-repeat;
                        background-size: 32px 21px;
                        margin: 0 auto 5px;
                        display: block;
                    }
                }
            }
        }
    }
    body{
        padding-bottom: 71px;
    }
}
@media screen and (max-width: @mobile_sm) {
    .sidenav{
        height: 320px;
    }
}
@media screen and (max-width: @mobile_xs) {
    .primary-nav li a{
        padding:12px 18px;  
    }
}
@media screen and (max-width: 360px) {
    .primary-nav li a{
        padding: 12px 12px;
    }
}
#productNav > label {
    margin-bottom: 15px;
}