.mpblog-post-view {
	.page-title-wrapper {
		display: none;
	}

	.mp-blog-rss {
		display: none;
	}

	.page-main {
		max-width: 100%;
	}

	.column.main {
		width: 100%;
		float: none;
    	padding-left: 0;
	}

	.page-banner-wrap .banner-container {
		.banner-content {
			padding: 42px 30px 30px 0;
			margin: 0;
			@media screen and (max-width: @mobile) {
				padding-right: 0;
    			padding: 26px 0;
			}

			h1 {
				text-transform: none;
				margin: 0 0 16px;
			}

			p {
				max-width: 100%;
			}

		}

	}
}

.post-view {
	#sharing {
		padding: 0;
		margin: 18px 0 0;
		background: none;
		.flex-display(flex);
		.align-items(center);
		.flex-wrap(wrap);
		width: 100%;
		@media screen and (max-width: @mobile) {
			display: none;
		}

		h5 {
			font-size: 14px;
			line-height: 19px;
			color: @blue_link_secondary;
			.futura-Medium();
			margin: 0;
			margin-right: 7px;
		}

		.share-col-left, .share-col-right {
			width: auto;
		}

		.at-resp-share-element {
			.at-share-btn {
				padding: 0;
				margin: 0;
				margin-right: 7px;
				text-decoration: none;
				background-repeat: no-repeat;
				background-color: transparent !important;
				width: 19px;
				height: 19px;
				background-size: 19px 19px;
				font-size: 0px;

				&.at-svc-facebook {
					background-image: url(../svg/facebook.svg);
				}

				&.at-svc-twitter {
					background-image: url(../svg/twitter.svg);
				}

				&.at-svc-pinterest_share {
					background-image: url(../svg/pinterest.svg);
				}

				.at-icon-wrapper, .at-label {
					display: none;
				}

			}

		}

	}

}

.post-content-wrapper {
	padding: 55px 0 90px;
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
	.flex-display(flex);
	.align-items(normal);
	.flex-wrap(wrap);
	@media screen and (max-width: @mobile) {
		.flex-direction(column-reverse);
	}
	@media screen and (max-width: @mobile) {
		padding: 30px 0;
	}
	.post-content-container{
		.flex(0 0 75%);
	    position:relative;
	    padding-right: 9.75%;
	    @media screen and (max-width: @tablet_sm) {
	    	.flex(0 0 70%);
	    }
	    @media screen and (max-width: @mobile) {
	    	.flex(0 0 100%);
	    	padding-right:0;
		}
		&:before {
		    content: '';
		    position: absolute;
		    top: -10px;
		    bottom: 0;
		    background: @section_breaker_border;
		    width: 2px;
		    right: 0;
		    @media screen and (max-width: @mobile) {
		    	display: none;
		    }
		}
	}
	.faq_category {
	    padding: 15px 0 30px 40px;
	    .flex(0 0 25%);
	    @media screen and (max-width: @tablet_sm) {
	    	.flex(0 0 30%);
	    }
	    @media screen and (max-width: @mobile) {
	    	.flex(0 0 100%);
	    	padding: 0 0 25px 0;
	    	width: 100%;
	    }
		h4{
			.h4();
			margin: 15px 0 25px;
			@media screen and (max-width: @tablet) {
		    	font-size: 18px;
		    	line-height: 25px;
		    	margin: 20px 0;
		    }
		}
		.category_list{
			padding: 0;
			margin: 0;
			list-style-type: none;
			&:before,&:after{
	            content: '';
	            display: block;
	            clear: both; 
			}
	        li{
				margin: 0 0 15px;
	            float: left;
	            clear: both;
				width: 100%;
				padding: 0;
				list-style-type: none;
				line-height: 1;
				&::before{
					display: none;
				}
	        }
	        a{
	            color: @blue_link_secondary;
	            font-size: 1rem;
	            line-height:normal;
	            text-transform: capitalize;
	            position: relative;
				padding-left: 13px;
				.futura-Book();
	            @media screen and (max-width: @mobile) {
	            	font-size: 16px;
	            }
	            &:before {
	                content: '\e619';
	                .luma-icon();
	                position: absolute;
	                left: 0;
	                top: 50%;
	                .transform(translateY(-50%));
	                font-size: 10px;
	            }
	            &:nth-child(2n+1){
	                clear: both;
	            }
	            &:nth-child(even) {
	                padding-right: 0;
	            }
	        }
		}
	}
	.post-content-container {
		max-width: 846px;
		margin: 0;
	}

	ul, ol {
		margin: 0 0 30px;
		padding-left: 25px;
		@media screen and (max-width: @mobile) {
			margin: 0 0 24px;
		}
		li {
			margin-bottom: 0;
			line-height: 27px;
			font-size: 16px;
		}

	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: none;
		padding-left: 15px;

		li {
			position: relative;
			padding-left: 25px;
			&:before {
				// content: "\00B7";
				content: '\2022';
				font-size: 16px;
				display: inline-block;
				position: absolute;
				left: 0;
			}

		}

	}
	strong{
		.futura-Medium();
	}
	p, q {
		margin: 0 0 30px;
		display: block;
	}

	p {
		font-size: 16px;
		line-height: 27px;
		margin: 0 0 30px;
		& > img:only-child {
		    margin-bottom: 25px;
		    display: block;
		    margin-top: 50px;
		    @media screen and (max-width: @mobile) {
				margin-top: 24px;
			}
		}
		& > strong:only-child {
		    margin-bottom: -27px;
		    display: block;
		}
		&~ h2 {
		    margin-top: 50px;
		    @media screen and (max-width: @mobile) {
				margin-top: 24px;
			}
		}
		&:last-child {
		    margin: 0;
		}
		&+p{
			@media screen and (max-width: @mobile) {
				margin-top: 35px;
			}	
		}
	}

	iframe {
		max-width: 100%;
	}

	table {
		width: 100%;
	}

	a {
		color: @blue_link_secondary;
		.futura-Medium();

		strong {
			.futura-Medium();
		}

		&:hover {
			color: @blue_link_color;
		}

	}

	q {
		font-size: 1.125rem;

		&:before, &:after {
			display: inline-block;
			font-size: 2rem;
			color: #a2a2a2;
		}

		&:before {
			content: '\0275D';
			margin-right: 0.5rem;
		}

		&:after {
			content: '\0275E';
			margin-left: 0.5rem;
		}

	}

	img {
		float: none;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 20px;
		max-width: 100%;
		@media screen and (max-width:@mobile) {
			float: none;
			margin: 0 auto 25px;
		}

	}

	h2 {
		.h2();
		margin: 0 0 14px;
		text-transform: none;

		@media screen and (max-width:@mobile) {
			margin: 0 0 19px;
		}

		a {
			color: @blue_link_secondary;

			&:hover {
				color: @blue_link_color;
			}

		}

		&+ p {
			margin: 0 0 20px;
			@media screen and (max-width:@mobile) {
				margin: 0 0 13px;
			}
		}
		&+ ol,&+ ul{
			margin-top: 30px;
		}

	}

	h3 {
		.h3();
		margin: 0 0 14px;
		text-transform: none;

		@media screen and (max-width:@mobile) {
			margin: 0 0 14px;
		}

	}

}
.at-share-dock.atss {
    display: none !important;
}

// shop section
.block.related.blog-shop-section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0 30px;
    h2 {
	    margin-bottom: 20px;
	}
	.products-grid.products {
	    margin: 0 !important;
	}
    .product-item{
    	.product-image-container {
		    width: 100%;
		    .product-image-wrapper{
			    padding-bottom: 125%;	
			}
		}
		.product-name-desc{
			display: block;
		}
		// hard flooring
		&.hard-flooring-item{
			.product-item-details{
				 .price-box {
				    .flex-display(inline-flex);
        			.align-items(center);
        			.old-price + .unit_name {
					    margin-right: 5px;
					}
				}
			}
		}
		// carpet
		&.carpet_item{
			 .product-item-details {
	            position: relative;

	            .product-item-name {
	                padding-right: 90px;
	                @media screen and (max-width: @mobile) {
	                    padding-right:0;
	                }
	                &>a{
	                    font-weight: 500;       
	                }   
	            }

	            .actions-secondary {
	                position: absolute;
	                right: 0;
	                top: 0;
	                line-height: 1;
	                @media screen and (max-width: @mobile) {
	                    display: none;
	                }
	            }

	        }
		}
		.tocompare {
            font-size: 14px;
            line-height: 16px;
            &:before{
                content: '';
                width: 15px;
                height: 13px;
                background:url(../svg/compare.svg) no-repeat;
                background-size:15px 13px;
                margin-right: 4px;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                display: inline-block;
            }
        }
    }
    .owl-dots .owl-dot span{
    	display: none;
    }
}