.catalog-product-view{
	.page-wrapper > .breadcrumbs {
	    margin: 35px auto 20px;
	    @media screen and (max-width: @mobile) {
	    	margin: 12px 0;
	    }
	}
	&.page-layout-1column{
		.product.media {
		    width: 58.55%;
		    @media screen and (max-width: @tablet) {
		    	width: 50.55%;
		    }
		    @media screen and (max-width: @tablet_sm) {
		    	    width: ~"calc(100% + 30px)";
		    }
		}
		.product-info-main {
		    width: 41.45%;
		    @media screen and (max-width: @tablet) {
		    	width: 49.45%;
		    }
		    @media screen and (max-width: @tablet_sm) {
		    	width: 100%;
		    	padding-left:0;
		    }
		}
	}
	// .swatch-option-tooltip{
	// 	display: none !important;
	// }
	.page-title-mobile{
		display: none;
	}
	.free_measure_row{
		clear: both;
	}
	.page-main{
		@media screen and (max-width: @tablet_sm) {
	    	 padding-left:15px;
	    	 padding-right:15px;
	    }
	}
	.page-main {
	    max-width: 100%;
	}

	.product-page-wrapper,.product.info.detailed,.block.related,.return-policy {
	    max-width: 1140px;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	}

	.product.info.detailed{
	    display: block;
	}

	.product-page-wrapper:before,.product-page-wrapper:after {
		content: '';
		display: block;
		clear: both;
	}
	.page.messages {
	    max-width: 1140px;
	    width: 100%;
	    margin: 0 auto;
	}
}	
/*product image section*/
.product.media {
    background: @grey_border_color;
    padding: 10px 20px;
    margin-bottom: 0;
    @media screen and (max-width: @tablet_sm) {
    	margin-bottom: 20px;
    	margin-left: -15px;
	    margin-right: -15px;
    }
    .product-options-wrapper{
    	padding-bottom: 10px;
    	@media screen and (max-width: @mobile) {
    		padding-bottom:30px;
    	}
    	.fieldset{
    		margin: 0;
    	}
    	
    }
	.swatch-opt{
		margin: 20px 0 0;
		@media screen and (max-width: @mobile) {
		    padding-left: 0;
		}
	}    
    .swatch-attribute-label,.swatch-attribute-selected-option{
    		display: none;
    	}
    	.swatch-attribute-options {
		    margin: 0;
		}
		.swatch-option {
		    width: 50px !important;
		    height: 50px !important;
		    background-size: contain !important;
		    margin: 0 ;
		    border-radius: 100%;
		    border:1px solid transparent;
		    @media screen and (max-width: @mobile) {
		    	width: 46px !important;
    			height: 46px !important;
		    }
		    &:focus {
			     box-shadow: none 
			}
			&.color:not(.disabled):hover,&.image:not(.disabled):hover{
				outline: none;
			}
		    &.selected {
			    outline: none;
			    border-color:@black-color;
			}
		}
		.swatch-attribute-options {
		    position: relative;
		    padding: 0 30px;
		    .flex-display(flex);
		    .align-items(center);
		    width: 100%;
		    .owl-nav{
		    	.owl-arrow();
		    }
		}

}
/*social links*/
.product-social-wrapper{
	background: @white-color;
    display: block;
    position: relative;
    margin: 0 -20px;
    top: 10px;
    padding-top: 20px;
    font-size: 14px;
	.futura-Medium();
	letter-spacing: 0;
	line-height: 19px;
	color: @blue_link_secondary;
	@media screen and (max-width: @tablet_sm) {
		margin: 0;
		// top: auto;
	 //    left: -15px;
	 //    padding-left: 15px;
	 //    right: -15px;
	 //    width: ~"calc(100% + 30px)";
	 //    padding-right:15px;
	    position: static;
	    padding-left: 0;
	    width: 100%;
	    padding-right: 0;
	    padding-top: 0;
	    width: 100%;
	}
	.mp_social_share_inline_under_cart {
	    float: none;
	    display: inline-block;
	    vertical-align: middle;
	    padding: 0 0 0 7px;
	}
	.share-label{
		display: inline-block;
		vertical-align: middle;
	}
	.a2a_kit{
		&> a {
		    margin-right: 6px;
		    &.a2a_button_pinterest{
		    	margin-right: 4px;
		    }
		}
		.a2a_svg {
		    background-repeat: no-repeat;
		    background-color: transparent !important;
		    width: 19px !important;
		    height: 19px !important;
		    background-size: 19px 19px !important;
		    svg {
			    display: none;
			}
		}
		.a2a_button_facebook .a2a_svg {
		    background-image: url(../svg/icon-facebook.svg);
		}
		.a2a_button_twitter .a2a_svg {
		    background-image: url(../svg/icon-twitter.svg);
		}
		.a2a_button_pinterest .a2a_svg {
		    background-image: url(../svg/icon-pinterest.svg);
		}
	}
	.mail-button{
		 display: inline-block;
		vertical-align: middle;
		button{
			border:none;
			width: 23px;
			height: 19px;
			background:url(../svg/icon-mail.svg) no-repeat;
			background-size:23px 19px;
			padding:0;
			margin: 0;
			display: inline-block;
    		vertical-align: middle;
		}
	}
}
/* product info section*/
.product-info-main {
    padding-left: 25px;
    @media screen and (max-width: @tablet_sm) {
    	margin-bottom: 40px;
    }
    @media screen and (max-width: @mobile) {
    	margin-bottom: 5px;
    }
    .page-title-wrapper h1 {
	    margin: 15px 0 24px;
	} 
	.product-info-price {
	    display: block;
	}
	.product-social-links { 
	    margin: 0;
	    border-bottom: 1px solid @section_breaker_border;
	    padding: 22px 0 29px;
	    text-align: left;
	    @media screen and (max-width: @mobile) {
			// display: none; 
			padding: 0 0 20px;
			border: none; 
			display: block !important;
	    }
	}
	.product-add-form .product-options-bottom{
		.book-measure-btn {
			.bg-button(@blue_link_secondary,@section_breaker_border,@blue_link_color,@white-color);
		    padding: 15px 32px 14px 21px;
		    font-size: 14px;
		    .futura-Bold();
		    letter-spacing: 0;
		    line-height: 19px;
		    &:before{
		    	content: '';
		    	background:url("../svg/measure.svg") no-repeat;
		    	background-size: 32px 21px;
		    	width: 32px;
		    	height: 21px;
		    	display: inline-block;
		    	vertical-align: middle;
		    	margin-right: 14px;
		    	-webkit-filter: brightness(0) invert(1);filter: brightness(0) invert(1);
		    }
		}
		.enquire-now-btn{
			.bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
		    padding: 15px 21px;
		    border:1px solid @blue_link_secondary;
		    .futura-Medium();
		    &:before{
		    	display: none;
		    }
		    &:hover{
		    	border-color:@blue_link_color;
		    }
		    @media screen and (max-width: @mobile) {
		    	display: none;
		    }
		}
		.mpstorepickup-available-popup {
		    color: @blue_link_secondary;
		    .futura-Medium();
		    font-size: 14px;
		    line-height: 19px;
		    text-decoration: underline !important;
		    border-radius:0px;
		    border: none;
		    padding: 0;
		    background: none;
		    margin: 0 0 18px;
    		display: inline-block;
    		text-transform: none;
		    &:before{
		    	content: '';
		    	background:url(../svg/location.svg);
				background-size:13px 18px;
				width: 13px;
				height: 18px;
		    	display: inline-block;
		    	margin-right: 6px;
		    	vertical-align: top;
		    	filter: none;
		    	@media screen and (max-width: @mobile) {
					background-image:url("../../svg/location.svg");
				}

		    }
		    &:hover{ 
		    	color: @blue_link_color;
		    }
		}
	}
	& > .book-measure-btn {
		.bg-button(@blue_link_secondary,@section_breaker_border,@blue_link_color,@white-color);
		padding: 15px 32px 14px 21px;
		font-size: 14px; 
		.futura-Bold();
		letter-spacing: 0;
		line-height: 19px;
		vertical-align: middle;
		margin-right: 12px;
		@media screen and (max-width: @mobile) {
			margin-right: 0;
			width: 100%;
		}
		&:before{
			content: '';
			background:url("../svg/measure.svg") no-repeat;
			background-size: 32px 21px;
			width: 32px;
			height: 21px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 14px;
			-webkit-filter: brightness(0) invert(1);filter: brightness(0) invert(1);
		}
	}
	& > .enquire-now-btn {
		vertical-align: middle;
	}
	// stock
	.stock.available,.stock.unavailable {
	    font-size: 14px;
	    line-height: 19px;
	    color: @red_color;
	    .futura-Medium();
	    font-style: italic;
	    text-transform: none;
	    margin: 0;
	    margin-top: 9px;
	}
}
// enquire now
.enquire-now-btn{
	.bg-button(@white-color,@blue_link_secondary,@blue_link_color,@white-color);
    padding: 15px 21px;
    border:1px solid @blue_link_secondary;
    .futura-Medium();
    &:before{
    	display: none;
    }
    &:hover{
    	border-color:@blue_link_color;
    }
    @media screen and (max-width: @mobile) {
		// display: none;
		margin-bottom: 20px;
    }
}

/* description*/
.product.attribute.description {
	h2{	
		.h2();
		display: none;
		@media screen and (max-width: @mobile) {
			display: block;
			text-transform: none;
			margin: 0 0 15px;
		}
	}
	p{
		font-size: 18px;
    	line-height: 27px;
    	margin: 0 0 25px;
    	&:only-child,&:last-child {
		    margin: 0;
		}
    	@media screen and (max-width: @mobile) {
    		font-size: 14px;
		    line-height: 20px;
		    &:only-child,&:last-child {
			    margin: 0 0 25px;
			}
    	}
	}
}
.mobile_description{
	display: none;
}
/* product features */
.product.info.detailed {
    clear: both;
    margin: 0;
    width: 100%;
    display: inline-block;
    // margin-top: 40px;
    // @media screen and (max-width: @tablet_sm) {
    // 	margin-top: 20px;
    // }
}
.product-page-wrapper{
	margin-bottom: 40px;
    @media screen and (max-width: @tablet_sm) {
    	margin-bottom: 20px;
    }	
}

.product-info-block{
	padding: 34px 0 42px;
    border-top: 1px solid @section_breaker_border;
	h2{
		.h2();
		text-transform: none;
		margin: 0 0 34px;
		@media screen and (max-width: @mobile) {
			margin: 0 0 10px;
			text-transform: none;
		}
	}
}
/*product features*/
.product-feature{
	padding-bottom:0;
	@media screen and (max-width: @mobile) {
		padding-top: 0;
		border-top:none;
		padding-bottom: 17px;
	}
	ul {
	    .flex-display(flex);
	    .justify-content(flex-start);
	    .flex-wrap(wrap);
	    .align-items(flex-start);
	    margin: 0;
	    @media screen and (max-width: @mobile) {
	    	padding-bottom: 15px;
	    }
	    li {
		    margin-bottom: 40px;
		    padding: 0;
		    .flex(0 0 ~"calc(12.5% - 40px)");
		    margin-right: 40px;
		    &:last-child{
		    	margin-right: 0;
		    }
		    @media screen and (max-width: @mobile) {
		    	margin-right: 30px;
			    .flex(0 0 ~"calc(25% - 30px)");
			    margin-bottom: 15px;
		    }
		    @media screen and (max-width: 360px) {
			    .flex(0 0 ~"calc(33.33% - 30px)");
		    }
		}
		li{
			img {
			    width: auto;
			    max-width: 100px;
			    margin: 0 auto 5px;
			    max-width: 100%;
			}
		    .feature-img {
			    height: 70px;
			    .flex-display(flex);
		    	.align-items(center);
			    margin-bottom: 15px;
			    img {
				    margin: 0 auto;
				    height: auto;
				    width: auto;
				}
			}			
			p {
			    color: @blue_link_color;
			    font-size: 1rem;
			    letter-spacing: 0;
			    line-height: 1.25rem;
			    text-align: center;
			    @media screen and (max-width: @mobile) {
			    	font-size: 12px;
	    			line-height: 14px;
			    }
			}
		}
	}
}
/*product specification*/
.product-specifications{
	padding: 44px 0 49px;
	@media screen and (max-width: @mobile) {
	    padding: 23px 0;	    	
    }
	h2{
		margin: 0 0 22px;
		@media screen and (max-width: @mobile) {
			margin: 0;
		}
	}
	.table-responsive{
	    @media screen and (max-width: @mobile) {
		    max-width: 100%;
		    overflow-x: auto;	    	
		    margin-top: 25px;
		    margin-bottom: 17px;
	    }
	}
	.specs-table{
		 background: @white-color;
	    width: 100%;
	    border-collapse: collapse;
	    tr{
	    	.transition(all 0.2s);
	    	td,th{
	    		text-align: left;
			    color: @text_color_grey;
			    padding: 14px 20px;
			    font-size: 16px;
			    letter-spacing: 0;
			    @media screen and (max-width: @mobile) {
				    padding: 10px 15px;
				    line-height: 20px;
			    }
	    	}
	    	th {
			    width: 28%;
			    max-width: 28%;
			    .futura-Medium();
			    font-weight: 500;
			}
			td{
				width: 72%;
	    		max-width: 72%;
	    		white-space: normal;
	    		word-break: break-word;
			}
			&:nth-child(odd){
				th,td{
					background: @grey_border_color;
				}
			}
	    }
	}
}
.block.related {
    padding: 52px 0 15px;
    border-top: 1px solid @section_breaker_border;
    @media screen and (max-width: @mobile) {
    	padding: 23px 0 10px;
    }
    .title {
	    margin: 0;
	}
	h2 {
		.h2();
		text-transform: none;
	    margin: 0 0 47px;
	}
	.product-item-actions{
		display: none;
	}
	.product-items{
		.owl-dots{
			@media screen and (max-width: @mobile) {
				.owl-dots();	
			}
		}
	}
	.product-item{
		.related-available .product-item-name{
			margin-left: 0;
		}		
		.product-item-details .product-item-name {
			@media screen and (max-width: @mobile) {
				font-size: 16px;
		    	line-height: 21px;	
			}
		}
	}
}

/*Related product slider*/
.page-layout-1column,.page-layout-2columns-left{
    .products-grid.products-related{
        &.products {
            .product-item {
                margin-bottom: 30px;
            }
            .product-item {
                width: 100%;
                margin-left: 0;
                .flex(0 0 100%);
                margin-bottom: 30px;
                &:nth-child(3n + 1):not(:first-child) {
                    margin-left: 0;
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }       
}

/*Accordion*/
.accordion{
	@media screen and (max-width: @mobile) {
		.heading{
			cursor: pointer;
        	position:relative;
        	padding: 0 20px 0 0;
        	&:after {
			    content: '\e622';
			    .luma-icon();
			    position: absolute;
			    top: 50%;
			    .transform(translateY(-50%));
			    font-size: 15px;
			    color: @blue_link_color;
			    display: block;
			    font-size: 12px;
			    right: 10px;	        
		    }
		}
		[data-collapsible="true"].active{
			.heading:after{
                 content: '\e621';
            }
		}
	}
}

/*Carpet product view*/
.catalog-product-view{
	.product-category.category-carpet,.product-category.category-default{
		&~ .page-main{
			.product-options-wrapper{
				display: none;
			}
			[class*="swatch-opt-"] {
			    margin: 15px 0;
			}
			.free_measure_row{
				@media screen and (max-width:@mobile){
					display:none;
				}
			}
			.product-info-main{
				.find_store_section {
				    padding-left: 0;
				    .flex(0 0 100%);
				    input[type="text"] {
					    margin-right: 14px;
					    .flex(0 0 ~"calc(100% - 135px)");
					    @media screen and (max-width:@tablet_sm){
					    	margin-bottom: 0;
					    }
					}
				}
			}
			.product-add-form{
				display: inline-block;
		    	vertical-align: bottom;
				.product-options-bottom{
					.action.book-measure-btn{
						margin-right: 12px;
						@media screen and (max-width: @mobile) {
							margin-right: 0;
						}
					}
				}
			}
			.product-info-main .product.attribute.overview{
				display: none;
			}			
		}
	}
}

@media screen and (max-width: @mobile) {
	.book-measure-btn {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    z-index: 9;
	    right: 0;
	    text-align: center;
	}
	// bg image issue
	.catalog-product-view{
		padding-bottom:52px;
		header.page-header .minicart-wrapper .action.showcart:before{
			background-image:url("../../svg/cart.svg");
		}
		footer.page-footer .block.newsletter .newsletter_content:before{
			background-image:url("../../svg/newsletter.svg");

		}
	    .product-info-main .product-add-form .product-options-bottom .book-measure-btn:before {
			background-image:url("../../svg/measure.svg");
		}
		.product-info-main .product-add-form .product-options-bottom .mpstorepickup-available-popup:before {
			background-image:url("../../svg/location.svg");
		}
		// .product.media .product-options-wrapper .swatch-attribute-options .owl-nav button span:before{
		// 	background-image:url("../../svg/icon-left.svg");	
		// }
		header.page-header .header_account_link_list.login .header_account_link:before{
			background-image: url('../../svg/user.svg');
		}
		#sticky-nav {
		    display: none;
		}
		.page-title{
			display: none;
			&.page-title-mobile{
				display: block;
				text-align: center;
				margin: 15px 0 18px;
			}
		}		
	}
	.product.attribute.description{
		display: none;
		&.mobile_description{
			display: block;
			border-top: 1px solid @section_breaker_border;
		    padding-top: 17px;
		    padding-bottom: 0;
		}
	}
	.product-info-main{
		.product-add-form{
			padding: 0;
		}
	}

}

/*Carpet product mobile*/

/*Hard Flooring css starts*/
// label
.pickup-label {
    float: right;
    background: @orange_color;
    color: @white-color;
    padding: 11px 16px 10px 17px;
    font-size: 15px;
    font-style: italic;
    .futura-Medium();
    text-transform: uppercase;
    line-height: 1;
    @media screen and (max-width: @mobile) {
    	font-size: 12px;
	    line-height: 15px;
	    padding: 7px 18px;
    }
}
// code
.hard-floor-code {
    .flex-display(flex);
    .align-items(flex-start);
    .flex-wrap(wrap);
    width: 100%;
    clear: both;
    margin-bottom: 12px;
    li {
	    font-size: 12px;
	    line-height: 15px;
	    .futura-Medium();
	    &:first-child {
		    margin-right: 25px;
		}
		label {
		    .futura-Book();
		}
	}
}
// price & unit
.price-wrapper {
    margin-bottom: 10px;
   .price,.unit_name{
	   	font-size: 1.5625rem;
	    line-height: 2.0625rem;
	    color: @blue_link_secondary;
	    .futura-Medium();
   }
   .price-box {
	    display: inline-block;
	}
}
// price pack
.price-pack {
    color: @blue_link_secondary;
    .futura-Medium();
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 13px;
    border-bottom: 1px solid @section_breaker_border;
    margin-bottom: 20px;
}

// calculation_link
.Calculate_link,.mpstorepickup-available-popup {
    color: @blue_link_secondary;
    .futura-Medium();
    font-size: 14px;
    line-height: 19px;
    text-decoration: underline !important;
    border-radius:0px;
    border: none;
    padding: 0;
    background: none;
    margin: 0 0 19px;
    &:before{
    	content: '';
    	width: 21px;
    	height: 26px;
    	background:url(../svg/calculator.svg) no-repeat;
    	background-size:21px 26px;
    	display: inline-block;
    	margin-right: 6px;
    	vertical-align: middle;

    }
    &:hover{
    	color: @blue_link_color;
    }
}
// coverage
.coverage_txt {
    font-size: 14px;
    line-height: 19px;
    .futura-Medium();
    display: inline-block;
    color: #1083FF;
    label,.unit_value {
	    color: @text_color_grey;
	}
}
// store pickup btn
.mpstorepickup-available-popup{
	margin: 0 0 18px;
    display: inline-block;
	&:before{
		background:url(../svg/location.svg);
		background-size:13px 18px;
		width: 13px;
		height: 18px;
		vertical-align: top;
		@media screen and (max-width: @mobile) {
			background-image:url("../../svg/location.svg");
		}
	}
}

// Add to cart & qty
.box-tocart{
	@media screen and (max-width: @mobile) {
		margin: 0 0 10px;
    }
	.field.qty {
	    display: inline-block;
	    margin: 0;
	    padding-right: 17px;
	    @media screen and (max-width: @mobile) {
			margin: 0 0 10px;
			display: block;
	    }
	    label {
		    font-size: 13px;
		    line-height: 17px;
		    .futura-Medium();
		    text-transform: uppercase;
		    padding-right: 15px;
		}
		.control {
		    display: inline-block;
		}
	}
	.actions {
	    display: inline-block;
	    vertical-align: middle;
	}
	.action.tocart {
	    width: auto;
	    margin-right: 0;
	    .bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
	    padding: 14px 41px 14px 32px;
	    .futura-Bold();
	    font-size: 14px;
	    line-height: 1;
	    border: none;
	    border-radius: 0px;
	    text-transform: uppercase;
	    .flex-display(flex);
	    .align-items(center);
	    color: @section_breaker_border;
	    &:before {
		    content: '';
		    width: 27px;
		    height: 24px;
		    background: url(../svg/cart.svg) no-repeat;
		    background-size: 27px 24px;
		    display: inline-block;
		    margin-right: 12px;
		    vertical-align: middle;
		    -webkit-filter: brightness(0) invert(1);
    		filter: brightness(0) invert(1);
		}
		&:not(:last-child) {
		    margin: 0;
		}
	}
}

// Total price
.total_price {
    color: @blue_link_secondary;
    .futura-Medium();
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-top: 6px;
    max-width: ~"calc(100% - 230px)";
     @media screen and (max-width: @mobile) {
     	display: none;
     }
    @media screen and (max-width: @mobile_sm) {
    	max-width: 100%;
    	margin-right: 0;
    	margin-bottom: 20px;
    }
    label {
	    font-size: 18px;
	    color: @text_color_grey;
	    line-height: normal;
	}
}
// return policy
.return-policy {
    padding: 58px 0;
    h2 {
	    margin: 0;
	}
	.content{
		margin:23px 0 0;	
	}
	p {
	    font-size: 16px;
	    line-height: 27px;
	    margin: 0 0 25px;
	    &:only-child,&:last-child{
	    	margin: 0;
	    }
	}
	a{
		color: @blue_link_secondary;
		.futura-Medium();
	}
}
.sku {
    color: @placeholder_color;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin: 6px 0 13px;
}
.price-wrap {
    color: @placeholder_color;
    font-size: 14px;
    line-height: 21px;
    .price-box{
    	.flex-display(inline-flex);
	    .align-items(center);
    
	    .old-price {
		    .price{
		    	font-size: 16px;
			    line-height: 21px;
				.futura-Book();
			    color: @blue_link_secondary;
			    display: inline-block;
			    margin-right: 4px;
			    text-decoration: line-through;
		    }
		    .price-label{
		    	display: none;
		    }
		    &~ .special-price{
		    	.price{
		    		font-size: 16px;
				    line-height: 21px;
				    color: @red_color;
		    	}
		    }
		}
	}
}
.product-benefits {
	margin: 20px 0 0;
	@media screen and (max-width: @mobile) {
		margin: 0;
	}

	ul li {
		margin: 0 0 10px;
		display: block;
		color: @blue_link_color;
		.futura-Medium();
		font-size: 14px;
		letter-spacing: 0;
		line-height: 19px;
		position: relative;
		padding-left: 17px;

		&:before {
			content: '';
			width: 13px;
			height: 10px;
			background:url(../svg/icon-tick.svg) no-repeat;
			background-size:13px 10px;
			position: absolute;
			top: 4px;
			left: 0;
			margin: 0;
			@media screen and (max-width: @mobile) {
				background-image:url("../../svg/icon-tick.svg");
			}
		}

	}

}
// Hard Flooring page specfic
.catalog-product-view{
	.product-category.category-hard.flooring{
		&~ .page-main{
			// right section
			.product-info-main{
				.page-title-wrapper h1 {
				    float: left;
				    margin: 0 0 12px;
				    max-width: ~"calc(100% - 138px)";
				}
				.product-add-form {
				    padding-top: 0;
				}
				.price-box {
			        .flex-display(inline-flex);
			        .align-items(center);
			        .flex-direction(row);
			        .flex-wrap(wrap);
			        
			        .old-price,.special-price  {
			        	.price{
				        	font-size:18px;
				        	line-height: 25px;
				        }
			        }
			        .old-price {
			        	// .flex(0 0 100%);
			        	.flex(0 0 auto);
			        	margin: 5px 0 3px;
			        	&+ .unit_name {
						    .flex(0 0 64%);
						    font-size: 18px;
							line-height: 25px;
							@media screen and (max-width: @mobile) {
								.flex(0 0 65%);
							}
							@media screen and (max-width: @mobile_sm) {
								.flex(0 0 34%);
							}
						}
			            .price {
			                font-size: 18px;
			                line-height: 25px;
			                .futura-Medium();
			                color: @blue_link_secondary;
			                display: inline-block;
			                margin-right: 4px;
			                text-decoration: line-through;
			            }
			            .price-label{
			            	display: inline-block;
			                width: auto;
			                height: auto;
			                clip: auto;
			                margin: 0;
			                overflow: visible;
			                position: static;
			                margin-right: 4px;
			            	font-size: 16px; 
			            	line-height: 25px;
			            }
			            &~ .special-price {
			            	.flex(0 0 auto);
			            	&+ .unit_name {
							    font-size: 20px;
							    line-height: 27px;
							}
			                .price-label {
			                    display: inline-block;
			                    width: auto;
			                    height: auto;
			                    clip: auto;
			                    margin: 0;
			                    overflow: visible;
			                    position: static;
			                }
			                .price-wrapper{
			                	display: inline;
			                }
			                .price {
			                    font-size: 20px;
			                    line-height: 27px;
			                    color: @red_color;
			                }
			                .price-label{
			                	display: inline-block;
			                    width: auto;
			                    height: auto;
			                    clip: auto;
			                    margin: 0;
			                    overflow: visible;
			                    position: static;
			                    margin-right: 4px;
				            	font-size: 18px; 
				            	line-height: 27px;
				            }
			            }

			        }
			    }
			}
			// .product.info.detailed{
			// 	margin-top: 90px;
			// }
			.product-page-wrapper{
				margin-bottom: 90px;
			}
			.product-specifications {
			    padding: 23px 0 23px;
			    .specs-table{
			    	margin-bottom: 17px;
			    	tr.see-more-row{
				    	td{
				    		background: none;		
				    	}
				    	a {
						    text-decoration: underline;
						    color: @blue_link_secondary;
						    .futura-Medium();
						    font-size: 14px;
						    line-height: 19px;
						    &:hover{
						    	color: @blue_link_color;
						    }
						}
				    }
			    }
			}
			// media
			.product.media{
				padding: 15px 15px 0;
				.product-options-wrapper {
				    padding: 0;
				}
			}
			.product-social-wrapper{
				top: 0;
				margin: 0 -15px;
				@media screen and (max-width: @tablet_sm) {
					margin: 0;
				}
			}	
			/* description*/
			.product.attribute.description {
		    	padding: 40px 0;
		    	border-top: 1px solid @section_breaker_border;
		    	@media screen and (max-width: @mobile) {
		    		display: block;
		    		padding: 19px 0 21px;
		    	}
				h2{	
					display: block;
					text-transform: none;
					margin: 0;
					@media screen and (max-width: @mobile) {
						margin: 0;
					}
				}
				.content{
					margin: 24px 0 0;
					@media screen and (max-width: @mobile) {
						margin: 15px 0 0;
					}
				}
				p{
					font-size: 16px;
			    	margin: 0 0 25px;
			    	&:only-child,&:last-child {
					    margin: 0;
					}
			    	@media screen and (max-width: @mobile) {
			    		font-size: 14px;
					    line-height: 20px;
			    	}
				}
			}
			/*related block*/
			.block.related {
			    padding: 35px 0 30px;
			    h2 {
				    margin: 0;
				}
				.content{
					margin: 33px 0 0;
				}
				.product-name-desc{
					display: block;
				}
				.product-item .product-item-details{
					 .price-box {
					    .flex-display(inline-flex);
	        			.align-items(center);
	        			.old-price + .unit_name {
						    margin-right: 5px;
						}
					}
				}
			}
			.enquire-now-btn{
				margin-bottom: 18px;
			}
		}
	}
}
/*hard flooring mobile*/
@media screen and (max-width: @mobile) {
	.product-social-wrapper{
		.a2a_kit{
			.a2a_button_facebook .a2a_svg {
			    background-image: url("../../svg/icon-facebook.svg");
			}
			.a2a_button_twitter .a2a_svg {			    
			   	background-image:url("../../svg/icon-twitter.svg");
			}
			.a2a_button_pinterest .a2a_svg {
			    background-image:url("../../svg/icon-pinterest.svg");
			}
		}
		.mail-button{
			button{
			    background-image:url("../../svg/icon-mail.svg");
			}
		}
	}
	.Calculate_link {
		margin: 0 0 10px;
	    &:before{
		    background-image:url("../../svg/calculator.svg");
	    }
	}
	.box-tocart{
		.action.tocart {
		    &:before {
			    background-image: url("../../svg/cart.svg");
			}
		}
	}
	.catalog-product-view{
		.product-category.category-hard.flooring{
			&~ .page-main{
				.hard-floor-code{
					display: none;
				}
				.price-box.price-final_price{
					padding-left:0;
					width: 100%;
				}
				.block.related {
				    padding: 24px 0 27px;
				}
				.product-specifications {
				    padding: 17px 0 19px;
				    .specs-table tr th,.specs-table tr td{
				    	font-size:14px;
				    	width: auto;
					    max-width: none;
					    white-space: nowrap;
				    }
				}
				.return-policy{
					padding:25px 0;
					.content {
					    margin: 23px 0 15px;
					}
				}
				.box-tocart .action.tocart{
					position: fixed;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    z-index: 9;
				    text-align: center;
				    width: 100%;
				    .justify-content(center);
				}
				.product-page-wrapper{
					margin-bottom: 20px;
				}
			}
		}
	}
}
/*Hard Flooring css ends*/

/*Rugs detail page css starts*/
.catalog-product-view{
	.product-category.category-rugs, .product-category.category-accessories{
		&~ .page-main{
			.product-info-main .page-title-wrapper h1 {
			    margin: 0 0 12px;
			}
			.hard-floor-code{
				margin-bottom: 26px;
				li:first-child {
				    margin-right: 0;
				}
				li{
					.value {
						.futura-Medium();
					}
				}
			}
			.swatch-opt {
			    margin: 0;
				.swatch-attribute-label {
					font-size: 13px;
					line-height: 17px;
					.futura-Medium();
				}
				.swatch-attribute-selected-option {
				    padding-left: 17px;
				    font-size: 13px;
				    .futura-Medium();
				    color: @text_color_grey;
				}
				.swatch-attribute-options {
					margin: 14px 0 0;
				}

				.swatch-option.text {
					font-size: 16px;
					line-height: normal;
					.futura-Medium();
					padding: 7px 19px;
					background: @section_breaker_border;
					margin: 0 16px 10px 0;
					height: auto;
					border: none;
				}

				.swatch-attribute{
					&.size{
						.swatch-option.selected{
							border: none;
							background: @blue_link_secondary !important;
							color: @white-color;
							outline: none;
						}
					}
				}
			}
			.product-info-main{
				.product-add-form {
				    padding-top: 0;
				}
				.product-options-bottom .box-tocart {
				    margin-bottom: 0;
				}
			}
			/* description*/
			.product.attribute.description {
		    	padding: 30px 0;
		    	@media screen and (max-width: @mobile) {
		    		display: block;
		    		padding: 19px 0 21px;
		    	}
				h2{	
					display: block;
					text-transform: none;
					margin: 0;
					@media screen and (max-width: @mobile) {
						margin: 0;
					}
				}
				.content{
					margin: 24px 0 0;
					@media screen and (max-width: @mobile) {
						margin: 15px 0 0;
					}
				}
				p{
					font-size: 16px;
			    	margin: 0 0 35px;
			    	&:only-child,&:last-child {
					    margin: 0 0 35px;
					}
			    	@media screen and (max-width: @mobile) {
			    		font-size: 14px;
					    line-height: 20px;
			    	}
				}
			}
			/*price*/
			.product-info-main{
				.price-box {
			        .flex-display(inline-flex);
			        .align-items(center);
			        .flex-direction(row);
			        .flex-wrap(wrap);
			        .price{
			        	font-size:18px;
			        	line-height: 25px;
			        }
			        .old-price {
			        	.flex(0 0 100%);
			        	margin: 5px 0 3px;
			            .price {
			                font-size: 18px;
			                line-height: 25px;
			                .futura-Medium();
			                color: @blue_link_secondary;
			                display: inline-block;
			                margin-right: 4px;
			                text-decoration: line-through;
			            }
			            .price-label{
			            	display: inline-block;
			                width: auto;
			                height: auto;
			                clip: auto;
			                margin: 0;
			                overflow: visible;
			                position: static;
			                margin-right: 4px;
			            	font-size: 16px; 
			            	line-height: 25px;
			            }
			            &~ .special-price {
			            	.flex(0 0 100%);
			                .price-label {
			                    display: inline-block;
			                    width: auto;
			                    height: auto;
			                    clip: auto;
			                    margin: 0;
			                    overflow: visible;
			                    position: static;
			                    text-transform: uppercase;
			                }
			                .price-wrapper{
			                	display: inline-block;
			                }
			                .price {
			                    font-size: 20px;
			                    line-height: 27px;
			                    color: @red_color;
			                }
			                .price-label{
			                	display: inline-block;
			                    width: auto;
			                    height: auto;
			                    clip: auto;
			                    margin: 0;
			                    overflow: visible;
			                    position: static;
			                    margin-right: 4px;
				            	font-size: 18px; 
				            	line-height: 27px;
				            }
			            }

			        }
			    }
			}
		    .product-benefits {
				margin: 20px 0 0;

				ul li {
					margin: 0 0 10px;
					display: block;
					color: @blue_link_color;
					.futura-Medium();
					font-size: 14px;
					letter-spacing: 0;
					line-height: 19px;
					position: relative;
					padding-left: 17px;

					&:before {
						content: '';
						width: 13px;
						height: 10px;
						background:url(../svg/icon-tick.svg) no-repeat;
						background-size:13px 10px;
						position: absolute;
						top: 4px;
						left: 0;
						margin: 0;
						@media screen and (max-width: @mobile) {
							background-image:url("../../svg/icon-tick.svg");
						}
					}

				}

			}
			/*Care instruction*/
			.care-instruction {
			    padding: 40px 0;
		    	@media screen and (max-width: @mobile) {
		    		display: block;
		    		padding: 19px 0 21px;
		    	}
				h2{	
					display: block;
					text-transform: none;
					margin: 0;
					@media screen and (max-width: @mobile) {
						margin: 0;
					}
				}
				.content{
					margin: 30px 0 0;
					@media screen and (max-width: @mobile) {
						margin: 15px 0 0;
					}
				}
				p{
					font-size: 16px;
					line-height: 27px;
			    	margin: 0 0 35px;
			    	&:only-child,&:last-child {
					    margin: 0 0 35px;
					}
			    	@media screen and (max-width: @mobile) {
			    		font-size: 14px;
					    line-height: 20px;
			    	}
				}
			}
			/*related block*/
			.block.related {
			    padding: 30px 0 20px;
			    h2 {
				    margin: 0;
				}
				.block-content{
					margin:40px 0 0
				}
			}
		}
	}
}
@media screen and (max-width: @mobile) {
	.catalog-product-view{
		.product-category.category-rugs, .product-category.category-accessories{
			&~ .page-main{
				.swatch-opt {
					padding-left: 0;
					.swatch-option.text {
					    font-size: 12px;
					    padding: 7px 12px;
					    margin: 0 16px 10px 0;
					}

				}
				.product-info-main{
					.price-box{
						padding-left: 0;
						 .old-price {
				            .price {
				                font-size: 16px;
				                line-height: 21px;
				            }
				            .price-label{
				            	font-size: 14px; 
				            	line-height: 21px;
				            	display: inline-block;
			                    width: auto;
			                    height: auto;
			                    clip: auto;
			                    margin: 0;
			                    overflow: visible;
			                    position: static;
			                    margin-right: 4px;
				            }
				            &~ .special-price {
				                .price {
				                    font-size: 16px;
				                    line-height: 21px;
				                }
				                .price-label{
					            	font-size: 14px; 
					            	line-height: 21px;
					            	margin-right: 4px;
					            }
				            }

				        }
					}
				}
				.product.attribute.description {
					display: block;
					padding: 24px 0;
					p{
						margin: 0 0 25px;
						font-size: 14px;
		    			line-height: 20px;
						&:only-child,&:last-child{
					    	margin: 0;
					    }
					}
				}
				.product-specifications{
					padding:24px 0;
					.table-responsive {
						margin-top: 22px;
						margin-bottom: 0;
					}
					.specs-table tr{
						td,th{
							font-size:14px;
						}
					}
				}
				.care-instruction {
				    display: block;
				    padding: 24px 0;
				    p{
				    	margin: 0 0 25px;
				    	font-size: 14px;
		    			line-height: 20px;
				    	&:only-child,&:last-child{
					    	margin: 0;
					    }
				    }
				}
				.return-policy {
				    padding: 15px 0;
				    .content {
					    margin: 15px 0 0;
					    font-size: 14px;
		    			line-height: 20px;
		    			p{
			    			font-size: 14px;
			    			line-height: 20px;	
		    			}
					}
				}
				.block.related {
					padding: 24px 0;
					.block-content{
						margin:17px 0;
					}
				}
				.box-tocart .action.tocart{
					position: fixed;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    z-index: 9;
				    text-align: center;
				    width: 100%;
				    .justify-content(center);
				}
				.price-wrapper {
				    margin-bottom: 0;
				}
				.product-benefits{
					margin: 0;
				}
			}
		}
	}
	/* Add to cart button to set beside enquire now button - 21/05/2021 */
	/*.product-options-bottom{
		position: relative !important;

		button.action.tocart{
			position: absolute !important;
			bottom: -51px !important;
			left: 155px !important;
			width: auto !important;
			padding: 14px 15px 14px 15px !important;

		}
	}*/

	/* Add dropdown arrow to choose option - 21/05/2021 */

		.configurable{
			.control{
				select{
					background-image: url(../svg/sort.svg) !important;
				}
			}
		}

}
@media screen and (max-width: 360px) {
	.catalog-product-view{
		.product-category.category-rugs, .product-category.category-accessories{
			&~ .page-main{
				.swatch-opt {
					.swatch-option.text {
					    font-size: 11px;
					    padding: 7px 10px;
					    margin: 0 12px 10px 0;
					}
				}
			}
		}
	}

	/* Add to cart button to set beside enquire now button - 21/05/2021 */

	/*.product-options-bottom{
		.actions{
			button.action.tocart{
				font-size: 12px !important;
				bottom: -47px !important;
			    left: 142px !important;
			    width: auto !important;
			    padding: 12px 15px 12px 15px !important;
			}
		}
	}
	.product-page-wrapper{
		a.enquire-now-btn{
			font-size: 12px !important
		}	
	}
*/
	/* end of 21/05/2021 css */
	
}
/*Rugs detail page css ends*/

// guides section
.guides-section{
	@media screen and (max-width: @mobile) {
		padding: 45px 0;
	}
	.blog-widget-title{
		.blog-title{
			@media screen and (max-width: @mobile) {
				margin: 0 0 10px;
			}
			&:before{
				display: none;
			}
		}
		&~p{
			max-width: 848px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-bottom: 60px;
			@media screen and (max-width: @mobile){
				margin-top: 30px;
				font-size: 16px;
				line-height:23px;
			}
		}
	}
	.post-list-container .post-list-item{
		margin-top: 0;
		.post-item-wraper{
			padding: 24px 30px 37px 24px !important;
			@media screen and (max-width: @mobile) {
				padding: 18px 20px 20px 15px !important;
			}
		}
	}
	&~.post-list-container{
		display: none;
	}
}
.blog-wrapper{
	.post-list-container{
		.post-list-item{
			.flex(0 0 100%);
    		.post-item-wraper{
    			height: 100%;
			}
			transform: translateX(0);
			&:hover{
				animation: 0.55s moveTitle ease-in-out;
			}
		}
	}
	.owl-carousel{
		.owl-stage {
		    .flex-display(flex);
		}
		.owl-item{
			.flex-display(flex);
		}
		.owl-dots{
			.owl-dot span{
				display: none;
			}
		}
	}
}

// ribbon
.ribbon {
    position: relative;
    display: block;
    line-height: 1;
    img {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    max-width: 100%;
    	height: auto;
	}
	span {
	    position: relative;
	    color:@white-color;
	    .futura-Medium();
	    font-size: 16px;
	    letter-spacing: 0;
	    line-height: 36px;
	    padding: 5px 30px 5px 20px;
	    @media screen and (max-width: @mobile) {
	    	padding: 3px 25px 3px 15px;
		    font-size: 11px;
		    line-height: 28px;
	    }
	}
	&.ribbon-clearance {
	    width: 156px;
	    height: 47px;
	    @media screen and (max-width: @mobile) {
	    	width: 120px;
		    height: 36px;
	    }
	}
}

// Accessories page
@media screen and (max-width: @mobile) {
	.catalog-product-view{
		.product-category.category-accessories{
			&~ .page-main{
				.box-tocart .action.tocart{
					position: fixed;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    z-index: 9;
				    text-align: center;
				    width: 100%;
				    .justify-content(center);
				}
				.price-wrapper .price-box{
					padding-left: 0;
				}
			}
		}
	}
}

/*accessories product view*/
.catalog-product-view{
	.product-category.category-accessories{
		&~ .page-main{
			.product.attribute.description{
				@media screen and (max-width: @mobile) {
					display: block;
				}
				 h2{
					display: block;
				}
				h3{
					.h3();
					text-transform:none;
					margin: 0 0 15px;
				}
				ul {
				    margin: 0 0 20px;
				}
			}
		}
	}
	.product-category.category-underlay,
	.product-category.category-scotia,
	.product-category.category-trims,
	.product-category.category-cleaning{
		&~ .page-main{
			.product.attribute.description{
				@media screen and (max-width: @mobile) {
					display: block;
				}
				 h2{
					display: block;
				}
			}
		}
	}
}



//BLINDS PRODUCT DETAIL
.catalog-product-view{
	.product-category.category-blinds, .product-category.category-shutters{
		& ~ .page-main{
			.product-info-main {
				.product-add-form{
					display: inline-block;
					margin-right: 15px;
					padding: 0;
					.enquire-now-btn, .book-measure-btn{
						margin-top: 25px;
					}
					.book-measure-btn{
						padding: 13px 20px;
						background: @blue_link_secondary;
						text-transform: uppercase;
						color: @white-color;
						display: inline-block;
						border-radius: 0px;
						padding: 15px 20px;
						border: 1px solid @blue_link_secondary;
						.futura-Medium();
						letter-spacing: 0.05rem;
						&:hover{
							background: transparent;
							color: @blue_link_secondary;
						}
						@media screen and (max-width: @mobile){
							position: relative;
							margin-top: 0;
							margin-bottom: 15px;
						}
					}
					
				}
				.page-title-wrapper{
					.page-title{
						@media screen and (max-width: @mobile){
							display: block;
							margin-bottom: 10px;
							margin-top: 0;
						}	
					}
					.accordion{
						.product.attribute.description{
							@media screen and (max-width: @mobile){
								display: block;
								.heading{
									display: none;
								}
								.value.content{
									display: block !important;
								}
							}	
						}
					}
				}
			}
			.product.media{
				@media screen and (max-width: @mobile){
					padding: 20px 20px;
					margin-bottom: 0;
				}
			}
			.product.info.detailed{
				display: block;
				.product-info-block{ 
					.heading{
						display: block; 
						color: @blue_link_color;
						font-size: 24px;
						.futura-Medium();
						letter-spacing: 0.05rem;
						line-height: 32px;
						margin-bottom: 20px;
						@media screen and (max-width: @mobile_m){
							font-size: 20px;
							line-height: 27px;
						}
					} 
					.feature-list { 
						ul{
							display: flex; 
							flex-wrap: wrap;
							li{
								color: @lightgrey_56;
								.futura-Book();
								line-height: 27px;
								// font-size: 1rem;
								flex-basis: 50%;
								padding-left: 30px;
								background-image: url(../svg/check.svg);
								background-size: 17px;
								background-repeat: no-repeat; 
								background-position: left top 5px;
								@media screen and (max-width: @mobile){
									flex-basis: 100%;
									font-size: 14px;   
									line-height: 20px;
									background-position: left top 0px;
									background-image: url(../../svg/check.svg);  
									&+li{
										margin-top: 13px; 
									}
								}
							}
						} 
					}
					.core-intructions{
						p{
							color: @lightgrey_56;
							.futura-Book();
							line-height: 27px;
							// font-size: 1rem;
							flex-basis: 50%;
							@media screen and (max-width: @mobile_m){
								font-size: 14px;
								line-height: 20px;
							}
						}
					}
				}
				&.blind-accordion{
					.product-info-block {
						@media screen and (max-width: @mobile){
							padding: 25px 0 10px;
							.content{
								padding-bottom: 15px;
							}
						}
					}
				}
			}
			.page-title.page-title-mobile{
				@media screen and (max-width: @mobile){
					display: none;
				}
			}
			.free_measure_row{
				.find_store_section h3, .free_flooring h3{
					text-transform: none;
				}
			}
		}
	}
}

// BLINDS CATEGORY
.catalog-category-view.category-blinds, .catalog-category-view.category-shutters{
	.category-view{
		& > .category-description{
			max-width: 1145px;
			padding: 0;
			display: flex;
			padding-top: 70px;
			margin-bottom: 70px;
			align-items: center;
			@media screen and (max-width:@tablet){
				padding-left: 20px;
				padding-right: 20px;
			}
			@media screen and (max-width:@mobile){
				flex-wrap: wrap;
				padding-top: 0px;
				margin-bottom: 0px;
				padding: 20px;
				background-color: @grey_border_color;
			}
			.category__image  {
				flex-basis: 40%;
				@media screen and (max-width:@tablet){
					flex-basis: 50%;
				}
				@media screen and (max-width:@mobile){
					flex-basis: 100%;
				}
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.category_main__description {
				text-align: left;
				padding-left: 45px;
				flex-basis: 60%;
				box-sizing: border-box;
				@media screen and (max-width:@tablet){
					flex-basis: 50%;
					padding-left: 30px;
				}
				@media screen and (max-width:@mobile){
					flex-basis: 100%;
					padding-left: 0px;
					margin-top: 20px;
				}
				h3 {
					text-align: left;
					color: @blue_link_color;
					.futura-Medium();
					font-size: 24px;
					letter-spacing: 0;
					line-height: 32px;
					margin-bottom: 18px;
					margin-top: 0;
					@media screen and (max-width: @mobile){
						font-size: 20px;
						line-height: 27px;
					}
				}
				p {
					color: @lightgrey_56;
					font-size: 18px;
					.futura-Book();
					letter-spacing: 0;
					line-height: 27px;
					margin-bottom: 25px;
					@media screen and (max-width: @mobile){
						font-size: 16px;
						line-height: 23px;
					}
				}
				.design__roller {
					a {
						padding: 13px 20px;
						background: @blue_link_secondary;
						text-transform: uppercase;
						color: @white-color;
						display: inline-block;
						border-radius: 0px;
						padding: 15px 21px;
						border: 1px solid @blue_link_secondary;
						.futura-Medium();
						font-size: 16px;
						line-height: 30px;
						text-transform: uppercase;
						@media screen and (max-width: @mobile){
							font-size: 14px;
						}
						img{
							width: 30px;
							height: auto;
							vertical-align: middle;
							float: left;
							margin-right: 10px;
						}
						&:hover{
							background: @blue_link_color;
							color: @white-color;
							text-decoration: none;
						}
					}
				}
			}
		}
		.category-cms{
			.our-product-images{
				@media screen and (max-width: @tablet){
					padding-left: 20px;
					padding-right: 20px;
				}
				@media screen and (max-width: @mobile){
					padding-left: 0px;
					padding-right: 0px;
					padding-top: 30px;
					padding-bottom: 30px;
					ul {
						li {
							img{
								left: 20px;
								max-width: 36px;
								max-height: 36px;
							}
							a{
								&::before{
									right: 20px;
								}
							}
						}
					}
				}
			}
			.guides-section{
				margin: 0;
				margin-top: 95px;
				@media screen and (max-width: @mobile){
					margin-top: 0;
					padding: 50px 15px;
				}
				> p{
					@media screen and (max-width: @mobile){
						margin-bottom: 20px;
					}	
				}
				// .owl-carousel{
				// 	display: flex;
				// }
				.post-list-container {
					.post-list-item{
						// -webkit-flex: 0 0 25%;
						// -ms-flex: 0 0 25%;
						// flex: 0 0 25%;
						// @media screen and (max-width:@tablet_sm){
						// 	-webkit-flex: 0 0 50%;
						// 	-ms-flex: 0 0 50%;
						// 	flex: 0 0 50%;	
						// }
						// @media screen and (max-width:@mobile){
						// 	-webkit-flex: 0 0 100%;
						// 	-ms-flex: 0 0 100%;
						// 	flex: 0 0 100%;	
						// }
					}
				}
			}
		}
	}
	.page-main>.columns {
		display: none;
	}	
	.how_works_section{
		&.faq-section-category {
			border-top: none;
			max-width: 942px;
			padding-top: 85px;
			padding-bottom: 85px;
			@media screen and (max-width: @mobile){
				padding-top: 20px;
				padding-bottom: 35px;
			}
		}
	}
}


/*CHANGE IN BLIND*/
.catalog-category-view.category-blinds, .catalog-category-view.category-shutters {
	.category-view > {
		.category-description{
			.lib-css(justify-content, center, @_prefix: 1);
			.category_main__description{
				padding: 0; 
				text-align: center;
				.lib-vendor-prefix-flex-basis(90%);
				@media screen and (max-width: @mobile){
					.lib-vendor-prefix-flex-basis(100%);
				}
				h3{
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}
}

.catalog-product-view[class*="-blinds"],
.catalog-product-view[class*="-shutters"] {
	.product-info-main {
		& > .page-title-wrapper.product{
			margin-bottom: 20px;
		}
	}
}









/*.cart-wrapper-buttons{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    flex-direction: row-reverse;
	button#product-addtocart-button {
	    width: auto;
	    margin-right: 0;
	    .bg-button(@blue_link_secondary,@white-color,@blue_link_color,@white-color);
	    .futura-Bold();
	    font-size: 12px;
	    line-height: 1;
	    border: none;
	    border-radius: 0px;
	    text-transform: uppercase;
	    .flex-display(flex);
	    .align-items(center);
	    color: @section_breaker_border;
	    padding: 14px 15px 14px 15px !important;
	    margin-right: 10px ;
	    &:before {
		    content: '';
		    width: 20px;
		    height: 17px;
		     background: url(../../svg/cart.svg) no-repeat;
		    background-size: 20px 17px;
		    display: inline-block;
		    margin-right: 8px;
		    vertical-align: middle;
		    -webkit-filter: brightness(0) invert(1);
    		filter: brightness(0) invert(1);
		}
	}
	a{
		margin-bottom: 0px !important;
	}
}*/



 .box-tocart.rugs-product, .box-tocart.hard-flooring{
 	.mobile-cus-btn {
    	display: none;
    	@media(max-width: @mobile){
    		display: block;
    	}  
		button {
         	position: static !important;
         	
			width: max-content !important;
			font-size: 12px !important;
			padding-left: 15px !important;
			padding-right: 15px !important;
			z-index: 2 !important; 
			padding: 16px 15px !important;
			margin: 0px !important;
			&:before {
			    content: '';
			    width: 20px !important;
			    height: 17px !important;
			    background-size: 20px 17px !important;
			    margin-right: 8px !important
			}
		}
	}
 } 
 /*
.product-options-bottom {
    position: relative;
    .mobile-cus-btn.rugs-product {
    	display: none;
    	@media(max-width: @mobile){
    		display: block;
    	}  
		button {
         	position: absolute !important;
         	margin: 0 auto !important;
			bottom: -96px !important;
			right: 0px !important;
			left: 0px !important;
			width: max-content !important;
			font-size: 12px !important;
			padding-left: 15px !important;
			padding-right: 15px !important;
			z-index: 2 !important; 
			transform: translateX(-80px);
			padding: 16px 15px !important;
			&:before {
			    content: '';
			    width: 20px !important;
			    height: 17px !important;
			    background-size: 20px 17px !important;
			    margin-right: 8px !important
			}
		}
	}
}


.categorypath-hard-flooring{
   .box-tocart{
	    position: relative;
	    .mobile-cus-btn {
	    	display: none;
	    	@media(max-width: @mobile){
	    		display: block;
	    	}  
			button {
	         	position: absolute !important;
				margin: 0 auto !important;
				bottom: -59px !important;
				right: 0px !important;
				left: 0px !important;
				width: max-content !important;
				font-size: 12px !important;
				padding-left: 15px !important;
				padding-right: 15px !important;
				z-index: 2 !important;
				transform: translateX(-80px);
				padding: 16px 15px !important;
				&:before {
				    content: '';
				    width: 20px;
				    height: 17px;
				    background-size: 20px 17px;
				    display: inline-block;
				    margin-right: 8px;
				    vertical-align: middle;
				    -webkit-filter: brightness(0) invert(1);
		    		filter: brightness(0) invert(1);
				}
			}
		}
	}
}


	.box-tocart{
	    position: relative;
	    .mobile-cus-btn.hard-flooring {
	    	display: none;
	    	@media(max-width: @mobile){
	    		display: block;
	    	}  
			button {
	         	position: absolute !important;
	         	margin: 0 auto !important;
				bottom: -97px !important;
				right: 0px !important;
				left: 0px !important;
				width: max-content !important;
				font-size: 12px !important;
				padding-left: 15px !important;
				padding-right: 15px !important;
				z-index: 2 !important; 
				transform: translateX(-80px);
				padding: 16px 15px !important;
				&:before {
				    content: '';
				    width: 20px;
				    height: 17px;
				    background-size: 20px 17px;
				    display: inline-block;
				    margin-right: 8px;
				    vertical-align: middle;
				    -webkit-filter: brightness(0) invert(1);
		    		filter: brightness(0) invert(1);
				}
			}
		}
	}

*/
@media(max-width: @mobile){
	.product-info-main .product-add-form .product-options-bottom .enquire-now-btn{
	display: block !important
}


.mobile-cus-btn {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.mobile-cus-btn a {
    margin: 0px !important;
    margin-left: 10px !important;
}


.box-tocart .actions {
    width: 100%;
}

}








