
.page-layout-1column{
     .block.widget .products-grid{
        .product-items {
            width: 100%;
            .flex-display(flex);
            .align-items(flex-start);
            .flex-wrap(wrap);
             @media screen and (max-width: @mobile) {
                .justify-content(space-between);
             }
        }
        .product-item {
            margin-left: 18px;
            margin-bottom: 60px;
            width: ~"calc((100% - 72px)/4)";
            @media screen and (max-width: @mobile) {
                width: ~"calc((100% - 36px)/2)";
                margin-left:0;
                margin-bottom: 25px;
            }
            &:nth-child(4n + 1) {
                margin-left: 0;
            }
            &:nth-child(5n) {
                margin-left: 18px;
                @media screen and (max-width: @mobile) {
                    margin-left:0;
                } 
            }
            &:nth-child(3n + 1):not(:first-child) {
                margin-left: 18px;
                @media screen and (max-width: @mobile) {
                    margin-left:0;
                } 
            }
            &:nth-child(2n) {
                @media screen and (max-width: @mobile) {
                    margin-left:18px;
                } 
            }
            &:nth-child(5n + 1):not(:first-child) {
                margin-left: 18px;
            }
        }
     }
}
.cms-buying-guide{
    .product-item-info{
        .product-item-inner{
            display: none !important;
        }
    }
}
.products-grid{
    .product-item-info{
        &:hover,&.active{
            box-shadow: none;
            border: none;
            margin: 0;
            background: none;
            padding: 0;
        }
    }
    .product-item-inner {
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        right: 0;
    }
    .product-item-actions {
        margin: 0;
        width: 100%;
    }
}
.block.widget .products-grid .product-item,
.page-layout-1column .block.widget .products-grid .product-item,
.page-layout-3columns .block.widget .products-grid .product-item{
    .product-item-inner{
        box-shadow: none;
        margin: 0;
    }
}

.product-item{
    .product-image-container{
        width: 100% !important;
        .product-image-wrapper{
            padding-bottom: 65.55% !important;
        }
        .product-image-photo{
            width: 100%;
        }
    }
    .product-item-details{
        .product-item-name {
            flex: 1 0 auto !important;
            .h4();
            @media screen and (max-width: @mobile) {
                font-size: 14px;
                line-height: 19px;
            }
            color: @text_color_grey;
            margin: 9px 0 0;
            &> a:visited{
                color: @text_color_grey;
            }
        }
        .price-box {
            margin: 0;
            @media screen and (max-width: @mobile) {
                &.price-final_price {
                    padding-left: 0;
                }
            }
            .price {
                font-weight: 500; 
                font-size: 1rem;
                line-height: 1.3125rem;
                color: @blue_link_secondary;
                @media screen and (max-width: @mobile) {
                    font-size: 14px !important;
                    line-height: 19px !important;
                }
            }
        }
        .old-price {
            margin: 0;
        }
        .swatch-attribute-options {
            margin: 10px 0 7px;
        }

        .swatch-option {
            width: 31px !important;
            height: 31px !important;
            border-radius: 100%;
            border: 1px solid transparent;
            margin: 0 4px 10px 0;
            background-size:cover !important;
            @media screen  and (max-width: @mobile) {
                width: 26px !important;
                height: 26px !important;
                min-width:auto;
            }
            &.selected,&:not(.disabled):hover,&.color:not(.disabled):hover {
                border-color: @black-color;
                outline: none;
            }
            &:focus {
                box-shadow: none;
            }
        }
        .swatch-more {
            color: @text_color_grey;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 16px;
            float: left;
            clear: both;
            @media screen and (max-width: @mobile) {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}

.page-layout-1column,.page-layout-2columns-left{
    .products-grid{
        &.products {
            margin: 0;
            .product-items{
                margin: 0;
                .flex-display(flex);
                .align-items(flex-start);
                .justify-content(space-between);
                width: 100%;
                .flex-wrap(wrap);
            }
            .product-items{
                margin: 0;
                align-items: inherit;
            }
            .product-item {
                margin-bottom: 30px;
            }
            .product-item-info {
                width: 100%;
                display: flex; flex-direction:column;  flex: 1 0 auto;
                .product.details.product-item-details {
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 auto;
                }
            }
            .swatch-attribute-options {
                margin: 10px 0 7px;
            }
            .product-item {
                width: ~"calc(25% - 30px)";
                margin-left: 30px;
                .flex(0 0 ~"calc(25% - 30px)");
                margin-bottom: 30px;
                &:nth-child(3n + 1):not(:first-child) {
                    margin-left: 30px;
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }       
}
.page-layout-1column{
    .products-grid{
        &.products{
            .product-item {
                width: ~"calc(25% - 20px)";
                margin-left: 20px;
                .flex(0 0 ~"calc(25% - 20px)");
                margin-bottom: 30px;
                display: flex;  flex-direction: column;
            }
        }   
    }    
}

.page-layout-2columns-left{
    .products-grid{
        &.products{
            margin: 30px 0 0;
        }
        .product-item {
            width: ~"calc(33.33% - 30px)";
            margin-left: 30px;
            .flex(0 0 ~"calc(33.33% - 30px)");
            margin-bottom: 30px;
            &:nth-child(3n + 1):not(:first-child) {
                margin-left: 0;
            }
        }
    }       
}

// tooltip
.swatch-option-tooltip, .swatch-option-tooltip-layered{
    .corner{
        height: 10px;        
        &:after{
            left: -16px;
        }
    }
}


.category-rugs, .category-rugs-clearance, .category-sheepskins, body[class*="categorypath-rugs"]{
    .product-item {
        position: relative;
        .ribbon{
            position: absolute;
            left: -8px;
            top: 10px;
            z-index: 11;
            letter-spacing: 0.1rem;
            font-weight: normal;
        }
        .product-image-container {
            .product-image-wrapper{
                padding-bottom: 150% !important;
                .product-image-photo{
                    .lib-css(transform, rotate(90deg) scale(1.5), @_prefix: 1);
                }
            }
        }
    }
    &.page-layout-2columns-left.page-with-filter {
        .products-grid.products{
            .product-item {
                .product-item-info{
                    .detail-btn{
                        top: 50%;
                        .lib-css(transform, translate(-50%, -50%), @_prefix: 1);
                    }
                }
            }
        }
    }
}


a.product.photo.product-item-photo {
    position: relative;
    display: inline-block;
    width: 100%;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.75);
        z-index: 2;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        opacity: 0;
    }
    .detail-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding: 13px 20px;
        background: #003594;
        text-transform: uppercase;
        color: #fff;
        border-radius: 0px;
        padding: 15px 25px 14px;
        font-family: 'Futura-Medium';
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        display: inline-block;
        z-index: 2;
        /* opacity: 0; */
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        text-transform: none;
        opacity: 0; 
    }
    &:hover{
        &:before{
            opacity: 1;
        }
        .detail-btn{
            opacity: 1;  
        }
    }
}
