// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
html {
  .box-sizing (border-box);
}
*,*:before,*:after{
  .box-sizing (border-box);
}
html{
	font-size: 16px;
	@media screen and (max-width: @desktop_sm) {
		font-size: 14px;
	}
	@media screen and (max-width: @desktop_xxs) {
		font-size: 14px;
	}
	@media screen and (max-width: @tablet_sm) {
		font-size: 14px;
	}
} 
body{  
	margin: 0;
	padding:0;
	.futura-Book();
	font-size: 1rem;
	color: @text_color_grey;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,*:focus{
	outline: none;
}
img{
	display: block;
}
ul,ol{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: @black-color;
	&:not([disabled]):not(.disabled):hover,&:not([disabled]):not(.disabled):focus{
		cursor: pointer;
	}
	&:hover,&:visited{
		text-decoration: none !important;
	}
}
button{
	&:not([disabled]):not(.disabled):hover,&:not([disabled]):not(.disabled):focus{
		cursor: pointer;
	}
}
p:empty {
    display: none;
}

// static block
.page-main .block{
	margin: 0;
}
p {
    margin: 0;
}
.block-static-block.widget, .block-cms-link.widget {
    margin: 0 !important;
}
// type number
/* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }
