
.mpstorelocator-storelocator-store{
	.mp_storelocator_background {
		@media screen and (max-width: @mobile_sm) {
		    height: 201px;
		}
	}

	.bh-sl-container{
		padding: 0px;
		// @media screen and (max-width: @mobile) {
		//     padding: 0px;
		// }
	}
	.mp_storelocator_head {
		h1{
			.h1();
			text-transform: capitalize;
			top: 24%;
			@media screen and (max-width: @mobile) {
				top: 1%;
			}
	    }
	}
    .mp_storelocator_description {
    	@media screen and (max-width: @mobile) {
	    	top: 31%;
	    }
	}
	.mp_storelocator_description{
		font-size: 1.125rem;
	    letter-spacing: 0;
	    line-height: 1.6875rem;
	    font-family: 'Futura-Book';
	}
	.row-store-info {
		.mp-store-name{
            span{
            	.h2();
            }
		}
	}
	.loc-web{
		span{
		    font-family: 'Futura-Book';
		}
	}
	.store-addr {
		span.mp-main-addr{
            font-family: 'Futura-Book';
		}
	}
	.mp-detail-info {
		h3{
             .h3();
             margin: 20px 0px;
		}
	}
	.mp-back-results {
		span{
            font-family: 'Futura-Book';
		}
	}
	.mp-detail-info-item {
		.mp-detail-info-text{
            font-family: 'Futura-Book';
		}
	}
	.mp-openday-list {
		td{
             font-family: 'Futura-Book';
		}
	}
}



.mpstorepickup-popup-action {
	@media screen and (max-width: @mobile) {
		margin-top: 20px;
	}
	// button {
	// 	background: transparent !important;
	//     padding: 0px !important;
	//     border: none !important;
	// 	span {
	// 	    margin-left: 0;
	// 	    padding: 13px 20px;
	// 	    background: #003594;
	// 	    text-transform: uppercase;
	// 	    color: #fff;
	// 	    display: inline-block;
	// 	    border-radius: 0px;
	// 	    border: none;
	// 	    padding: 10px 37px;
	// 	    font-size: 14px;
	// 	    white-space: normal;
	// 	    font-family: 'Futura-Bold';
	// 	    font-weight: bold;
	// 	}
	// }
	.mpstorepickup-action-submit{
		.bg-button(@blue_link_secondary, @white-color, @blue_link_color, @white-color);
		font-size: 14px;
		line-height: 19px;
		.futura-Medium();
		padding: 14px 16px 11px 17px;
		border: 1px solid @blue_link_secondary;
		margin-right: 10px;
		&:hover {
			border-color: @blue_link_color;
		}
	}
	.mpstorepickup-action-cancel{
		.bg-button(@white-color, @blue_link_secondary, @blue_link_color, @white-color);
		padding: 14px 21px 11px 18px;
		border: 1px solid @blue_link_secondary;
		.futura-Medium();
		font-size: 14px;
		&:hover {
			border-color: @blue_link_color;
		}
	}
}
.mpstorepickup-pickup-form{
	.form();
	max-width: 100%;
	.field > .label {
		@media screen and (max-width: @tablet_sm) {
			font-size: 13px;
		}
	}
	#mpstorepickup-popup-title{
		.title{
			.h2();
			text-transform: none;
		}
	}
	.mpstorepickup-pickup-info{
		margin: 0 auto;
	}
	.mpstorepickup-date-selected{
		.ui-datepicker {
		    border: none;
		    background: @section_breaker_border;
		    width: 300px;
		    .ui-datepicker-prev,.ui-datepicker-next{
		    	top: 0;
			    bottom: 0;
			    margin: auto 0;
		    	span{
				    border-color: transparent @blue_link_color transparent transparent;
				}
				&.ui-state-disabled{
					span{
						border-color: transparent @darkgrey_border_color transparent transparent;
					}
				}
		    }
		    .ui-datepicker-next{
		    	span {
				    border-color: transparent transparent transparent @blue_link_color;
				}
				&.ui-state-disabled{
					span{
						border-color: transparent @darkgrey_border_color transparent transparent;
					}
				}
		    }
			 .ui-datepicker-calendar {
			    border-color: @section_breaker_border;
			    .ui-datepicker-today {
				    background: none;
				    color: @white-color;
				    border-color: @blue_link_secondary;
				     a {
					    color: @white-color;
					    background: @blue_link_secondary;
					}
				}
				.ui-state-active{
					    color: @white-color;
					    background: @blue_link_color;
				}
				.ui-datepicker-title{
					select {
					    font-size: 16px;
					}
					 .ui-datepicker-month {
					    width: 45%;
					    margin-right: 4%;
					}
					.ui-datepicker-year {
					    width: 51%;
					}
				}
			}
		}
	}
}

.mp-store-name {
	span{
		.h3();
	    margin: 20px 0px;
	}
}
.store-addr {
	span.mp-main-addr{
		font-family: 'Futura-Book';
	}
}


.store-addr {
	.loc-web{
		white-space: normal;
	     font-family: 'Futura-Book';
	}
}


.mp-detail-info {
	h3{
		.h3();
	    margin: 20px 0px;
	}
}
.mp-detail-info-item {
	.mp-detail-info-text{
		font-family: 'Futura-Book';
	}
}
.mp-openday-list {
	td{
		font-family: 'Futura-Book';
	}
}
.mp-back-results {
	span{
		font-family: 'Futura-Book';
	}
}
.link-detail{
	font-family: 'Futura-Book';
}

div#bh-sl-map-container {
	.mp-row-store-img {
	    position: relative;
	     width: 120px;
	     @media screen and (max-width: @tablet) {
	     	width: 90px;
	     }
	    @media screen and (max-width: @mobile) {
			width: 60px;
	    }
	    &:before{
	    	content: '';
		    background: url(../svg/icon-location2.svg) no-repeat;
		    height: 100px;
		    width: 100px;
		    background-size: 100px 100px;
		    display: block;
		    margin-right: 11px;
		    @media screen and (max-width: @tablet) {
				height: 70px;
			    width: 70px;
			    background-size: 70px 70px;
		    }
		    @media screen and (max-width: @mobile) {
		    	height: 40px;
			    width: 40px;
			    background-size: 40px 40px;
		    }
	    }
		img{
			opacity: 0;
			width: 0px !important;
		}
	}
	 .row-store-info {
	    width: ~"calc(100% - 120px)";
	    word-break: break-word;
	    @media screen and (max-width: @tablet) {
			width: ~"calc(100% - 90px)";
	    }
	    @media screen and (max-width: @mobile) {
			width: ~"calc(100% - 60px)";
	    }
	}
}



.bh-sl-container {
	.bh-sl-loc-list {
		ul{
			.mp-row-store-img {
				@media screen and (max-width: @mobile) {
				    width: 20%;
				    float: left;
				}
			}

			.mp .row-store-info {
				@media screen and (max-width: @mobile) {
				    float: right;
				    width: 80%;
				}
			}
		}
	}
}


#bh-sl-address{ width: 100%; }

.bh-sl-container {
	.bh-sl-map-container{
		.bh-sl-map{
			@media screen and (max-width: @mobile) {
			    height: 282px;
			}
		}
	}
}

.page-layout-checkout {
	.bh-sl-container{
		@media screen and (max-width: @mobile) {
   			 padding: 0px;
   		}
	}
}

.mp-back-results {
	span {
	    top: 9px;
	}
}
.mp-radius-label{
	font-family: 'Futura-Book';
}
.mp-dialog-setting {
	.mp-filter-radius-box select{
		font-family: 'Futura-Book';
	}
}


.bh-sl-container {
	.bh-sl-map-container{
		.mp-dialog-setting {
			@media screen and (max-width: @mobile) {
		   		min-width: 320px; width: auto;
		   	}
			@media screen and (max-width: @mobile_xs) {
		   		width: 100%;
		   		min-width: auto;
		   	}
		}
	}
}

.findastore-index-index, .head_offices-index-index, .qld-index-index{
	.mp_storelocator_head {
		margin-top: 45px;
		@media screen and (max-width: @mobile){
			background: #F7F7F7;
			margin: 0 -15px;
			padding: 25px 15px;
		}
		.mp-dark {
			font-size: 30px;
			line-height: 40px;
			color: @blue_link_color;
			margin-bottom: 7px;
			margin-top: 0;
			.futura-Bold();
			@media screen and (max-width: @mobile_m) {
				font-size: 25px;
				line-height: 32px;
			}
		}
		.mp_storelocator_description {
			color: @lightgrey_56;
			font-size: 18px;
			line-height: 27px;
			max-width: 846px;
			display: inline-block;
			.futura-Book();
			@media screen and (max-width: @mobile_m) {
				font-size: 16px;
				line-height: 23px;
			}
		}
	}
	.free_measure_row {
		margin-top: 45px;
		border: none;
		padding-top: 0;
		margin-bottom: 45px;
		padding-bottom: 0;
		@media screen and (max-width: @mobile_m) {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}
	.find_store_section {
		padding-left: 0;
		.lib-vendor-prefix-flex-basis(100%);
		@media screen and (max-width: @mobile){
			border: none;
			padding-top: 0;
			margin-top: 0;
		}
		h3{
			font-size: 24px;
			line-height: 37px;
			color: @blue_link_color;
			margin-bottom: 10px;
			.futura-Medium();
			text-transform: none;
			@media screen and (max-width: @mobile){
				font-size: 20px;
				line-height: 27px;
			}
		}
	}
	.store-location-search {
		display: inline-block;
		position: relative;
		@media screen and (max-width: @mobile){
			margin-bottom: 20px;
			width: 100%;
		}
		input#store {
			height: 43px;
			width: 360px !important;
			padding: 10px 10px 10px 10px;
			margin-bottom: 0;
			.futura-Medium();
			.lib-input-placeholder(@placeholder_form_color, 16px);
			@media screen and (max-width: @mobile){
				width: 100% !important;
			}
		}
		.find-store-bottom {
			width: 50px;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
            // color: #ffffff;
			background: transparent;
			padding: 12px;
			background-image: url(../svg/search.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 20px;
			font-size: 0;
			img {
				margin: 0;
				max-height: 20px;
				max-width: 21px;
			}
		}

	}
	.store-search-form{
		.lib-vendor-prefix-display(flex);
		.lib-vendor-box-align(center);
		> span {
			font-size: 16px;
			line-height: 21px;
			margin: 0 28px;
			color: @lightgrey_56;
			.futura-Medium();
			@media screen and (max-width: @mobile){
				margin: 0 28px 0 0;
			}
		}
		.use-current-location {
			background: @white-color;
			color: @blue_link_secondary;
			border: 1px solid @blue_link_secondary;
			height: 43px;
			font-size: 14px;
			line-height: 19px;
			width: 217px;
			transition: 0.2s ease-in-out;
			.lib-css(justify-content, center, @_prefix: 1);
			 white-space: pre !important; 
			@media screen and (max-width: @mobile_sm) {
				width: 220px;
			}
			&:hover{
				color: @white-color;
				background: @blue_link_secondary;
				transition: 0.2s ease-in-out;
			}
		}
	}
}

.show-headoffice-check {
	margin-top: 15px;
	input[type="checkbox"] {
		width: auto;
		display: inline-block;
		line-height: 1;
		min-height: auto;
		padding: 0;
		margin: 0;
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}
	label {
		display: inline-block;
		vertical-align: middle;
		color: @lightgrey_56;
		font-size: 16px;
		line-height: 21px;
		margin-left: 10px;
		.futura-Book();
	}
}


.map-section {
	margin-bottom: 96px;
	@media screen and (max-width: @mobile){
		margin-bottom: 45px;
	}
	> h3 {
		color: @blue_link_color;
		font-size: 24px;
		line-height: 32px;
		margin-top: 0;
		margin-bottom: 18px;
		.futura-Medium();
		@media screen and (max-width: @mobile_m){
			font-size: 20px;
			line-height: 27px;
		}
	}
	.desktop{
		@media screen and (max-width: @mobile){
			display: none;
		}
	}
	.mobile{
		@media screen and (min-width: @mobile){
			display: none;
		}
	}
	#map{
		width: 100%;
		margin: 45px 0;
		@media screen and (max-width: @mobile){
			height: 200px;
			margin: 25px 0;
		}
	}
}

.map-filter-list  {
	ul{
		.lib-vendor-prefix-display(flex);
		.lib-vendor-box-align(center);
		li:not(:last-child) {
			margin-right: 15px;
			&::after {
				content: '|';
				color: @black-color;
				margin-left: 15px;
			}
		}
		li {
			a {
				color:@blue_link_secondary;
				font-size: 16px;
				.futura-Book();
			}
		}
	}
	&.horizontal-item-list{
		ul{
			.lib-vendor-prefix-flex-wrap(wrap);
			li{
				width: 100%;
				border-bottom: 1px solid @section_breaker_border;
				padding: 15px 25px 20px 0;
				margin-right: 0;
				position: relative;
				@media screen and (max-width: @mobile_m){
					padding: 15px 25px 17px 0;
				}
				&::after{
					position: absolute;
					width: 15px;
					height: 15px;
					background-image: url(../svg/right-arrow.svg);
					right: 15px;
					top: 23px;
					background-repeat: no-repeat;
					content: '' !important;
					// .lib-css(transform,  rotate(90deg),  @_prefix: 1)
				}
				a{
					color: @blue_link_color;
					font-size: 20px;
					line-height: 27px;
					display: block;
					.futura-Medium();
					@media screen and (max-width: @mobile_m){
						font-size: 16px;
						line-height: 21px;
					}
				}
			}
		}
	}
}


.no-result-found {
    padding: 25px 0;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    max-width: 100%;
    display: block;
	.futura-Book();
	color: @red_color;
	margin-bottom: 45px;
}

#map {
	width: 100% !important;
	margin: 45px 0 !important;
	@media screen and (max-width: @mobile){
		margin: 25px 0 !important;
		height: 200px !important;
	}
}

#store-bottom-display-area{
	& > h5 {
		font-size: 16px;
		line-height: 21px;
		color: @lightgrey_56;
		margin: 0;
		border-bottom: 1px solid @section_breaker_border;
		padding-bottom: 15px;
		margin-bottom: 20px;
		.futura-Medium();
		letter-spacing: 1px;
		width: 100%;
	}
}
.mp-storelocator-list-location {
	.lib-vendor-prefix-display(flex);
	.lib-vendor-prefix-flex-wrap(wrap);
	.lib-css(justify-content, space-between, @_prefix: 1);
	margin-bottom: 25px;
	width: 100%;
	@media screen and (max-width: @mobile){
		margin-bottom: 15px;
	}
	.mp.store-view {
		border: 1px solid @section_breaker_border;
		padding: 24px 24px 24px 27px;
		box-sizing: border-box;
		width: calc(~"50% - 15px");
		margin-bottom: 33px;
		@media screen and (max-width: @tablet_sm){
			width: 100%;
			margin-bottom: 24px;
			padding: 25px;
		}
	}
}

.mp-store-view-info  {
	.mp-row-store-img{
		.lib-vendor-prefix-display(flex);
		.lib-vendor-box-align(center);
		margin-bottom: 18px;
		.mp-store-name  {
			span{
				text-transform: uppercase;
				letter-spacing: 1px;
				.futura-Medium();
			}
		}
		.map-pin {
			width: 25px;
			margin-right: 10px;
		}
	}
	.row-store-info {
		.lib-vendor-prefix-display(flex);
		.lib-css(justify-content, space-between, @_prefix: 1);
		@media screen and (max-width: @mobile){
			.lib-vendor-prefix-flex-wrap(wrap);
		}
		.store-addr {
			width: calc(~"100% - 180px");
			.lib-vendor-prefix-display(flex);
			.lib-vendor-prefix-flex-wrap(wrap);
			padding-right: 45px;
			box-sizing: border-box;
			@media screen and (max-width: @mobile){
				width: 100%;
				padding-right: 0;
			}
			.loc-web {
				margin-top: 45px;
				width: 100%;
				color:  @lightgrey_56;
				@media screen and (max-width: @mobile){
					margin-top: 15px;
				}
				#store-view-phone{
					font-size: 16px;
					line-height: 24px;
					color: @lightgrey_56;
					letter-spacing: 1px;
					.futura-Medium();
					a{
						color: @blue_link_secondary;
					}
				}
			}
			.mp-main-addr {
				font-size: 16px;
				line-height: 24px;
				width: 100%;
				color: @lightgrey_56;
			}
		}
	}
}

.store-contact-options {
    width: 181px;
	.lib-vendor-prefix-display(flex);
	.lib-vendor-prefix-flex-wrap(wrap);
	.lib-css(justify-content, flex-end, @_prefix: 1);
	.lib-vendor-prefix-flex-direction(column);
	@media screen and (max-width: @mobile){
		width: 100%;
		margin-top: 20px;
	}
	a {
		display: block;
		width: 100%;
		text-align: center;
		border: 1px solid @blue_link_secondary;
		color: @blue_link_secondary;
		font-size: 14px;
		line-height: 19px;
		height: 38px;
		line-height: 38px;
		.futura-Medium();
		font-weight: normal;
		letter-spacing: 1px;
		.lib-css(transition, 0.2s ease-in-out , @_prefix: 1);
		& + a {
			margin-top: 10px;
		}
		&.view{
			color: @white-color;
			background-color: @blue_link_secondary;
			&:hover{
				color: @blue_link_secondary;
				background-color: @white-color;
				.lib-css(transition, 0.2s ease-in-out , @_prefix: 1);
			}
		}
		&.directions{
			&:hover{
				color: @white-color;
				background-color: @blue_link_secondary;
				.lib-css(transition, 0.2s ease-in-out , @_prefix: 1);
			}
		}
	}
}

#storedetails_tophtml  {
	.mp_storelocator_head{
		display: block !important;
		margin-top: 25px;
	}
	& ~ #map {
		width: calc(~"50% - 15px") !important;
		float: right;
		min-height: 616px;
		margin: 45px 0 105px 0 !important;
		@media screen and (max-width: @tablet_sm){
			width: 100% !important;
			margin: 25px 0 !important;
		}
		@media screen and (max-width: @mobile){
			min-height: 375px;
		}
	}
	&  ~ #store-bottom-display-area {
		width: calc(~"50% - 15px");
		float: left;
		margin: 45px 0 105px 0;
		border: 2px solid @section_breaker_border;
		padding: 25px 30px;
		min-height: 616px;
		@media screen and (max-width: @tablet_sm){
			width: 100%;
			margin: 0px 0 45px 0;
		}
		@media screen and (max-width: @mobile){
			min-height: auto;
			padding: 25px 22px;
		}
		.store-addr{
			width: 100%;
			padding: 0;
			.loc-web {
				margin-top: 25px;
				margin-bottom: 35px;
			}
		}
		.store-info-details {
			margin-bottom: 50px;
			.store-contact-options {
				width: 100%;
				display: block;
				line-height: 0;
				@media screen and (max-width: @mobile){
					margin-top: 0;
				}
				a {
					display: inline-block;
					width: auto;
					padding: 10px 30px;
					line-height: 19px;
					margin-top: 0;
					min-width: 180px;
					@media screen and (max-width: @mobile_m){
						width: 100%;
					}
					& + a {
						margin-left: 20px;
						@media screen and (max-width: @mobile_m){
							margin-left: 0px;
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
}


.store-timing-list  {
	& > label {
		color: @blue_link_color;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 22px;
		display: block;
		letter-spacing: 0.03em;
		.futura-Medium()
	}
	ul  {
		li{
			font-size: 16px;
			line-height: 32px;
			color: @lightgrey_56;
			label {
				min-width: 87px;
				margin-right: 40px;
				display: inline-block;
				.futura-Medium()
			}
		}
	}
}



.map-filter-list {
	& + #map {
		.gm-style  {
			.gm-style-iw-t{
				&::after{
					display: none;
				}
			}
			.gm-style-iw-c{
				padding: 0;
				width: 45px;
				height: 65px;
				box-shadow: none;
				background-image: url(../svg/icon-location3.svg);
				background-color: transparent;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				margin-top: 55px;
				button{
					display: none !important;
				}
				.gm-style-iw-d {
					width: 100%;
					padding: 0;
					overflow: hidden !important;
					.content {
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 60px;
						h5 {
							margin: 0;
							color: @white-color;
							font-size: 12px;
							line-height: 15px;
							.futura-Medium();
						}
						h6 {
							margin: 0 0 0 0;
							color: @white-color;
							font-size: 12px;
							line-height: 15px;
							.futura-Medium();
						}
					}
				}
			}
		}
	}
}

// overwrite existing styling of storelocator in the checkout page store listing.
.onestepcheckout-index-index {
    #mpstorepickup-popup-content {
        max-width: 800px;

        .mpstorepickup-pickup-info {
            @media screen and (min-width: @tablet_xs){
                margin: 20px 50px 0;
            }
        }

        .mpstorepickup-pickup-form {
            margin: 0 0 15px;

            .mpstorepickup-selected label {
                width: auto;
            }
        }
    }
    .bh-sl-container {
        .bh-sl-loc-list {
            width: 100%;
            background: #fff;
            form {
                #bh-sl-address {
                    border: 1px solid #979797;
                    max-width: 360px;
                    width: 100%;
                    padding: 9px 40px 9px 12px;
                }
            }

            form .form-input {
                position: relative;
                display: flex;
                align-items: center;
                width: 50% !important;
                margin-left: 0;

                @media screen and (max-width: @mobile_sm) {
                    width: 100% !important;
                }

                .find-store-bottom {
                    width: 50px;
                    position: absolute;
                    right: 0;
                    top: -3px;
                    height: 100%;
                    background: transparent;
                    padding: 12px;
                    background-image: url(../svg/search.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    font-size: 0;
                }
            }

            ul.store_list  {
                overflow: initial;
                li {
                    margin-bottom: 0;
                    display: flex;
                    float: none;
                    background: none !important;
                    .field.choice {
                        .radio();
                    }
                    .store_name {
                        width: 170px;
                        max-width: 100%;
                    }
                    &:nth-of-type(1n+7) {
                        display: none;
                    }
                }

                .list-focus {
                    border: none;
                }
            }

            .bh-sl-directions-panel {
                overflow: initial;
            }

        }

    }
    div#bh-sl-map-container {
        border: none;
        .row-store-info {
            width: 100%;
        }
    }
    .mp-storelocator-list-location {
        .mp.store-view {
            width: 100%;
        }
    }
    .mp-store-view-info  {
        .row-store-info {
            display: block;

            .store-addr {
                width: 100%;
                display: block;

                .loc-web {
                    margin-top: 20px;
                }
            }
        }
    }
}


ul.store_list{
    p.store_address {
		& + choice {
	        position: relative; 
		}
	}
	@media(min-width: @mobile){
	    div#store-checkbox-error {
		    position: absolute;
		    white-space: pre;
		    right: 0px;
		}
	}
	@media(max-width: @mobile){
		div#store-checkbox-error {
	    	margin-top: -45px;
        }
    }
}



.findastore-index-index{
	main#maincontent {
	    padding-bottom: 60px;
	    @media(max-width: @mobile){
	    	padding-bottom: 40px;
	    }
	}
}



#storedetails_tophtml ~ #map {
    display: none;
}

.findastore-index-index {
	#storedetails_tophtml{
		~ .map_iframe  {
		    width: ~"calc(50% - 15px)" !important;
		    float: right;
		    min-height: 616px;
		    margin: 45px 0 105px 0 !important;
		    @media screen and (min-width: @tablet_sm){
			    iframe{
			        height: 616px !important;
			        width: 100% !important;
			    }
			}
		    @media screen and (max-width: @tablet_sm){
				width: 100% !important;
				margin: 25px 0 !important;
			}
			@media screen and (max-width: @mobile){
				min-height: 375px;
			}
		}
	}
}
 








