/**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

/******************font**********************/
.futura-Book {
	font-family: 'Futura-Book';
  font-weight: normal;
}
.futura-Bold {
  font-family: 'Futura-Bold';
  font-weight: bold;
}
.futura-Medium {
  font-family: 'Futura-Medium';
  // font-weight: 500;
  font-weight: 600;
}
.sfns-display{
	font-family: 'sfns-display';
}
.opensans-regular{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.icomoon{
  font-family:'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
}
.luma-icon{
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
  color: inherit;
  font-family: 'luma-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  speak: none;
  text-align: center;
}

.fontAwesome{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}