<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    BSS_HtmlSiteMap
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
/**
 * SEO Toolbar template
 *
 * @var $block Bss\HtmlSiteMap\Block\ProductCollection
 */
?>
<?php
$helper = $block->getHelper();

//Product Link
$enableProduct = $helper->isEnableProduct();
$titleProduct = $helper->titleProduct();

if ($enableProduct) : ?>
    <h2 class="bss_h2"><?php echo $titleProduct; ?></h2>
    <div class="bss_site_map_grid">
        <?php
        // Original code
        // $productCollection = $block->getProductCollection();
        // foreach ($productCollection as $product) {
        //     echo $product->getData("id");
        //     echo '<div class="col-bss-3">
        //             <h3 class="bss_product_list">
        //             <a href="'.$product->getUrlModel()->getUrl($product).'"
        //             title = "'.$product->getName().'">'.$product->getName().'</a>
        //             </h3>
        //         </div>';
        // }
        // Original code

        $cat_list = array('Carpet','Hard Flooring','Rugs','Accessories');

        $blockobj = $block->getLayout()->createBlock('Carpetcall\Sitemap\Block\Sitemap');

        foreach ($cat_list as $value) {
            $categoryId = $blockobj->getCategoryId($value);
            $categoryUrl = $blockobj->getCategoryUrl($categoryId);
            echo '<h3 class="bss_h3">
                        <a href="'.$categoryUrl.'"
                        title = "'.$value.'">'.$value.'</a>
                        </h3>';
            
            $categoryProducts = $blockobj->getCategoryProducts($categoryId);
            foreach ($categoryProducts as $product) {
                
                echo '<div class="col-bss-3">
                        <h3 class="bss_product_list">
                        <a href="'.$product->getUrlModel()->getUrl($product).'"
                        title = "'.$product->getName().'">'.$product->getName().'</a>
                        </h3>
                    </div>';
            }   
            
        }
        ?>
    </div>
    <?php
endif; ?>