<?php
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_Faq
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
?>
<?php
    /** @var $block \Mageprince\Faq\Block\Index\Index */
    $faqGroupCollection = $block->getFaqGroupCollection();
    // echo '<pre>';
    // print_r($faqGroupCollection->getData());
    // die();
    $baseUrl = $block->getBaseUrl();
    $mediaUrl = $block->getMediaUrl();
?>


    
    <?php if ($block->isEnable()): ?>
        <?php if ($faqGroupCollection->getSize()): ?>
            <h5>FAQ</h5>
    <?php foreach ($faqGroupCollection as $group): ?>
    <div id="group<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
      <?php if ($group->getGroupName() == 'Carpet'): ?>
      
      <div class="faq-accordion">
      <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>
      <?php if ($faqCollection->getSize()): ?>
        <?php foreach ($faqCollection as $faq): ?>
             <div id="element" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": true}}'>
            <div data-role="collapsible">
                <div data-role="trigger">
                    <span><?= /* @noEscape */ __($faq->getTitle()) ?></span>
                </div>
            </div>
            <div data-role="content"><?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?></div>
          </div>
        <?php endforeach; ?>
      <?php endif; ?>
      </div>
      For more answers to your questions, please refer to our <a href="<?php echo $baseUrl.'faq/carpet';?>">Carpets FAQ</a> page. 
     <?php endif; ?> 
    </div>

    <?php endforeach; ?>
       <?php else: ?>
            <div>
                <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
            </div>
        <?php endif; ?>
    <?php endif; ?>

  <?php
  // Faq list page

?>

