<?php
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_Faq
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
?>
<?php
    /** @var $block \Mageprince\Faq\Block\Index\Index */
    $faqGroupCollection = $block->getFaqGroupCollection();
    // echo '<pre>';
    // print_r($faqGroupCollection->getData());
    // die();
    $baseUrl = $block->getBaseUrl();
    $mediaUrl = $block->getMediaUrl();
?>

<?php 

if (!empty($this->getCurrentUrl())) {
  // Category vice page
  ?>
  <?php if ($block->isEnable()): ?>
        <?php if ($faqGroupCollection->getSize()): ?>
    <?php foreach ($faqGroupCollection as $group): ?>
        <?php $url = strtolower($group->getGroupName()); ?>
        <?php if(str_replace(' ', '-', strtolower($group->getGroupName()) ) == $this->getCurrentUrl()){ ?>
          <h5><?php echo $group->getGroupName(). ' FAQ'; ?></h5>
          <?php echo $group->getGroupdescription(); ?>
          <img src="<?php echo $mediaUrl.'faq/tmp/icon/'.$group->getIcon(); ?>" alt="<?php echo $group->getIcon(); ?>" />
          <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>
          <?php if ($faqCollection->getSize()): ?>
              <?php foreach ($faqCollection as $faq): ?>
                  <h3><?= /* @noEscape */ __($faq->getTitle()) ?></h3>
                  <div>
                      <p>
                          <?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?>
                      </p>
                  </div>
              <?php endforeach; ?>
          <?php endif; ?>
        <?php }else{
          //echo "wrong";
        }?>

    <?php endforeach; ?>
    <h5>FAQ Categories</h5>
    <?php foreach ($faqGroupCollection as $group): ?>
          <div>
            <?php $url = $baseUrl.'faq/'.str_replace(' ', '-', strtolower($group->getGroupName()) ); ?>
            <a href="<?= /* @noEscape */  $url; ?>"
             class="group-link"
             groupId="<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
              <?= /* @noEscape */  $group->getGroupName(); ?>
            </a>
        </div>
    <?php endforeach; ?>
       <?php else: ?>
            <div>
                <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
            </div>
        <?php endif; ?>
    <?php endif; ?>
  <?php
  // Category vice page
}else{
  // Faq list page
  ?>
  <!-- New code start -->
    <?php
    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('faq_banner')
    ->toHtml();

    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('faq_expertise')
    ->toHtml();

    ?>
    <!-- New code end -->
    
    <?php if ($block->isEnable()): ?>
        <?php if ($faqGroupCollection->getSize()): ?>
            <h5>FAQ Categories</h5>
    <?php foreach ($faqGroupCollection as $group): ?>
        <?php $url = $baseUrl.'faq/'.str_replace(' ', '-', strtolower($group->getGroupName()) ); ?>
        <a href="<?= /* @noEscape */  $url; ?>"
           class="group-link"
           groupId="<?= /* @noEscape */  $group->getFaqgroupId(); ?>">
            <?= /* @noEscape */  $group->getGroupName(); ?>
        </a>
    <?php endforeach; ?>
       <?php else: ?>
            <div>
                <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
            </div>
        <?php endif; ?>
    <?php endif; ?>

  <?php
  // Faq list page
}
?>
<?php
if (!empty($this->getCurrentUrl())) { ?>
<h5>Shop <?= ucwords(str_replace('-', ' ', $this->getCurrentUrl()));?></h5>
<?php
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('carpet_category_faq_products')
          ->toHtml();
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('free_flooring_measure')
          ->toHtml();

?>
<?php }
?>
