<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Newsletter subscription confirmation"}} @-->
<!--@vars {
"var subscriber_data.confirmation_link":"Subscriber Confirmation URL"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Thank you for subscribing to our newsletter."}}</p>
<p>{{trans "To begin receiving the newsletter, you must first confirm your subscription by clicking on the following link:"}}</p>
<p><a href="{{var subscriber_data.confirmation_link}}" style="color: #003594;text-decoration: underline;">{{var subscriber_data.confirmation_link}}</a></p>

{{template config_path="design/email/footer_template"}}
