<label class="label">Delivery Notes</label>
<br />
<div class="control">
    <textarea name="rgdd_delivery_comment" id="delivery_comment"></textarea>
    <!-- <input type="checkbox" name="rgdd_delivery_comment" data-bind="checked: isRegisterNewsletter, attr: {id: 'termsandconditions'}"/>
    <label data-bind="attr: {for: 'termsandconditions'}"><span data-bind="i18n: 'I give permission to leave items unattended when they are delivered. See Terms and Conditions for full details.'"></span></label> -->
</div>
<!-- ko if: ko_notes_hint -->
<span class="delivery_notes_hint" data-bind="text: ko_notes_hint"></span>
<!-- /ko -->
<br />
<!-- ko foreach: getRegion('after-place-agreements') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
