<div class="step-title" data-role="title" data-bind="i18n: 'Expected Delivery Date'">Expected Delivery Date</div>
</br>
<label class="label">Delivery Date</label>
<br />
<div class="control">
    <input class="input-text" type="text" data-bind="datetimepicker: true" name="rgdd_delivery_date" id="delivery_date" readonly="true"
    />
    <span class="icon-calendar"></span>
</div>
<!-- ko if: ko_date_hint -->
<span class="delivery_notes_hint" data-bind="text: ko_date_hint" />
<!-- /ko -->
<br />
<br />
<label class="label">Delivery Notes</label>
<br />
<div class="control">
    <textarea name="rgdd_delivery_comment" id="delivery_comment"></textarea>
</div>
<!-- ko if: ko_notes_hint -->
<span class="delivery_notes_hint" data-bind="text: ko_notes_hint"></span>
<!-- /ko -->
<br />
<!-- ko foreach: getRegion('after-place-agreements') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
