<!--@subject Alert about Product import CRON Failed @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; margin: 0 0 10px; text-transform: none; font-size: 16px; line-height: 21px; color: #565659;"> Hi <strong style="font-weight: bold;">{{var name}}</strong>,</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #565659;line-height: 1.47;">Below are the details of the failed CRON.</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
</table>

{{depend lols_name}}
<table class="message-details">
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong style="font-weight: bold;">HardFlooring Product Import CRON</strong></td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Job Code: "}}</strong> {{var lols_job_code}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Status: "}}</strong> {{var lols_status}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Error Message: "}}</strong> {{var lols_messages}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Executed At: "}}</strong> {{var lols_executed_at}}</td>
    </tr> 
    <tr><td></td></tr>
    <tr><td></td></tr>
</table>
{{/depend}}


{{depend gols_table_name}}
<table class="message-details">
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong style="font-weight: bold;">Rugs Product Import in temp Table CRON</strong></td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Job Code: "}}</strong> {{var gols_table_job_code}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Status: "}}</strong> {{var gols_table_status}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Error Message: "}}</strong> {{var gols_table_messages}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Executed At: "}}</strong> {{var gols_table_executed_at}}</td>
    </tr> 
    <tr><td></td></tr>
    <tr><td></td></tr>
</table>
{{/depend}}

{{depend gols_name}}
<table class="message-details">
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong style="font-weight: bold;">Rugs Product Import CRON</strong></td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Job Code: "}}</strong> {{var gols_job_code}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Status: "}}</strong> {{var gols_status}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Error Message: "}}</strong> {{var gols_messages}}</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif;font-size: 13px; color: #565659;  line-height: 1.47;"><strong>{{trans "Executed At: "}}</strong> {{var gols_executed_at}}</td>
    </tr> 
    <tr><td></td></tr>
    <tr><td></td></tr>
</table>
{{/depend}}

<table class="message-details">
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
        <td>Kind regards,</td>
    </tr>
    <tr>
        <td>Carpet Call</td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}                 